Repository twilight-rs/twilight, pull requests merged in 2019-10, with the labels that each got.

#12 [gateway] remove all unwraps, expects, panics
  gateway/Cargo.toml
  gateway/src/cluster/impl.rs
  gateway/src/cluster/mod.rs
  gateway/src/event.rs
  gateway/src/lib.rs
  gateway/src/shard/heartbeat.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor.rs
  gateway/src/shard/session.rs
  gateway/src/shard/socket_forwarder.rs
Labels: c-gateway

#15 [gateway/http] remove 'snafu' dependency
  gateway/Cargo.toml
  gateway/src/cluster/config.rs
  gateway/src/cluster/error.rs
  gateway/src/cluster/impl.rs
  gateway/src/shard/connect.rs
  gateway/src/shard/error.rs
  gateway/src/shard/heartbeat.rs
  gateway/src/shard/session.rs
  gateway/src/shard/stage.rs
  http/Cargo.toml
  http/src/client/mod.rs
  http/src/error.rs
  http/src/ratelimiting/error.rs
  http/src/ratelimiting/headers.rs
  http/src/routing.rs
Labels: c-gateway, c-http

#16 [http] remove 'http' and 'url' dependencies
  http/Cargo.toml
  http/src/client/mod.rs
  http/src/error.rs
  http/src/ratelimiting/error.rs
  http/src/ratelimiting/headers.rs
  http/src/request/mod.rs
  http/src/request/prelude.rs
  http/src/routing.rs
Labels: c-http

#17 [model] fix some incorrect model definitions
  model/src/channel/embed/mod.rs
  model/src/channel/reaction_type.rs
  model/src/gateway/payload/voice_state_update.rs
  model/src/gateway/presence/activity.rs
  model/src/gateway/presence/activity_type.rs
  model/src/gateway/presence/client_status.rs
  model/src/gateway/presence/mod.rs
  model/src/guild/member.rs
Labels: bugfix, c-model

#18 [model] make gateway::payload::memberadd a newtype
  cache/in-memory/src/updates.rs
  model/src/gateway/payload/member_add.rs
Labels: bugfix, c-model

#19 [cache] rework 'cache' and 'cacheupdate'
  cache/base/Cargo.toml
  cache/base/src/lib.rs
  cache/in-memory/Cargo.toml
  cache/in-memory/src/config.rs
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/emoji.rs
  cache/in-memory/src/model/mod.rs
  cache/in-memory/src/updates.rs
  cache/trait/Cargo.toml
  cache/trait/src/lib.rs
Labels: c-cache, feature

#21 [ci] fix workspace use in actions
  .github/workflows/grcov.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  command-parser/src/lib.rs
  gateway/src/lib.rs
  http/src/lib.rs
  model/src/lib.rs
Labels: bugfix

#13 [gateway] Add transport compression support
  gateway/Cargo.toml
  gateway/src/shard/error.rs
  gateway/src/shard/inflater.rs
  gateway/src/shard/mod.rs
  gateway/src/shard/processor.rs
Labels: c-gateway, feature

#20 [http] break out request fields into structs
  http/src/request/create_ban.rs
  http/src/request/create_emoji.rs
  http/src/request/create_guild.rs
  http/src/request/create_guild_channel.rs
  http/src/request/create_guild_prune.rs
  http/src/request/create_invite.rs
  http/src/request/create_message.rs
  http/src/request/create_role.rs
  http/src/request/create_webhook.rs
  http/src/request/delete_webhook.rs
  http/src/request/execute_webhook.rs
  http/src/request/get_audit_log.rs
  http/src/request/get_channel_messages.rs
  http/src/request/get_channel_messages_configured.rs
  http/src/request/get_current_user_guilds.rs
  http/src/request/get_gateway_authed.rs
  http/src/request/get_guild_members.rs
  http/src/request/get_guild_prune_count.rs
  http/src/request/get_invite.rs
  http/src/request/get_reactions.rs
  http/src/request/get_webhook.rs
  http/src/request/prelude.rs
  http/src/request/update_channel.rs
  http/src/request/update_channel_permission_configured.rs
  http/src/request/update_current_user.rs
  http/src/request/update_emoji.rs
  http/src/request/update_guild.rs
  http/src/request/update_guild_embed.rs
  http/src/request/update_guild_member.rs
  http/src/request/update_message.rs
  http/src/request/update_role.rs
  http/src/request/update_webhook.rs
  http/src/request/update_webhook_with_token.rs
Labels: c-http

#22 [http] simplify id param types
  .github/workflows_disabled/grcov.yml
  http/src/client/mod.rs
  http/src/request/create_ban.rs
  http/src/request/create_emoji.rs
  http/src/request/create_guild_channel.rs
  http/src/request/create_guild_prune.rs
  http/src/request/create_invite.rs
  http/src/request/create_message.rs
  http/src/request/create_role.rs
  http/src/request/create_webhook.rs
  http/src/request/delete_webhook.rs
  http/src/request/execute_webhook.rs
  http/src/request/get_audit_log.rs
  http/src/request/get_channel_messages.rs
  http/src/request/get_guild_members.rs
  http/src/request/get_guild_prune_count.rs
  http/src/request/get_reactions.rs
  http/src/request/get_webhook.rs
  http/src/request/update_channel.rs
  http/src/request/update_channel_permission.rs
  http/src/request/update_channel_permission_configured.rs
  http/src/request/update_emoji.rs
  http/src/request/update_guild.rs
  http/src/request/update_guild_embed.rs
  http/src/request/update_guild_member.rs
  http/src/request/update_message.rs
  http/src/request/update_role.rs
  http/src/request/update_webhook.rs
  http/src/request/update_webhook_with_token.rs
Labels: c-http

#33 [gateway] support raw payload event
  gateway/src/listener.rs
  gateway/src/shard/event.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/mod.rs
  gateway/src/shard/processor/connect.rs
  gateway/src/shard/processor/emit.rs
  gateway/src/shard/processor/heartbeat.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/inflater.rs
  gateway/src/shard/processor/mod.rs
  gateway/src/shard/processor/session.rs
  gateway/src/shard/processor/socket_forwarder.rs
Labels: c-gateway, feature

#38 [gateway] request gateway URL on every connection
  gateway/src/cluster/config.rs
  gateway/src/shard/config.rs
  gateway/src/shard/error.rs
  gateway/src/shard/processor/impl.rs
Labels: c-gateway

#36 [gateway] queue shards before connecting
  gateway/src/shard/processor/impl.rs
Labels: c-gateway
