Repository twilight-rs/twilight, pull requests merged in 2019-12, with the labels that each got.

#62 Update to tokio 0.2 stable.
  cache/in-memory/Cargo.toml
  dawn/Cargo.toml
  gateway/Cargo.toml
  gateway/examples/shard/Cargo.toml
  gateway/src/cluster/impl.rs
  gateway/src/queue.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/mod.rs
  gateway/src/shard/processor/connect.rs
  gateway/src/shard/processor/emit.rs
  gateway/src/shard/processor/heartbeat.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/session.rs
  gateway/src/shard/processor/socket_forwarder.rs
  http/Cargo.toml
  http/examples/get-message/Cargo.toml
  http/examples/proxy/Cargo.toml
  http/src/ratelimiting/bucket.rs
  http/src/ratelimiting/mod.rs
Labels: blocker, c-gateway

#61 Fix cache update on shard
  cache/in-memory/Cargo.toml
  cache/in-memory/src/lib.rs
  cache/in-memory/src/shard.rs
  cache/in-memory/src/updates.rs
  gateway/Cargo.toml
  model/src/channel/webhook.rs
  model/src/channel/webhook_type.rs
Labels: c-cache

#66 Unicode reactions does not deserialize
  cache/in-memory/src/shard.rs
  model/src/channel/reaction_type.rs
Labels: breaking change, c-model

#72 Handle `WEBHOOKS_UPDATE`
  cache/in-memory/src/config.rs
  cache/in-memory/src/shard.rs
  cache/in-memory/src/updates.rs
  gateway/src/event.rs
  gateway/src/shard/event.rs
  model/src/gateway/payload/mod.rs
  model/src/gateway/payload/webhooks_update.rs
Labels: c-gateway
