Repository twilight-rs/twilight, pull requests merged in 2020-04, with the labels that each got.

#130 Properly set ShardConfig
  gateway/src/cluster/impl.rs
  gateway/src/shard/config.rs
Labels: bugfix, c-gateway

#127 Add some of the missing cache events
  cache/in-memory/src/shard.rs
  cache/in-memory/src/updates.rs
  model/src/gateway/payload/voice_state_update.rs
  model/src/guild/emoji.rs
  model/src/lib.rs
  model/src/user/connection.rs
  model/src/voice/voice_region.rs
  model/src/voice/voice_state.rs
Labels: c-cache

#138 Add new crate: Builders.
  Cargo.toml
  builders/Cargo.toml
  builders/src/embed.rs
  builders/src/lib.rs
  model/src/channel/reaction_type.rs
  twilight/Cargo.toml
  twilight/src/lib.rs
Labels: feature
