Repository twilight-rs/twilight, pull requests merged in 2020-12, with the labels that each got.

#636 actions: add build job for MSRV
  .github/workflows/test.yml
Labels: github actions

#637 docs: note msrv of 1.48+
  README.md
  cache/in-memory/README.md
  cache/in-memory/src/lib.rs
  command-parser/README.md
  command-parser/src/lib.rs
  embed-builder/README.md
  embed-builder/src/lib.rs
  gateway/README.md
  gateway/src/lib.rs
  http/README.md
  http/src/lib.rs
  lavalink/README.md
  lavalink/src/lib.rs
  mention/README.md
  mention/src/lib.rs
  model/README.md
  model/src/lib.rs
  standby/README.md
  standby/src/lib.rs
  twilight/src/lib.rs
  util/README.md
  util/src/lib.rs
Labels: c-all, docs

#639 fix(cache/in-memory): clear all fields
  cache/in-memory/src/lib.rs
Labels: bugfix, c-cache

#638 feat(model/guild): support role tags
  cache/in-memory/src/lib.rs
  model/src/gateway/payload/role_update.rs
  model/src/guild/mod.rs
  model/src/guild/role.rs
  model/src/guild/role_tags.rs
Labels: c-model, discord api, feature

#647 Gateway, HTTP: Use Box<str> over String
  gateway/src/cluster/builder.rs
  gateway/src/cluster/impl.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/config.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/session.rs
  http/src/client/builder.rs
  http/src/client/mod.rs
Labels: c-gateway, c-http, enhancement

#646 docs(command-parser): export config iterators
  command-parser/src/casing.rs
  command-parser/src/config.rs
  command-parser/src/lib.rs
Labels: c-command-parser, docs

#644 fix(http/api_error): make retry_after an f64
  http/src/api_error.rs
Labels: bugfix, c-http, discord api

#642 docs(gateway): document the 'metrics' feature
  gateway/README.md
  gateway/src/lib.rs
Labels: c-gateway, docs

#648 fix(model/role_tags): add visit_unit visitor
  model/src/guild/role_tags.rs
Labels: bugfix, c-model

#643 feat(http): support webhook message delete, update
  http/Cargo.toml
  http/src/client/mod.rs
  http/src/request/audit_reason.rs
  http/src/request/channel/allowed_mentions.rs
  http/src/request/channel/message/mod.rs
  http/src/request/channel/mod.rs
  http/src/request/channel/webhook/delete_webhook_message.rs
  http/src/request/channel/webhook/mod.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/routing.rs
Labels: c-http, discord api, feature

#665 Fix new clippy lints
  gateway/src/cluster/impl.rs
  http/src/request/validate.rs
  lavalink/examples/basic-lavalink-bot/src/main.rs
Labels: c-http, enhancement

#652 fix(cache): use REACTION_REMOVE_EMOJI to update cached message reactions
  cache/in-memory/src/config.rs
  cache/in-memory/src/updates.rs
Labels: c-cache, enhancement

#661 refactor(gateway): refactor inflater buffer resize
  gateway/src/shard/processor/inflater.rs
Labels: c-gateway, enhancement

#662 fix(http, model): properly construct audit log route; expose AuditLog fields
  http/src/routing.rs
  model/src/guild/audit_log/mod.rs
Labels: bugfix, c-http, c-model
