Repository twilight-rs/twilight, pull requests merged in 2020-09, with the labels that each got.

#460 project: update example to use individual crates
  README.md
  twilight/src/lib.rs
Labels: c-all, docs

#449 gateway: conditionally deserialize received events
  gateway/src/cluster/impl.rs
  gateway/src/event.rs
  gateway/src/lib.rs
  gateway/src/listener.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/json.rs
  gateway/src/shard/mod.rs
  gateway/src/shard/processor/emitter.rs
  gateway/src/shard/processor/heartbeat.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/inflater.rs
  gateway/src/shard/processor/session.rs
  model/src/gateway/event/gateway.rs
  model/src/gateway/event/kind.rs
  model/src/gateway/event/mod.rs
Labels: breaking change, c-gateway, c-model, enhancement

#461 project: clarify example documentation
  README.md
  twilight/src/lib.rs
Labels: docs

#463 project: fix all broken links
  gateway/src/cluster/config.rs
  gateway/src/cluster/impl.rs
  gateway/src/queue/mod.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/event.rs
  http/src/api_error.rs
  http/src/request/channel/message/create_message.rs
  lavalink/src/client.rs
  lavalink/src/http.rs
  lavalink/src/node.rs
  lavalink/src/player.rs
  utils/embed-builder/src/author.rs
  utils/embed-builder/src/builder.rs
  utils/embed-builder/src/field.rs
  utils/embed-builder/src/footer.rs
Labels: c-gateway, c-http, c-lavalink, c-utils-embed-builder, docs

#462 model/presence: use deserializer for map deser
  model/src/gateway/presence/mod.rs
Labels: bugfix, c-model

#465 gateway/shard: make json payload debug line trace
  gateway/src/shard/processor/impl.rs
Labels: c-gateway, enhancement

#470 gateway/examples/metrics: reduce features
  gateway/examples/metrics/Cargo.toml
Labels: c-gateway, docs, enhancement

#469 model/gateway: rename 'gatewayintents'
  README.md
  gateway/examples/intents/src/main.rs
  gateway/src/cluster/builder.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/config.rs
  gateway/src/shard/processor/impl.rs
  model/src/gateway/intents.rs
  model/src/gateway/mod.rs
  model/src/gateway/payload/identify.rs
  twilight/src/lib.rs
Labels: breaking change, c-gateway, c-model

#471 Mark ShardScheme as non exhaustive
  gateway/src/cluster/builder.rs
Labels: breaking change, c-gateway

#474 Derive from Serialize for cache structs
  cache/in-memory/Cargo.toml
  cache/in-memory/src/model/emoji.rs
  cache/in-memory/src/model/guild.rs
  cache/in-memory/src/model/member.rs
  cache/in-memory/src/model/message.rs
  cache/in-memory/src/model/presence.rs
  cache/in-memory/src/model/voice_state.rs
Labels: c-cache, enhancement

#481 Remove rust-toolchain
  rust-toolchain
Labels: c-all, enhancement

#477 gateway: add {cluster,shard}::command_raw
  gateway/src/cluster/impl.rs
  gateway/src/shard/impl.rs
Labels: c-gateway, feature

#455 use zlib-ng as default
  gateway/Cargo.toml
  gateway/README.md
  gateway/src/lib.rs
Labels: breaking change, c-gateway, enhancement

#478 Make DeleteChannelPermission work the same way as the UpdateChannelPermission
  http/src/client/mod.rs
  http/src/request/channel/delete_channel_permission.rs
  http/src/request/channel/delete_channel_permission_configured.rs
  http/src/request/channel/mod.rs
Labels: breaking change, c-http

#472 Remove Copy and Ordering derives from ShardScheme
  gateway/src/cluster/builder.rs
  gateway/src/cluster/config.rs
  gateway/src/cluster/impl.rs
Labels: breaking change, c-gateway

#473 Fix integer underflow caused by missing reset of countdown.
  gateway/src/shard/processor/inflater.rs
Labels: bugfix, c-gateway

#454 command-parser: refactor config prefixes
  command-parser/Cargo.toml
  command-parser/benches/commands.rs
  command-parser/benches/prefix.rs
  command-parser/src/config.rs
  command-parser/src/parser.rs
Labels: breaking change, c-command-parser, enhancement

#484 project: sprinkle around non_exhaustive
  cache/in-memory/src/config.rs
  gateway/src/cluster/impl.rs
  gateway/src/event.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/stage.rs
  http/src/error.rs
  http/src/ratelimiting/error.rs
  http/src/ratelimiting/headers.rs
  http/src/request/channel/message/allowed_mentions.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/get_channel_messages.rs
  http/src/request/channel/message/get_channel_messages_configured.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/reaction/get_reactions.rs
  http/src/request/channel/update_channel.rs
  http/src/request/guild/ban/create_ban.rs
  http/src/request/guild/create_guild/mod.rs
  http/src/request/guild/create_guild_channel.rs
  http/src/request/guild/create_guild_prune.rs
  http/src/request/guild/get_audit_log.rs
  http/src/request/guild/get_guild_prune_count.rs
  http/src/request/guild/member/get_guild_members.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/guild/update_guild.rs
  http/src/request/user/get_current_user_guilds.rs
  http/src/request/user/update_current_user.rs
  http/src/request/validate.rs
  http/src/routing.rs
  lavalink/src/client.rs
  model/src/gateway/payload/request_guild_members.rs
Labels: breaking change, c-cache, c-command-parser, c-gateway, c-http, c-lavalink, c-model, enhancement

#485 project: turn main crate into advertisement crate
  .github/workflows/test.yml
  README.md
  twilight/Cargo.toml
  twilight/src/lib.rs
Labels: breaking change, docs

#488 project: fill out cargo.toml's
  cache/in-memory/Cargo.toml
  command-parser/Cargo.toml
  gateway/Cargo.toml
  http/Cargo.toml
  lavalink/Cargo.toml
  model/Cargo.toml
  standby/Cargo.toml
  twilight/Cargo.toml
  utils/embed-builder/Cargo.toml
  utils/mention/Cargo.toml
Labels: c-cache, c-command-parser, c-gateway, c-http, c-lavalink, c-model, c-standby, c-utils-embed-builder, c-utils-mention, docs

#490 cache/in-memory: document crate, design
  cache/in-memory/Cargo.toml
  cache/in-memory/README.md
  cache/in-memory/src/lib.rs
Labels: c-cache, docs

#483 Change default zlib backend to be system zlib.
  .github/workflows/test.yml
  gateway/Cargo.toml
  gateway/README.md
  gateway/src/lib.rs
Labels: breaking change, c-gateway

#468 add ReactionType to http module without redundant animated property
  http/src/client/mod.rs
  http/src/request/channel/reaction/create_reaction.rs
  http/src/request/channel/reaction/delete_all_reaction.rs
  http/src/request/channel/reaction/delete_reaction.rs
  http/src/request/channel/reaction/mod.rs
Labels: breaking change, c-http

#492 gateway/shard/processor: deserialize ready once
  gateway/src/shard/processor/impl.rs
Labels: bugfix, c-gateway

#494 gateway: make 'intents' methods non-optional
  README.md
  gateway/examples/intents/src/main.rs
  gateway/src/cluster/builder.rs
  gateway/src/shard/builder.rs
  twilight/src/lib.rs
Labels: breaking change, c-gateway, enhancement

#493 project: prepare 0.1 for publishing
  README.md
  cache/in-memory/README.md
  cache/in-memory/src/lib.rs
  command-parser/README.md
  command-parser/src/lib.rs
  gateway/README.md
  gateway/src/lib.rs
  http/README.md
  http/src/lib.rs
  lavalink/README.md
  lavalink/src/lib.rs
  model/README.md
  model/src/lib.rs
  twilight/src/lib.rs
  utils/embed-builder/README.md
  utils/embed-builder/src/lib.rs
  utils/mention/README.md
  utils/mention/src/lib.rs
Labels: c-all

#495 correctly match webhook route with token for the proxy
  http/src/routing.rs
Labels: bugfix, c-http

#496 command-parser: add bench paths to cargo.toml
  command-parser/Cargo.toml
Labels: c-command-parser

#497 model: add bench path to cargo.toml
  model/Cargo.toml
Labels: c-model

#498 twilight: fix links to first party crates
  README.md
  twilight/src/lib.rs
Labels: docs

#499 model/id: support deserializing from integers
  model/src/id.rs
  model/src/oauth/id.rs
Labels: c-model, feature

#500 command-parser: add static-assertions tests
  command-parser/Cargo.toml
  command-parser/src/arguments.rs
  command-parser/src/casing.rs
  command-parser/src/config.rs
  command-parser/src/parser.rs
Labels: c-command-parser, enhancement

#502 http: bump to v0.1.1
  http/CHANGELOG.md
  http/Cargo.toml
Labels: c-http

#503 model: bump to v0.1.1
  model/CHANGELOG.md
  model/Cargo.toml
Labels: c-model

#507 http/requestreactiontype: impl eq, from, partialeq
  http/src/request/channel/reaction/mod.rs
Labels: c-http, enhancement

#504 model/activity_type: document 'competing' variant
  model/src/gateway/presence/activity_type.rs
Labels: c-model, discord api, feature

#509 model/gateway: impl Key for UserOrId
  model/src/gateway/presence/mod.rs
Labels: c-model, enhancement

#506 gateway: add static-assertions tests
  gateway/Cargo.toml
  gateway/src/cluster/builder.rs
  gateway/src/cluster/config.rs
  gateway/src/cluster/impl.rs
  gateway/src/event.rs
  gateway/src/listener.rs
  gateway/src/queue/large_bot_queue.rs
  gateway/src/queue/mod.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/config.rs
  gateway/src/shard/event.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/json.rs
  gateway/src/shard/processor/heartbeat.rs
  gateway/src/shard/sink.rs
  gateway/src/shard/stage.rs
Labels: c-gateway

#508 lavalink: add additional static-assertions tests
  lavalink/src/client.rs
  lavalink/src/http.rs
  lavalink/src/model.rs
  lavalink/src/node.rs
Labels: c-lavalink

#510 http: support /oauth2/applications/@me endpoint
  http/src/client/mod.rs
  http/src/request/get_user_application.rs
  http/src/request/mod.rs
  http/src/routing.rs
Labels: c-http, enhancement

#514 don't set content headers when the request doesn't have a body
  http/src/client/mod.rs
Labels: bugfix, c-http

#512 gateway/shard: add reconnect delay
  gateway/src/shard/processor/impl.rs
Labels: c-gateway, enhancement

#515 command-parser,embed-builder,gateway,http: fix typos in links
  command-parser/src/config.rs
  gateway/src/shard/json.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/session.rs
  gateway/src/shard/stage.rs
  http/src/client/mod.rs
  http/src/request/channel/message/get_channel_messages.rs
  http/src/request/channel/update_channel.rs
  http/src/request/guild/create_guild_channel.rs
  utils/embed-builder/src/builder.rs
  utils/embed-builder/src/image_source.rs
Labels: c-command-parser, c-gateway, c-http, c-utils-embed-builder, docs

#513 mention: add parsing functionality
  utils/mention/src/fmt.rs
  utils/mention/src/lib.rs
  utils/mention/src/parse/error.rs
  utils/mention/src/parse/impl.rs
  utils/mention/src/parse/iter.rs
  utils/mention/src/parse/mod.rs
Labels: c-utils-mention, feature

#517 mention: update docs link and description
  utils/mention/Cargo.toml
  utils/mention/src/lib.rs
Labels: c-utils-mention, docs

#519 http: set content-length for patch/post/put
  http/src/client/mod.rs
Labels: bugfix, c-http

#520 http: take the correct type in client::reactions
  http/src/client/mod.rs
  http/src/request/channel/reaction/get_reactions.rs
Labels: breaking change, bugfix, c-http

#516 twilight: add all crates as dev dependencies
  twilight/Cargo.toml
Labels: enhancement

#523 standby: fix typo in link
  standby/src/futures.rs
Labels: c-standby, docs

#526 model/user: support discrim deser from integers
  model/src/user/current_user.rs
  model/src/user/mod.rs
  model/src/user/profile.rs
Labels: c-model, feature

#521 gateway: add shards method to the Cluster
  gateway/src/cluster/impl.rs
Labels: c-gateway, feature

#522 Add AuditLogReason trait
  http/Cargo.toml
  http/src/request/audit_reason.rs
  http/src/request/channel/create_pin.rs
  http/src/request/channel/delete_channel.rs
  http/src/request/channel/delete_channel_permission_configured.rs
  http/src/request/channel/delete_pin.rs
  http/src/request/channel/invite/create_invite.rs
  http/src/request/channel/invite/delete_invite.rs
  http/src/request/channel/message/delete_message.rs
  http/src/request/channel/message/delete_messages.rs
  http/src/request/channel/update_channel.rs
  http/src/request/channel/update_channel_permission_configured.rs
  http/src/request/channel/webhook/create_webhook.rs
  http/src/request/channel/webhook/delete_webhook.rs
  http/src/request/channel/webhook/update_webhook.rs
  http/src/request/guild/ban/create_ban.rs
  http/src/request/guild/ban/delete_ban.rs
  http/src/request/guild/create_guild_channel.rs
  http/src/request/guild/create_guild_prune.rs
  http/src/request/guild/emoji/create_emoji.rs
  http/src/request/guild/emoji/delete_emoji.rs
  http/src/request/guild/emoji/update_emoji.rs
  http/src/request/guild/integration/create_guild_integration.rs
  http/src/request/guild/integration/delete_guild_integration.rs
  http/src/request/guild/integration/update_guild_integration.rs
  http/src/request/guild/member/add_role_to_member.rs
  http/src/request/guild/member/remove_member.rs
  http/src/request/guild/member/remove_role_from_member.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/guild/role/create_role.rs
  http/src/request/guild/role/delete_role.rs
  http/src/request/guild/role/update_role.rs
  http/src/request/guild/update_guild.rs
  http/src/request/mod.rs
  http/src/request/prelude.rs
Labels: c-http, feature

#529 Handle invalid timestamp error in embed response
  http/src/api_error.rs
Labels: c-http, discord api, feature
