Repository twilight-rs/twilight, pull requests merged in 2020-07, with the labels that each got.

#280 http/request/update_current_user: skip if empty
  http/src/request/user/update_current_user.rs
Labels: bugfix, c-http

#282 model/typing_start: use serde_test
  model/src/gateway/payload/typing_start.rs
Labels: c-model

#279 standby: add more documentation
  standby/Cargo.toml
  standby/README.md
  standby/src/lib.rs
Labels: c-standby, docs

#288 model/gateway/event/shard: derive (de)serialize
  model/src/gateway/event/shard.rs
Labels: c-model, feature

#289 make event listeners non async
  gateway/Cargo.toml
  gateway/src/listener.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/emit.rs
  gateway/src/shard/processor/impl.rs
Labels: c-gateway

#291 gateway: remove serde-value dependency
  gateway/Cargo.toml
Labels: c-gateway

#300 lavalink/model: stats frames are optional
  lavalink/Cargo.toml
  lavalink/src/model.rs
  lavalink/src/node.rs
Labels: breaking change, bugfix, c-lavalink

#299 lavalink: add notices about lavalink::process
  lavalink/README.md
  lavalink/src/client.rs
  lavalink/src/lib.rs
Labels: c-lavalink, docs

#293 cache/in-memory: use dashmap where possible
  cache/in-memory/Cargo.toml
  cache/in-memory/src/lib.rs
  cache/in-memory/src/updates.rs
Labels: c-cache, enhancement

#295 standby: add streaming variants
  standby/README.md
  standby/src/futures.rs
  standby/src/lib.rs
Labels: c-standby, feature

#298 model: properly handle unknown map keys
  model/src/channel/mod.rs
  model/src/channel/reaction.rs
  model/src/gateway/payload/member_chunk.rs
  model/src/gateway/payload/typing_start.rs
  model/src/guild/mod.rs
  model/src/voice/voice_state.rs
Labels: bugfix, c-model

#303 project: add 'twilight-mention' utility crate
  Cargo.toml
  README.md
  twilight/src/lib.rs
  utils/mention/Cargo.toml
  utils/mention/README.md
  utils/mention/src/lib.rs
Labels: feature

#304 gateway: remove guild subscriptions
  gateway/src/cluster/config.rs
  gateway/src/shard/config.rs
  gateway/src/shard/processor/impl.rs
  model/src/gateway/payload/identify.rs
Labels: breaking change, c-gateway, discord api

#301 model/channel: add a few convenience methods
  cache/in-memory/src/lib.rs
  cache/in-memory/src/updates.rs
  model/README.md
  model/src/channel/mod.rs
  model/src/lib.rs
  standby/src/lib.rs
Labels: c-model, enhancement, feature

#314 gateway: separate shard processor errors
  gateway/src/shard/error.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/connect.rs
  gateway/src/shard/processor/error.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/mod.rs
  gateway/src/shard/processor/session.rs
Labels: breaking change, c-gateway

#317 lavalink/model/play: fix docs
  lavalink/src/model.rs
Labels: c-lavalink, docs

#321 http: take cows for requests 🐮
  http/src/client/mod.rs
  http/src/request/channel/create_pin.rs
  http/src/request/channel/delete_channel.rs
  http/src/request/channel/delete_channel_permission.rs
  http/src/request/channel/delete_pin.rs
  http/src/request/channel/invite/create_invite.rs
  http/src/request/channel/invite/delete_invite.rs
  http/src/request/channel/invite/get_invite.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/delete_message.rs
  http/src/request/channel/message/delete_messages.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/reaction/create_reaction.rs
  http/src/request/channel/reaction/delete_all_reaction.rs
  http/src/request/channel/reaction/delete_reaction.rs
  http/src/request/channel/reaction/get_reactions.rs
  http/src/request/channel/reaction/mod.rs
  http/src/request/channel/update_channel.rs
  http/src/request/channel/update_channel_permission.rs
  http/src/request/channel/update_channel_permission_configured.rs
  http/src/request/channel/webhook/create_webhook.rs
  http/src/request/channel/webhook/delete_webhook.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/get_webhook.rs
  http/src/request/channel/webhook/update_webhook.rs
  http/src/request/channel/webhook/update_webhook_with_token.rs
  http/src/request/guild/ban/create_ban.rs
  http/src/request/guild/ban/delete_ban.rs
  http/src/request/guild/create_guild.rs
  http/src/request/guild/create_guild_channel.rs
  http/src/request/guild/create_guild_prune.rs
  http/src/request/guild/emoji/create_emoji.rs
  http/src/request/guild/emoji/delete_emoji.rs
  http/src/request/guild/emoji/update_emoji.rs
  http/src/request/guild/get_guild_prune_count.rs
  http/src/request/guild/integration/create_guild_integration.rs
  http/src/request/guild/integration/delete_guild_integration.rs
  http/src/request/guild/integration/update_guild_integration.rs
  http/src/request/guild/member/add_role_to_member.rs
  http/src/request/guild/member/remove_member.rs
  http/src/request/guild/member/remove_role_from_member.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/guild/role/create_role.rs
  http/src/request/guild/role/delete_role.rs
  http/src/request/guild/role/update_role.rs
  http/src/request/guild/role/update_role_positions.rs
  http/src/request/guild/update_current_user_nick.rs
  http/src/request/guild/update_guild.rs
  http/src/request/mod.rs
  http/src/request/user/get_current_user.rs
  http/src/request/user/get_user.rs
  http/src/request/user/update_current_user.rs
  http/src/routing.rs
Labels: breaking change, c-http, enhancement

#322 http/client: combine skip ratelimiter field
  http/src/client/builder.rs
  http/src/client/mod.rs
Labels: c-http

#323 model: impl serialize for dispatch, gateway models
  model/src/gateway/event/dispatch.rs
  model/src/gateway/event/gateway.rs
  model/src/gateway/event/kind.rs
Labels: c-model, feature

#324 gateway,http: remove allow used_underscore_binding
  gateway/src/lib.rs
  http/src/lib.rs
Labels: c-gateway, c-http

#326 model/voice/region: fix 'optimal' field name
  model/src/voice/voice_region.rs
Labels: bugfix, c-model

#325 actions: unify workflows and setup more caches
  .github/workflows/doc.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .github/workflows_disabled/audit.yml
Labels: github actions

#331 Revert "http: take cows for requests (#321)"
  http/src/client/mod.rs
  http/src/request/channel/create_pin.rs
  http/src/request/channel/delete_channel.rs
  http/src/request/channel/delete_channel_permission.rs
  http/src/request/channel/delete_pin.rs
  http/src/request/channel/invite/create_invite.rs
  http/src/request/channel/invite/delete_invite.rs
  http/src/request/channel/invite/get_invite.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/delete_message.rs
  http/src/request/channel/message/delete_messages.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/reaction/create_reaction.rs
  http/src/request/channel/reaction/delete_all_reaction.rs
  http/src/request/channel/reaction/delete_reaction.rs
  http/src/request/channel/reaction/get_reactions.rs
  http/src/request/channel/reaction/mod.rs
  http/src/request/channel/update_channel.rs
  http/src/request/channel/update_channel_permission.rs
  http/src/request/channel/update_channel_permission_configured.rs
  http/src/request/channel/webhook/create_webhook.rs
  http/src/request/channel/webhook/delete_webhook.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/get_webhook.rs
  http/src/request/channel/webhook/update_webhook.rs
  http/src/request/channel/webhook/update_webhook_with_token.rs
  http/src/request/guild/ban/create_ban.rs
  http/src/request/guild/ban/delete_ban.rs
  http/src/request/guild/create_guild.rs
  http/src/request/guild/create_guild_channel.rs
  http/src/request/guild/create_guild_prune.rs
  http/src/request/guild/emoji/create_emoji.rs
  http/src/request/guild/emoji/delete_emoji.rs
  http/src/request/guild/emoji/update_emoji.rs
  http/src/request/guild/get_guild_prune_count.rs
  http/src/request/guild/integration/create_guild_integration.rs
  http/src/request/guild/integration/delete_guild_integration.rs
  http/src/request/guild/integration/update_guild_integration.rs
  http/src/request/guild/member/add_role_to_member.rs
  http/src/request/guild/member/remove_member.rs
  http/src/request/guild/member/remove_role_from_member.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/guild/role/create_role.rs
  http/src/request/guild/role/delete_role.rs
  http/src/request/guild/role/update_role.rs
  http/src/request/guild/role/update_role_positions.rs
  http/src/request/guild/update_current_user_nick.rs
  http/src/request/guild/update_guild.rs
  http/src/request/mod.rs
  http/src/request/user/get_current_user.rs
  http/src/request/user/get_user.rs
  http/src/request/user/update_current_user.rs
  http/src/routing.rs
Labels: c-http

#329 model/gateway/event: fix reconnect deserialization
  model/src/gateway/event/gateway.rs
Labels: bugfix, c-model

#341 gateway,http,model: consolidate imports
  gateway/src/cluster/config.rs
  gateway/src/cluster/impl.rs
  gateway/src/queue.rs
  gateway/src/queue/day_limiter.rs
  gateway/src/shard/error.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/mod.rs
  gateway/src/shard/processor/error.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/inflater.rs
  gateway/src/shard/processor/session.rs
  http/src/client/mod.rs
  http/src/error.rs
  http/src/ratelimiting/mod.rs
  http/src/request/channel/invite/create_invite.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/delete_messages.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/update_channel.rs
  http/src/request/channel/update_channel_permission_configured.rs
  http/src/request/channel/webhook/create_webhook.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/update_webhook.rs
  http/src/request/channel/webhook/update_webhook_with_token.rs
  http/src/request/guild/create_guild.rs
  http/src/request/guild/create_guild_channel.rs
  http/src/request/guild/emoji/create_emoji.rs
  http/src/request/guild/emoji/update_emoji.rs
  http/src/request/guild/integration/create_guild_integration.rs
  http/src/request/guild/integration/update_guild_integration.rs
  http/src/request/guild/member/get_guild_members.rs
  http/src/request/guild/member/get_member.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/guild/role/create_role.rs
  http/src/request/guild/role/update_role.rs
  http/src/request/guild/role/update_role_positions.rs
  http/src/request/guild/update_current_user_nick.rs
  http/src/request/guild/update_guild.rs
  http/src/request/guild/update_guild_channel_positions.rs
  http/src/request/guild/update_guild_widget.rs
  http/src/request/user/create_private_channel.rs
  http/src/request/user/update_current_user.rs
  model/src/gateway/event/dispatch.rs
  model/src/gateway/event/gateway.rs
  model/src/gateway/event/mod.rs
  model/src/gateway/payload/invite_create.rs
  model/src/gateway/payload/member_chunk.rs
Labels: c-gateway, c-http, c-model, enhancement

#328 gateway,http,lavalink: use rustls for default
  gateway/Cargo.toml
  gateway/README.md
  gateway/src/lib.rs
  http/Cargo.toml
  http/README.md
  http/src/lib.rs
  lavalink/Cargo.toml
  lavalink/README.md
  lavalink/src/lib.rs
Labels: breaking change, c-gateway, c-http, c-lavalink

#332 actions: add build matrix for tls and json features
  .github/workflows/test.yml
Labels: github actions

#347 model/reaction_type: add test for animated field
  model/src/channel/reaction_type.rs
Labels: c-model

#344 utils/mention: fix grammatical typo in readme
  utils/mention/README.md
  utils/mention/src/lib.rs
Labels: c-utils-mention, docs

#342 utils/mention: remove guild channel id function
  utils/mention/src/lib.rs
Labels: c-utils-mention, enhancement

#352 gateway/cluster: make down_resumable consistent
  gateway/src/cluster/impl.rs
Labels: breaking change, c-gateway, enhancement

#339 model/reaction_type: remove a "hack"
  model/src/channel/reaction_type.rs
Labels: c-model, enhancement

#354 lavalink/node: ignore when user drops rx
  lavalink/examples/basic-lavalink-bot/src/main.rs
  lavalink/src/node.rs
Labels: bugfix, c-lavalink

#335 gateway/shard: send normal close on shutdown
  gateway/src/shard/impl.rs
Labels: c-gateway, enhancement

#337 gateway/socket_forwarder: import duration
  gateway/src/shard/processor/socket_forwarder.rs
Labels: c-gateway, enhancement

#345 gateway/queue: make module layout consistent
  gateway/src/queue/mod.rs
Labels: c-gateway, enhancement

#348 lavalink/model: expose incoming, outgoing modules
  lavalink/src/model.rs
Labels: c-lavalink, enhancement

#346 gateway/shard: return named event stream type
  gateway/src/shard/event.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/mod.rs
Labels: c-gateway, enhancement

#351 gateway/shard/processor: consolidate connecting
  gateway/src/shard/processor/connect.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/mod.rs
Labels: c-gateway

#353 project: update crate authors
  builders/Cargo.toml
  cache/base/Cargo.toml
  cache/in-memory/Cargo.toml
  cache/redis/Cargo.toml
  cache/trait/Cargo.toml
  command-parser/Cargo.toml
  gateway/Cargo.toml
  gateway/examples/cluster/Cargo.toml
  gateway/examples/intents/Cargo.toml
  gateway/examples/metrics/Cargo.toml
  gateway/examples/queue/Cargo.toml
  gateway/examples/request-members/Cargo.toml
  gateway/examples/shard/Cargo.toml
  http/Cargo.toml
  http/examples/allowed-mentions/Cargo.toml
  http/examples/get-message/Cargo.toml
  http/examples/proxy/Cargo.toml
  model/Cargo.toml
  twilight/Cargo.toml
  utils/mention/Cargo.toml
Labels: c-cache, c-command-parser, c-gateway, c-http, c-model, c-utils-mention

#355 http/update_guild: add 'banner' field
  http/src/request/guild/update_guild.rs
Labels: c-http, feature

#338 gateway: remove metrics imports
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/inflater.rs
Labels: c-gateway, enhancement

#340 http: remove comments
  http/src/client/mod.rs
  http/src/ratelimiting/bucket.rs
  http/src/ratelimiting/mod.rs
  http/src/request/channel/message/get_channel_messages_configured.rs
Labels: c-http, enhancement

#356 http/request: nullable fields
  http/src/request/channel/invite/create_invite.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/update_channel.rs
  http/src/request/channel/webhook/create_webhook.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/update_webhook.rs
  http/src/request/channel/webhook/update_webhook_with_token.rs
  http/src/request/guild/create_guild.rs
  http/src/request/guild/create_guild_channel.rs
  http/src/request/guild/emoji/create_emoji.rs
  http/src/request/guild/emoji/update_emoji.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/guild/role/create_role.rs
  http/src/request/guild/role/update_role.rs
  http/src/request/guild/update_guild.rs
  http/src/request/guild/update_guild_widget.rs
  http/src/request/user/update_current_user.rs
Labels: c-http

#350 gateway: simplify runtime spawns
  gateway/src/queue/large_bot_queue.rs
  gateway/src/queue/mod.rs
  gateway/src/shard/processor/session.rs
Labels: c-gateway, enhancement
