Repository twilight-rs/twilight, pull requests merged in 2020-10, with the labels that each got.

#528 Add method to fetch sets describing guilds in the cache
  cache/in-memory/src/lib.rs
Labels: c-cache, feature

#537 Move gateway-queue to a separate crate
  Cargo.toml
  gateway/Cargo.toml
  gateway/queue/Cargo.toml
  gateway/queue/src/day_limiter.rs
  gateway/queue/src/large_bot_queue.rs
  gateway/queue/src/lib.rs
  gateway/src/cluster/builder.rs
  gateway/src/cluster/config.rs
  gateway/src/lib.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/config.rs
Labels: c-gateway, enhancement

#538 Fix gateway-queue standalone with sink feature
  gateway/queue/Cargo.toml
Labels: bugfix, c-gateway

#532 project: update to api v8
  README.md
  cache/in-memory/README.md
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/guild.rs
  cache/in-memory/src/model/presence.rs
  cache/in-memory/src/updates.rs
  gateway/examples/cluster/src/main.rs
  gateway/examples/intents/Cargo.toml
  gateway/examples/intents/src/main.rs
  gateway/examples/metrics/src/main.rs
  gateway/examples/request-members/src/main.rs
  gateway/examples/shard/src/main.rs
  gateway/src/cluster/builder.rs
  gateway/src/cluster/impl.rs
  gateway/src/cluster/mod.rs
  gateway/src/lib.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/config.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/impl.rs
  gateway/tests/test_shard_command_ratelimit.rs
  gateway/tests/test_shard_state_events.rs
  http/src/api_error.rs
  http/src/client/mod.rs
  lavalink/README.md
  lavalink/examples/basic-lavalink-bot/src/main.rs
  lavalink/src/lib.rs
  model/benches/deserialization.rs
  model/src/channel/permission_overwrite.rs
  model/src/gateway/event/gateway.rs
  model/src/gateway/payload/identify.rs
  model/src/gateway/payload/member_chunk.rs
  model/src/gateway/payload/presence_update.rs
  model/src/gateway/payload/role_update.rs
  model/src/gateway/payload/update_status.rs
  model/src/gateway/presence/mod.rs
  model/src/guild/mod.rs
  model/src/guild/partial_guild.rs
  model/src/guild/role.rs
  standby/README.md
  standby/src/lib.rs
  twilight/src/lib.rs
Labels: breaking change, c-cache, c-gateway, c-http, c-model, discord api

#549 Implement application integrations
  http/src/request/guild/integration/get_guild_integrations.rs
  http/src/routing.rs
  model/src/guild/integration.rs
  model/src/guild/integration_application.rs
  model/src/guild/mod.rs
Labels: c-http, c-model, discord api, feature

#540 fix missing guild specific insert in cache_role(s) and cache_member(s)
  cache/in-memory/src/lib.rs
Labels: bugfix, c-cache

#553 Fix cache not being updated in GuildUpdate event
  cache/in-memory/src/updates.rs
Labels: bugfix, c-cache

#550 Create a new CurrentUserGuild type which is a very stripped partial guild
  http/src/request/user/get_current_user_guilds.rs
Labels: bugfix, c-http

#548 Switch to async-tungstenite/tokio-rustls
  gateway/Cargo.toml
  lavalink/Cargo.toml
Labels: c-gateway, c-lavalink, enhancement

#557 cache: Fix missing guild specific insert in cache_emoji(s)
  cache/in-memory/src/lib.rs
Labels: bugfix, c-cache

#560 gateway, lavalink: fix async-tungstenite's `tokio-rustls` usage in docs
  gateway/README.md
  gateway/src/lib.rs
  lavalink/README.md
  lavalink/src/lib.rs
Labels: c-gateway, c-lavalink, docs

#572 actions: replace actions-rs/cargo with run steps
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: github actions

#571 util: highlight features in documentation with #[doc(cfg)]
  .github/workflows/doc.yml
  .github/workflows/publish.yml
  util/Cargo.toml
  util/src/lib.rs
Labels: c-util, docs

#558 project: add CONTRIBUTING.md and issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  CONTRIBUTING.md
Labels: c-all

#576 cache/in-memory: remove outdated hint of customization
  cache/in-memory/src/lib.rs
Labels: c-cache, docs

#563 http: fix ClientBuilder ignoring reqwest_client
  http/src/client/builder.rs
Labels: breaking change, bugfix, c-http

#547 http: add bucket remaining time estimation method
  http/src/client/mod.rs
  http/src/ratelimiting/mod.rs
Labels: c-http, feature

#565 model: add missing fields to CurrentUser
  cache/in-memory/src/lib.rs
  model/src/user/current_user.rs
  standby/src/lib.rs
Labels: breaking change, c-model, discord api, feature

#567 http: Add features field to CurrentUserGuild
  http/src/request/user/get_current_user_guilds.rs
Labels: c-http, discord api, feature

#568 gateway: add option of gateway url to shard config
  gateway/src/cluster/builder.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/config.rs
  gateway/src/shard/impl.rs
Labels: c-gateway, discord api, enhancement

#564 model: add Option for CurrentUser::verified
  cache/in-memory/src/lib.rs
  model/src/user/current_user.rs
  standby/src/lib.rs
Labels: breaking change, bugfix, c-model, c-oauth, discord api

#569 model: change type of CurrentApplicationInfo's id field
  model/src/oauth/current_application_info.rs
Labels: bugfix, c-model, discord api

#575 command-parser: add unicode support to the Arguments struct
  command-parser/Cargo.toml
  command-parser/src/arguments.rs
Labels: bugfix, c-command-parser

#578 project: turn issue templates into comments
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: c-all

#581 http/request: remove deprecated methods
  http/src/client/mod.rs
  http/src/request/channel/create_pin.rs
  http/src/request/channel/delete_channel.rs
  http/src/request/channel/delete_channel_permission_configured.rs
  http/src/request/channel/delete_pin.rs
  http/src/request/channel/invite/create_invite.rs
  http/src/request/channel/invite/delete_invite.rs
  http/src/request/channel/message/delete_message.rs
  http/src/request/channel/message/delete_messages.rs
  http/src/request/channel/update_channel.rs
  http/src/request/channel/update_channel_permission_configured.rs
  http/src/request/channel/webhook/create_webhook.rs
  http/src/request/channel/webhook/delete_webhook.rs
  http/src/request/channel/webhook/update_webhook.rs
  http/src/request/guild/ban/create_ban.rs
  http/src/request/guild/ban/delete_ban.rs
  http/src/request/guild/create_guild_channel.rs
  http/src/request/guild/create_guild_prune.rs
  http/src/request/guild/emoji/create_emoji.rs
  http/src/request/guild/emoji/delete_emoji.rs
  http/src/request/guild/emoji/update_emoji.rs
  http/src/request/guild/integration/create_guild_integration.rs
  http/src/request/guild/integration/delete_guild_integration.rs
  http/src/request/guild/integration/update_guild_integration.rs
  http/src/request/guild/member/add_role_to_member.rs
  http/src/request/guild/member/remove_member.rs
  http/src/request/guild/member/remove_role_from_member.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/guild/role/create_role.rs
  http/src/request/guild/role/delete_role.rs
  http/src/request/guild/role/update_role.rs
  http/src/request/guild/update_guild.rs
Labels: breaking change, c-http

#580 actions: add the util crate to the test matrix
  .github/workflows/test.yml
Labels: c-util, github actions

#582 cache, model: document gateway intents
  cache/in-memory/src/lib.rs
  model/src/gateway/intents.rs
Labels: c-cache, c-model, docs, enhancement

#584 command-parser: handle whitespace after prefix
  command-parser/src/parser.rs
Labels: bugfix, c-command-parser
