Repository twilight-rs/twilight, pull requests merged in 2020-05, with the labels that each got.

#166 actions: use stable clippy
  .github/workflows/lint.yml
  command-parser/src/parser.rs
  gateway/examples/request-members/src/main.rs
  gateway/src/shard/processor/impl.rs
  http/examples/allowed-mentions/src/main.rs
  model/src/gateway/payload/request_guild_members.rs
Labels: Github Actions, bugfix

#167 http: validate request parameters
  http/Cargo.toml
  http/examples/allowed-mentions/src/main.rs
  http/examples/get-message/src/main.rs
  http/examples/proxy/src/main.rs
  http/src/client/mod.rs
  http/src/error.rs
  http/src/ratelimiting/error.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/get_channel_messages.rs
  http/src/request/channel/message/get_channel_messages_configured.rs
  http/src/request/channel/message/mod.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/mod.rs
  http/src/request/channel/reaction/get_reactions.rs
  http/src/request/channel/reaction/mod.rs
  http/src/request/channel/update_channel.rs
  http/src/request/guild/ban/create_ban.rs
  http/src/request/guild/ban/mod.rs
  http/src/request/guild/create_guild.rs
  http/src/request/guild/create_guild_channel.rs
  http/src/request/guild/create_guild_prune.rs
  http/src/request/guild/get_audit_log.rs
  http/src/request/guild/get_guild_prune_count.rs
  http/src/request/guild/member/get_guild_members.rs
  http/src/request/guild/member/mod.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/guild/mod.rs
  http/src/request/guild/update_guild.rs
  http/src/request/mod.rs
  http/src/request/prelude.rs
  http/src/request/user/get_current_user_guilds.rs
  http/src/request/user/mod.rs
  http/src/request/user/update_current_user.rs
  http/src/request/validate.rs
  twilight/src/lib.rs
Labels: breaking change, c-http, feature

#169 actions: run audit only on cargo.toml update
  .github/workflows/audit.yml
Labels: Github Actions

#168 project: update to discord.com domain
  README.md
  http/src/client/mod.rs
  twilight/src/lib.rs
Labels: c-http, discord api

#172 http: add native and rustls features
  http/Cargo.toml
  http/README.md
Labels: c-http

#171 cache/in-memory: attach guild ids to channels
  cache/in-memory/src/lib.rs
Labels: bugfix, c-cache

#173 Updates for discord 2020-05-27
  cache/in-memory/src/lib.rs
  http/src/client/mod.rs
  http/src/request/guild/create_guild_prune.rs
  http/src/request/guild/get_guild.rs
  http/src/request/guild/get_guild_prune_count.rs
  http/src/request/guild/get_guild_widget.rs
  http/src/request/guild/mod.rs
  http/src/request/guild/update_guild_widget.rs
  http/src/routing.rs
  model/src/gateway/payload/invite_create.rs
  model/src/guild/mod.rs
  model/src/guild/widget.rs
  model/src/user/connection.rs
Labels: c-http, c-model

#174 model/gateway: export reaction_remove_emoji
  model/src/gateway/payload/mod.rs
  model/src/gateway/payload/reaction_remove_emoji.rs
Labels: c-model

#177 model: move event to gateway, add deserialization
  cache/in-memory/src/lib.rs
  cache/in-memory/src/shard.rs
  gateway/examples/cluster/src/main.rs
  gateway/examples/metrics/src/main.rs
  gateway/examples/queue/src/main.rs
  gateway/examples/request-members/src/main.rs
  gateway/src/cluster/impl.rs
  gateway/src/cluster/mod.rs
  gateway/src/event.rs
  gateway/src/lib.rs
  gateway/src/listener.rs
  gateway/src/shard/event.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/mod.rs
  gateway/src/shard/processor/emit.rs
  gateway/src/shard/processor/impl.rs
  model/Cargo.toml
  model/src/gateway/event/dispatch.rs
  model/src/gateway/event/gateway.rs
  model/src/gateway/event/kind.rs
  model/src/gateway/event/mod.rs
  model/src/gateway/event/shard.rs
  model/src/gateway/mod.rs
  twilight/src/lib.rs
Labels: breaking change, c-gateway, c-model, ecoystem blocker, feature

#178 Enable cargo-audit tool cache
  .github/workflows/audit.yml
Labels: Github Actions

#179 http: parse api errors in responses
  http/Cargo.toml
  http/src/api_error.rs
  http/src/client/mod.rs
  http/src/error.rs
  http/src/lib.rs
Labels: breaking change, c-http

#175 project: add standby crate
  Cargo.toml
  README.md
  model/src/gateway/event/mod.rs
  model/src/gateway/event/shard.rs
  standby/Cargo.toml
  standby/src/lib.rs
  twilight/Cargo.toml
  twilight/src/lib.rs
Labels: feature

#180 model: make member guild ids always present
  cache/in-memory/src/updates.rs
  http/Cargo.toml
  http/src/client/mod.rs
  http/src/request/guild/member/get_guild_members.rs
  http/src/request/guild/member/get_member.rs
  model/src/gateway/payload/member_add.rs
  model/src/gateway/payload/voice_state_update.rs
  model/src/guild/member.rs
  model/src/guild/mod.rs
  standby/src/lib.rs
Labels: breaking change, c-cache, c-http, c-model, c-standby
