Repository twilight-rs/twilight, pull requests merged in 2020-08, with the labels that each got.

#359 http/create_message: use payload_json form field
  http/src/request/channel/message/create_message.rs
  http/src/request/mod.rs
Labels: bugfix, c-http, discord api

#363 project: make log messages consistent
  gateway/src/queue/day_limiter.rs
  gateway/src/queue/large_bot_queue.rs
  gateway/src/queue/mod.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/emit.rs
  gateway/src/shard/processor/heartbeat.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/inflater.rs
  gateway/src/shard/processor/socket_forwarder.rs
  http/src/client/mod.rs
  http/src/ratelimiting/bucket.rs
  http/src/ratelimiting/mod.rs
  lavalink/examples/basic-lavalink-bot/src/main.rs
  lavalink/src/client.rs
  lavalink/src/node.rs
  lavalink/src/player.rs
  standby/src/lib.rs
Labels: c-gateway, c-http, c-lavalink, c-standby, enhancement

#357 project: fix dead links
  builders/src/embed.rs
  cache/in-memory/src/lib.rs
  command-parser/README.md
  command-parser/src/config.rs
  command-parser/src/lib.rs
  gateway/src/cluster/config.rs
  gateway/src/cluster/impl.rs
  gateway/src/cluster/mod.rs
  gateway/src/lib.rs
  gateway/src/queue/mod.rs
  gateway/src/shard/event.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/mod.rs
  gateway/src/shard/stage.rs
  http/src/client/builder.rs
  http/src/client/mod.rs
  http/src/request/channel/message/get_channel_messages.rs
  http/src/request/channel/update_channel.rs
  http/src/request/guild/create_guild.rs
  http/src/request/guild/create_guild_channel.rs
  http/src/request/guild/mod.rs
  http/src/request/validate.rs
  lavalink/src/client.rs
  model/src/gateway/event/mod.rs
Labels: c-cache, c-command-parser, c-gateway, c-http, c-lavalink, c-model, docs

#369 Implement TryFrom<Event> for event types
  model/src/gateway/event/dispatch.rs
  model/src/gateway/event/gateway.rs
  model/src/gateway/event/mod.rs
  model/src/gateway/event/shard.rs
Labels: c-model, feature

#366 Add Copy derive and conversion helper to MessageType
  model/src/channel/message/kind.rs
  model/src/channel/mod.rs
Labels: c-model, feature

#349 model/dispatch: add gift code update deser
  model/src/gateway/event/dispatch.rs
Labels: bugfix, c-model

#364 project: standardise builders
  command-parser/README.md
  command-parser/src/arguments.rs
  command-parser/src/builder/command.rs
  command-parser/src/builder/mod.rs
  command-parser/src/config.rs
  command-parser/src/lib.rs
  command-parser/src/parser.rs
  gateway/examples/intents/src/main.rs
  gateway/src/cluster/config.rs
  gateway/src/shard/config.rs
  http/examples/allowed-mentions/src/main.rs
  http/examples/proxy/src/main.rs
  http/src/client/builder.rs
  http/src/client/mod.rs
Labels: breaking change, c-command-parser, c-gateway, c-http, enhancement

#370 model/event: make dispatch event an untagged enum
  model/src/gateway/event/dispatch.rs
  model/src/gateway/event/gateway.rs
Labels: bugfix, c-model

#360 http/request: provide input in error variants
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/get_channel_messages.rs
  http/src/request/channel/message/get_channel_messages_configured.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/reaction/get_reactions.rs
  http/src/request/channel/update_channel.rs
  http/src/request/guild/ban/create_ban.rs
  http/src/request/guild/create_guild.rs
  http/src/request/guild/create_guild_channel.rs
  http/src/request/guild/create_guild_prune.rs
  http/src/request/guild/get_audit_log.rs
  http/src/request/guild/member/get_guild_members.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/guild/update_guild.rs
  http/src/request/user/get_current_user_guilds.rs
  http/src/request/user/update_current_user.rs
Labels: breaking change, c-http, feature

#361 project: revamp embed builder
  .github/workflows/doc.yml
  Cargo.toml
  README.md
  builders/src/embed.rs
  builders/src/lib.rs
  twilight/Cargo.toml
  twilight/src/lib.rs
  utils/embed-builder/Cargo.toml
  utils/embed-builder/README.md
  utils/embed-builder/src/author.rs
  utils/embed-builder/src/builder.rs
  utils/embed-builder/src/field.rs
  utils/embed-builder/src/footer.rs
  utils/embed-builder/src/image_source.rs
  utils/embed-builder/src/lib.rs
Labels: breaking change, c-builders, enhancement

#374 cache, lavalink, model: remove unused dependencies
  cache/trait/Cargo.toml
  lavalink/examples/basic-lavalink-bot/Cargo.toml
  model/Cargo.toml
Labels: c-cache, c-lavalink, c-model, enhancement

#373 project: update dependencies
  gateway/Cargo.toml
  model/Cargo.toml
Labels: c-gateway, c-model, enhancement

#336 cache,gateway,http: remove tracing imports
  cache/in-memory/src/updates.rs
  gateway/src/queue/day_limiter.rs
  gateway/src/queue/large_bot_queue.rs
  gateway/src/queue/mod.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/connect.rs
  gateway/src/shard/processor/emit.rs
  gateway/src/shard/processor/heartbeat.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/inflater.rs
  gateway/src/shard/processor/socket_forwarder.rs
  http/src/client/mod.rs
  http/src/ratelimiting/bucket.rs
  http/src/ratelimiting/mod.rs
Labels: c-cache, c-gateway, c-http, enhancement

#375 gateway: refactor event emissions
  gateway/src/listener.rs
  gateway/src/shard/processor/emit.rs
  gateway/src/shard/processor/impl.rs
Labels: c-gateway, enhancement

#376 gateway: refactor error handling
  gateway/src/cluster/config.rs
  gateway/src/cluster/error.rs
  gateway/src/cluster/impl.rs
  gateway/src/cluster/mod.rs
  gateway/src/queue/day_limiter.rs
  gateway/src/shard/config.rs
  gateway/src/shard/error.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/mod.rs
  gateway/src/shard/processor/error.rs
  gateway/src/shard/processor/heartbeat.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/mod.rs
  gateway/src/shard/processor/session.rs
Labels: breaking change, c-gateway, enhancement

#377 model/gateway: add 'max_concurrency' field
  model/src/gateway/connection_info/bot_connection_info.rs
  model/src/gateway/connection_info/mod.rs
  model/src/gateway/session_start_limit.rs
Labels: c-model, discord api, feature

#378 model/guild: add tests for a few types
  model/src/guild/ban.rs
  model/src/guild/emoji.rs
  model/src/guild/prune.rs
  model/src/guild/widget.rs
Labels: c-model, enhancement

#362 model: add deserialization tracing
  model/Cargo.toml
  model/src/channel/mod.rs
  model/src/channel/permission_overwrite.rs
  model/src/channel/reaction.rs
  model/src/gateway/event/gateway.rs
  model/src/gateway/payload/member_chunk.rs
  model/src/gateway/payload/typing_start.rs
  model/src/guild/emoji.rs
  model/src/guild/mod.rs
  model/src/guild/role.rs
  model/src/voice/voice_state.rs
Labels: c-model, enhancement

#383 http: Change color field to use a u32
  http/src/request/guild/role/create_role.rs
  http/src/request/guild/role/update_role.rs
Labels: breaking change, c-http

#382 gateway: make much of the public api sync
  README.md
  gateway/examples/cluster/src/main.rs
  gateway/examples/intents/src/main.rs
  gateway/examples/metrics/src/main.rs
  gateway/examples/queue/src/main.rs
  gateway/examples/request-members/src/main.rs
  gateway/examples/shard/src/main.rs
  gateway/src/cluster/config.rs
  gateway/src/cluster/impl.rs
  gateway/src/cluster/mod.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/heartbeat.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/session.rs
  gateway/tests/test_shard_state_events.rs
  lavalink/README.md
  lavalink/examples/basic-lavalink-bot/src/main.rs
  lavalink/src/lib.rs
  standby/README.md
  standby/src/lib.rs
  twilight/src/lib.rs
Labels: breaking change, c-gateway, enhancement

#316 cache/in-memory: track guild channel IDs
  cache/in-memory/src/lib.rs
  cache/in-memory/src/updates.rs
Labels: bugfix, c-cache

#384 workflow/publish: setup ssh deploy key
  .github/workflows/publish.yml
Labels: enhancement, github actions

#390 Fix "include" in Cargo.toml not actually including all source files
  cache/trait/Cargo.toml
  command-parser/Cargo.toml
  gateway/Cargo.toml
  http/Cargo.toml
  lavalink/Cargo.toml
  model/Cargo.toml
  standby/Cargo.toml
  twilight/Cargo.toml
  utils/embed-builder/Cargo.toml
  utils/mention/Cargo.toml
Labels: bugfix, c-all

#385 model: handle new permissions scheme
  model/src/channel/permission_overwrite.rs
  model/src/gateway/event/gateway.rs
  model/src/guild/mod.rs
  model/src/guild/permissions.rs
  model/src/guild/role.rs
Labels: c-model, discord api, feature

#386 http/api_error: handle message errors
  http/src/api_error.rs
Labels: c-http, discord api, feature

#387 standby: allow matching over any event processed
  standby/src/lib.rs
Labels: breaking change, c-standby, enhancement

#395 gateway: inline eventtypeflags re-export docs
  gateway/src/lib.rs
Labels: c-gateway, docs

#388 gateway/shard: fix command send ratelimiter
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/session.rs
  gateway/tests/test_shard_command_ratelimit.rs
Labels: bugfix, c-gateway

#397 project: make readme badges consistent
  README.md
  command-parser/README.md
  command-parser/src/lib.rs
  gateway/README.md
  gateway/src/lib.rs
  http/README.md
  http/src/lib.rs
  lavalink/README.md
  lavalink/src/lib.rs
  model/README.md
  model/src/lib.rs
  standby/README.md
  standby/src/lib.rs
  twilight/src/lib.rs
  utils/embed-builder/README.md
  utils/embed-builder/src/lib.rs
  utils/mention/README.md
  utils/mention/src/lib.rs
Labels: c-all, docs

#399 model/partial_member: add missing 'nick' field
  model/src/channel/message/mod.rs
  model/src/guild/partial_member.rs
Labels: c-model, discord api

#403 standby: process events through all handlers
  standby/src/lib.rs
Labels: bugfix, c-standby

#404 model/invite: add 'inviteguild' type
  model/src/invite/guild.rs
  model/src/invite/mod.rs
Labels: bugfix, c-model

#405 model/guild/integration: update fields
  model/src/guild/integration.rs
  model/src/guild/integration_expire_behavior.rs
  model/src/guild/mod.rs
Labels: c-model, enhancement

#406 model/category_channel: remove 'nsfw', 'parent_id'
  model/src/channel/category_channel.rs
  model/src/channel/mod.rs
Labels: c-model

#408 model/activity_flags: use consistent values
  model/src/gateway/presence/activity_flags.rs
Labels: c-model, enhancement

#409 model/event_type: fix names of variants
  model/src/gateway/event/kind.rs
Labels: bugfix, c-model

#413 project: add server invite to readmes
  README.md
  command-parser/README.md
  command-parser/src/lib.rs
  gateway/README.md
  gateway/src/lib.rs
  http/README.md
  http/src/lib.rs
  lavalink/README.md
  lavalink/src/lib.rs
  model/README.md
  model/src/lib.rs
  standby/README.md
  standby/src/lib.rs
  twilight/src/lib.rs
  utils/embed-builder/README.md
  utils/embed-builder/src/lib.rs
  utils/mention/README.md
  utils/mention/src/lib.rs
Labels: c-all, docs

#407 project: fix all clippy lints
  command-parser/src/parser.rs
  http/src/request/validate.rs
  model/benches/deserialization.rs
  model/src/channel/reaction.rs
  model/src/gateway/connection_info/bot_connection_info.rs
  model/src/gateway/event/gateway.rs
  model/src/gateway/payload/member_chunk.rs
  model/src/gateway/payload/member_update.rs
  model/src/gateway/payload/typing_start.rs
  model/src/gateway/payload/voice_state_update.rs
  model/src/gateway/session_start_limit.rs
  model/src/guild/integration.rs
  model/src/guild/permissions.rs
Labels: c-command-parser, c-http, c-model, enhancement

#417 Resume connection when SocketForwarder ends event stream
  gateway/src/shard/processor/impl.rs
Labels: bugfix, c-gateway

#416 workflow/lint: run clippy on tests
  .github/workflows/lint.yml
Labels: github actions

#412 Dont panic when recieving a voice state when guild caching isn't enabled
  cache/in-memory/src/lib.rs
  cache/in-memory/src/updates.rs
Labels: bugfix, c-cache

#433 model: fix bad merge from permission change
  model/src/gateway/payload/role_update.rs
Labels: bugfix, c-model, github actions

#436 command-parser,model,twilight: correct readmes
  README.md
  command-parser/README.md
  command-parser/src/lib.rs
  model/README.md
  model/src/lib.rs
  twilight/src/lib.rs
Labels: c-command-parser, c-model, docs

#432 gateway: document everything
  gateway/src/cluster/builder.rs
  gateway/src/cluster/config.rs
  gateway/src/cluster/impl.rs
  gateway/src/cluster/mod.rs
  gateway/src/event.rs
  gateway/src/lib.rs
  gateway/src/queue/large_bot_queue.rs
  gateway/src/queue/mod.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/impl.rs
Labels: c-gateway, docs

#435 cache,model: make presence guild id required
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/presence.rs
  cache/in-memory/src/updates.rs
  model/src/gateway/payload/member_chunk.rs
  model/src/gateway/presence/mod.rs
  model/src/guild/mod.rs
Labels: breaking change, c-cache, c-model, enhancement

#437 cache/in-memory: make unnecessary methods private
  cache/in-memory/src/lib.rs
Labels: breaking change, c-cache, enhancement

#438 gateway/shard: make 'session' private
  gateway/src/shard/impl.rs
Labels: breaking change, c-gateway

#439 gateway/shard: simplify closes on shutdown
  gateway/src/shard/impl.rs
Labels: c-gateway, enhancement

#441 gateway/shard: use configured large threshold
  gateway/src/shard/processor/impl.rs
Labels: bugfix, c-gateway

#445 model/permissions: make bitflags u64
  model/src/guild/permissions.rs
Labels: breaking change, c-model, discord api, enhancement

#444 model/guild: add missing permissions_new
  model/src/guild/mod.rs
  model/src/guild/partial_guild.rs
Labels: c-model, discord api

#442 model: rework request guild members
  gateway/examples/request-members/src/main.rs
  gateway/tests/test_shard_command_ratelimit.rs
  model/src/gateway/payload/mod.rs
  model/src/gateway/payload/request_guild_members.rs
Labels: breaking change, c-model, enhancement

#440 gateway/shard: simplify processor
  gateway/src/shard/processor/connect.rs
  gateway/src/shard/processor/emit.rs
  gateway/src/shard/processor/emitter.rs
  gateway/src/shard/processor/heartbeat.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/mod.rs
Labels: c-gateway, enhancement

#430 Add dynamic prefixes to the command parser
  command-parser/src/parser.rs
Labels: c-command-parser, feature

#448 http: replace calls to request with verify
  http/src/request/channel/reaction/delete_all_reactions.rs
  http/src/request/guild/delete_guild.rs
  http/src/request/guild/emoji/delete_emoji.rs
  http/src/request/guild/integration/create_guild_integration.rs
  http/src/request/guild/integration/delete_guild_integration.rs
  http/src/request/guild/integration/sync_guild_integration.rs
  http/src/request/guild/integration/update_guild_integration.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/guild/update_current_user_nick.rs
  http/src/request/guild/update_guild_channel_positions.rs
Labels: bugfix, c-http, discord api

#450 utils/mention: test with static_assertions
  utils/mention/Cargo.toml
  utils/mention/src/lib.rs
Labels: c-mention, enhancement

#451 utils/embed-builder: test with static_assertions
  utils/embed-builder/Cargo.toml
  utils/embed-builder/src/author.rs
  utils/embed-builder/src/builder.rs
  utils/embed-builder/src/field.rs
  utils/embed-builder/src/footer.rs
  utils/embed-builder/src/image_source.rs
Labels: c-embed-builder, enhancement

#452 standby: test with static_assertions
  standby/Cargo.toml
  standby/src/futures.rs
  standby/src/lib.rs
Labels: c-standby, enhancement

#453 gateway: remove 'queue' example application
  Cargo.toml
  gateway/examples/queue/Cargo.toml
  gateway/examples/queue/src/main.rs
Labels: c-gateway, docs

#456 project: add cname file
  CNAME
Labels: docs
