Repository twilight-rs/twilight, pull requests merged in 2020-06, with the labels that each got.

#184 standby: return results for waiting methods
  standby/src/lib.rs
Labels: breaking change, c-standby

#185 Revert "model: make member guild ids always present (#180)"
  cache/in-memory/src/updates.rs
  http/Cargo.toml
  http/src/client/mod.rs
  http/src/request/guild/member/get_guild_members.rs
  http/src/request/guild/member/get_member.rs
  model/src/gateway/payload/member_add.rs
  model/src/gateway/payload/voice_state_update.rs
  model/src/guild/member.rs
  model/src/guild/mod.rs
  standby/src/lib.rs
Labels: c-cache, c-http, c-model, c-standby

#186 cache/in-memory: re-impl cache updates for events
  cache/in-memory/src/updates.rs
Labels: bugfix, c-cache

#183 http: require ReactionType for reaction methods (#181)
  http/src/client/mod.rs
  http/src/request/channel/reaction/create_reaction.rs
  http/src/request/channel/reaction/delete_all_reaction.rs
  http/src/request/channel/reaction/delete_reaction.rs
  http/src/request/channel/reaction/mod.rs
Labels: breaking change, c-http

#187 http: add optional future outputs for requests
  http/Cargo.toml
  http/src/client/mod.rs
  http/src/request/channel/get_channel.rs
  http/src/request/channel/invite/get_invite.rs
  http/src/request/channel/message/get_message.rs
  http/src/request/channel/webhook/get_webhook.rs
  http/src/request/guild/ban/get_ban.rs
  http/src/request/guild/emoji/get_emoji.rs
  http/src/request/guild/get_guild_vanity_url.rs
  http/src/request/guild/get_guild_widget.rs
  http/src/request/guild/member/get_member.rs
  http/src/request/mod.rs
  http/src/request/prelude.rs
  http/src/request/user/get_user.rs
Labels: c-http

#189 gateway,http: fix stable clippy
  gateway/src/lib.rs
  gateway/src/shard/processor/impl.rs
  http/src/lib.rs
Labels: c-gateway, c-http

#164 Fix voice state cache panic
  cache/in-memory/src/lib.rs
  cache/in-memory/src/updates.rs
Labels: bugfix, c-cache

#188 implement cold resuming
  gateway/src/cluster/config.rs
  gateway/src/cluster/impl.rs
  gateway/src/shard/config.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/mod.rs
  gateway/src/shard/processor/impl.rs
Labels: c-gateway, feature

#190 standby: add send bounds to wait methods
  standby/src/lib.rs
Labels: breaking change, c-standby, enhancement

#182 Add simd-json support to gateway and http
  README.md
  gateway/Cargo.toml
  gateway/README.md
  gateway/src/lib.rs
  gateway/src/shard/error.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/heartbeat.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/inflater.rs
  gateway/src/shard/processor/session.rs
  http/Cargo.toml
  http/README.md
  http/src/client/mod.rs
  http/src/error.rs
  http/src/lib.rs
  http/src/request/channel/invite/create_invite.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/delete_messages.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/update_channel.rs
  http/src/request/channel/update_channel_permission_configured.rs
  http/src/request/channel/webhook/create_webhook.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/update_webhook.rs
  http/src/request/channel/webhook/update_webhook_with_token.rs
  http/src/request/guild/create_guild.rs
  http/src/request/guild/create_guild_channel.rs
  http/src/request/guild/emoji/create_emoji.rs
  http/src/request/guild/emoji/update_emoji.rs
  http/src/request/guild/integration/create_guild_integration.rs
  http/src/request/guild/integration/update_guild_integration.rs
  http/src/request/guild/member/get_guild_members.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/guild/role/create_role.rs
  http/src/request/guild/role/update_role.rs
  http/src/request/guild/role/update_role_positions.rs
  http/src/request/guild/update_current_user_nick.rs
  http/src/request/guild/update_guild.rs
  http/src/request/guild/update_guild_channel_positions.rs
  http/src/request/guild/update_guild_widget.rs
  http/src/request/user/create_private_channel.rs
  http/src/request/user/update_current_user.rs
  twilight/Cargo.toml
Labels: c-http, feature

#197 standby: fix non-instant bystander waiting
  standby/src/lib.rs
Labels: bugfix, c-standby

#196 standby: add trace level logging
  standby/Cargo.toml
  standby/src/lib.rs
Labels: c-standby, enhancement

#191 Lavalink
  Cargo.toml
  README.md
  lavalink/Cargo.toml
  lavalink/README.md
  lavalink/examples/basic-lavalink-bot/Cargo.toml
  lavalink/examples/basic-lavalink-bot/src/main.rs
  lavalink/src/client.rs
  lavalink/src/http.rs
  lavalink/src/lib.rs
  lavalink/src/model.rs
  lavalink/src/node.rs
  lavalink/src/player.rs
Labels: c-lavalink, feature

#199 cache/in-memory: remove gateway dependency
  cache/in-memory/Cargo.toml
Labels: c-cache, enhancement

#205 actions/test: use stable toolchain
  .github/workflows/test.yml
Labels: github actions

#207 gateway/shard: handle invalid authorization
  gateway/src/shard/error.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/impl.rs
Labels: c-gateway, enhancement

#209 standby: use dashmap, return future structs
  lavalink/examples/basic-lavalink-bot/src/main.rs
  standby/Cargo.toml
  standby/src/futures.rs
  standby/src/lib.rs
Labels: breaking change, c-standby, enhancement

#208 http: improve feature layout of docs
  http/README.md
  http/src/lib.rs
Labels: c-http, docs

#206 Gateway cluster shard creations
  README.md
  gateway/examples/cluster/src/main.rs
  gateway/examples/intents/src/main.rs
  gateway/examples/metrics/src/main.rs
  gateway/examples/queue/src/main.rs
  gateway/examples/request-members/src/main.rs
  gateway/examples/shard/src/main.rs
  gateway/src/cluster/impl.rs
  gateway/src/cluster/mod.rs
  gateway/src/shard/error.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/impl.rs
  lavalink/README.md
  lavalink/examples/basic-lavalink-bot/src/main.rs
  lavalink/src/lib.rs
  twilight/src/lib.rs
Labels: breaking change, c-gateway

#200 model: make member guild ids always present
  cache/in-memory/src/updates.rs
  http/src/request/guild/member/get_guild_members.rs
  http/src/request/guild/member/get_member.rs
  model/Cargo.toml
  model/src/gateway/payload/member_add.rs
  model/src/gateway/payload/voice_state_update.rs
  model/src/guild/member.rs
  model/src/guild/mod.rs
  standby/src/lib.rs
Labels: breaking change, c-cache, c-gateway, c-http, c-model, enhancement

#212 cache/in-memory: impl channel pins update event
  cache/in-memory/src/config.rs
  cache/in-memory/src/lib.rs
  cache/in-memory/src/updates.rs
Labels: c-cache

#213 project: reduce selected dependency features
  README.md
  cache/in-memory/Cargo.toml
  cache/in-memory/src/lib.rs
  cache/in-memory/src/updates.rs
  cache/trait/Cargo.toml
  command-parser/Cargo.toml
  gateway/Cargo.toml
  gateway/src/cluster/impl.rs
  gateway/src/listener.rs
  gateway/src/queue.rs
  gateway/src/queue/large_bot_queue.rs
  gateway/src/shard/error.rs
  gateway/src/shard/event.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/heartbeat.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/session.rs
  gateway/src/shard/processor/socket_forwarder.rs
  gateway/src/shard/sink.rs
  http/Cargo.toml
  http/src/error.rs
  http/src/ratelimiting/bucket.rs
  http/src/ratelimiting/mod.rs
  lavalink/Cargo.toml
  model/Cargo.toml
  twilight/Cargo.toml
  twilight/src/lib.rs
Labels: c-cache, c-command-parser, c-gateway, c-http, c-lavalink, c-model

#229 project: update remaining branch names to trunk
  README.md
  lavalink/Cargo.toml
  model/README.md
  model/src/lib.rs
  standby/Cargo.toml
  twilight/src/lib.rs
Labels: docs

#224 actions: remove disabled workflows
  .github/workflows_disabled/grcov.yml
  .github/workflows_disabled/stale.yml
Labels: github actions

#227 http: make request initialisers non-public
  http/src/request/channel/invite/create_invite.rs
  http/src/request/get_gateway_authed.rs
Labels: breaking change, c-http

#226 http: deserialise 429 ratelimited api errors
  http/src/api_error.rs
  http/src/client/mod.rs
Labels: breaking change, bugfix, c-http

#232 gateway/cluster: fix command dispatching
  gateway/Cargo.toml
  gateway/src/shard/impl.rs
Labels: bugfix, c-gateway

#234 Fix response deserialization in `GetMember`
  http/src/request/guild/member/get_member.rs
Labels: bugfix, c-http

#231 model/guild: remove logs that made it through #200
  model/src/guild/mod.rs
Labels: c-model

#203 model/channel: fix guild text channel deserialization
  model/src/channel/channel_type.rs
  model/src/channel/mod.rs
Labels: bugfix, c-model

#230 model: simplify guild delete unavailable field
  model/src/gateway/payload/guild_delete.rs
Labels: breaking change, c-model

#237 model/gateway: add member chunk deserializer
  model/src/gateway/payload/member_chunk.rs
  model/src/guild/member.rs
  model/src/guild/mod.rs
Labels: bugfix, c-model

#249 gateway: enable once_cell's 'std' feature
  gateway/Cargo.toml
Labels: bugfix, c-gateway

#252 model/channel/message/kind: derive repr
  model/src/channel/message/kind.rs
  model/src/channel/message/mod.rs
Labels: bugfix, c-model

#247 gateway/shard: handle bad intents
  gateway/src/shard/error.rs
  gateway/src/shard/processor/impl.rs
Labels: bugfix, c-gateway

#241 model/typing_start: fix member deserialization
  model/src/gateway/payload/typing_start.rs
Labels: bugfix, c-model

#233 gateway/shard/processor: emit shard events
  gateway/DEVELOPMENT.md
  gateway/examples/shard/src/main.rs
  gateway/src/shard/processor/impl.rs
  gateway/tests/test_shard_state_events.rs
Labels: c-gateway, feature

#242 model/channel: fix reaction member deserialization
  model/src/channel/reaction.rs
Labels: bugfix, c-model

#255 model/request_guild_members: add an untagged
  model/src/gateway/payload/request_guild_members.rs
Labels: bugfix, c-model

#246 model/channel/guild_channel: handle unknown fields
  model/src/channel/mod.rs
Labels: bugfix, c-model

#253 model: delay visitor field defaulting
  model/src/channel/mod.rs
  model/src/channel/reaction.rs
  model/src/gateway/payload/typing_start.rs
  model/src/guild/mod.rs
Labels: c-model, enhancement

#254 model/member_chunk: optimise deserialisation
  model/Cargo.toml
  model/benches/member_chunk.rs
  model/src/gateway/payload/member_chunk.rs
  model/src/gateway/presence/mod.rs
  model/src/guild/member.rs
Labels: c-model, enhancement

#261 model/typing_start: optimise deserialization
  model/Cargo.toml
  model/benches/deserialization.rs
  model/src/gateway/payload/typing_start.rs
  model/src/guild/member.rs
Labels: c-model, enhancement

#263 model: alphabetise fields of all structs
  model/src/channel/attachment.rs
  model/src/channel/category_channel.rs
  model/src/channel/group.rs
  model/src/channel/message/application.rs
  model/src/channel/message/mod.rs
  model/src/channel/text_channel.rs
  model/src/channel/voice_channel.rs
  model/src/channel/webhook.rs
  model/src/gateway/payload/invite_create.rs
  model/src/gateway/payload/member_add.rs
  model/src/gateway/payload/member_chunk.rs
  model/src/gateway/payload/member_update.rs
  model/src/gateway/payload/message_update.rs
  model/src/gateway/payload/reaction_remove_emoji.rs
  model/src/gateway/payload/request_guild_members.rs
  model/src/gateway/payload/voice_state_update.rs
  model/src/gateway/presence/activity.rs
  model/src/gateway/presence/activity_emoji.rs
  model/src/guild/audit_log/mod.rs
  model/src/guild/audit_log/optional_entry_info.rs
  model/src/guild/audit_log/partial_integration.rs
  model/src/guild/emoji.rs
  model/src/guild/info.rs
  model/src/guild/integration.rs
  model/src/guild/mod.rs
  model/src/guild/partial_guild.rs
  model/src/guild/preview.rs
  model/src/guild/role.rs
  model/src/invite/mod.rs
  model/src/oauth/current_application_info.rs
  model/src/oauth/team/mod.rs
  model/src/user/connection.rs
  model/src/user/current_user.rs
  model/src/user/mod.rs
  model/src/user/profile.rs
Labels: breaking change, c-model

#264 model/reaction: update tests to use serde_test
  model/src/channel/reaction.rs
Labels: c-model

#265 model/reaction: optimise deserialisation
  model/benches/deserialization.rs
  model/src/channel/reaction.rs
Labels: c-model

#262 model/partial_emoji: make fields public
  model/src/gateway/payload/reaction_remove_emoji.rs
Labels: c-model

#258 fix initial precense not being passed in the identify payload
  gateway/src/shard/processor/impl.rs
Labels: bugfix, c-gateway

#266 model/guild_delete: use serde_test for tests
  model/src/gateway/payload/guild_delete.rs
Labels: c-model

#277 model/guild: optimise deserialisation
  model/src/channel/mod.rs
  model/src/guild/emoji.rs
  model/src/guild/mod.rs
  model/src/guild/role.rs
  model/src/voice/mod.rs
  model/src/voice/voice_state.rs
Labels: c-model
