Repository twilight-rs/twilight, pull requests merged in 2020-11, with the labels that each got.

#588 project: update readme installation version to 0.2
  README.md
  gateway/README.md
  gateway/src/lib.rs
  http/README.md
  http/src/lib.rs
  lavalink/README.md
  lavalink/src/lib.rs
  twilight/src/lib.rs
Labels: c-gateway, c-http, c-lavalink, docs

#585 command-parser: remove 'unicode-segmentation' dependency
  command-parser/Cargo.toml
  command-parser/src/arguments.rs
Labels: c-command-parser, enhancement

#590 cache/in-memory: cache MessageCreate's user & member
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/member.rs
  cache/in-memory/src/updates.rs
Labels: bugfix, c-cache

#586 model: add missing gateway codes
  model/src/gateway/close_code.rs
  model/src/gateway/mod.rs
  model/src/gateway/opcode.rs
  model/src/voice/close_code.rs
  model/src/voice/mod.rs
  model/src/voice/opcode.rs
Labels: c-model, discord api, feature

#592 http: handle service unavailability errors
  http/src/client/mod.rs
  http/src/error.rs
Labels: bugfix, c-http

#593 model/gateway/opcode: make non-exhaustive
  model/src/gateway/opcode.rs
Labels: breaking change, c-model, enhancement

#595 gateway-queue: remove cross-crate links
  gateway/queue/src/lib.rs
Labels: c-gateway-queue, docs

#594 http/api_error: add variants 20022, 50024, 50033
  http/src/api_error.rs
Labels: c-http, discord api, feature

#597 http/client: take note of invalid tokens
  http/src/client/builder.rs
  http/src/client/mod.rs
  http/src/error.rs
Labels: c-http, feature

#591 cache/inmemory: cache_* methods no longer return HashSet
  cache/in-memory/src/lib.rs
Labels: c-cache, enhancement

#598 http: move api version to a public const
  http/src/client/mod.rs
  http/src/lib.rs
Labels: c-http, enhancement

#596 model/gateway/event_type: add error enums
  gateway/src/event.rs
  model/Cargo.toml
  model/src/gateway/event/kind.rs
  model/src/gateway/event/mod.rs
Labels: breaking change, c-gateway, c-model, enhancement

#606 project: fix clippy warning & rust edition idioms
  cache/in-memory/src/lib.rs
  gateway/src/shard/processor/impl.rs
  http/src/request/channel/reaction/mod.rs
  mention/src/parse/impl.rs
  model/src/guild/permissions.rs
Labels: c-cache, c-gateway, c-http, c-mention, c-model

#607 docs: clarify cloning behavior
  cache/in-memory/src/lib.rs
  gateway/src/cluster/impl.rs
  gateway/src/shard/impl.rs
  http/src/client/mod.rs
  lavalink/src/client.rs
  standby/src/lib.rs
Labels: c-cache, c-gateway, c-http, c-lavalink, c-standby, docs, enhancement

#610 chore(twilight/readme): link to crates
  README.md
  twilight/src/lib.rs
Labels: docs

#609 feat(model): support message mention members
  cache/in-memory/src/model/member.rs
  cache/in-memory/src/updates.rs
  model/src/channel/message/mention.rs
  model/src/channel/message/mod.rs
  model/src/guild/partial_member.rs
  model/src/user/mod.rs
Labels: breaking change, c-model, feature

#608 feat(http,model): support message stickers
  cache/in-memory/src/model/message.rs
  cache/in-memory/src/updates.rs
  http/src/api_error.rs
  model/src/channel/message/mod.rs
  model/src/channel/message/sticker/id.rs
  model/src/channel/message/sticker/kind.rs
  model/src/channel/message/sticker/mod.rs
  standby/src/lib.rs
Labels: c-http, c-model, feature

#621 feat(gateway): add deserialize, serialize to resume information
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/heartbeat.rs
  gateway/src/shard/stage.rs
Labels: c-gateway, enhancement

#618 fix(gateway): fix unused gateway_url config
  gateway/src/cluster/builder.rs
Labels: bugfix, c-gateway

#620 fix(http/client): use reqwest header name consts
  http/src/client/mod.rs
Labels: bugfix, c-http

#604 http,model: add support for message type 19 replies
  cache/in-memory/src/updates.rs
  http/src/request/channel/message/allowed_mentions.rs
  http/src/request/channel/message/create_message.rs
  model/src/channel/message/kind.rs
  model/src/channel/message/mod.rs
  model/src/channel/message/reference.rs
  standby/src/lib.rs
Labels: breaking change, c-http, c-model, discord api

#614 fix(http/update_channel_permission): use type ints
  http/src/request/channel/update_channel_permission.rs
  http/src/request/channel/update_channel_permission_configured.rs
  model/src/channel/permission_overwrite.rs
Labels: bugfix, c-http

#624 fix(model): fix identify compress field
  gateway/src/shard/processor/impl.rs
  model/src/gateway/payload/identify.rs
Labels: breaking change, c-model
