Repository twilight-rs/twilight, pull requests merged in 2021-01, with the labels that each got.

#663 feat(model): add additional missing variants to AuditLogChangeKey, mark as non-exhaustive
  model/src/guild/audit_log/change_key.rs
Labels: breaking change, bugfix, c-model, feature

#657 feat!(http): use hyper instead of reqwest
  http/Cargo.toml
  http/README.md
  http/examples/allowed-mentions/src/main.rs
  http/examples/proxy/src/main.rs
  http/src/client/builder.rs
  http/src/client/mod.rs
  http/src/error.rs
  http/src/lib.rs
  http/src/ratelimiting/error.rs
  http/src/ratelimiting/headers.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/guild/get_guild_vanity_url.rs
  http/src/request/guild/member/get_member.rs
  http/src/request/mod.rs
  http/src/request/multipart.rs
  http/src/routing.rs
  lavalink/examples/basic-lavalink-bot/Cargo.toml
  lavalink/examples/basic-lavalink-bot/src/main.rs
Labels: breaking change, c-http, enhancement

#667 Hide `tungstenite` from public API
  gateway/src/shard/mod.rs
  gateway/src/shard/raw_message.rs
  gateway/src/shard/sink.rs
Labels: breaking change, c-gateway, enhancement

#666 chore: update dashmap, patricia_tree
  cache/in-memory/Cargo.toml
  command-parser/Cargo.toml
  gateway/Cargo.toml
  lavalink/Cargo.toml
  standby/Cargo.toml
Labels: c-cache, c-command-parser, c-gateway, c-lavalink, c-standby, enhancement

#664 Upgrade to Tokio 1.0
  README.md
  cache/in-memory/Cargo.toml
  cache/in-memory/README.md
  cache/in-memory/src/lib.rs
  gateway/Cargo.toml
  gateway/examples/cluster/Cargo.toml
  gateway/examples/intents/Cargo.toml
  gateway/examples/metrics/Cargo.toml
  gateway/examples/request-members/Cargo.toml
  gateway/examples/shard/Cargo.toml
  gateway/queue/Cargo.toml
  gateway/queue/src/day_limiter.rs
  gateway/queue/src/large_bot_queue.rs
  gateway/queue/src/lib.rs
  gateway/src/cluster/impl.rs
  gateway/src/lib.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/heartbeat.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/mod.rs
  gateway/src/shard/processor/session.rs
  gateway/src/shard/processor/socket_forwarder.rs
  gateway/src/shard/processor/throttle.rs
  http/Cargo.toml
  http/examples/allowed-mentions/Cargo.toml
  http/examples/get-message/Cargo.toml
  http/examples/proxy/Cargo.toml
  http/src/client/builder.rs
  http/src/client/mod.rs
  http/src/error.rs
  http/src/ratelimiting/bucket.rs
  lavalink/Cargo.toml
  lavalink/examples/basic-lavalink-bot/Cargo.toml
  lavalink/src/node.rs
  standby/Cargo.toml
  twilight/Cargo.toml
  twilight/src/lib.rs
Labels: breaking change, c-gateway, c-gateway-queue, c-http, c-lavalink, enhancement

#669 Remove the HTTP client's `add_role` method
  http/src/client/mod.rs
  http/src/request/guild/member/add_role_to_member.rs
Labels: breaking change, c-http, enhancement

#658 Move webhook URL methods to util
  http/src/client/mod.rs
  http/src/error.rs
  util/Cargo.toml
  util/src/lib.rs
  util/src/link/mod.rs
  util/src/link/webhook.rs
Labels: breaking change, c-http, enhancement

#660 Replace cache event type flags with resource type flags
  README.md
  cache/in-memory/src/builder.rs
  cache/in-memory/src/config.rs
  cache/in-memory/src/lib.rs
  cache/in-memory/src/updates.rs
  twilight/src/lib.rs
Labels: breaking change, c-cache, enhancement

#670 http, lavalink: Remove http1 feature flag from hyper
  http/Cargo.toml
  lavalink/examples/basic-lavalink-bot/Cargo.toml
Labels: c-http

#659 Use Vecs in models instead of HashMaps
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/message.rs
  cache/in-memory/src/updates.rs
  model/Cargo.toml
  model/src/channel/message/mention.rs
  model/src/channel/message/mod.rs
  model/src/channel/mod.rs
  model/src/gateway/payload/guild_emojis_update.rs
  model/src/gateway/payload/member_chunk.rs
  model/src/gateway/payload/ready.rs
  model/src/gateway/presence/mod.rs
  model/src/guild/emoji.rs
  model/src/guild/integration.rs
  model/src/guild/member.rs
  model/src/guild/mod.rs
  model/src/guild/partial_guild.rs
  model/src/guild/role.rs
  model/src/guild/status.rs
  model/src/user/connection.rs
  model/src/user/mod.rs
  model/src/voice/voice_state.rs
  standby/src/lib.rs
Labels: breaking change, c-model, enhancement

#671 Simplify license.
  LICENSE.md
Labels: c-all, docs

#673 chore(http): remove re-exports
  http/examples/allowed-mentions/src/main.rs
  http/src/client/builder.rs
  http/src/client/mod.rs
  http/src/request/channel/allowed_mentions.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/mod.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/request/user/get_current_user_guilds.rs
Labels: breaking change, c-http, enhancement

#653 feat(http): implement add guild member endpoint
  http/src/client/mod.rs
  http/src/request/guild/member/add_guild_member.rs
  http/src/request/guild/member/mod.rs
  http/src/routing.rs
Labels: c-http, feature

#676 feat(model): add proxy_url field to `EmbedVideo`
  model/src/channel/embed/mod.rs
  model/src/channel/embed/video.rs
Labels: c-model, discord api, feature

#680 chore(gateway,lavalink): update to async-tungstenite 0.12
  gateway/Cargo.toml
  lavalink/Cargo.toml
  lavalink/src/node.rs
Labels: c-gateway, c-lavalink

#683 http: Work around http2 hyper-tls bug
  gateway/src/shard/processor/impl.rs
  http/Cargo.toml
  http/src/client/builder.rs
Labels: bugfix, c-http

#686 http: Use HeaderMap.insert instead of appending
  http/src/client/mod.rs
Labels: bugfix, c-http

#685 fix(http): percent encode emoji in URIs
  http/src/request/channel/reaction/create_reaction.rs
  http/src/request/channel/reaction/mod.rs
Labels: bugfix, c-http

#688 Remove model GuildStatus enum
  cache/in-memory/src/updates.rs
  model/src/gateway/payload/ready.rs
  model/src/guild/mod.rs
  model/src/guild/status.rs
Labels: breaking change, c-cache, c-model, enhancement

#687 Simplify Embed Builder error handling
  embed-builder/README.md
  embed-builder/src/author.rs
  embed-builder/src/builder.rs
  embed-builder/src/field.rs
  embed-builder/src/footer.rs
  embed-builder/src/lib.rs
  http/src/request/channel/webhook/update_webhook_message.rs
Labels: breaking change, c-embed-builder, enhancement

#689 fix(http): Use ClientBuilder defaults in Client::new
  http/src/client/mod.rs
Labels: bugfix, c-http

#654 feat(model): document the pending field on the Member & MemberUpdate struct
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/member.rs
  cache/in-memory/src/updates.rs
  model/src/channel/reaction.rs
  model/src/gateway/payload/member_add.rs
  model/src/gateway/payload/member_chunk.rs
  model/src/gateway/payload/member_update.rs
  model/src/gateway/payload/typing_start.rs
  model/src/gateway/payload/voice_state_update.rs
  model/src/guild/member.rs
  model/src/voice/voice_state.rs
Labels: c-model, discord api, feature

#677 feat(model): add `WelcomeScreen` to `InviteGuild`
  model/src/invite/guild.rs
  model/src/invite/mod.rs
  model/src/invite/welcome_screen.rs
Labels: c-model, discord api, feature

#690 Expose gateway cluster's send error type
  gateway/src/cluster/mod.rs
Labels: bugfix, c-gateway, docs

#682 feat(http): add default headers
  http/src/client/builder.rs
  http/src/client/mod.rs
Labels: c-http, feature

#692 Hide command parser's unicase dependency
  command-parser/src/casing.rs
  command-parser/src/config.rs
  command-parser/src/lib.rs
Labels: breaking change, c-command-parser, enhancement, refactor

#696 Fix incorrect boolean in days check for get_guild_prune_count
  http/src/request/guild/get_guild_prune_count.rs
Labels: bugfix, c-http

#695 fix(gateway): remove useless version param from identity payload
  gateway/src/shard/processor/impl.rs
  model/src/gateway/payload/identify.rs
Labels: breaking change, bugfix, c-gateway, c-model

#697 Add note to HTTP client about using bearer tokens
  http/src/client/mod.rs
Labels: c-http, docs

#699 fix(model): use mention type for message update
  model/src/gateway/payload/message_update.rs
Labels: breaking change, c-model, enhancement
