Repository twilight-rs/twilight, pull requests merged in 2021-04, with the labels that each got.

#748 Support stage voice channel type
  model/src/channel/channel_type.rs
  model/src/channel/mod.rs
  model/src/channel/voice_channel.rs
Labels: c-model, feature

#733 Lavalink: Track both voice server and voice state updates
  lavalink/src/client.rs
Labels: bugfix, c-lavalink, refactor

#750 Add message types 16 and 17
  model/src/channel/message/kind.rs
Labels: c-model, discord api, enhancement

#749 cache: use VecDeque instead of BTreeMap for messages
  cache/in-memory/src/lib.rs
  cache/in-memory/src/updates.rs
Labels: c-cache, enhancement

#734 Lavalink: Add missing WebsocketClosed event.
  lavalink/src/model.rs
Labels: c-lavalink, feature

#751 Remove blocked guild integration endpoints
  http/src/client/mod.rs
  http/src/request/audit_reason.rs
  http/src/request/guild/integration/create_guild_integration.rs
  http/src/request/guild/integration/mod.rs
  http/src/request/guild/integration/sync_guild_integration.rs
  http/src/request/guild/integration/update_guild_integration.rs
Labels: breaking change, bugfix, c-http, discord api

#755 Rename HTTP path variant variant for consistency
  http/src/routing.rs
Labels: breaking change, c-http, enhancement

#757 Return validation errors from CreateInvite request methods
  http/src/client/mod.rs
  http/src/request/channel/invite/create_invite.rs
  http/src/request/channel/invite/mod.rs
  http/src/request/validate.rs
Labels: breaking change, c-http, discord api, enhancement

#743 http: add missing route mappings
  http/src/routing.rs
Labels: c-http, enhancement

#769 `AuditLogEntry::user_id` is now nullable
  model/src/guild/audit_log/entry.rs
Labels: breaking change, c-model, discord api

#770 feat(http/api_error): add code 60003 'two factor'
  http/src/api_error.rs
Labels: c-http, discord api, feature

#771 Rename Create Invite payload field `target_user` to `target_user_id`
  http/src/request/channel/invite/create_invite.rs
Labels: bugfix, c-http, discord api

#776 fix(model): attachment width/height are optional
  model/src/channel/attachment.rs
Labels: c-model, discord api, enhancement

#777 fix(model): remove system user flag
  model/src/user/flags.rs
Labels: bugfix, c-model, discord api

#778 feat(model): add `VoiceChannel::video_quality_mode`
  http/src/request/channel/update_channel.rs
  model/src/channel/mod.rs
  model/src/channel/video_quality_mode.rs
  model/src/channel/voice_channel.rs
Labels: c-model, discord api, enhancement

#779 Add `VoiceChannel::rtc_region`
  model/src/channel/mod.rs
  model/src/channel/voice_channel.rs
Labels: c-model, discord api, feature

#780 Add HTTP error code 10062
  http/src/api_error.rs
Labels: c-http, discord api, feature

#781 chore(model/sticker): remove 'preview_asset'
  model/src/channel/message/mod.rs
  model/src/channel/message/sticker/mod.rs
Labels: breaking change, c-model, discord api

#762 Implement Ord and PartialOrd on Role
  model/src/guild/role.rs
Labels: c-model, feature

#775 feat(model): `Guild::nsfw`
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/guild.rs
  cache/in-memory/src/updates.rs
  model/src/gateway/event/gateway.rs
  model/src/guild/mod.rs
  model/src/guild/partial_guild.rs
Labels: c-model, discord api, enhancement

#782 Remove Request handler to get current user's DMs
  http/src/client/mod.rs
  http/src/request/user/get_current_user_private_channels.rs
  http/src/request/user/mod.rs
Labels: breaking change, c-http, discord api

#764 Remove MentionIter's Debug bound
  mention/src/parse/iter.rs
Labels: breaking change, c-mention, enhancement

#766 Correctly parse global ratelimit headers
  http/src/ratelimiting/headers.rs
Labels: bugfix, c-http

#787 fix(http/bucket): sleep in seconds on global lock
  http/src/ratelimiting/bucket.rs
  http/src/ratelimiting/headers.rs
Labels: bugfix, c-http

#773 feat(model): `Attachment::content_type`
  model/src/channel/attachment.rs
Labels: c-model, discord api, enhancement

#768 Remove hyper builder method
  http/src/client/builder.rs
  http/src/client/mod.rs
Labels: breaking change, c-http

#763 Remove command parser arguments From implementation
  command-parser/src/arguments.rs
Labels: breaking change, c-command-parser

#736 Add guild templates
  http/src/client/mod.rs
  http/src/request/mod.rs
  http/src/request/prelude.rs
  http/src/request/template/create_guild_from_template.rs
  http/src/request/template/create_template.rs
  http/src/request/template/delete_template.rs
  http/src/request/template/get_template.rs
  http/src/request/template/get_templates.rs
  http/src/request/template/mod.rs
  http/src/request/template/sync_template.rs
  http/src/request/template/update_template.rs
  http/src/request/validate.rs
  http/src/routing.rs
  model/src/channel/mod.rs
  model/src/channel/permission_overwrite.rs
  model/src/lib.rs
  model/src/template/guild.rs
  model/src/template/mod.rs
  model/src/template/role.rs
Labels: c-http, c-model, discord api, feature

#790 fix(model): repair test with new values
  model/src/template/mod.rs
Labels: c-model

#587 http: Add support for searching guild members by query
  http/src/client/mod.rs
  http/src/request/guild/member/mod.rs
  http/src/request/guild/member/search_guild_members.rs
  http/src/request/validate.rs
  http/src/routing.rs
Labels: c-http, discord api, feature

#758 Return updated member on guild member update request
  http/src/client/mod.rs
  http/src/request/guild/member/update_guild_member.rs
Labels: breaking change, c-http, discord api, feature

#774 feat(model): guild member update includes deaf, mute
  cache/in-memory/src/updates.rs
  model/src/gateway/payload/member_update.rs
Labels: c-model, discord api, enhancement

#765 Hide Lavalink's external dependencies
  lavalink/src/client.rs
  lavalink/src/node.rs
  lavalink/src/player.rs
Labels: breaking change, c-lavalink, enhancement

#789 gateway: Update metrics to v0.14
  gateway/Cargo.toml
  gateway/src/cluster/impl.rs
  gateway/src/shard/processor/inflater.rs
Labels: breaking change, c-gateway, enhancement

#742 Lavalink: Add methods to close and cleanup connections to Lavalink nodes
  lavalink/src/client.rs
  lavalink/src/node.rs
Labels: c-lavalink, enhancement

#793 models: Implement stage channels
  cache/in-memory/src/lib.rs
  cache/in-memory/src/updates.rs
  model/src/channel/mod.rs
  model/src/gateway/payload/voice_state_update.rs
  model/src/guild/mod.rs
  model/src/guild/permissions.rs
  model/src/voice/voice_state.rs
Labels: c-model, discord api, feature

#760 Move AllowedMentions to model, rework builder, update http methods
  http/examples/allowed-mentions/src/main.rs
  http/src/client/builder.rs
  http/src/client/mod.rs
  http/src/request/channel/allowed_mentions.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/mod.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  model/src/channel/message/allowed_mentions/builder.rs
  model/src/channel/message/allowed_mentions/mod.rs
  model/src/channel/message/mod.rs
  model/src/guild/role_tags.rs
  model/src/lib.rs
  model/src/util.rs
Labels: breaking change, c-http, c-model, refactor

#794 model: Add missing USE_SLASH_COMMANDS permission
  model/src/guild/permissions.rs
Labels: c-model, discord api, feature

#786 http, gateway: Update to simd-json 0.4
  .github/workflows/test.yml
  README.md
  cache/in-memory/README.md
  cache/in-memory/src/lib.rs
  command-parser/README.md
  command-parser/src/lib.rs
  embed-builder/README.md
  embed-builder/src/lib.rs
  gateway/Cargo.toml
  gateway/README.md
  gateway/src/lib.rs
  http/Cargo.toml
  http/README.md
  http/src/lib.rs
  lavalink/README.md
  lavalink/src/lib.rs
  mention/README.md
  mention/src/lib.rs
  model/README.md
  model/src/lib.rs
  standby/README.md
  standby/src/lib.rs
  twilight/src/lib.rs
  util/README.md
  util/src/lib.rs
Labels: breaking change, c-gateway, c-http

#792 feat(http): add guild welcome screen endpoints
  http/src/client/mod.rs
  http/src/request/guild/get_guild_welcome_screen.rs
  http/src/request/guild/mod.rs
  http/src/request/guild/update_guild_welcome_screen.rs
  http/src/routing.rs
Labels: c-http, discord api, feature

#785 chore: Replace futures-* with tokio where possible
  gateway/Cargo.toml
  gateway/queue/Cargo.toml
  gateway/queue/src/large_bot_queue.rs
  gateway/queue/src/lib.rs
  gateway/src/listener.rs
  gateway/src/shard/event.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/mod.rs
  gateway/src/shard/processor/emitter.rs
  gateway/src/shard/processor/heartbeat.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/session.rs
  gateway/src/shard/processor/socket_forwarder.rs
  gateway/src/shard/processor/throttle.rs
  gateway/src/shard/raw_message.rs
  gateway/src/shard/sink.rs
  http/Cargo.toml
  http/src/ratelimiting/bucket.rs
  http/src/ratelimiting/mod.rs
  lavalink/Cargo.toml
  lavalink/src/client.rs
  lavalink/src/node.rs
  standby/Cargo.toml
  standby/src/futures.rs
  standby/src/lib.rs
Labels: breaking change, c-gateway, c-gateway-queue, c-http, c-lavalink, c-standby

#767 Use custom HTTP Method enum instead of hyper's
  http/src/client/mod.rs
  http/src/request/mod.rs
  http/src/routing.rs
Labels: breaking change, c-http, enhancement
