Repository twilight-rs/twilight, pull requests merged in 2021-07, with the labels that each got.

#1000 chore(gateway,http): fix `disjoint_capture_migration` lint
  gateway/src/shard/processor/impl.rs
  http/src/ratelimiting/headers.rs
Labels: c-gateway, c-http, t-chore

#834 Add a permission calculator to the `util` crate
  README.md
  twilight/src/lib.rs
  util/Cargo.toml
  util/README.md
  util/src/lib.rs
  util/src/permission_calculator/bitops.rs
  util/src/permission_calculator/mod.rs
  util/src/permission_calculator/preset.rs
Labels: c-util, t-feature

#955 Add new stage error codes
  http/src/api_error.rs
Labels: c-http, discord api, f-stage-instances, t-enhancement

#961 `Webhook::{source_channel, source_guild}`
  model/src/channel/mod.rs
  model/src/channel/webhook/channel.rs
  model/src/channel/webhook/guild.rs
  model/src/channel/webhook/kind.rs
  model/src/channel/webhook/mod.rs
Labels: c-model, discord api, t-enhancement

#989 Cache: document remaining public items
  cache/in-memory/src/config.rs
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/emoji.rs
  cache/in-memory/src/model/guild.rs
  cache/in-memory/src/model/member.rs
  cache/in-memory/src/model/message.rs
  cache/in-memory/src/model/presence.rs
  cache/in-memory/src/model/voice_state.rs
Labels: c-cache, t-docs

#1005 Correctly format some HTTP application routes
  http/src/routing/route_display.rs
Labels: c-http, t-bugfix

#1006 Add 6 new HTTP API error codes
  http/src/api_error.rs
Labels: c-http, t-feature

#993 Invite: Stage Instance
  model/src/invite/mod.rs
  model/src/invite/stage_instance.rs
Labels: c-model, discord api, f-stage-instances, t-enhancement

#1011 Document the util `link` feature
  util/README.md
  util/src/lib.rs
Labels: c-util, t-docs

#1013 feat(http): add http route to get an original interaction response message
  http/src/client/mod.rs
  http/src/request/application/get_original_response.rs
  http/src/request/application/mod.rs
  http/src/routing/route.rs
  http/src/routing/route_display.rs
Labels: c-http, discord api, f-slash-commands, t-enhancement

#998 refactor!(model): reorganize threads into own module
  cache/in-memory/src/event/guild.rs
  model/src/channel/mod.rs
  model/src/channel/thread/auto_archive_duration.rs
  model/src/channel/thread/member.rs
  model/src/channel/thread/metadata.rs
  model/src/channel/thread/mod.rs
  model/src/channel/thread/news.rs
  model/src/channel/thread/private.rs
  model/src/channel/thread/public.rs
  model/src/gateway/payload/thread_list_sync.rs
  model/src/gateway/payload/thread_member_update.rs
  model/src/gateway/payload/thread_members_update.rs
Labels: breaking change, c-model, f-threads, t-refactor

#996 feat(http): thread error codes
  http/src/api_error.rs
Labels: c-http, discord api, f-threads, t-chore

#997 feat(model): `Permissions::MANAGE_THREADS`
  model/src/guild/permissions.rs
Labels: c-model, discord api, f-threads, t-chore

#995 feat(http): `ExecuteWebhook::thread_id`
  http/src/request/channel/webhook/execute_webhook.rs
Labels: c-http, discord api, f-threads, t-enhancement

#1012 Update minimum channel name length to 1 in all places
  http/src/client/mod.rs
  http/src/request/channel/update_channel.rs
  http/src/request/guild/create_guild/builder.rs
  http/src/request/guild/create_guild_channel.rs
  http/src/request/guild/update_guild.rs
  http/src/request/user/update_current_user.rs
Labels: c-http, t-docs, t-enhancement

#1015 feat(model): deserialize threads
  cache/in-memory/src/event/guild.rs
  model/src/channel/mod.rs
  model/src/channel/thread/news.rs
  model/src/channel/thread/private.rs
  model/src/channel/thread/public.rs
Labels: c-model, discord api, f-threads, t-enhancement

#1024 Update embed description limit to 4096
  embed-builder/src/builder.rs
  http/src/request/validate.rs
Labels: c-embed-builder, c-http, discord api, t-enhancement

#1023 Fix return type of `UpdateOriginalResponse`
  http/src/request/application/update_original_response.rs
Labels: breaking change, c-http, t-bugfix

#1021 Add concrete cluster events type
  gateway/src/cluster/builder.rs
  gateway/src/cluster/event.rs
  gateway/src/cluster/impl.rs
  gateway/src/cluster/mod.rs
  gateway/src/shard/event.rs
Labels: c-gateway, t-enhancement

#1026 Add tests for gateway inflater
  gateway/src/shard/processor/compression/inflater.rs
Labels: c-gateway, t-enhancement

#1019 feat(http): thread methods
  http/src/client/mod.rs
  http/src/request/audit_reason.rs
  http/src/request/channel/mod.rs
  http/src/request/channel/thread/add_thread_member.rs
  http/src/request/channel/thread/create_thread.rs
  http/src/request/channel/thread/create_thread_from_message.rs
  http/src/request/channel/thread/get_active_threads.rs
  http/src/request/channel/thread/get_joined_private_archived_threads.rs
  http/src/request/channel/thread/get_private_archived_threads.rs
  http/src/request/channel/thread/get_public_archived_threads.rs
  http/src/request/channel/thread/get_thread_members.rs
  http/src/request/channel/thread/join_thread.rs
  http/src/request/channel/thread/leave_thread.rs
  http/src/request/channel/thread/mod.rs
  http/src/request/channel/thread/remove_thread_member.rs
  http/src/request/channel/thread/update_thread.rs
  http/src/request/validate.rs
  http/src/routing/path.rs
  http/src/routing/route.rs
  http/src/routing/route_display.rs
  model/src/channel/thread/listing.rs
  model/src/channel/thread/mod.rs
Labels: c-http, discord api, f-threads, t-enhancement

#1025 Remove thread metadata `archiver_id` field
  cache/in-memory/src/event/guild.rs
  model/src/channel/mod.rs
  model/src/channel/thread/metadata.rs
  model/src/channel/thread/news.rs
  model/src/channel/thread/private.rs
  model/src/channel/thread/public.rs
Labels: breaking change, c-cache, c-model, f-threads, t-enhancement

#1027 feat(model/threads): use threads permissions
  model/src/guild/permissions.rs
Labels: c-model, f-threads, t-feature

#1022 Fully support guild audit logs
  http/src/request/guild/get_audit_log.rs
  model/Cargo.toml
  model/src/guild/audit_log/change.rs
  model/src/guild/audit_log/change_key.rs
  model/src/guild/audit_log/entry.rs
  model/src/guild/audit_log/event.rs
  model/src/guild/audit_log/event_type.rs
  model/src/guild/audit_log/integration.rs
  model/src/guild/audit_log/mod.rs
  model/src/guild/audit_log/optional_entry_info.rs
  model/src/guild/audit_log/partial_integration.rs
Labels: breaking change, c-http, c-model, t-feature

#874 Cache permission calculator integration
  cache/in-memory/Cargo.toml
  cache/in-memory/src/lib.rs
  cache/in-memory/src/permission.rs
  model/src/channel/mod.rs
Labels: c-cache, c-model, t-feature

#1029 feat(model): bring stickers up to date
  cache/in-memory/src/event/message.rs
  cache/in-memory/src/model/message.rs
  cache/in-memory/src/test.rs
  model/src/channel/message/mod.rs
  model/src/channel/message/sticker/message.rs
  model/src/channel/message/sticker/mod.rs
  standby/src/lib.rs
Labels: c-cache, c-model, c-standby, discord api, t-enhancement

#1020 Support message components
  cache/in-memory/src/event/message.rs
  cache/in-memory/src/test.rs
  http/src/request/application/create_followup_message.rs
  http/src/request/application/create_global_command.rs
  http/src/request/application/create_guild_command.rs
  http/src/request/application/mod.rs
  http/src/request/application/set_command_permissions.rs
  http/src/request/application/update_command_permissions.rs
  http/src/request/application/update_followup_message.rs
  http/src/request/application/update_original_response.rs
  http/src/request/channel/invite/create_invite.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/get_channel_messages.rs
  http/src/request/channel/message/get_channel_messages_configured.rs
  http/src/request/channel/message/mod.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/reaction/get_reactions.rs
  http/src/request/channel/stage/create_stage_instance.rs
  http/src/request/channel/stage/update_stage_instance.rs
  http/src/request/channel/update_channel.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/mod.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/request/guild/ban/create_ban.rs
  http/src/request/guild/create_guild/mod.rs
  http/src/request/guild/create_guild_channel.rs
  http/src/request/guild/create_guild_prune.rs
  http/src/request/guild/get_audit_log.rs
  http/src/request/guild/get_guild_prune_count.rs
  http/src/request/guild/member/add_guild_member.rs
  http/src/request/guild/member/get_guild_members.rs
  http/src/request/guild/member/search_guild_members.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/guild/update_guild.rs
  http/src/request/mod.rs
  http/src/request/template/create_guild_from_template.rs
  http/src/request/template/create_template.rs
  http/src/request/template/update_template.rs
  http/src/request/user/get_current_user_guilds.rs
  http/src/request/user/update_current_user.rs
  http/src/request/validate.rs
  model/src/application/callback/callback_data.rs
  model/src/application/callback/mod.rs
  model/src/application/callback/response_type.rs
  model/src/application/component/action_row.rs
  model/src/application/component/button.rs
  model/src/application/component/kind.rs
  model/src/application/component/mod.rs
  model/src/application/component/select_menu.rs
  model/src/application/interaction/interaction_type.rs
  model/src/application/interaction/message_component/data.rs
  model/src/application/interaction/message_component/mod.rs
  model/src/application/interaction/mod.rs
  model/src/application/mod.rs
  model/src/channel/attachment.rs
  model/src/channel/message/interaction.rs
  model/src/channel/message/mod.rs
  standby/src/lib.rs
Labels: c-cache, c-http, c-model, c-standby, discord api, t-feature

#1030 fix(model): deserialize `rtc_region`
  model/src/channel/mod.rs
Labels: c-model, discord api, t-bugfix

#1040 Fix typo, application => applications
  http/src/routing/route_display.rs
Labels: c-http, f-slash-commands, t-fix

#1038 Reduce allocations for gateway queue
  gateway/src/cluster/builder.rs
  gateway/src/cluster/config.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/config.rs
Labels: c-gateway, m-breaking change, t-enhancement

#1041 Add CI for spell checking and fix spelling mistakes
  .codespellrc
  .github/workflows/lint.yml
  CONTRIBUTING.md
  cache/in-memory/src/event/voice_state.rs
  gateway/examples/metrics/src/main.rs
  gateway/src/cluster/scheme.rs
  http/src/client/mod.rs
  http/src/request/application/create_global_command.rs
  http/src/request/application/create_guild_command.rs
  http/src/request/channel/message/delete_messages.rs
  http/src/request/guild/create_guild/builder.rs
  http/src/request/template/update_template.rs
  http/src/request/user/update_current_user.rs
  lavalink/src/client.rs
  lavalink/src/http.rs
  lavalink/src/node.rs
  model/src/application/interaction/mod.rs
  model/src/channel/reaction_type.rs
  model/src/gateway/payload/update_presence.rs
Labels: c-all, t-enhancement, t-github-actions

#1035 Fix private documentation intradoc links
  gateway/src/shard/emitter.rs
  http/src/request/validate.rs
  mention/src/parse/impl.rs
Labels: c-gateway, c-http, c-mention, t-docs

#1034 Deprecate singlular message setters
  http/src/request/application/create_followup_message.rs
  http/src/request/application/update_followup_message.rs
  http/src/request/application/update_original_response.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/update_webhook_message.rs
Labels: c-http, t-refactor

#1010 Make many HTTP functions constant
  http/src/client/mod.rs
  http/src/request/application/create_followup_message.rs
  http/src/request/application/create_global_command.rs
  http/src/request/application/create_guild_command.rs
  http/src/request/application/update_command_permissions.rs
  http/src/request/application/update_followup_message.rs
  http/src/request/application/update_global_command.rs
  http/src/request/application/update_guild_command.rs
  http/src/request/application/update_original_response.rs
  http/src/request/base.rs
  http/src/request/channel/follow_news_channel.rs
  http/src/request/channel/invite/create_invite.rs
  http/src/request/channel/invite/get_invite.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/get_channel_messages.rs
  http/src/request/channel/message/get_channel_messages_configured.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/reaction/get_reactions.rs
  http/src/request/channel/stage/create_stage_instance.rs
  http/src/request/channel/stage/update_stage_instance.rs
  http/src/request/channel/update_channel.rs
  http/src/request/channel/webhook/create_webhook.rs
  http/src/request/channel/webhook/delete_webhook.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/get_webhook.rs
  http/src/request/channel/webhook/update_webhook.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/request/channel/webhook/update_webhook_with_token.rs
  http/src/request/guild/ban/create_ban.rs
  http/src/request/guild/create_guild/builder.rs
  http/src/request/guild/create_guild/mod.rs
  http/src/request/guild/create_guild_channel.rs
  http/src/request/guild/create_guild_prune.rs
  http/src/request/guild/emoji/create_emoji.rs
  http/src/request/guild/emoji/update_emoji.rs
  http/src/request/guild/get_audit_log.rs
  http/src/request/guild/get_guild.rs
  http/src/request/guild/get_guild_prune_count.rs
  http/src/request/guild/member/add_guild_member.rs
  http/src/request/guild/member/get_guild_members.rs
  http/src/request/guild/member/search_guild_members.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/guild/role/create_role.rs
  http/src/request/guild/role/update_role.rs
  http/src/request/guild/update_guild.rs
  http/src/request/guild/update_guild_welcome_screen.rs
  http/src/request/guild/update_guild_widget.rs
  http/src/request/guild/user/update_current_user_voice_state.rs
  http/src/request/guild/user/update_user_voice_state.rs
  http/src/request/mod.rs
  http/src/request/template/create_guild_from_template.rs
  http/src/request/user/get_current_user_guilds.rs
  http/src/request/user/update_current_user.rs
  http/src/request/validate.rs
  http/src/response/mod.rs
Labels: c-http, t-enhancement

#1051 Fix empty body on update_channel
  http/src/request/channel/update_channel.rs
Labels: c-http, t-fix

#1042 Remove unsafe code in gateway
  cache/in-memory/src/lib.rs
  command-parser/src/lib.rs
  gateway/queue/src/lib.rs
  gateway/src/lib.rs
  gateway/src/shard/emitter.rs
  gateway/src/shard/json.rs
  gateway/src/shard/processor/compression/mod.rs
  gateway/src/shard/processor/impl.rs
  http/src/lib.rs
  lavalink/src/lib.rs
  model/src/lib.rs
  standby/src/lib.rs
Labels: c-all, t-refactor

#1032 Build docs with all features enabled
  .github/workflows/doc.yml
  .github/workflows/publish.yml
Labels: c-all, t-docs

#1049 Add `EventTypeFlags` categories for `Intents`
  gateway/src/event.rs
Labels: c-gateway, t-feature

#1043 Add author_id function to MessageComponent
  model/src/application/interaction/message_component/mod.rs
Labels: c-model, t-feature

#1054 fix(cache/in-memory): add method to retrieve hoisted role
  cache/in-memory/src/lib.rs
Labels: c-cache, t-fix

#1063 Update get_current_user_guilds limit to 200
  http/src/request/user/get_current_user_guilds.rs
  http/src/request/validate.rs
Labels: c-http, d-api, t-enhancement

#1065 Expose Invite Create payload's user
  model/src/gateway/payload/invite_create.rs
  model/src/gateway/payload/mod.rs
Labels: c-model, t-docs, t-enhancement

#1070 Fix gateway event streams never ending
  gateway/src/shard/impl.rs
Labels: c-gateway, m-breaking change, t-fix

#1037 Create, Set & Update commands return commands
  http/src/request/application/create_global_command.rs
  http/src/request/application/create_guild_command.rs
  http/src/request/application/set_global_commands.rs
  http/src/request/application/set_guild_commands.rs
  http/src/request/application/update_global_command.rs
  http/src/request/application/update_guild_command.rs
Labels: c-http, d-api, m-breaking change, t-enhancement

#1083 chore: fix 1.54 clippy
  cache/in-memory/src/event/interaction.rs
  cache/in-memory/src/lib.rs
  command-parser/src/arguments.rs
  command-parser/src/parser.rs
  gateway/src/lib.rs
  gateway/src/shard/processor/compression/inflater.rs
  http/src/client/mod.rs
  http/src/json.rs
  http/src/lib.rs
  http/src/ratelimiting/mod.rs
  http/src/request/application/create_followup_message.rs
  http/src/request/application/update_followup_message.rs
  http/src/request/application/update_original_response.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/reaction/mod.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/routing/route_display.rs
  model/src/channel/message/allowed_mentions/builder.rs
  model/src/lib.rs
  standby/src/lib.rs
Labels: c-all, t-chore
