Repository twilight-rs/twilight, pull requests merged in 2021-10, with the labels that each got.

#1146 Add a builder for CallbackData
  util/src/builder/callback_data.rs
  util/src/builder/mod.rs
  util/src/lib.rs
Labels: t-feature, c-model, f-application-commands

#1180 Add `channel_type` field in application commands
  model/src/application/command/mod.rs
  model/src/application/command/option.rs
  util/src/builder/command.rs
Labels: c-model, d-api, t-enhancement, f-application-commands

#1176 workflow updates
  .github/workflows/doc.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Labels: t-github-actions

#1181 chore: link to command builder where applicable
  http/src/client/mod.rs
  http/src/request/application/command/set_global_commands.rs
  http/src/request/application/command/set_guild_commands.rs
  model/README.md
  model/src/application/command/mod.rs
  model/src/lib.rs
  util/src/builder/command.rs
Labels: c-http, c-util, t-chore

#1185 chore: allow `clippy::let_unit_value`
  gateway/src/lib.rs
Labels: c-gateway, t-github-actions, t-chore

#1182 remove `vip` field from `VoiceRegion`
  model/src/voice/voice_region.rs
Labels: c-model, d-api, t-chore

#1217 refactor(model): improve `CommandDataOption` serde implementation
  model/src/application/interaction/application_command/data/mod.rs
  model/src/application/interaction/mod.rs
Labels: c-model, t-refactor

#1230 chore(model): Add `Command::version` field
  http/src/request/application/command/mod.rs
  model/src/application/command/mod.rs
  model/src/application/command/option.rs
  model/src/id.rs
  util/src/builder/command.rs
Labels: c-model, m-breaking change, d-api, t-chore

#1205 http: Fix template paths
  http-ratelimiting/src/request.rs
  http/src/routing/route.rs
Labels: c-http, m-breaking change, t-fix
