Repository twilight-rs/twilight, pull requests merged in 2021-06, with the labels that each got.

#821 Deprecate HTTP Result type
  http/src/client/mod.rs
  http/src/error.rs
  http/src/lib.rs
  http/src/request/base.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/request/mod.rs
Labels: c-http, refactor

#883 refactor: smoother impl of Mention on borrowed types
  mention/src/fmt.rs
Labels: c-mention, t-enhancement

#845 feat(cache,model): stage instance gateway events
  cache/in-memory/src/config.rs
  cache/in-memory/src/lib.rs
  cache/in-memory/src/updates.rs
  gateway/src/event.rs
  model/src/channel/stage_instance.rs
  model/src/gateway/event/dispatch.rs
  model/src/gateway/event/kind.rs
  model/src/gateway/event/mod.rs
  model/src/gateway/payload/mod.rs
  model/src/gateway/payload/stage_instance_create.rs
  model/src/gateway/payload/stage_instance_delete.rs
  model/src/gateway/payload/stage_instance_update.rs
  model/src/guild/mod.rs
  standby/src/lib.rs
Labels: c-cache, c-gateway, c-model, discord api, f-stage-instances, t-feature

#853 Remove shard connection message size limit
  gateway/src/shard/processor/impl.rs
Labels: c-gateway, t-bugfix

#854 Remove unused HTTP error variants
  http/src/error.rs
Labels: breaking change, c-http, t-refactor

#805 Threads: Implement model
  cache/in-memory/src/lib.rs
  cache/in-memory/src/updates.rs
  gateway/src/event.rs
  model/src/channel/auto_archive_duration.rs
  model/src/channel/channel_type.rs
  model/src/channel/message/flags.rs
  model/src/channel/message/kind.rs
  model/src/channel/message/mod.rs
  model/src/channel/mod.rs
  model/src/channel/news_thread.rs
  model/src/channel/private_thread.rs
  model/src/channel/public_thread.rs
  model/src/channel/thread_member.rs
  model/src/channel/thread_metadata.rs
  model/src/gateway/event/dispatch.rs
  model/src/gateway/event/kind.rs
  model/src/gateway/event/mod.rs
  model/src/gateway/payload/mod.rs
  model/src/gateway/payload/thread_create.rs
  model/src/gateway/payload/thread_delete.rs
  model/src/gateway/payload/thread_list_sync.rs
  model/src/gateway/payload/thread_member_update.rs
  model/src/gateway/payload/thread_members_update.rs
  model/src/gateway/payload/thread_update.rs
  model/src/guild/mod.rs
  model/src/lib.rs
  model/src/visitor.rs
  standby/src/lib.rs
Labels: c-http, c-model, discord api, f-threads, t-feature

#848 feat(cache,model): nsfw_level
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/guild.rs
  cache/in-memory/src/updates.rs
  model/src/gateway/event/gateway.rs
  model/src/guild/audit_log/change_key.rs
  model/src/guild/mod.rs
  model/src/guild/nsfw_level.rs
  model/src/guild/partial_guild.rs
Labels: c-cache, c-model, discord api, t-feature

#871 Remove Arcs from cache models
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/emoji.rs
  cache/in-memory/src/model/member.rs
  cache/in-memory/src/updates.rs
Labels: breaking change, c-cache, t-enhancement

#880 New fields for `update_guild_channel_positions`
  http/src/client/mod.rs
  http/src/request/guild/mod.rs
  http/src/request/guild/update_guild_channel_positions.rs
Labels: c-http, discord api, t-enhancement

#881 Add `Team::name`
  model/src/oauth/current_application_info.rs
  model/src/oauth/team/mod.rs
Labels: c-model, discord api, t-enhancement

#885 enhancement(http): Loosen channel name minimum length to one character
  http/src/request/validate.rs
Labels: c-http, discord api, t-enhancement

#886 enhancement(http): Implement JSON error code 20031
  http/src/api_error.rs
Labels: c-http, discord api, t-enhancement

#887 chore(model, cache): Deprecate guild region field
  cache/in-memory/src/model/guild.rs
  cache/in-memory/src/updates.rs
  model/src/guild/mod.rs
  model/src/guild/partial_guild.rs
  model/src/template/guild.rs
  model/src/template/mod.rs
Labels: c-cache, c-model, discord api, t-chore

#867 Stage Instances: Discovery Fields
  cache/in-memory/src/lib.rs
  http/src/request/channel/stage/create_stage_instance.rs
  http/src/request/channel/stage/update_stage_instance.rs
  model/src/channel/mod.rs
  model/src/channel/stage_instance/mod.rs
  model/src/channel/stage_instance/privacy_level.rs
Labels: c-http, c-model, discord api, f-stage-instances, t-enhancement

#872 Remove unnecessary cache allocations
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/presence.rs
  cache/in-memory/src/updates.rs
Labels: c-cache, t-enhancement

#893 Resolved member has no guild id
  model/src/application/interaction/application_command/data/resolved.rs
Labels: c-model, discord api, f-slash-commands, t-bugfix

#882 CurrentApplicationInfo: new keys
  model/src/oauth/current_application_info/flags.rs
  model/src/oauth/current_application_info/mod.rs
  model/src/oauth/mod.rs
Labels: c-model, discord api, t-enhancement

#890 Remove deprecated nsfw field
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/guild.rs
  cache/in-memory/src/updates.rs
  model/src/guild/mod.rs
  model/src/guild/partial_guild.rs
Labels: breaking change, c-cache, c-model, discord api, t-chore

#891 Activities is required when updating presence
  gateway/src/shard/builder.rs
  gateway/tests/test_shard_command_ratelimit.rs
  model/src/gateway/payload/update_status.rs
Labels: breaking change, c-gateway, c-model, discord api, t-chore

#896 Simplify gateway processor compression usage
  gateway/src/shard/json.rs
  gateway/src/shard/processor/compression/inflater.rs
  gateway/src/shard/processor/compression/mod.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/mod.rs
Labels: c-gateway, t-refactor

#895 UpdateStageInstance topic no longer required
  http/src/client/mod.rs
  http/src/request/channel/stage/update_stage_instance.rs
Labels: breaking change, c-http, discord api, f-stage-instances, t-bugfix

#904 fix(model): Make CurrentApplicationInfo::flags optional
  model/src/oauth/current_application_info/mod.rs
Labels: c-model, t-bugfix

#897 Fix private gateway documentation anchors
  gateway/src/shard/json.rs
  gateway/src/shard/processor/impl.rs
Labels: c-gateway, t-docs

#866 Slash Commands: Cache Updates
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/member.rs
  cache/in-memory/src/updates.rs
Labels: breaking change, c-cache, discord api, f-slash-commands, t-feature

#909 Remove direct HTTP `bytes` dependency
  http/Cargo.toml
  http/src/client/mod.rs
  http/src/request/guild/member/get_guild_members.rs
  http/src/request/guild/member/search_guild_members.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/mod.rs
Labels: c-http, t-enhancement

#910 Make HTTP `tracing` dependency optional
  http/Cargo.toml
  http/README.md
  http/src/client/mod.rs
  http/src/lib.rs
  http/src/ratelimiting/bucket.rs
  http/src/ratelimiting/mod.rs
Labels: breaking change, c-http, t-enhancement

#911 Remove unused HTTP `native-tls` dependency
  http/Cargo.toml
Labels: c-http, t-enhancement

#912 Remove HTTP `futures-util` dependency
  http/Cargo.toml
  http/src/request/channel/webhook/execute_webhook.rs
Labels: c-http, t-enhancement

#920 Remove HTTP `serde_repr` dependency
  http/Cargo.toml
Labels: c-http, t-enhancement

#921 Update member & user on message_create in a more obvious way
  cache/in-memory/src/updates.rs
Labels: c-cache, t-enhancement

#907 Stage Instance audit log events
  model/src/guild/audit_log/change_key.rs
  model/src/guild/audit_log/event.rs
Labels: c-model, discord api, f-stage-instances, t-enhancement

#908 Webhook::application_id
  model/src/channel/webhook.rs
Labels: c-model, discord api, t-chore

#914 Guild Integration Events
  cache/in-memory/src/config.rs
  cache/in-memory/src/lib.rs
  cache/in-memory/src/updates.rs
  gateway/src/event.rs
  model/src/gateway/event/dispatch.rs
  model/src/gateway/event/kind.rs
  model/src/gateway/event/mod.rs
  model/src/gateway/payload/integration_create.rs
  model/src/gateway/payload/integration_delete.rs
  model/src/gateway/payload/integration_update.rs
  model/src/gateway/payload/mod.rs
  model/src/guild/integration.rs
  standby/src/lib.rs
Labels: c-cache, c-gateway, c-model, c-standby, discord api, t-feature

#918 Add new API error codes
  http/src/api_error.rs
Labels: c-http, discord api, t-chore

#898 Update forgotten error types
  http/src/client/mod.rs
  http/src/request/guild/member/search_guild_members.rs
  http/src/request/template/create_guild_from_template.rs
  http/src/request/template/create_template.rs
  http/src/request/template/update_template.rs
Labels: breaking change, c-http, t-bugfix

#900 Remove arcs from cache
  cache/in-memory/src/lib.rs
  cache/in-memory/src/updates.rs
Labels: breaking change, c-cache, t-enhancement

#902 Rename `UpdateStatus` to `UpdatePresence`
  gateway/src/cluster/builder.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/config.rs
  gateway/tests/test_shard_command_ratelimit.rs
  model/src/gateway/event/gateway.rs
  model/src/gateway/opcode.rs
  model/src/gateway/payload/identify.rs
  model/src/gateway/payload/mod.rs
  model/src/gateway/payload/update_presence.rs
Labels: breaking change, c-gateway, c-model, discord api, t-chore

#905 Slash Commands: validate permission overwrite count
  http/src/client/mod.rs
  http/src/request/application/mod.rs
  http/src/request/application/set_command_permissions.rs
  http/src/request/application/update_command_permissions.rs
  http/src/request/validate.rs
Labels: breaking change, c-http, discord api, f-slash-commands, t-chore

#915 Slash Commands: permission routes return types
  http/src/request/application/set_command_permissions.rs
  http/src/request/application/update_command_permissions.rs
Labels: breaking change, c-http, discord api, f-slash-commands, t-chore

#899 project: bring CONTRIBUTING.md up to current conventions
  CONTRIBUTING.md
Labels: c-all

#934 Fix clippy error in tests
  cache/in-memory/src/updates.rs
Labels: c-cache, t-chore

#941 Fix 1.53 Clippy lints
  embed-builder/src/builder.rs
  http/src/ratelimiting/bucket.rs
  http/src/routing.rs
Labels: c-embed-builder, c-http, t-chore

#936 Make `CreateStageInstance` work
  http/src/request/channel/stage/create_stage_instance.rs
  http/src/routing.rs
Labels: c-http, f-stage-instances, t-bugfix

#939 Add Unpin + Send + Sync + 'static to the event stream
  gateway/src/cluster/builder.rs
  gateway/src/cluster/impl.rs
Labels: c-gateway, t-enhancement

#942 Improve `twilight_mention::fmt` performance by ~10%
  mention/Cargo.toml
  mention/benches/fmt.rs
  mention/src/fmt.rs
Labels: c-mention, t-refactor

#938 Cache: Refactor
  cache/in-memory/src/event/channel.rs
  cache/in-memory/src/event/emoji.rs
  cache/in-memory/src/event/guild.rs
  cache/in-memory/src/event/integration.rs
  cache/in-memory/src/event/interaction.rs
  cache/in-memory/src/event/member.rs
  cache/in-memory/src/event/message.rs
  cache/in-memory/src/event/mod.rs
  cache/in-memory/src/event/presence.rs
  cache/in-memory/src/event/reaction.rs
  cache/in-memory/src/event/role.rs
  cache/in-memory/src/event/stage_instance.rs
  cache/in-memory/src/event/voice_state.rs
  cache/in-memory/src/lib.rs
  cache/in-memory/src/test.rs
  cache/in-memory/src/updates.rs
Labels: c-cache, t-refactor

#950 Implement Snowflake trait for new ID types
  util/src/snowflake.rs
Labels: c-util, t-feature

#946 Remove unnecessary doc test bounds
  gateway/src/cluster/impl.rs
  gateway/src/cluster/mod.rs
  gateway/src/shard/impl.rs
  http/src/client/mod.rs
  http/src/request/channel/get_channel.rs
  http/src/request/channel/invite/create_invite.rs
  http/src/request/channel/invite/get_invite.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/get_channel_messages.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/reaction/create_reaction.rs
  http/src/request/channel/update_channel_permission.rs
  http/src/request/get_gateway.rs
  http/src/request/guild/ban/create_ban.rs
  http/src/request/guild/ban/delete_ban.rs
  http/src/request/guild/ban/get_bans.rs
  http/src/request/guild/emoji/get_emoji.rs
  http/src/request/guild/emoji/get_emojis.rs
  http/src/request/guild/member/add_role_to_member.rs
  http/src/request/guild/member/get_guild_members.rs
  http/src/request/guild/member/search_guild_members.rs
  http/src/request/user/get_current_user_guilds.rs
Labels: c-gateway, c-http, t-docs, t-refactor

#945 Support message Markdown timestamps
  mention/src/fmt.rs
  mention/src/lib.rs
  mention/src/parse/error.rs
  mention/src/parse/impl.rs
  mention/src/parse/iter.rs
  mention/src/parse/mod.rs
  mention/src/timestamp.rs
Labels: c-mention, t-feature

#959 Add missing `Send` bound on `Cluster` methods
  gateway/src/cluster/builder.rs
  gateway/src/cluster/impl.rs
Labels: c-gateway, t-bugfix

#953 Move accessor methods back to root `impl` block
  cache/in-memory/src/event/channel.rs
  cache/in-memory/src/event/emoji.rs
  cache/in-memory/src/event/guild.rs
  cache/in-memory/src/event/member.rs
  cache/in-memory/src/event/message.rs
  cache/in-memory/src/event/mod.rs
  cache/in-memory/src/event/presence.rs
  cache/in-memory/src/event/role.rs
  cache/in-memory/src/event/stage_instance.rs
  cache/in-memory/src/event/voice_state.rs
  cache/in-memory/src/lib.rs
Labels: c-cache, t-refactor

#986 Make Gateway `tracing` dependency optional
  gateway/Cargo.toml
  gateway/README.md
  gateway/src/lib.rs
  gateway/src/shard/emitter.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/json.rs
  gateway/src/shard/processor/compression/inflater.rs
  gateway/src/shard/processor/compression/mod.rs
  gateway/src/shard/processor/heartbeat.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/socket_forwarder.rs
Labels: breaking change, c-gateway, t-enhancement

#985 Make Standby `tracing` dependency optional
  standby/Cargo.toml
  standby/README.md
  standby/src/lib.rs
Labels: breaking change, c-standby, t-enhancement

#960 Remove tracing, serde `rc` feature from cache
  cache/in-memory/Cargo.toml
Labels: c-cache, t-enhancement

#956 Rename error code 20031
  http/src/api_error.rs
Labels: breaking change, c-http, discord api, f-stage-instances, t-bugfix

#962 Split `Route::into_parts` into separate methods
  http/src/request/base.rs
  http/src/routing.rs
  http/src/routing/mod.rs
  http/src/routing/path.rs
  http/src/routing/route.rs
  http/src/routing/route_display.rs
Labels: c-http, t-enhancement

#965 Only tick shard ratelimiter on successful sends
  gateway/src/shard/impl.rs
Labels: c-gateway, t-bugfix

#944 Use Formatter calls over `write!`
  CONTRIBUTING.md
  embed-builder/src/builder.rs
  gateway/src/cluster/impl.rs
  gateway/src/cluster/scheme.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/emitter.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/stage.rs
  http/src/api_error.rs
  http/src/error.rs
  http/src/ratelimiting/error.rs
  http/src/request/application/update_followup_message.rs
  http/src/request/application/update_original_response.rs
  http/src/request/audit_reason.rs
  http/src/request/channel/stage/update_stage_instance.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/request/guild/create_guild/builder.rs
  http/src/request/validate.rs
  lavalink/src/node.rs
  mention/benches/fmt.rs
  mention/src/parse/error.rs
  model/src/application/interaction/interaction_type.rs
  model/src/channel/message/sticker/kind.rs
  model/src/channel/mod.rs
  model/src/gateway/close_code.rs
  model/src/gateway/event/mod.rs
  model/src/gateway/payload/request_guild_members.rs
  model/src/voice/close_code.rs
Labels: c-http, c-lavalink, c-model, t-refactor

#966 Rename audit log event variant `GuildCreate` to `GuildUpdate`
  model/src/guild/audit_log/event.rs
Labels: breaking change, c-model, t-bugfix

#947 Use `NullableField` enum for `Option<Option<T>>` representations
  http/src/request/application/update_followup_message.rs
  http/src/request/application/update_original_response.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/update_channel.rs
  http/src/request/channel/webhook/update_webhook.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/request/channel/webhook/update_webhook_with_token.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/guild/role/update_role.rs
  http/src/request/guild/update_guild.rs
  http/src/request/guild/update_guild_widget.rs
  http/src/request/guild/user/update_current_user_voice_state.rs
  http/src/request/mod.rs
  http/src/request/user/update_current_user.rs
Labels: c-http, t-refactor

#948 Fix non-idiomatic usage of self in HTTP crate
  http/src/request/guild/update_guild_welcome_screen.rs
  http/src/request/guild/user/update_current_user_voice_state.rs
Labels: c-http, t-refactor

#952 Properly insert new roles on RoleCreate
  cache/in-memory/src/event/role.rs
Labels: c-cache, t-bugfix

#957 `Webhook::url`
  model/src/channel/webhook.rs
Labels: c-model, discord api, t-enhancement

#958 Make `ReactionRemoveEmoji::emoji` a `ReactionType`
  cache/in-memory/src/event/reaction.rs
  model/src/gateway/payload/reaction_remove_emoji.rs
Labels: breaking change, c-cache, c-model, discord api, t-bugfix

#964 Emit disconnects on shard self close
  gateway/src/shard/processor/impl.rs
Labels: c-gateway, t-bugfix

#963 Support creating raw HTTP requests
  http/src/request/base.rs
Labels: c-http, t-feature

#967 Add HTTP reaction display formatter
  http/src/request/channel/reaction/create_reaction.rs
  http/src/request/channel/reaction/delete_all_reaction.rs
  http/src/request/channel/reaction/delete_reaction.rs
  http/src/request/channel/reaction/get_reactions.rs
  http/src/request/channel/reaction/mod.rs
Labels: c-http, t-feature

#988 Standby: Promote `missing_docs` to `deny`
  standby/src/lib.rs
Labels: c-standby, t-docs

#994 feat(http): Don't allocate without simd feature
  http/src/client/mod.rs
  http/src/json.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/guild/get_guild_vanity_url.rs
  http/src/request/guild/member/add_guild_member.rs
  http/src/request/guild/member/get_guild_members.rs
  http/src/request/guild/member/get_member.rs
  http/src/request/guild/member/search_guild_members.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/mod.rs
Labels: c-http, t-enhancement

#949 Correctly set nickname in `UpdateGuildMember` request
  http/src/request/guild/member/update_guild_member.rs
Labels: c-http, t-bugfix

#987 Set multiple embeds in `CreateMessage` and `UpdateMessage`
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/update_message.rs
Labels: c-http, discord api, t-enhancement
