Repository twilight-rs/twilight, pull requests merged in 2021-11, with the labels that each got.

#1219 enhancement(model): Add `UserId` getter to`UserOrId`
  cache/in-memory/src/event/presence.rs
  cache/in-memory/src/model/presence.rs
  model/src/gateway/presence/mod.rs
Labels: c-model, t-enhancement

#1243 chore: move examples to central location
  Cargo.toml
  examples/gateway-cluster/Cargo.toml
  examples/gateway-cluster/src/main.rs
  examples/gateway-intents/Cargo.toml
  examples/gateway-intents/src/main.rs
  examples/gateway-metrics/Cargo.toml
  examples/gateway-metrics/src/main.rs
  examples/gateway-request-members/Cargo.toml
  examples/gateway-request-members/src/main.rs
  examples/gateway-shard/Cargo.toml
  examples/gateway-shard/src/main.rs
  examples/http-allowed-mentions/Cargo.toml
  examples/http-allowed-mentions/src/main.rs
  examples/http-get-message/Cargo.toml
  examples/http-get-message/src/main.rs
  examples/http-proxy/Cargo.toml
  examples/http-proxy/src/main.rs
  examples/lavalink-basic-bot/Cargo.toml
  examples/lavalink-basic-bot/src/main.rs
  gateway/README.md
  gateway/src/lib.rs
  http/README.md
  http/src/lib.rs
  lavalink/README.md
  lavalink/src/lib.rs
Labels: c-http, c-gateway, c-lavalink, t-chore

#1235 feat(model/interactions)!: add min_value and max_value on slash command options
  model/src/application/command/mod.rs
  model/src/application/command/option.rs
  util/src/builder/command.rs
Labels: c-model, d-api, t-enhancement, c-util, d-breaking

#1248 fix(lavalink): reconfigure default features
  lavalink/Cargo.toml
  lavalink/src/lib.rs
Labels: t-fix, c-lavalink

#1229 chore(model): `START_EMBEDDED_ACTIVITIES` permission
  model/src/guild/permissions.rs
Labels: c-model, d-api, t-chore

#1234 fix(model/interaction): don't serialize optional values
  model/src/application/interaction/application_command/data/mod.rs
  model/src/application/interaction/application_command/mod.rs
Labels: c-model, t-fix

#1247 fix!(model): move `InviteMetadata` fields to `Invite`
  model/src/invite/metadata.rs
  model/src/invite/mod.rs
Labels: c-model, d-api, t-fix

#1252 feat(cache,model): guild avatars
  cache/in-memory/src/event/interaction.rs
  cache/in-memory/src/event/member.rs
  cache/in-memory/src/event/message.rs
  cache/in-memory/src/event/voice_state.rs
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/member.rs
  cache/in-memory/src/permission.rs
  cache/in-memory/src/test.rs
  model/src/application/interaction/application_command/data/resolved.rs
  model/src/application/interaction/message_component/mod.rs
  model/src/application/interaction/mod.rs
  model/src/channel/message/mention.rs
  model/src/channel/message/mod.rs
  model/src/channel/reaction.rs
  model/src/gateway/payload/incoming/member_add.rs
  model/src/gateway/payload/incoming/member_chunk.rs
  model/src/gateway/payload/incoming/member_update.rs
  model/src/gateway/payload/incoming/typing_start.rs
  model/src/gateway/payload/incoming/voice_state_update.rs
  model/src/guild/member.rs
  model/src/guild/partial_member.rs
  model/src/voice/voice_state.rs
Labels: c-cache, c-model, d-api, t-enhancement

#1257 refactor(http): remove internal prelude
  http/src/client/mod.rs
  http/src/request/mod.rs
  http/src/request/prelude.rs
Labels: c-http, t-refactor

#1254 feat: tarpaulin coverage action
  .github/workflows/test.yml
  README.md
  cache/in-memory/README.md
  cache/in-memory/src/lib.rs
  command-parser/README.md
  command-parser/src/lib.rs
  embed-builder/README.md
  embed-builder/src/lib.rs
  gateway/README.md
  gateway/src/lib.rs
  http/README.md
  http/src/lib.rs
  lavalink/README.md
  lavalink/src/lib.rs
  mention/README.md
  mention/src/lib.rs
  model/README.md
  model/src/lib.rs
  standby/README.md
  standby/src/lib.rs
  twilight/src/lib.rs
  util/README.md
  util/src/lib.rs
Labels: t-github-actions

#1246 chore(examples): fold in webhook-slash
  examples/model-webhook-slash/Cargo.toml
  examples/model-webhook-slash/src/main.rs
Labels: c-model, t-chore

#1240 fix(model): account for the `type` of `CommandDataOption` in deserialization
  model/src/application/interaction/application_command/data/mod.rs
  model/src/application/interaction/mod.rs
Labels: c-model, t-fix

#1265 fix(http): readd and deprecate prelude
  http/src/request/mod.rs
  http/src/request/prelude.rs
Labels: c-http, t-fix

#1233 chore(util/builder): `CommandBuilder` remove unnecessary options
  util/src/builder/command.rs
Labels: m-breaking change, c-util, t-chore

#1267 chore(model): add 2 application flags
  model/src/oauth/current_application_info/flags.rs
Labels: c-model, d-api, t-chore

#1269 chore(model): new system channel flag
  model/src/guild/system_channel_flags.rs
Labels: c-model, d-api, t-chore

#1268 chore(model): update user flags
  cache/in-memory/src/model/sticker.rs
  model/src/application/interaction/application_command/data/resolved.rs
  model/src/channel/message/sticker/mod.rs
  model/src/gateway/payload/incoming/member_chunk.rs
  model/src/user/current_user.rs
  model/src/user/flags.rs
  model/src/user/mod.rs
  model/src/user/profile.rs
Labels: c-model, d-api, t-chore

#1220 enhancement(model): make `Member::joined_at` required
  cache/in-memory/src/event/interaction.rs
  cache/in-memory/src/event/member.rs
  cache/in-memory/src/event/message.rs
  cache/in-memory/src/event/voice_state.rs
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/member.rs
  cache/in-memory/src/test.rs
  model/src/application/interaction/application_command/data/resolved.rs
  model/src/application/interaction/message_component/mod.rs
  model/src/application/interaction/mod.rs
  model/src/channel/message/mention.rs
  model/src/channel/message/mod.rs
  model/src/channel/reaction.rs
  model/src/gateway/payload/incoming/member_add.rs
  model/src/gateway/payload/incoming/member_chunk.rs
  model/src/gateway/payload/incoming/typing_start.rs
  model/src/gateway/payload/incoming/voice_state_update.rs
  model/src/guild/member.rs
  model/src/guild/partial_member.rs
  model/src/voice/voice_state.rs
Labels: c-model, m-breaking change, t-enhancement

#1258 feat(http): add `GetThreadMember`
  http/src/client/mod.rs
  http/src/request/channel/thread/get_thread_member.rs
  http/src/request/channel/thread/mod.rs
  http/src/routing/route.rs
  http/src/routing/route_display.rs
Labels: t-feature, c-http, d-api, f-threads

#1259 fix(cache,gateway-queue): add missing sync-readme checks
  .github/workflows/doc.yml
  cache/in-memory/README.md
  gateway-queue/README.md
Labels: c-cache, t-fix, c-gateway-queue

#1273 chore(http)!: remove prelude
  http/src/request/mod.rs
  http/src/request/prelude.rs
Labels: c-http, m-breaking change, t-chore

#1274 chore(model)!: remove deprecated user flags
  model/src/user/flags.rs
Labels: c-model, m-breaking change, t-chore

#1256 chore(http)!: demote `auto_archive_duration` to optional when creating a thread
  http/src/client/mod.rs
  http/src/request/channel/thread/create_thread.rs
  http/src/request/channel/thread/create_thread_from_message.rs
Labels: c-http, d-api, t-chore, d-breaking

#1080 Adding cargo toml dependencies to readme example
  README.md
  twilight/src/lib.rs
Labels: c-all, t-chore

#1277 chore(gh-actions): check minver deps
  .github/workflows/lint.yml
  model/Cargo.toml
Labels: t-github-actions

#1228 feat(model): `ApplicationCommand` autocomplete
  model/src/application/callback/callback_data.rs
  model/src/application/callback/mod.rs
  model/src/application/callback/response_type.rs
  model/src/application/command/option.rs
  model/src/application/interaction/application_command/data/mod.rs
  model/src/application/interaction/interaction_type.rs
  model/src/application/interaction/mod.rs
  util/src/builder/command.rs
Labels: t-feature, c-model, m-breaking change, d-api, c-util, d-breaking

#1272 fix(model): serialize correct order & serde typo
  model/src/application/command/option.rs
Labels: c-model, t-fix

#1281 Fix error example so that it compiles
  CONTRIBUTING.md
Labels: t-fix, c-all

#1160 Expose results of processing Standby events
  standby/src/lib.rs
Labels: t-feature, c-standby

#1263 fix(http-ratelimiting): Webhook token is major parameter
  http-ratelimiting/src/request.rs
  http/src/routing/route.rs
Labels: c-http, t-fix

#1278 enhancement(cache): joined_at required
  cache/in-memory/src/model/member.rs
Labels: c-cache, m-breaking change, t-enhancement

#1279 fix(cache): use normal partialeq impl
  cache/in-memory/src/event/member.rs
  cache/in-memory/src/model/member.rs
Labels: c-cache, m-breaking change, t-fix

#1253 feat(http): add `UpdateCurrentMember`
  http/src/client/mod.rs
  http/src/request/audit_reason.rs
  http/src/request/guild/mod.rs
  http/src/request/guild/update_current_member.rs
  http/src/routing/route.rs
  http/src/routing/route_display.rs
Labels: t-feature, c-http, d-api

#1264 Deserialize thread member by injecting the guild id
  model/src/channel/thread/member.rs
  model/src/channel/thread/mod.rs
  model/src/gateway/payload/incoming/thread_members_update.rs
  model/src/gateway/presence/mod.rs
  model/src/guild/member.rs
Labels: c-model, t-fix

#1289 deprecate: avatar_url & username from CreateFollowupMessage
  http/src/request/application/interaction/create_followup_message.rs
Labels: c-http, d-api, t-enhancement

#1206 Bring multiple attachments up to date.
  http/src/request/application/interaction/create_followup_message.rs
  http/src/request/application/interaction/update_followup_message.rs
  http/src/request/application/interaction/update_original_response.rs
  http/src/request/attachment.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/execute_webhook_and_wait.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/request/mod.rs
  http/src/request/multipart.rs
  model/src/channel/attachment.rs
Labels: c-http, c-model, d-api

#1255 fix(gateway)!: large threshold default is 50
  gateway/src/shard/builder.rs
Labels: t-docs, c-gateway, m-breaking change, d-api

#1293 chore(ci): improve min-vers
  .github/workflows/lint.yml
Labels: t-github-actions

#1285 ci: refactor actions into one file
  .github/workflows/check-lib.yml
  .github/workflows/deploy-lib.yml
  .github/workflows/doc.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: t-github-actions

#1284 fix(model/audit-log)!: mark some old fields optional
  model/src/guild/audit_log/change.rs
Labels: c-model, m-breaking change, d-api, t-fix
