Repository twilight-rs/twilight, pull requests merged in 2021-03, with the labels that each got.

#719 Add allowed mentions builder to `ExecuteWebhook`
  http/src/request/channel/allowed_mentions.rs
  http/src/request/channel/webhook/execute_webhook.rs
Labels: bugfix, c-http, discord api

#725 Don't omit activities field of `UpdateStatusInfo` if None
  model/src/gateway/payload/update_status.rs
Labels: bugfix, discord api

#728 Fixes #726: Adds mutable volume and channel IDs for players
  lavalink/src/client.rs
  lavalink/src/player.rs
Labels: c-lavalink

#724 Remove `lazy` field from `Guild`
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/guild.rs
  cache/in-memory/src/updates.rs
  model/src/guild/mod.rs
Labels: breaking change, c-cache, c-model, discord api

#731 v0.4 Lavalink: Remove unnecessary async.
  lavalink/src/node.rs
Labels: breaking change, c-lavalink

#730 Remove the limit on frame size on the websocket
  gateway/src/shard/processor/impl.rs
Labels: bugfix, c-gateway

#735 Remove MentionFormat re-export
  mention/src/lib.rs
Labels: breaking change, c-mention, refactor

#740 ci(clippy): fix rust 1.51 clippy lints
  cache/in-memory/src/lib.rs
  http/src/api_error.rs
  http/src/request/channel/allowed_mentions.rs
  model/src/gateway/payload/member_chunk.rs
  model/src/gateway/presence/mod.rs
Labels: c-cache, c-http, c-mention, github actions

#738 chore: Add a beta clippy CI
  .github/workflows/lint.yml
Labels: github actions

#737 fix(http): Set request headers & default headers after content headers
  http/src/client/mod.rs
Labels: bugfix, c-http

#698 Add gateway shard scheme bucket variant
  gateway/src/cluster/builder.rs
  gateway/src/cluster/config.rs
  gateway/src/cluster/impl.rs
  gateway/src/cluster/mod.rs
  gateway/src/cluster/scheme.rs
Labels: c-gateway, discord api, feature

#745 Fix beta Clippy CI errors
  cache/in-memory/src/lib.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/inflater.rs
  gateway/src/shard/processor/socket_forwarder.rs
  http/src/client/mod.rs
  http/src/request/channel/reaction/get_reactions.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/request/guild/create_guild/builder.rs
  http/src/request/guild/get_guild_vanity_url.rs
  http/src/request/guild/member/update_guild_member.rs
  model/src/channel/mod.rs
  model/src/channel/text_channel.rs
  model/src/channel/voice_channel.rs
  model/src/guild/mod.rs
Labels: c-cache, c-gateway, c-http, c-model, github actions
