Repository twilight-rs/twilight, pull requests merged in 2021-09, with the labels that each got.

#1107 feat(http,model): message/user commands + other updates
  cache/in-memory/src/event/interaction.rs
  http/src/client/mod.rs
  http/src/request/application/command/create_global_command/chat_input.rs
  http/src/request/application/command/create_global_command/message.rs
  http/src/request/application/command/create_global_command/mod.rs
  http/src/request/application/command/create_global_command/user.rs
  http/src/request/application/command/create_guild_command/chat_input.rs
  http/src/request/application/command/create_guild_command/message.rs
  http/src/request/application/command/create_guild_command/mod.rs
  http/src/request/application/command/create_guild_command/user.rs
  http/src/request/application/command/delete_global_command.rs
  http/src/request/application/command/delete_guild_command.rs
  http/src/request/application/command/get_command_permissions.rs
  http/src/request/application/command/get_global_command.rs
  http/src/request/application/command/get_global_commands.rs
  http/src/request/application/command/get_guild_command.rs
  http/src/request/application/command/get_guild_command_permissions.rs
  http/src/request/application/command/get_guild_commands.rs
  http/src/request/application/command/mod.rs
  http/src/request/application/command/set_command_permissions.rs
  http/src/request/application/command/set_global_commands.rs
  http/src/request/application/command/set_guild_commands.rs
  http/src/request/application/command/update_command_permissions.rs
  http/src/request/application/command/update_global_command.rs
  http/src/request/application/command/update_guild_command.rs
  http/src/request/application/interaction/create_followup_message.rs
  http/src/request/application/interaction/delete_followup_message.rs
  http/src/request/application/interaction/delete_original_response.rs
  http/src/request/application/interaction/get_original_response.rs
  http/src/request/application/interaction/interaction_callback.rs
  http/src/request/application/interaction/mod.rs
  http/src/request/application/interaction/update_followup_message.rs
  http/src/request/application/interaction/update_original_response.rs
  http/src/request/application/mod.rs
  http/src/request/validate.rs
  http/src/routing/route.rs
  http/src/routing/route_display.rs
  model/src/application/callback/mod.rs
  model/src/application/command/command_type.rs
  model/src/application/command/mod.rs
  model/src/application/command/option.rs
  model/src/application/interaction/application_command/data/mod.rs
  model/src/application/interaction/application_command/data/resolved.rs
  model/src/application/interaction/interaction_type.rs
  model/src/application/interaction/mod.rs
  model/src/channel/message/kind.rs
Labels: c-http, c-model, d-api, f-application-commands

#1112 Model: Do not error if options is missing
  model/src/application/command/option.rs
Labels: c-model, t-fix

#1145 docs(util/snowflake): use time 0.3 in timestamp example
  util/Cargo.toml
  util/src/snowflake.rs
Labels: t-docs, c-util

#1151 Improve CI cache
  .github/workflows/doc.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Labels: t-github-actions, c-all

#1130 Support setting identify properties in gateway
  gateway/src/cluster/builder.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/config.rs
  gateway/src/shard/processor/impl.rs
Labels: t-feature, c-gateway

#1143 Allow `clippy::unnecessary_wraps` lint in gateway compression
  gateway/src/shard/processor/compression/mod.rs
Labels: c-gateway, t-chore

#1144 refactor(cache/in-memory): separate user relations
  cache/in-memory/src/event/member.rs
  cache/in-memory/src/event/message.rs
  cache/in-memory/src/event/mod.rs
  cache/in-memory/src/event/voice_state.rs
  cache/in-memory/src/lib.rs
Labels: c-cache, t-refactor

#1158 chore: fix nightly build
  gateway/src/shard/processor/impl.rs
  lavalink/src/client.rs
Labels: c-gateway, c-lavalink, t-chore

#1127 Add user `accent_color` and `banner` fields
  cache/in-memory/src/event/interaction.rs
  cache/in-memory/src/event/message.rs
  cache/in-memory/src/event/voice_state.rs
  cache/in-memory/src/model/member.rs
  cache/in-memory/src/test.rs
  model/src/application/interaction/application_command/data/resolved.rs
  model/src/application/interaction/message_component/mod.rs
  model/src/application/interaction/mod.rs
  model/src/channel/message/mod.rs
  model/src/channel/message/sticker/mod.rs
  model/src/channel/reaction.rs
  model/src/channel/webhook/mod.rs
  model/src/gateway/payload/member_add.rs
  model/src/gateway/payload/member_chunk.rs
  model/src/gateway/payload/member_update.rs
  model/src/gateway/payload/ready.rs
  model/src/gateway/payload/typing_start.rs
  model/src/gateway/payload/voice_state_update.rs
  model/src/guild/ban.rs
  model/src/guild/emoji.rs
  model/src/guild/integration.rs
  model/src/guild/integration_application.rs
  model/src/guild/member.rs
  model/src/invite/mod.rs
  model/src/oauth/current_application_info/mod.rs
  model/src/oauth/team/member.rs
  model/src/template/mod.rs
  model/src/user/current_user.rs
  model/src/user/mod.rs
  model/src/user/profile.rs
  model/src/voice/voice_state.rs
  standby/src/lib.rs
Labels: t-feature, c-cache, c-model, d-api, c-standby

#1133 Add HTTP Get Followup Message request
  http/src/client/mod.rs
  http/src/request/application/interaction/get_followup_message.rs
  http/src/request/application/interaction/mod.rs
  http/src/routing/route.rs
  http/src/routing/route_display.rs
Labels: t-feature, c-http, d-api

#1163 Update thread permissions to include changes
  model/src/guild/permissions.rs
Labels: c-model

#1104 feat(http): Add decompression support
  http/Cargo.toml
  http/README.md
  http/src/client/mod.rs
  http/src/json.rs
  http/src/lib.rs
  http/src/response/future.rs
  http/src/response/mod.rs
Labels: t-feature, c-http

#1174 chore: fix various warnings
  http/benches/application_command_permissions.rs
  http/src/request/channel/update_channel.rs
  http/src/request/guild/create_guild_channel.rs
Labels: c-all, t-chore

#1053 feat(model): number slash command option
  model/src/application/command/option.rs
Labels: c-model, d-api, t-enhancement, f-application-commands

#1177 fix(model): actually re-export `Number`
  model/src/application/command/mod.rs
Labels: c-model, d-api, t-fix, f-application-commands

#1048 Add CommandBuilder
  util/Cargo.toml
  util/README.md
  util/src/builder/command.rs
  util/src/builder/mod.rs
  util/src/lib.rs
Labels: t-feature, c-model, f-application-commands

#1157 feat(cache,http,model): sticker updates
  cache/in-memory/src/config.rs
  cache/in-memory/src/event/guild.rs
  cache/in-memory/src/event/mod.rs
  cache/in-memory/src/event/sticker.rs
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/mod.rs
  cache/in-memory/src/model/sticker.rs
  cache/in-memory/src/permission.rs
  http/src/client/mod.rs
  http/src/request/audit_reason.rs
  http/src/request/guild/mod.rs
  http/src/request/guild/sticker/create_guild_sticker.rs
  http/src/request/guild/sticker/delete_guild_sticker.rs
  http/src/request/guild/sticker/get_guild_sticker.rs
  http/src/request/guild/sticker/get_guild_stickers.rs
  http/src/request/guild/sticker/mod.rs
  http/src/request/guild/sticker/update_guild_sticker.rs
  http/src/request/mod.rs
  http/src/request/sticker/get_nitro_sticker_packs.rs
  http/src/request/sticker/get_sticker.rs
  http/src/request/sticker/mod.rs
  http/src/request/validate.rs
  http/src/routing/path.rs
  http/src/routing/route.rs
  http/src/routing/route_display.rs
  model/src/channel/message/sticker/format_type.rs
  model/src/channel/message/sticker/id.rs
  model/src/channel/message/sticker/kind.rs
  model/src/channel/message/sticker/mod.rs
  model/src/channel/message/sticker/pack.rs
  model/src/gateway/payload/guild_stickers_update.rs
  model/src/gateway/payload/mod.rs
  model/src/guild/audit_log/change.rs
  model/src/guild/audit_log/change_key.rs
  model/src/guild/audit_log/event_type.rs
  model/src/guild/mod.rs
  model/src/guild/permissions.rs
  util/src/permission_calculator/preset.rs
Labels: t-feature, c-http, c-cache, c-model, d-api
