Repository twilight-rs/twilight, pull requests merged in 2021-05, with the labels that each got.

#803 Percent encode reason
  http/src/routing.rs
Labels: bugfix, c-http

#804 Release v0.4.0
  cache/in-memory/CHANGELOG.md
  cache/in-memory/Cargo.toml
  command-parser/CHANGELOG.md
  command-parser/Cargo.toml
  embed-builder/CHANGELOG.md
  embed-builder/Cargo.toml
  gateway/CHANGELOG.md
  gateway/Cargo.toml
  gateway/queue/CHANGELOG.md
  http/CHANGELOG.md
  http/Cargo.toml
  lavalink/CHANGELOG.md
  lavalink/Cargo.toml
  mention/CHANGELOG.md
  mention/Cargo.toml
  model/CHANGELOG.md
  model/Cargo.toml
  standby/CHANGELOG.md
  standby/Cargo.toml
  twilight/CHANGELOG.md
  twilight/Cargo.toml
  util/CHANGELOG.md
  util/Cargo.toml
Labels: c-all

#772 Support activity buttons
  gateway/tests/test_shard_command_ratelimit.rs
  model/Cargo.toml
  model/src/gateway/presence/activity.rs
  model/src/gateway/presence/activity_button.rs
  model/src/gateway/presence/mod.rs
Labels: c-model, feature

#808 Rename 'trunk' branch references to 'main'
  .github/workflows/publish.yml
  CONTRIBUTING.md
  README.md
  cache/in-memory/README.md
  cache/in-memory/src/lib.rs
  command-parser/README.md
  command-parser/src/lib.rs
  embed-builder/README.md
  embed-builder/src/builder.rs
  embed-builder/src/footer.rs
  embed-builder/src/lib.rs
  gateway/README.md
  gateway/src/lib.rs
  http/README.md
  http/src/lib.rs
  lavalink/README.md
  lavalink/src/lib.rs
  mention/README.md
  mention/src/lib.rs
  model/README.md
  model/src/lib.rs
  standby/README.md
  standby/src/lib.rs
  twilight/src/lib.rs
  util/README.md
  util/src/lib.rs
Labels: c-all, chore, docs, github actions

#810 fix!(http): remove `GetReactions::before`
  http/src/request/channel/reaction/get_reactions.rs
  http/src/routing.rs
Labels: breaking change, bugfix, c-http, discord api

#797 Fix `payload_json` behavior in `CreateMessage`, `ExecuteWebhook`, `UpdateWebhookMessage`, add file to `UpdateWebhookMessage`
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/request/mod.rs
  http/src/request/multipart.rs
Labels: breaking change, c-http, discord api, feature

#806 Add cache stats API
  cache/in-memory/src/lib.rs
  cache/in-memory/src/stats.rs
Labels: c-cache, feature

#815 Update readme to mention 0.4
  README.md
  twilight/src/lib.rs
Labels: docs

#807 Slash Commands: Implement model
  cache/in-memory/src/model/member.rs
  cache/in-memory/src/updates.rs
  gateway/src/event.rs
  http/src/api_error.rs
  model/src/application/callback/callback_data.rs
  model/src/application/callback/mod.rs
  model/src/application/callback/response_type.rs
  model/src/application/command/mod.rs
  model/src/application/command/option.rs
  model/src/application/command/permissions.rs
  model/src/application/interaction/application_command/data/mod.rs
  model/src/application/interaction/application_command/data/resolved.rs
  model/src/application/interaction/application_command/mod.rs
  model/src/application/interaction/interaction_type.rs
  model/src/application/interaction/mod.rs
  model/src/application/interaction/ping.rs
  model/src/application/mod.rs
  model/src/channel/message/flags.rs
  model/src/channel/message/interaction.rs
  model/src/channel/message/kind.rs
  model/src/channel/message/mention.rs
  model/src/channel/message/mod.rs
  model/src/gateway/event/dispatch.rs
  model/src/gateway/event/kind.rs
  model/src/gateway/event/mod.rs
  model/src/gateway/payload/interaction_create.rs
  model/src/gateway/payload/mod.rs
  model/src/gateway/payload/ready.rs
  model/src/guild/partial_member.rs
  model/src/id.rs
  model/src/lib.rs
  model/src/oauth/mod.rs
  model/src/oauth/partial_application.rs
  standby/src/lib.rs
Labels: c-cache, c-gateway, c-model, c-standby, discord api, feature

#820 feat(model): add discord certified moderator flag
  model/src/user/flags.rs
Labels: c-model, discord api, enhancement

#812 feat(http, model): implement stage instances
  http/src/client/mod.rs
  http/src/request/channel/mod.rs
  http/src/request/channel/stage/create_stage_instance.rs
  http/src/request/channel/stage/delete_stage_instance.rs
  http/src/request/channel/stage/get_stage_instance.rs
  http/src/request/channel/stage/mod.rs
  http/src/request/channel/stage/update_stage_instance.rs
  http/src/request/prelude.rs
  http/src/request/validate.rs
  http/src/routing.rs
  model/src/channel/mod.rs
  model/src/channel/stage_instance.rs
  model/src/id.rs
Labels: c-http, c-model, discord api, feature

#826 Remove gateway `tokio::select!` macro usage
  gateway/src/lib.rs
  gateway/src/shard/processor/socket_forwarder.rs
Labels: c-gateway, enhancement, refactor

#818 feat(http): more json error codes
  http/src/api_error.rs
Labels: c-http, discord api, enhancement

#831 fix(http/update_channel): serialize fields as body
  http/src/request/channel/update_channel.rs
Labels: bugfix, c-http

#830 refactor(http): use new request builder for stage methods
  http/src/request/channel/stage/create_stage_instance.rs
  http/src/request/channel/stage/delete_stage_instance.rs
  http/src/request/channel/stage/get_stage_instance.rs
  http/src/request/channel/stage/update_stage_instance.rs
Labels: c-http, refactor

#827 Make `Shard::start` take ref instead of mut
  cache/in-memory/README.md
  cache/in-memory/src/lib.rs
  gateway/examples/intents/src/main.rs
  gateway/examples/request-members/src/main.rs
  gateway/examples/shard/src/main.rs
  gateway/src/cluster/impl.rs
  gateway/src/shard/impl.rs
  gateway/tests/test_shard_command_ratelimit.rs
  gateway/tests/test_shard_state_events.rs
  lavalink/README.md
  lavalink/examples/basic-lavalink-bot/src/main.rs
  lavalink/src/lib.rs
  standby/README.md
  standby/src/lib.rs
Labels: c-gateway, enhancement

#828 enhancement(http): skip auth token on webhooks
  http/src/client/mod.rs
  http/src/request/base.rs
  http/src/request/channel/webhook/delete_webhook_message.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/get_webhook.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/request/channel/webhook/update_webhook_with_token.rs
Labels: c-http, discord api, enhancement

#809 fix(http, model): bring invites up to date
  http/src/client/mod.rs
  http/src/request/channel/invite/create_invite.rs
  http/src/request/channel/invite/delete_invite.rs
  http/src/request/channel/invite/get_channel_invites.rs
  http/src/request/channel/invite/get_invite.rs
  http/src/request/guild/get_guild_invites.rs
  http/src/routing.rs
  model/src/gateway/payload/invite_create.rs
  model/src/invite/mod.rs
  model/src/invite/target_type.rs
  model/src/invite/target_user_type.rs
Labels: breaking change, bugfix, c-http, c-model, discord api

#819 feat(http): add missing create/update guild fields
  http/src/request/guild/create_guild/mod.rs
  http/src/request/guild/update_guild.rs
Labels: c-http, discord api, enhancement

#829 enhancement!(gateway): rename zlib features
  .github/workflows/test.yml
  gateway/Cargo.toml
  gateway/README.md
  gateway/src/lib.rs
Labels: breaking change, c-gateway, docs, enhancement

#817 feat(http): `Client::get_webhook_message`
  http/src/client/mod.rs
  http/src/request/channel/webhook/get_webhook_message.rs
  http/src/request/channel/webhook/mod.rs
  http/src/routing.rs
Labels: c-http, discord api, feature

#822 Move JSON utilities to own module
  http/src/client/mod.rs
  http/src/json.rs
  http/src/lib.rs
  http/src/request/base.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/update_channel.rs
  http/src/request/channel/update_channel_permission_configured.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/request/guild/get_guild_vanity_url.rs
  http/src/request/guild/member/add_guild_member.rs
  http/src/request/guild/member/get_guild_members.rs
  http/src/request/guild/member/get_member.rs
  http/src/request/guild/member/search_guild_members.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/mod.rs
Labels: c-http, refactor

#849 chore(main): fix clippy
  http/src/api_error.rs
Labels: bugfix, c-model, github actions

#844 fix(http): fix logic in update_webhook_message
  http/src/request/channel/webhook/update_webhook_message.rs
Labels: bugfix, c-http

#847 fix!(http,model): remove deprecated invite methods and model
  http/src/request/channel/invite/create_invite.rs
  model/src/invite/mod.rs
  model/src/invite/target_type.rs
Labels: breaking change, c-http, c-model, chore

#851 feat(model): add `MinimalActivity`
  gateway/src/shard/builder.rs
  model/src/gateway/presence/minimal_activity.rs
  model/src/gateway/presence/mod.rs
Labels: c-gateway, c-model, feature

#852 fix!(command-parser/arguments): lifetime issue
  command-parser/src/arguments.rs
Labels: bugfix, c-command-parser

#842 feat(model): add webhook type: application
  model/src/channel/webhook_type.rs
Labels: c-model, discord api, enhancement
