Repository twilight-rs/twilight, pull requests merged in 2021-08, with the labels that each got.

#1085 Add HTTP client option to remember invalid tokens
  http/src/client/builder.rs
  http/src/client/mod.rs
  http/src/response/future.rs
  http/src/response/mod.rs
Labels: c-http, t-feature

#1076 refactor(gateway): remove mutex from cluster
  gateway/src/cluster/impl.rs
Labels: c-gateway, t-refactor

#1075 gateway: Use tokio's OnceCell
  gateway/Cargo.toml
  gateway/src/shard/impl.rs
Labels: c-gateway, m-breaking change, t-refactor

#1079 refactor(gateway/cluster): remove shard_from & shard_to fields
  gateway/src/cluster/impl.rs
Labels: c-gateway, t-refactor, p-unapproved

#1061 gateway: Use a leaky bucket ratelimiter instead of throttling
  gateway/Cargo.toml
  gateway/examples/request-members/src/main.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/mod.rs
  gateway/src/shard/processor/session.rs
  gateway/src/shard/processor/throttle.rs
Labels: c-gateway, t-refactor

#1068 Store user discriminators as u16s
  cache/in-memory/src/event/interaction.rs
  cache/in-memory/src/event/message.rs
  cache/in-memory/src/event/voice_state.rs
  cache/in-memory/src/model/member.rs
  cache/in-memory/src/test.rs
  model/src/application/interaction/application_command/data/resolved.rs
  model/src/application/interaction/mod.rs
  model/src/channel/message/mention.rs
  model/src/channel/message/mod.rs
  model/src/channel/message/sticker/mod.rs
  model/src/channel/reaction.rs
  model/src/channel/webhook/mod.rs
  model/src/gateway/payload/invite_create.rs
  model/src/gateway/payload/member_add.rs
  model/src/gateway/payload/member_chunk.rs
  model/src/gateway/payload/member_update.rs
  model/src/gateway/payload/ready.rs
  model/src/gateway/payload/typing_start.rs
  model/src/gateway/payload/voice_state_update.rs
  model/src/guild/ban.rs
  model/src/guild/emoji.rs
  model/src/guild/integration.rs
  model/src/guild/integration_application.rs
  model/src/guild/member.rs
  model/src/invite/mod.rs
  model/src/oauth/current_application_info/mod.rs
  model/src/oauth/team/member.rs
  model/src/template/mod.rs
  model/src/user/current_user.rs
  model/src/user/mod.rs
  model/src/user/profile.rs
  model/src/voice/voice_state.rs
  standby/src/lib.rs
Labels: c-cache, c-model, m-breaking change, c-standby, t-enhancement

#1081 chore: specify MSRV for Clippy
  .clippy.toml
  http/src/ratelimiting/bucket.rs
  http/src/routing/path.rs
Labels: c-all, t-chore, p-unapproved

#1096 correct tokio features and sync layout
  cache/in-memory/Cargo.toml
  command-parser/Cargo.toml
  embed-builder/Cargo.toml
  gateway/Cargo.toml
  gateway/queue/Cargo.toml
  http/Cargo.toml
  lavalink/Cargo.toml
  mention/Cargo.toml
  model/Cargo.toml
  standby/Cargo.toml
  twilight/Cargo.toml
  util/Cargo.toml
Labels: c-all, t-chore

#1087 Handle missing choices field when deserializing ChoiceCommandOptionData
  model/src/application/command/option.rs
Labels: c-model, d-api, t-fix, f-application-commands

#1101 Fix gateway ratelimiter reset duration
  gateway/src/shard/processor/session.rs
Labels: c-gateway, t-fix

#1097 Bump metrics to [0.14, 0.18)
  gateway/Cargo.toml
Labels: c-gateway, t-chore

#1090 chore(http/validate): new select option limits
  http/src/request/validate.rs
Labels: c-http, d-api, t-chore

#1100 fix(http): Correct error type for in_flight error
  http/src/response/future.rs
Labels: c-http, t-fix

#1064 Cache model field getters
  cache/in-memory/src/event/guild.rs
  cache/in-memory/src/event/member.rs
  cache/in-memory/src/event/message.rs
  cache/in-memory/src/event/presence.rs
  cache/in-memory/src/event/reaction.rs
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/emoji.rs
  cache/in-memory/src/model/guild.rs
  cache/in-memory/src/model/member.rs
  cache/in-memory/src/model/message.rs
  cache/in-memory/src/model/presence.rs
  cache/in-memory/src/model/voice_state.rs
Labels: c-cache, m-breaking change, t-enhancement

#1066 Rework HTTP ratelimiting header API
  http/Cargo.toml
  http/benches/headers.rs
  http/src/error.rs
  http/src/ratelimiting/bucket.rs
  http/src/ratelimiting/error.rs
  http/src/ratelimiting/headers.rs
  http/src/ratelimiting/mod.rs
  http/src/response/future.rs
Labels: c-http, m-breaking change, t-enhancement, t-refactor

#1103 chore(gateway, http): small code nits
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/impl.rs
  http/src/response/mod.rs
Labels: c-http, c-gateway, t-chore

#1118 Log response body parsing error body as text if UTF-8
  http/src/error.rs
Labels: c-http, t-enhancement

#1120 feat: update threads to latest docs
  cache/in-memory/src/event/guild.rs
  http/src/client/mod.rs
  http/src/request/channel/thread/create_thread.rs
  http/src/request/channel/thread/mod.rs
  http/src/request/channel/thread/update_thread.rs
  http/src/request/guild/get_active_threads.rs
  http/src/request/guild/mod.rs
  http/src/routing/path.rs
  http/src/routing/route.rs
  http/src/routing/route_display.rs
  model/src/application/interaction/application_command/data/resolved.rs
  model/src/channel/mod.rs
  model/src/channel/thread/listing.rs
  model/src/channel/thread/member.rs
  model/src/channel/thread/metadata.rs
  model/src/channel/thread/news.rs
  model/src/channel/thread/private.rs
  model/src/channel/thread/public.rs
  model/src/gateway/payload/thread_members_update.rs
  model/src/guild/audit_log/change_key.rs
  model/src/guild/audit_log/event_type.rs
  model/src/guild/audit_log/mod.rs
Labels: t-feature, c-http, c-model, d-api, f-threads

#1121 feat: message components
  cache/in-memory/src/event/message.rs
  cache/in-memory/src/test.rs
  http/src/request/application/create_followup_message.rs
  http/src/request/application/create_global_command.rs
  http/src/request/application/create_guild_command.rs
  http/src/request/application/mod.rs
  http/src/request/application/set_command_permissions.rs
  http/src/request/application/update_command_permissions.rs
  http/src/request/application/update_followup_message.rs
  http/src/request/application/update_original_response.rs
  http/src/request/channel/invite/create_invite.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/get_channel_messages.rs
  http/src/request/channel/message/get_channel_messages_configured.rs
  http/src/request/channel/message/mod.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/reaction/get_reactions.rs
  http/src/request/channel/stage/create_stage_instance.rs
  http/src/request/channel/stage/update_stage_instance.rs
  http/src/request/channel/update_channel.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/mod.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/request/guild/ban/create_ban.rs
  http/src/request/guild/create_guild/mod.rs
  http/src/request/guild/create_guild_channel.rs
  http/src/request/guild/create_guild_prune.rs
  http/src/request/guild/get_audit_log.rs
  http/src/request/guild/get_guild_prune_count.rs
  http/src/request/guild/member/add_guild_member.rs
  http/src/request/guild/member/get_guild_members.rs
  http/src/request/guild/member/search_guild_members.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/guild/update_guild.rs
  http/src/request/mod.rs
  http/src/request/template/create_guild_from_template.rs
  http/src/request/template/create_template.rs
  http/src/request/template/update_template.rs
  http/src/request/user/get_current_user_guilds.rs
  http/src/request/user/update_current_user.rs
  http/src/request/validate.rs
  model/Cargo.toml
  model/src/application/callback/callback_data.rs
  model/src/application/callback/mod.rs
  model/src/application/callback/response_type.rs
  model/src/application/component/action_row.rs
  model/src/application/component/button.rs
  model/src/application/component/kind.rs
  model/src/application/component/mod.rs
  model/src/application/component/select_menu.rs
  model/src/application/interaction/interaction_type.rs
  model/src/application/interaction/message_component/data.rs
  model/src/application/interaction/message_component/mod.rs
  model/src/application/interaction/mod.rs
  model/src/application/mod.rs
  model/src/channel/attachment.rs
  model/src/channel/message/interaction.rs
  model/src/channel/message/mod.rs
  standby/src/lib.rs
Labels: t-feature, c-http, c-model, d-api

#1102 Refactor gateway ratelimiter heartbeat allotting
  gateway/src/shard/processor/session.rs
Labels: c-gateway, t-refactor

#1123 Add HTTP response `model` alias for `models`
  http/src/response/mod.rs
Labels: c-http, t-enhancement

#1125 HTTP API error code 30040 "max prune requests reached"
  http/src/api_error.rs
Labels: t-feature, c-http, d-api

#1108 fix(model/application/command): remove `required` field from `OptionsCommandOptionData`
  model/src/application/command/option.rs
Labels: c-model, m-breaking change, d-api, t-fix, d-breaking

#1129 Document that HTTP's `tracing` dependency is now optional
  http/README.md
  http/src/lib.rs
Labels: t-docs, c-http

#1131 Add comparing `StatusCode` with u16s
  http/src/response/status_code.rs
Labels: t-feature, c-http

#1134 Add cache integration retrieval methods
  cache/in-memory/src/lib.rs
Labels: t-feature, c-cache

#1128 Fix two missed relative links
  gateway/src/cluster/impl.rs
  gateway/src/cluster/scheme.rs
  model/src/channel/message/mod.rs
Labels: t-docs, c-model, c-gateway

#1122 Fix HTTP Set Command Permissions serialized body
  http/src/request/application/set_command_permissions.rs
Labels: c-http, t-fix
