Repository twilight-rs/twilight, pull requests merged in 2021-02, with the labels that each got.

#693 Simplify Lavalink player API
  lavalink/src/client.rs
  lavalink/src/node.rs
  lavalink/src/player.rs
Labels: breaking change, c-lavalink, refactor

#702 Remove deleted emojis from cache when processing GuildEmojisUpdate events
  cache/in-memory/src/lib.rs
Labels: bugfix, c-cache

#700 Optional compression, closes #629
  gateway/Cargo.toml
  gateway/README.md
  gateway/src/lib.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/mod.rs
Labels: c-gateway, feature

#704 Limit guild prune max days to 30
  http/src/request/guild/get_guild_prune_count.rs
  http/src/request/validate.rs
Labels: bugfix, c-http, discord api

#706 Add `InvalidWebhookToken` variant to `api_error`
  http/src/api_error.rs
Labels: c-http, discord api, feature

#708 Document `fail_if_not_exists`
  http/src/request/channel/message/create_message.rs
  model/src/channel/message/mod.rs
  model/src/channel/message/reference.rs
Labels: breaking change, c-http, c-model, discord api, feature

#709 Add more audit log keys
  model/src/guild/audit_log/change_key.rs
Labels: c-http, discord api, enhancement

#710 chore(gateway,lavalink): update to async-tungstenite 0.13
  gateway/Cargo.toml
  lavalink/Cargo.toml
Labels: c-gateway, c-lavalink

#711 chore(command-parser): Get rid of new Clippy warnings
  cache/in-memory/src/lib.rs
  command-parser/benches/commands.rs
  command-parser/src/arguments.rs
  embed-builder/src/builder.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/emitter.rs
  http/src/lib.rs
  http/src/ratelimiting/bucket.rs
  model/src/gateway/payload/guild_delete.rs
Labels: c-cache, c-command-parser, c-embed-builder, c-gateway, c-http, refactor

#713 Fix missing pending field warning on Guild Member Update
  model/src/gateway/payload/member_update.rs
Labels: c-model, discord api, docs

#720 Add webpki-roots feature flags and revert hyper-tls workaround
  embed-builder/src/author.rs
  gateway/Cargo.toml
  gateway/queue/Cargo.toml
  gateway/src/lib.rs
  gateway/src/shard/processor/impl.rs
  http/Cargo.toml
  http/src/client/builder.rs
  http/src/lib.rs
  util/src/link/webhook.rs
Labels: c-http, feature
