Repository twilight-rs/twilight, pull requests merged in 2021-12, with the labels that each got.

#1304 lavalink: Fix deserializing LoadedTracks responses for playlists without a selected track
  lavalink/src/http.rs
Labels: t-fix, c-lavalink

#1276 chore(gateway, http, lavalink): Update dependencies for rustls 0.20
  .github/workflows/check-lib.yml
  cache/in-memory/Cargo.toml
  gateway/Cargo.toml
  http/Cargo.toml
  http/src/client/builder.rs
  lavalink/Cargo.toml
  twilight/Cargo.toml
Labels: c-http, c-gateway, c-lavalink, t-enhancement

#1290 fix!: new required embed fields
  embed-builder/src/author.rs
  embed-builder/src/builder.rs
  http/src/request/validate.rs
  model/src/channel/embed/author.rs
  model/src/channel/embed/image.rs
  model/src/channel/embed/mod.rs
  model/src/channel/embed/thumbnail.rs
Labels: m-breaking change, d-api, c-embed-builder, t-chore

#1225 enhancement(model): `CommandInteractionDataResolved` `HashMap` fields.
  cache/in-memory/src/event/interaction.rs
  cache/in-memory/src/event/member.rs
  model/src/application/interaction/application_command/data/resolved.rs
  model/src/application/interaction/mod.rs
Labels: c-model, m-breaking change, d-api, t-enhancement, d-breaking

#1203 feat!(http, lavalink, model, gateway-queue): Make tracing optional and a default feature
  gateway-queue/Cargo.toml
  gateway-queue/README.md
  gateway-queue/src/day_limiter.rs
  gateway-queue/src/large_bot_queue.rs
  gateway-queue/src/lib.rs
  http-ratelimiting/README.md
  http-ratelimiting/src/lib.rs
  http/Cargo.toml
  http/README.md
  http/src/lib.rs
  lavalink/Cargo.toml
  lavalink/README.md
  lavalink/src/client.rs
  lavalink/src/lib.rs
  lavalink/src/node.rs
  lavalink/src/player.rs
  model/Cargo.toml
  model/README.md
  model/src/application/callback/mod.rs
  model/src/application/command/option.rs
  model/src/application/command/permissions.rs
  model/src/application/interaction/application_command/data/mod.rs
  model/src/application/interaction/mod.rs
  model/src/channel/mod.rs
  model/src/channel/permission_overwrite.rs
  model/src/channel/reaction.rs
  model/src/gateway/event/gateway.rs
  model/src/gateway/payload/incoming/member_chunk.rs
  model/src/gateway/payload/incoming/typing_start.rs
  model/src/gateway/presence/activity_button.rs
  model/src/guild/mod.rs
  model/src/lib.rs
  model/src/voice/voice_state.rs
Labels: c-http, c-model, m-breaking change, c-lavalink, c-gateway-queue

#1287 remove!: avatar_url & username from CreateFollowupMessage
  http/src/request/application/interaction/create_followup_message.rs
Labels: c-http, m-breaking change, t-enhancement

#1286 feat,fix(http): add and correct `thread_id` to webhooks/interactions
  http/src/request/application/interaction/create_followup_message.rs
  http/src/request/application/interaction/delete_followup_message.rs
  http/src/request/application/interaction/get_followup_message.rs
  http/src/request/application/interaction/update_followup_message.rs
  http/src/request/channel/webhook/delete_webhook_message.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/get_webhook_message.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/routing/route.rs
  http/src/routing/route_display.rs
Labels: t-feature, c-http, d-api, t-fix

#1311 fix(http)!: interaction followups have no `thread_id`
  http/src/request/application/interaction/delete_followup_message.rs
  http/src/request/application/interaction/get_followup_message.rs
  http/src/request/application/interaction/update_followup_message.rs
Labels: c-http, m-breaking change, d-api, t-fix

#1310 http: Support trust-dns
  http/Cargo.toml
  http/README.md
  http/src/client/builder.rs
  http/src/client/mod.rs
  http/src/lib.rs
Labels: t-feature, c-http

#1308 refactor(model)!: parse timestampes with `time`
  model/Cargo.toml
  model/src/datetime/constant.rs
  model/src/datetime/display.rs
  model/src/datetime/error.rs
  model/src/datetime/mod.rs
Labels: c-model, m-breaking change, d-api, t-refactor

#1312 fix(http): Don't enforce HTTP scheme in connector
  http/src/client/builder.rs
Labels: c-http, t-fix

#1315 fix(util/snowflake): impl `Snowflake` for `CommandVersionId`
  util/src/snowflake.rs
Labels: t-fix, c-util

#1317 Don't send auth header for HTTP interactions
  http/src/request/application/interaction/create_followup_message.rs
  http/src/request/application/interaction/delete_followup_message.rs
  http/src/request/application/interaction/delete_original_response.rs
  http/src/request/application/interaction/get_followup_message.rs
  http/src/request/application/interaction/get_original_response.rs
  http/src/request/application/interaction/interaction_callback.rs
  http/src/request/application/interaction/update_followup_message.rs
  http/src/request/application/interaction/update_original_response.rs
Labels: c-http, t-fix

#1316 Fix a variety of clippy lints
  command-parser/src/parser.rs
  examples/lavalink-basic-bot/src/main.rs
  gateway-queue/src/day_limiter.rs
  gateway-queue/src/large_bot_queue.rs
  gateway-queue/src/lib.rs
  gateway/src/cluster/scheme.rs
  http/src/request/application/interaction/update_followup_message.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  model/src/gateway/event/gateway.rs
Labels: c-http, c-model, c-gateway, c-command-parser, c-gateway-queue, t-chore

#1318 Conditionally invalidate HTTP client token
  http/src/client/mod.rs
Labels: c-http, t-fix

#1319 Fix HTTP API error ratelimited variant ordering
  http/src/api_error.rs
Labels: c-http, t-fix

#1323 fix(http): properly serialize `CommandBorrowed::kind`
  http/src/request/application/command/mod.rs
Labels: c-http, d-api, t-fix

#1292 lavalink: Update PlayerUpdate event for Lavalink 3.4
  lavalink/src/model.rs
  lavalink/src/node.rs
Labels: c-lavalink, t-enhancement

#1275 Create new HTTP interaction interface
  http/benches/application_command_permissions.rs
  http/src/client/builder.rs
  http/src/client/interaction.rs
  http/src/client/mod.rs
  http/src/request/application/interaction/create_followup_message.rs
  http/src/request/application/interaction/delete_followup_message.rs
  http/src/request/application/interaction/delete_original_response.rs
  http/src/request/application/interaction/get_followup_message.rs
  http/src/request/application/interaction/get_original_response.rs
  http/src/request/application/interaction/interaction_callback.rs
  http/src/request/application/interaction/update_followup_message.rs
  http/src/request/application/interaction/update_original_response.rs
  http/src/request/application/mod.rs
Labels: c-http, m-breaking change, t-enhancement

#1325 chore!(model/invite): channel is optional
  model/src/invite/mod.rs
Labels: c-model, d-api, t-chore, d-breaking

#1326 enhancement(http): add error codes 20029 and 50055
  http/src/api_error.rs
Labels: c-http, d-api, t-enhancement

#1301 Add custom problem matchers
  .github/rust.json
  .github/workflows/check-lib.yml
  .github/workflows/deploy-lib.yml
Labels: t-github-actions

#1306 ci: move codecov to daily action
  .codecov.yml
  .github/workflows/check-lib.yml
  .github/workflows/codecov-lib.yml
Labels: t-github-actions

#1327 enhancement(http/routing): improve test coverage
  http/src/routing/route_display.rs
Labels: c-http, t-enhancement

#1328 chore: remove needless "rust" tag on doctests
  command-parser/src/arguments.rs
  command-parser/src/config.rs
  command-parser/src/parser.rs
  embed-builder/src/builder.rs
  embed-builder/src/field.rs
  embed-builder/src/footer.rs
  gateway/src/cluster/builder.rs
  gateway/src/shard/builder.rs
  http-ratelimiting/src/request.rs
  http/src/client/builder.rs
  http/src/client/mod.rs
  http/src/request/application/interaction/create_followup_message.rs
  http/src/request/channel/get_channel.rs
  http/src/request/channel/invite/create_invite.rs
  http/src/request/channel/invite/get_invite.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/get_channel_messages.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/reaction/create_reaction.rs
  http/src/request/channel/update_channel_permission.rs
  http/src/request/channel/webhook/create_webhook.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/execute_webhook_and_wait.rs
  http/src/request/get_gateway.rs
  http/src/request/guild/ban/create_ban.rs
  http/src/request/guild/ban/delete_ban.rs
  http/src/request/guild/ban/get_bans.rs
  http/src/request/guild/create_guild/mod.rs
  http/src/request/guild/emoji/get_emoji.rs
  http/src/request/guild/emoji/get_emojis.rs
  http/src/request/guild/get_audit_log.rs
  http/src/request/guild/member/add_role_to_member.rs
  http/src/request/guild/member/get_guild_members.rs
  http/src/request/guild/member/search_guild_members.rs
  http/src/request/guild/role/create_role.rs
  http/src/request/user/get_current_user_guilds.rs
  mention/src/fmt.rs
  model/src/guild/role.rs
  util/src/permission_calculator/mod.rs
Labels: t-chore

#1332 refactor: Add snowflake getters to `Id<T: Snowflake>`
  model/src/id/marker.rs
  model/src/id/mod.rs
  util/Cargo.toml
  util/README.md
  util/src/lib.rs
  util/src/snowflake.rs
Labels: c-model, m-breaking change, c-util, t-refactor

#1333 docs: remove needless id marker imports
  http/src/client/mod.rs
  lavalink/src/player.rs
  model/src/gateway/payload/outgoing/request_guild_members.rs
Labels: t-docs, c-http, c-model, c-lavalink

#1336 deps: allow `Dashmap` 5
  cache/in-memory/Cargo.toml
  lavalink/Cargo.toml
  standby/Cargo.toml
Labels: c-cache, c-lavalink, c-standby, t-chore

#1337 chore(model): mark `StickerPack.banner_asset_id` Optional
  model/src/channel/message/sticker/mod.rs
  model/src/channel/message/sticker/pack.rs
Labels: c-model, m-breaking change, d-api, t-chore, d-breaking

#1341 fix(model): CachedMember#avatar returning nicknames
  cache/in-memory/src/model/member.rs
Labels: c-cache, t-fix

#1295 ci: improve cargo install caching
  .github/workflows/check-lib.yml
Labels: t-github-actions

#1058 Gateway: Reuse tls connectors between shards
  gateway/Cargo.toml
  gateway/src/cluster/builder.rs
  gateway/src/cluster/impl.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/config.rs
  gateway/src/shard/mod.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/tls.rs
Labels: c-gateway, t-enhancement

#1348 fix(http-ratelimiting): rework started at time
  http-ratelimiting/src/in_memory/bucket.rs
Labels: t-fix, c-http-ratelimiting

#1324 chore(model)!: update audit log to latest docs
  model/src/guild/audit_log/change.rs
  model/src/guild/audit_log/change_key.rs
Labels: c-model, m-breaking change, d-api, t-chore

#1349 docs(cache,gateway): remove old clone comments
  cache/in-memory/src/lib.rs
  gateway/src/cluster/impl.rs
Labels: t-docs, c-cache, c-gateway

#1357 chore(http-ratelimiting): revert #1348
  http-ratelimiting/src/in_memory/bucket.rs
Labels: c-http, t-chore

#1342 feat(cache,http,model): guild timeouts
  cache/in-memory/src/event/interaction.rs
  cache/in-memory/src/event/member.rs
  cache/in-memory/src/event/message.rs
  cache/in-memory/src/event/voice_state.rs
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/member.rs
  cache/in-memory/src/test.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/validate.rs
  model/src/application/interaction/application_command/data/resolved.rs
  model/src/application/interaction/message_component/mod.rs
  model/src/application/interaction/mod.rs
  model/src/channel/message/mention.rs
  model/src/channel/message/mod.rs
  model/src/channel/reaction.rs
  model/src/gateway/payload/incoming/member_add.rs
  model/src/gateway/payload/incoming/member_chunk.rs
  model/src/gateway/payload/incoming/thread_members_update.rs
  model/src/gateway/payload/incoming/typing_start.rs
  model/src/gateway/payload/incoming/voice_state_update.rs
  model/src/guild/member.rs
  model/src/guild/partial_member.rs
  model/src/guild/permissions.rs
  model/src/voice/voice_state.rs
Labels: c-http, c-cache, c-model, d-api

#1360 fix(gateway/shard): tick ratelimiter before send
  gateway/src/shard/impl.rs
Labels: c-gateway, t-fix

#1359 refactor(http): simplify token invalidation
  http/src/client/builder.rs
  http/src/client/mod.rs
  http/src/response/future.rs
Labels: c-http, t-refactor

#1388 actions: Remove `--workspace` flag
  .github/workflows/check-lib.yml
  .github/workflows/codecov-lib.yml
  .github/workflows/deploy-lib.yml
Labels: t-github-actions

#1386 fix(http/routing): display for get active threads
  http/src/routing/route_display.rs
Labels: c-http, t-fix

#1363 docs(cache/in-memory,model): fix named anchors
  cache/in-memory/README.md
  cache/in-memory/src/lib.rs
  model/README.md
  model/src/lib.rs
Labels: t-docs, c-cache, c-gateway

#1362 feat(cache/in-memory): add channel messages iter
  cache/in-memory/src/event/message.rs
  cache/in-memory/src/iter.rs
  cache/in-memory/src/lib.rs
Labels: t-feature, c-cache

#1352 chore(command-parser): deprecate crate
  README.md
  command-parser/README.md
  command-parser/src/lib.rs
  twilight/src/lib.rs
Labels: c-command-parser, t-chore

#1389 Remove erroneous forward slash
  http/src/routing/route_display.rs
Labels: c-http, t-fix

#1353 feat(http/response): pre-flight cancelation
  http/src/response/future.rs
Labels: t-feature, c-http

#1314 chore!(gateway, gateway-queue, http, lavalink): Remove rustls feature alias
  .github/workflows/check-lib.yml
  cache/in-memory/Cargo.toml
  gateway-queue/Cargo.toml
  gateway/Cargo.toml
  gateway/README.md
  gateway/src/lib.rs
  http/Cargo.toml
  http/README.md
  http/src/lib.rs
  lavalink/Cargo.toml
  lavalink/README.md
  lavalink/src/lib.rs
  standby/Cargo.toml
  twilight/Cargo.toml
Labels: c-http, c-gateway, m-breaking change, c-lavalink, c-gateway-queue

#1393 ci: automatically label pull request
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: t-github-actions

#1394 enhancement(http)!: remove api error code
  http/src/api_error.rs
  http/src/response/future.rs
Labels: c-http, m-breaking change, t-enhancement

#1390 refactor: don't use the `ref` keyword
  cache/in-memory/src/event/channel.rs
  cache/in-memory/src/event/guild.rs
  examples/model-webhook-slash/src/main.rs
  http/src/client/mod.rs
  http/src/response/future.rs
  lavalink/src/node.rs
  lavalink/src/player.rs
Labels: c-http, c-cache, c-lavalink, t-refactor

#1351 feat(http-ratelimiting): support 'scope' header
  http-ratelimiting/src/headers.rs
Labels: t-feature, c-http-ratelimiting

#1401 fix(model)!: make CllbackData#embeds an option
  examples/model-webhook-slash/src/main.rs
  model/src/application/callback/callback_data.rs
  model/src/application/callback/mod.rs
  util/src/builder/callback_data.rs
Labels: c-model, m-breaking change, t-fix, c-util

#1355 feat(http): add get current user guild member endpoint
  http-ratelimiting/src/request.rs
  http/src/client/mod.rs
  http/src/request/user/get_current_user_guild_member.rs
  http/src/request/user/mod.rs
  http/src/routing/route.rs
  http/src/routing/route_display.rs
Labels: t-feature, c-http, d-api, c-http-ratelimiting

#1399 chore(cache,http,model): support premium progress bar toggle
  cache/in-memory/src/event/guild.rs
  cache/in-memory/src/model/guild.rs
  cache/in-memory/src/permission.rs
  http/src/request/guild/update_guild.rs
  model/src/gateway/event/gateway.rs
  model/src/guild/mod.rs
  model/src/guild/partial_guild.rs
Labels: c-http, c-cache, c-model, t-chore

#1400 chore(gateway): handle previously unhandled error codes 4010-4012
  gateway/src/shard/processor/impl.rs
Labels: c-gateway, t-chore

#1410 feat(cache-inmemory): InMemoryCache::guild_voice_states
  cache/in-memory/src/lib.rs
Labels: t-feature, c-cache
