Repository twilight-rs/twilight, pull requests merged in 2022-12, with the labels that each got.

#2001 feat(model): Add Interaction::author
  twilight-model/src/application/interaction/mod.rs
Labels: t-feature, c-model

#2005 fix: clippy 1.66
  twilight-cache-inmemory/src/event/interaction.rs
  twilight-http/src/client/builder.rs
Labels: c-http, c-cache, t-fix

#1993 refactor(gateway)!: rewrite `Inflater`
  examples/Cargo.toml
  examples/gateway-metrics.rs
  twilight-gateway/Cargo.toml
  twilight-gateway/README.md
  twilight-gateway/src/channel.rs
  twilight-gateway/src/command.rs
  twilight-gateway/src/compression/inflater.rs
  twilight-gateway/src/compression/mod.rs
  twilight-gateway/src/connection.rs
  twilight-gateway/src/error.rs
  twilight-gateway/src/inflater.rs
  twilight-gateway/src/json.rs
  twilight-gateway/src/lib.rs
  twilight-gateway/src/message.rs
  twilight-gateway/src/shard.rs
Labels: t-feature, c-gateway, m-breaking change, t-fix, t-refactor, t-perf
