Repository twilight-rs/twilight, pull requests merged in 2022-01, with the labels that each got.

#1368 feat(gateway/shard)!: expose ratelimit info
  gateway/Cargo.toml
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/session.rs
Labels: t-feature, c-gateway, m-breaking change

#1387 doc: Remove explicit `doc(cfg)`
  cache/in-memory/src/lib.rs
  util/src/lib.rs
Labels: t-docs, c-cache, c-util

#1414 feat(model,cache-inmemory): communication_disabled_until on member update
  cache/in-memory/src/event/member.rs
  cache/in-memory/src/permission.rs
  model/src/gateway/payload/incoming/member_update.rs
Labels: t-feature, c-cache, c-model

#1405 feat(cache,model)!: parse image hashes
  cache/in-memory/src/event/guild.rs
  cache/in-memory/src/event/interaction.rs
  cache/in-memory/src/event/member.rs
  cache/in-memory/src/event/message.rs
  cache/in-memory/src/event/voice_state.rs
  cache/in-memory/src/model/guild.rs
  cache/in-memory/src/model/member.rs
  cache/in-memory/src/model/sticker.rs
  cache/in-memory/src/test.rs
  model/Cargo.toml
  model/benches/image_hash.rs
  model/src/application/interaction/application_command/data/resolved.rs
  model/src/application/interaction/mod.rs
  model/src/channel/group.rs
  model/src/channel/message/application.rs
  model/src/channel/message/mention.rs
  model/src/channel/message/mod.rs
  model/src/channel/message/sticker/mod.rs
  model/src/channel/reaction.rs
  model/src/channel/webhook/guild.rs
  model/src/channel/webhook/mod.rs
  model/src/gateway/event/gateway.rs
  model/src/gateway/payload/incoming/invite_create.rs
  model/src/gateway/payload/incoming/member_chunk.rs
  model/src/gateway/payload/incoming/member_update.rs
  model/src/gateway/payload/incoming/thread_members_update.rs
  model/src/gateway/payload/incoming/typing_start.rs
  model/src/gateway/payload/incoming/voice_state_update.rs
  model/src/guild/ban.rs
  model/src/guild/info.rs
  model/src/guild/integration.rs
  model/src/guild/integration_application.rs
  model/src/guild/member.rs
  model/src/guild/mod.rs
  model/src/guild/partial_guild.rs
  model/src/guild/partial_member.rs
  model/src/guild/preview.rs
  model/src/guild/role.rs
  model/src/invite/guild.rs
  model/src/invite/mod.rs
  model/src/invite/stage_instance.rs
  model/src/lib.rs
  model/src/oauth/current_application_info/mod.rs
  model/src/oauth/team/mod.rs
  model/src/template/guild.rs
  model/src/template/mod.rs
  model/src/test.rs
  model/src/user/current_user.rs
  model/src/user/current_user_guild.rs
  model/src/user/mod.rs
  model/src/user/profile.rs
  model/src/util.rs
  model/src/util/image_hash.rs
  model/src/util/mod.rs
Labels: t-feature, c-cache, c-model, m-breaking change, t-github-actions, c-all

#1413 chore: Specify `rust-version` in Cargo.toml
  cache/in-memory/Cargo.toml
  command-parser/Cargo.toml
  embed-builder/Cargo.toml
  gateway-queue/Cargo.toml
  gateway/Cargo.toml
  http-ratelimiting/Cargo.toml
  http/Cargo.toml
  lavalink/Cargo.toml
  mention/Cargo.toml
  model/Cargo.toml
  standby/Cargo.toml
  twilight/Cargo.toml
  util/Cargo.toml
  validate/Cargo.toml
Labels: c-http, c-cache, c-model, c-gateway, c-command-parser, c-lavalink, c-standby, c-embed-builder, c-gateway-queue, c-util, t-chore, c-http-ratelimiting, c-validate

#1412 feat: Rust 2021
  cache/in-memory/Cargo.toml
  command-parser/Cargo.toml
  command-parser/benches/commands.rs
  embed-builder/Cargo.toml
  embed-builder/src/builder.rs
  examples/gateway-cluster/Cargo.toml
  examples/gateway-intents/Cargo.toml
  examples/gateway-metrics/Cargo.toml
  examples/gateway-request-members/Cargo.toml
  examples/gateway-shard/Cargo.toml
  examples/http-allowed-mentions/Cargo.toml
  examples/http-get-message/Cargo.toml
  examples/http-proxy/Cargo.toml
  examples/lavalink-basic-bot/Cargo.toml
  examples/model-webhook-slash/Cargo.toml
  gateway-queue/Cargo.toml
  gateway/Cargo.toml
  gateway/src/cluster/builder.rs
  gateway/src/cluster/impl.rs
  gateway/src/cluster/mod.rs
  gateway/src/cluster/scheme.rs
  gateway/src/event.rs
  gateway/src/shard/emitter.rs
  gateway/src/shard/processor/compression/inflater.rs
  gateway/src/shard/processor/heartbeat.rs
  gateway/src/shard/processor/session.rs
  gateway/src/shard/stage.rs
  http-ratelimiting/Cargo.toml
  http-ratelimiting/src/headers.rs
  http-ratelimiting/src/request.rs
  http/Cargo.toml
  http/src/client/interaction.rs
  http/src/client/mod.rs
  lavalink/Cargo.toml
  lavalink/README.md
  lavalink/src/http.rs
  lavalink/src/lib.rs
  mention/Cargo.toml
  mention/src/parse/impl.rs
  mention/src/timestamp.rs
  model/Cargo.toml
  model/src/application/interaction/interaction_type.rs
  model/src/channel/message/kind.rs
  model/src/channel/message/sticker/format_type.rs
  model/src/channel/message/sticker/kind.rs
  model/src/datetime/mod.rs
  model/src/gateway/close_code.rs
  model/src/gateway/event/dispatch.rs
  model/src/gateway/event/gateway.rs
  model/src/gateway/event/kind.rs
  model/src/gateway/event/shard.rs
  model/src/id/mod.rs
  model/src/user/mod.rs
  model/src/voice/close_code.rs
  standby/Cargo.toml
  twilight/Cargo.toml
  util/Cargo.toml
  validate/Cargo.toml
Labels: t-feature, c-http, c-cache, c-model, c-gateway, c-command-parser, c-lavalink, c-standby, c-embed-builder, c-gateway-queue, c-util, c-http-ratelimiting, c-validate

#1419 fix(model): RoleAdded/RoleRemoved are named differently
  model/src/guild/audit_log/change.rs
Labels: c-model, t-fix

#1420 fix(model): thread sync has channel ids, not guild ids
  model/src/gateway/payload/incoming/thread_list_sync.rs
Labels: c-model, m-breaking change, t-fix

#1422 feat(model): support voice state self_video
  cache/in-memory/src/event/voice_state.rs
  cache/in-memory/src/test.rs
  model/src/gateway/payload/incoming/voice_state_update.rs
  model/src/voice/voice_state.rs
Labels: t-feature, c-cache, c-model

#1423 feat(model): add CommunicationDisabledUntil audit log
  model/src/guild/audit_log/change.rs
  model/src/guild/audit_log/change_key.rs
Labels: t-feature, c-model, m-breaking change

#1415 feat(gateway): drop failed event parsing to debug
  gateway/src/shard/processor/impl.rs
Labels: t-feature, c-gateway

#1421 fix(gateway): reserve extra capacity for heartbeat response
  gateway/src/shard/processor/session.rs
Labels: c-gateway, t-fix

#1426 fix(model): correctly deserialize ThreadDelete events
  cache/in-memory/src/event/thread.rs
  model/src/gateway/payload/incoming/thread_delete.rs
  standby/src/event.rs
Labels: c-cache, c-model, m-breaking change, t-fix, c-standby

#1427 feat(gateway): make parse errors much more visible
  gateway/src/shard/json.rs
  gateway/src/shard/processor/impl.rs
Labels: t-feature, c-gateway

#1434 chore: downgrade to `dashmap` 4
  cache/in-memory/Cargo.toml
  lavalink/Cargo.toml
  standby/Cargo.toml
Labels: c-cache, c-lavalink, c-standby, t-chore

#1395 feat(validate, http)!: validate command and options names
  http/src/client/interaction.rs
  http/src/request/application/command/create_global_command/chat_input.rs
  http/src/request/application/command/create_global_command/message.rs
  http/src/request/application/command/create_global_command/mod.rs
  http/src/request/application/command/create_global_command/user.rs
  http/src/request/application/command/create_guild_command/chat_input.rs
  http/src/request/application/command/create_guild_command/message.rs
  http/src/request/application/command/create_guild_command/mod.rs
  http/src/request/application/command/create_guild_command/user.rs
  validate/src/command.rs
Labels: t-feature, c-http, m-breaking change, f-application-commands, c-validate

#1437 feat(model)!: add interaction locale
  cache/in-memory/src/event/interaction.rs
  model/src/application/interaction/application_command/mod.rs
  model/src/application/interaction/message_component/mod.rs
  model/src/application/interaction/mod.rs
  standby/src/lib.rs
Labels: t-feature, c-cache, c-model, m-breaking change, c-standby

#1440 perf(gateway-queue): Remove needless clone
  gateway-queue/src/large_bot_queue.rs
  gateway-queue/src/lib.rs
Labels: c-gateway-queue, t-perf

#1425 CI: Improve minver (again)
  .github/workflows/check-lib.yml
  cache/in-memory/Cargo.toml
  gateway/Cargo.toml
  http-ratelimiting/Cargo.toml
  model/Cargo.toml
  twilight/Cargo.toml
Labels: c-cache, c-model, c-gateway, t-ci, c-http-ratelimiting, t-github-actions

#1347 feat(http,model): scheduled events
  http-ratelimiting/src/request.rs
  http/src/client/mod.rs
  http/src/request/audit_reason.rs
  http/src/request/mod.rs
  http/src/request/scheduled_event/create_guild_scheduled_event/external.rs
  http/src/request/scheduled_event/create_guild_scheduled_event/mod.rs
  http/src/request/scheduled_event/create_guild_scheduled_event/stage_instance.rs
  http/src/request/scheduled_event/create_guild_scheduled_event/voice.rs
  http/src/request/scheduled_event/delete_guild_scheduled_event.rs
  http/src/request/scheduled_event/get_guild_scheduled_event.rs
  http/src/request/scheduled_event/get_guild_scheduled_event_users.rs
  http/src/request/scheduled_event/get_guild_scheduled_events.rs
  http/src/request/scheduled_event/mod.rs
  http/src/request/scheduled_event/update_guild_scheduled_event.rs
  http/src/request/try_into_request.rs
  http/src/routing/route.rs
  http/src/routing/route_display.rs
  model/src/guild/audit_log/mod.rs
  model/src/id/marker.rs
  model/src/lib.rs
  model/src/scheduled_event/mod.rs
  model/src/scheduled_event/user.rs
  validate/src/request.rs
Labels: t-feature, c-http, c-model, d-api, c-http-ratelimiting, c-validate

#1450 ci: fix spelling in labeler.yml
  .github/labeler.yml
Labels: t-github-actions

#1442 feat(model): add `Invitable` audit log change
  model/src/guild/audit_log/change.rs
  model/src/guild/audit_log/change_key.rs
Labels: t-feature, c-model, d-api

#1431 feat(cache)!: Seal `UpdateCache`
  cache/in-memory/src/lib.rs
Labels: t-feature, c-cache, m-breaking change

#1452 ci: add new label schema to labeler
  .github/labeler.yml
Labels: t-ci

#1448 docs: add code of conduct
  CODE_OF_CONDUCT.md
Labels: t-docs, c-all

#1441 refactor(gateway/session): Remove `Arc` around heartbeat handle
  gateway/src/shard/processor/session.rs
Labels: c-gateway, t-refactor

#1453 ci: restore `baptiste0928/cargo-install` action
  .github/workflows/check-lib.yml
Labels: t-ci

#1398 enhancement(http)!: Various smaller changes
  http-ratelimiting/src/headers.rs
  http-ratelimiting/src/lib.rs
  http-ratelimiting/src/request.rs
  http/src/client/mod.rs
  http/src/request/application/interaction/create_followup_message.rs
  http/src/request/application/interaction/delete_original_response.rs
  http/src/request/application/interaction/get_original_response.rs
  http/src/request/application/interaction/update_followup_message.rs
  http/src/request/application/interaction/update_original_response.rs
  http/src/request/base.rs
  http/src/routing/route.rs
Labels: c-http, m-breaking change, t-refactor, c-http-ratelimiting

#1454 refactor(http)!: remove unneeded public modules
  http/src/request/application/interaction/mod.rs
  http/src/request/channel/invite/mod.rs
  http/src/request/channel/message/mod.rs
  http/src/request/channel/mod.rs
  http/src/request/channel/reaction/mod.rs
  http/src/request/channel/stage/mod.rs
  http/src/request/channel/thread/mod.rs
  http/src/request/guild/ban/mod.rs
  http/src/request/guild/member/mod.rs
  http/src/request/guild/mod.rs
  http/src/request/template/mod.rs
  http/src/request/user/mod.rs
Labels: c-http, m-breaking change, t-refactor

#1455 refactor(http)!: remove `UpdateCurrentUserNick`
  http/src/client/mod.rs
  http/src/request/guild/mod.rs
  http/src/request/guild/update_current_user_nick.rs
  http/src/request/try_into_request.rs
Labels: c-http, m-breaking change, t-refactor

#1335 refactor(gateway): consistent style and code cleanup
  gateway/src/shard/emitter.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/json.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/socket_forwarder.rs
Labels: c-gateway, t-refactor

#1459 fix(cache): `cache_presence` not storing the user in `guild_presences`
  cache/in-memory/src/event/presence.rs
Labels: c-cache, t-fix

#1460 refactor(cache): implement `PartialEq` in a consistent way
  cache/in-memory/src/model/member.rs
  cache/in-memory/src/model/presence.rs
Labels: c-cache, t-refactor

#1457 refactor(http/request/reaction)!: impl `Display` on `RequestReactionType`
  http/src/request/channel/reaction/mod.rs
  http/src/routing/route_display.rs
Labels: c-http, m-breaking change, t-refactor

#1397 refactor(http)!: impl `Display` directly on `Route`
  http/src/request/base.rs
  http/src/routing.rs
  http/src/routing/mod.rs
  http/src/routing/route.rs
Labels: c-http, m-breaking change, t-refactor

#1458 feat(gateway): Update `metrics` to 0.18
  gateway/Cargo.toml
Labels: t-feature, c-gateway

#1467 feat(model)!: add `GuildPreview::stickers`
  model/src/guild/preview.rs
Labels: t-feature, c-model, m-breaking change

#1478 feat(model)!: add `ThreadMetadata::create_timestamp`
  cache/in-memory/src/event/guild.rs
  model/src/channel/mod.rs
  model/src/channel/thread/metadata.rs
  model/src/channel/thread/news.rs
  model/src/channel/thread/private.rs
  model/src/channel/thread/public.rs
Labels: t-feature, c-cache, c-model, m-breaking change

#1471 refactor(model)!: revert moving snowflake to model
  model/src/id/marker.rs
  model/src/id/mod.rs
  util/Cargo.toml
  util/README.md
  util/src/lib.rs
  util/src/snowflake.rs
Labels: c-model, m-breaking change, c-util, t-refactor

#1481 feat(gateway)!: Constructors take `String`, not `Into<String>`
  gateway/src/cluster/builder.rs
  gateway/src/cluster/impl.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/impl.rs
Labels: t-feature, c-gateway, m-breaking change

#1479 refactor(model)!: stage discovery has been removed
  cache/in-memory/src/event/stage_instance.rs
  model/src/channel/stage_instance/mod.rs
  model/src/channel/stage_instance/privacy_level.rs
Labels: c-cache, c-model, m-breaking change, t-refactor

#1480 fix(model)!: `GuildWidget::channel_id` can be `None`
  model/src/guild/widget.rs
Labels: c-model, m-breaking change, t-fix

#1474 feat(gateway): custom shard presences on identify
  gateway/src/cluster/builder.rs
  gateway/src/cluster/config.rs
  gateway/src/cluster/impl.rs
  gateway/src/shard/config.rs
Labels: t-feature, c-gateway

#1461 fix(cache): Update `member_count` with `MEMBER_ADD`/`MEMBER_REMOVE`
  cache/in-memory/src/event/guild.rs
  cache/in-memory/src/event/member.rs
  cache/in-memory/src/test.rs
Labels: c-cache, t-fix

#1482 refactor(gateway): Move compression logic from `compression` feature to `zlib-*`
  gateway/Cargo.toml
  gateway/README.md
  gateway/src/lib.rs
  gateway/src/shard/processor/compression/mod.rs
Labels: c-gateway, t-refactor

#1490 feat(gateway-queue): Add NoOpQueue
  gateway-queue/src/lib.rs
Labels: t-feature, c-gateway-queue

#1494 refactor(model/id): Remove internal `IdStringDisplay`
  model/src/id/mod.rs
Labels: c-model, t-refactor

#1495 ci: restrict push runs to `main` and `next`
  .github/workflows/check-lib.yml
Labels: t-ci

#1489 feat(gateway-queue)!: Make twilight-http optional
  gateway-queue/Cargo.toml
  gateway-queue/README.md
  gateway-queue/src/large_bot_queue.rs
  gateway-queue/src/lib.rs
Labels: t-feature, m-breaking change, c-gateway-queue

#1497 refactor(gateway)!: Remove `compression` feature flag
  gateway/Cargo.toml
Labels: c-gateway, m-breaking change, t-refactor

#1493 Allow retrieving the `NonZeroU64` from `Id<T>`
  model/src/id/mod.rs
Labels: c-model
