Repository twilight-rs/twilight, pull requests merged in 2022-09, with the labels that each got.

#1862 refactor(model): mark c-style enums `#[non_exhaustive]`
  twilight-model/src/application/command/command_type.rs
  twilight-model/src/application/component/button.rs
  twilight-model/src/application/component/kind.rs
  twilight-model/src/application/interaction/mod.rs
  twilight-model/src/channel/channel_type.rs
  twilight-model/src/channel/message/activity.rs
  twilight-model/src/channel/message/kind.rs
  twilight-model/src/channel/message/sticker/format_type.rs
  twilight-model/src/channel/message/sticker/kind.rs
  twilight-model/src/channel/permission_overwrite.rs
  twilight-model/src/channel/video_quality_mode.rs
  twilight-model/src/gateway/presence/activity_type.rs
  twilight-model/src/guild/default_message_notification_level.rs
  twilight-model/src/guild/explicit_content_filter.rs
  twilight-model/src/guild/integration_expire_behavior.rs
  twilight-model/src/guild/mfa_level.rs
  twilight-model/src/guild/nsfw_level.rs
  twilight-model/src/guild/premium_tier.rs
  twilight-model/src/guild/verification_level.rs
  twilight-model/src/invite/target_type.rs
  twilight-model/src/oauth/team/membership_state.rs
  twilight-model/src/scheduled_event/mod.rs
  twilight-model/src/user/connection_visibility.rs
  twilight-util/src/permission_calculator/mod.rs
  twilight-validate/src/command.rs
Labels: c-model, c-util, t-refactor, c-validate

#1872 build: use version 2 of the feature resolver
  Cargo.toml
Labels: c-all, t-build

#1873 fix(model): autocomplete focused options are always strings
  twilight-model/src/application/interaction/application_command/option.rs
Labels: c-model, t-fix

#1880 fix(http-ratelimiting): `/channels/id/thread-members/id` parsing
  twilight-http-ratelimiting/src/request.rs
Labels: t-fix, c-http-ratelimiting

#1885 fix(http-ratelimiting): explicitly drop lock
  twilight-http-ratelimiting/src/in_memory/bucket.rs
Labels: t-fix, c-http-ratelimiting

#1814 refactor(model)!: move related modules under `guild`
  twilight-http/src/client/mod.rs
  twilight-http/src/request/channel/invite/create_invite.rs
  twilight-http/src/request/channel/invite/get_channel_invites.rs
  twilight-http/src/request/channel/invite/get_invite.rs
  twilight-http/src/request/guild/get_guild_invites.rs
  twilight-http/src/request/guild/get_guild_welcome_screen.rs
  twilight-http/src/request/guild/update_guild_welcome_screen.rs
  twilight-http/src/request/scheduled_event/create_guild_scheduled_event/external.rs
  twilight-http/src/request/scheduled_event/create_guild_scheduled_event/mod.rs
  twilight-http/src/request/scheduled_event/create_guild_scheduled_event/stage_instance.rs
  twilight-http/src/request/scheduled_event/create_guild_scheduled_event/voice.rs
  twilight-http/src/request/scheduled_event/delete_guild_scheduled_event.rs
  twilight-http/src/request/scheduled_event/get_guild_scheduled_event.rs
  twilight-http/src/request/scheduled_event/get_guild_scheduled_event_users.rs
  twilight-http/src/request/scheduled_event/get_guild_scheduled_events.rs
  twilight-http/src/request/scheduled_event/update_guild_scheduled_event.rs
  twilight-http/src/request/template/create_template.rs
  twilight-http/src/request/template/get_template.rs
  twilight-http/src/request/template/get_templates.rs
  twilight-http/src/request/template/sync_template.rs
  twilight-http/src/request/template/update_template.rs
  twilight-http/src/response/mod.rs
  twilight-model/src/channel/stage_instance/mod.rs
  twilight-model/src/channel/thread/member.rs
  twilight-model/src/channel/thread/mod.rs
  twilight-model/src/gateway/payload/incoming/guild_scheduled_event_create.rs
  twilight-model/src/gateway/payload/incoming/guild_scheduled_event_delete.rs
  twilight-model/src/gateway/payload/incoming/guild_scheduled_event_update.rs
  twilight-model/src/gateway/payload/incoming/invite_create.rs
  twilight-model/src/gateway/payload/incoming/thread_members_update.rs
  twilight-model/src/gateway/presence/mod.rs
  twilight-model/src/guild/audit_log/event_type.rs
  twilight-model/src/guild/audit_log/mod.rs
  twilight-model/src/guild/invite/channel.rs
  twilight-model/src/guild/invite/guild.rs
  twilight-model/src/guild/invite/mod.rs
  twilight-model/src/guild/invite/target_type.rs
  twilight-model/src/guild/invite/welcome_screen.rs
  twilight-model/src/guild/member.rs
  twilight-model/src/guild/mod.rs
  twilight-model/src/guild/scheduled_event/mod.rs
  twilight-model/src/guild/scheduled_event/user.rs
  twilight-model/src/guild/template/guild.rs
  twilight-model/src/guild/template/mod.rs
  twilight-model/src/guild/template/role.rs
  twilight-model/src/id/marker.rs
  twilight-model/src/lib.rs
Labels: c-http, c-model, m-breaking change, t-refactor

#1816 docs(model)!: document `application::command::permissions`
  twilight-http/src/client/interaction.rs
  twilight-http/src/request/application/command/update_command_permissions.rs
  twilight-model/src/application/command/permissions.rs
Labels: t-docs, c-http, c-model, m-breaking change

#1842 refactor(gateway-queue)!: drop TLS features
  twilight-gateway-queue/Cargo.toml
  twilight-gateway-queue/src/lib.rs
  twilight-gateway/Cargo.toml
  twilight/Cargo.toml
Labels: c-gateway, m-breaking change, c-gateway-queue, t-refactor

#1882 feat(http)!: `channel_id` is optional for `UpdateCurrentUserVoiceState`
  twilight-http/src/client/mod.rs
  twilight-http/src/request/guild/user/update_current_user_voice_state.rs
Labels: t-feature, c-http, m-breaking change

#1888 feat(model): add application command badge flag
  twilight-model/src/oauth/application_flags.rs
Labels: t-feature, c-model

#1890 feat!(http,validate): validate attachment descriptions
  twilight-http/src/request/application/interaction/create_followup.rs
  twilight-http/src/request/application/interaction/update_followup.rs
  twilight-http/src/request/application/interaction/update_response.rs
  twilight-http/src/request/channel/message/create_message.rs
  twilight-http/src/request/channel/message/update_message.rs
  twilight-http/src/request/channel/webhook/execute_webhook.rs
  twilight-http/src/request/channel/webhook/update_webhook_message.rs
  twilight-validate/src/message.rs
Labels: t-feature, c-http, c-validate

#1892 fix(gateway)!: within a stream, reinsert shard on error
  twilight-gateway/README.md
  twilight-gateway/src/stream.rs
Labels: c-gateway, m-breaking change, t-fix

#1891 fix(gateway)!: `ConnectionStatus` methods borrow
  twilight-gateway/src/shard.rs
Labels: c-gateway, m-breaking change, t-fix

#1884 feat(http,validate)!: add create guild ban delete message seconds
  twilight-http/src/client/mod.rs
  twilight-http/src/request/guild/ban/create_ban.rs
  twilight-http/src/routing.rs
  twilight-validate/src/request.rs
Labels: t-feature, c-http, m-breaking change, c-validate

#1894 feat(gateway,model): Add handling for gateway resume url
  twilight-gateway/src/cluster/impl.rs
  twilight-gateway/src/shard/builder.rs
  twilight-gateway/src/shard/config.rs
  twilight-gateway/src/shard/impl.rs
  twilight-gateway/src/shard/processor/impl.rs
  twilight-gateway/src/shard/processor/session.rs
  twilight-model/src/gateway/payload/incoming/ready.rs
  twilight-standby/src/lib.rs
Labels: t-feature, c-model, c-gateway, c-standby

#1895 docs(gateway-queue): clarify `buckets` for large bot queue
  twilight-gateway-queue/src/large_bot_queue.rs
Labels: t-docs, c-gateway-queue

#1901 fix(gateway): fix reconnect handling of gateway query parameters
  twilight-gateway/src/shard/processor/impl.rs
Labels: c-gateway, t-fix

#1896 fix(model): don't serialize `Mention.member` if None
  twilight-model/src/channel/message/mention.rs
Labels: c-model, t-fix

#1893 docs(http,util): fix mention on how color works
  twilight-http/src/request/guild/create_guild/builder.rs
  twilight-http/src/request/guild/role/create_role.rs
  twilight-http/src/request/guild/role/update_role.rs
  twilight-util/src/builder/embed/mod.rs
Labels: t-docs, c-http, c-util

#1916 feat(http): implement `AuditLogReason` for `UpdateGuildMfa`
  twilight-http/src/request/audit_reason.rs
  twilight-http/src/request/guild/update_guild_mfa.rs
Labels: t-feature, c-http

#1918 feat(model): add `two_way_link` to `Connection`
  twilight-model/src/user/connection.rs
Labels: t-feature, c-model

#1760 feat(gateway)!: turn `twilight_http` optional
  twilight-gateway/Cargo.toml
  twilight-gateway/README.md
  twilight-gateway/src/lib.rs
  twilight-gateway/src/stream.rs
Labels: t-feature, c-gateway, m-breaking change

#1820 refactor(model)!: cleanup and document `voice`
  twilight-cache-inmemory/src/event/voice_state.rs
  twilight-cache-inmemory/src/model/voice_state.rs
  twilight-cache-inmemory/src/test.rs
  twilight-model/src/gateway/payload/incoming/voice_state_update.rs
  twilight-model/src/guild/mod.rs
  twilight-model/src/voice/close_code.rs
  twilight-model/src/voice/mod.rs
  twilight-model/src/voice/opcode.rs
  twilight-model/src/voice/voice_region.rs
  twilight-model/src/voice/voice_state.rs
Labels: c-cache, c-model, m-breaking change, t-refactor

#1831 refactor(model)!: move related modules under `message`
  twilight-cache-inmemory/src/event/reaction.rs
  twilight-cache-inmemory/src/model/message.rs
  twilight-cache-inmemory/src/test.rs
  twilight-http/src/request/application/interaction/create_followup.rs
  twilight-http/src/request/application/interaction/update_followup.rs
  twilight-http/src/request/application/interaction/update_response.rs
  twilight-http/src/request/channel/message/create_message.rs
  twilight-http/src/request/channel/message/update_message.rs
  twilight-http/src/request/channel/webhook/execute_webhook.rs
  twilight-http/src/request/channel/webhook/update_webhook_message.rs
  twilight-model/benches/deserialization.rs
  twilight-model/src/application/interaction/interaction_type.rs
  twilight-model/src/application/interaction/message_component.rs
  twilight-model/src/application/interaction/modal.rs
  twilight-model/src/application/mod.rs
  twilight-model/src/channel/message/component/action_row.rs
  twilight-model/src/channel/message/component/button.rs
  twilight-model/src/channel/message/component/kind.rs
  twilight-model/src/channel/message/component/mod.rs
  twilight-model/src/channel/message/component/select_menu.rs
  twilight-model/src/channel/message/component/text_input.rs
  twilight-model/src/channel/message/embed/author.rs
  twilight-model/src/channel/message/embed/field.rs
  twilight-model/src/channel/message/embed/footer.rs
  twilight-model/src/channel/message/embed/image.rs
  twilight-model/src/channel/message/embed/mod.rs
  twilight-model/src/channel/message/embed/provider.rs
  twilight-model/src/channel/message/embed/thumbnail.rs
  twilight-model/src/channel/message/embed/video.rs
  twilight-model/src/channel/message/mod.rs
  twilight-model/src/channel/message/reaction.rs
  twilight-model/src/channel/mod.rs
  twilight-model/src/channel/reaction_type.rs
  twilight-model/src/gateway/mod.rs
  twilight-model/src/gateway/payload/incoming/message_update.rs
  twilight-model/src/gateway/payload/incoming/reaction_add.rs
  twilight-model/src/gateway/payload/incoming/reaction_remove.rs
  twilight-model/src/gateway/payload/incoming/reaction_remove_emoji.rs
  twilight-model/src/gateway/reaction.rs
  twilight-model/src/http/interaction.rs
  twilight-model/src/id/marker.rs
  twilight-standby/src/lib.rs
  twilight-util/src/builder/embed/author.rs
  twilight-util/src/builder/embed/field.rs
  twilight-util/src/builder/embed/footer.rs
  twilight-util/src/builder/embed/mod.rs
  twilight-util/src/builder/interaction_response_data.rs
  twilight-validate/src/component.rs
  twilight-validate/src/embed.rs
  twilight-validate/src/message.rs
Labels: t-docs, c-http, c-cache, c-model, m-breaking change, c-standby, c-util, t-refactor, c-validate

#1910 feat(model): add `GuildFeature::InvitesDisabled`
  twilight-model/src/guild/feature.rs
Labels: t-feature, c-model

#1924 fix(model)!: use `ImageHash` for `InteractionMember::avatar`
  twilight-model/src/application/interaction/application_command/resolved.rs
Labels: c-model, m-breaking change, t-fix

#1911 docs(http): document component only messages
  twilight-http/src/client/interaction.rs
  twilight-http/src/client/mod.rs
  twilight-http/src/request/application/interaction/create_followup.rs
  twilight-http/src/request/application/interaction/update_followup.rs
  twilight-http/src/request/application/interaction/update_response.rs
  twilight-http/src/request/channel/message/create_message.rs
  twilight-http/src/request/channel/webhook/execute_webhook.rs
  twilight-http/src/request/channel/webhook/execute_webhook_and_wait.rs
  twilight-http/src/request/channel/webhook/update_webhook_message.rs
Labels: t-docs, c-http

#1912 docs(http): document mutable guild features
  twilight-http/src/request/guild/update_guild.rs
Labels: t-docs, c-http

#1921 feat(model)!: bring audit log up to date
  twilight-model/src/guild/audit_log/event_type.rs
  twilight-model/src/guild/audit_log/mod.rs
  twilight-model/src/guild/audit_log/optional_entry_info.rs
Labels: t-feature, c-model, m-breaking change

#1899 feat(model): method to get the `guild_id` from an `Event`
  twilight-model/src/gateway/event/mod.rs
  twilight-standby/src/event.rs
  twilight-standby/src/lib.rs
Labels: t-feature, c-model, c-standby

#1915 feat(model): add `scopes` to `GuildIntegration`
  twilight-model/src/guild/integration.rs
Labels: t-feature, c-model

#1897 build!: bump msrv to 1.64
  .clippy.toml
  .github/workflows/check.yml
  Cargo.toml
  README.md
  book/tests/Cargo.toml
  examples/Cargo.toml
  twilight-cache-inmemory/Cargo.toml
  twilight-cache-inmemory/README.md
  twilight-gateway-queue/Cargo.toml
  twilight-gateway/Cargo.toml
  twilight-gateway/README.md
  twilight-http-ratelimiting/Cargo.toml
  twilight-http/Cargo.toml
  twilight-http/README.md
  twilight-http/src/request/channel/invite/create_invite.rs
  twilight-http/src/request/channel/message/get_channel_messages.rs
  twilight-http/src/request/channel/message/get_channel_messages_configured.rs
  twilight-http/src/request/channel/reaction/get_reactions.rs
  twilight-http/src/request/channel/thread/update_thread.rs
  twilight-http/src/request/channel/update_channel.rs
  twilight-http/src/request/guild/ban/create_ban.rs
  twilight-http/src/request/guild/ban/get_bans.rs
  twilight-http/src/request/guild/create_guild_channel.rs
  twilight-http/src/request/guild/create_guild_prune.rs
  twilight-http/src/request/guild/get_audit_log.rs
  twilight-http/src/request/guild/get_guild_prune_count.rs
  twilight-http/src/request/guild/member/get_guild_members.rs
  twilight-http/src/request/guild/member/search_guild_members.rs
  twilight-http/src/request/scheduled_event/get_guild_scheduled_event_users.rs
  twilight-http/src/request/user/get_current_user_guilds.rs
  twilight-lavalink/Cargo.toml
  twilight-lavalink/README.md
  twilight-lavalink/src/client.rs
  twilight-lavalink/src/node.rs
  twilight-mention/Cargo.toml
  twilight-mention/README.md
  twilight-model/Cargo.toml
  twilight-model/README.md
  twilight-model/src/channel/message/allowed_mentions/builder.rs
  twilight-standby/Cargo.toml
  twilight-standby/README.md
  twilight-util/Cargo.toml
  twilight-util/README.md
  twilight-util/src/builder/embed/mod.rs
  twilight-validate/Cargo.toml
  twilight-validate/README.md
  twilight-validate/src/request.rs
  twilight/Cargo.toml
Labels: c-http, c-cache, c-model, c-gateway, m-breaking change, c-lavalink, t-ci, c-standby, c-mention, c-all, c-gateway-queue, c-util, c-http-ratelimiting, c-validate, t-build, c-book

#1857 ci: check doc comments with nightly format
  .github/workflows/check.yml
  twilight-http/src/request/application/interaction/delete_response.rs
  twilight-http/src/request/application/interaction/get_followup.rs
  twilight-http/src/request/application/interaction/get_response.rs
  twilight-model/src/channel/message/component/mod.rs
Labels: c-http, c-model, t-ci, c-all

#1859 perf(model)!: unbox `GatewayEvent::Dispatch`
  twilight-model/src/gateway/event/gateway.rs
  twilight-model/src/gateway/event/mod.rs
Labels: c-model, m-breaking change, t-perf

#1909 refactor(cache/inmemory,http,model,util,validate)!: update `ChannelType` names
  twilight-cache-inmemory/src/event/guild.rs
  twilight-cache-inmemory/src/permission.rs
  twilight-http/src/client/mod.rs
  twilight-http/src/request/channel/thread/create_thread.rs
  twilight-http/src/request/channel/thread/create_thread_from_message.rs
  twilight-http/src/request/channel/thread/get_public_archived_threads.rs
  twilight-http/src/request/channel/thread/remove_thread_member.rs
  twilight-http/src/request/channel/update_channel.rs
  twilight-model/src/channel/channel_type.rs
  twilight-model/src/channel/mod.rs
  twilight-util/src/permission_calculator/mod.rs
  twilight-validate/src/channel.rs
Labels: c-http, c-cache, c-model, m-breaking change, c-util, t-refactor, c-validate

#1926 feat(gateway): Add gateway url to the shard information
  twilight-gateway/src/shard/impl.rs
Labels: t-feature, c-gateway

#1928 refactor(model)!: move `gateway::Hello` to `payloads::incoming::Hello`
  twilight-gateway/src/shard.rs
  twilight-model/src/gateway/event/gateway.rs
  twilight-model/src/gateway/event/mod.rs
  twilight-model/src/gateway/payload/incoming/hello.rs
  twilight-model/src/gateway/payload/incoming/mod.rs
Labels: c-model, c-gateway, m-breaking change, t-refactor

#1929 fix(gateway): respect `EventTypeFlags`
  twilight-gateway/src/event.rs
  twilight-gateway/src/json.rs
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-fix
