Repository twilight-rs/twilight, pull requests merged in 2022-08, with the labels that each got.

#1860 ci(book): fix build
  .github/workflows/book.yml
  book/book.toml
Labels: t-ci, c-book

#1865 fix(model)!: make `Channel::position` `i32`
  twilight-model/src/channel/mod.rs
  twilight-model/src/template/mod.rs
Labels: c-model, m-breaking change, t-fix

#1792 docs(model): fully document `channel::message`
  twilight-model/src/channel/message/activity.rs
  twilight-model/src/channel/message/activity_type.rs
  twilight-model/src/channel/message/allowed_mentions/builder.rs
  twilight-model/src/channel/message/allowed_mentions/mod.rs
  twilight-model/src/channel/message/application.rs
  twilight-model/src/channel/message/flags.rs
  twilight-model/src/channel/message/interaction.rs
  twilight-model/src/channel/message/kind.rs
  twilight-model/src/channel/message/mod.rs
  twilight-model/src/channel/message/reaction.rs
  twilight-model/src/channel/message/reference.rs
  twilight-model/src/channel/message/sticker/message.rs
  twilight-model/src/oauth/application.rs
Labels: t-docs, c-model

#1616 fix(cache): ResourceType::GUILD required for other resources
  twilight-cache-inmemory/src/event/guild.rs
  twilight-cache-inmemory/src/event/mod.rs
  twilight-cache-inmemory/src/permission.rs
Labels: c-cache, t-fix

#1879 ci: ignore inflight
  .codespellrc
Labels: t-ci

#1871 fix(model): serialise options localisations as well
  twilight-model/src/application/command/option.rs
Labels: c-model, t-fix

#1858 fix(model): deserialize `Event::GuildStickersUpdate`
  twilight-model/src/gateway/event/dispatch.rs
  twilight-model/src/gateway/event/mod.rs
Labels: c-model, t-fix

#1878 fix(model): Don't serialise PartialMember.permissions if None
  twilight-model/src/application/interaction/application_command/resolved.rs
  twilight-model/src/channel/message/interaction.rs
  twilight-model/src/channel/message/mention.rs
  twilight-model/src/channel/message/mod.rs
  twilight-model/src/guild/partial_member.rs
Labels: c-model, t-fix
