Repository twilight-rs/twilight, pull requests merged in 2022-10, with the labels that each got.

#1931 refactor(gateway): don't pass `WEBSOCKET_CONFIG` in an `Option`
  twilight-gateway/src/connection.rs
  twilight-gateway/src/tls.rs
Labels: c-gateway, t-refactor

#1939 refactor(gateway)!: simplify `ConnectionStatus::from_close_frame`
  twilight-gateway/src/error.rs
  twilight-gateway/src/shard.rs
Labels: c-gateway, m-breaking change, t-refactor

#1940 fix(gateway)!: heartbeat with a `null` sequence until a session is initialized
  twilight-gateway/src/channel.rs
  twilight-gateway/src/command.rs
  twilight-gateway/src/shard.rs
  twilight-model/src/gateway/payload/outgoing/heartbeat.rs
Labels: c-model, c-gateway, m-breaking change, t-fix

#1942 fix(gateway): reset `resume_gateway_url` on reconnect failure and invalidated sessions
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-fix

#1944 fix(gateway): call `Session::set_sequence` on first dispatch event
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-fix

#1948 docs(gateway): redo and clarify `Latency` docs
  twilight-gateway/src/latency.rs
Labels: t-docs, c-gateway

#1819 refactor(model)!: flatten `CommandOption`
  twilight-http/src/request/application/command/mod.rs
  twilight-model/src/application/command/mod.rs
  twilight-model/src/application/command/option.rs
  twilight-util/src/builder/command.rs
  twilight-validate/src/command.rs
Labels: c-http, c-model, m-breaking change, t-fix, c-util, t-refactor, c-validate

#1945 refactor(model)!: redo `gateway::OpCode`
  twilight-gateway/src/json.rs
  twilight-gateway/src/shard.rs
  twilight-model/src/gateway/event/gateway.rs
  twilight-model/src/gateway/opcode.rs
Labels: c-model, c-gateway, m-breaking change, t-refactor

#1933 feat(gateway): heartbeat jitter
  twilight-gateway/Cargo.toml
  twilight-gateway/src/future.rs
Labels: t-feature, c-gateway

#1946 fix(gateway): make `Shard::heartbeat` bypass the ratelimiter
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-fix

#1949 docs(gateway): touch up `ShardId` and add section about receiving events
  twilight-gateway/src/config.rs
  twilight-gateway/src/shard.rs
Labels: t-docs, c-gateway

#1955 perf(gateway): use `tokio::time::Interval` for heartbeating
  twilight-gateway/Cargo.toml
  twilight-gateway/src/future.rs
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-perf

#1956 refactor(http)!: remove `GetGuildMembers::presences`
  twilight-http/src/request/guild/member/get_guild_members.rs
  twilight-http/src/routing.rs
Labels: c-http, m-breaking change, t-refactor

#1947 refactor(gateway)!: rewrite ratelimiter
  twilight-gateway/Cargo.toml
  twilight-gateway/src/future.rs
  twilight-gateway/src/ratelimiter.rs
  twilight-gateway/src/shard.rs
  twilight-gateway/tests/test_shard_command_ratelimit.rs
Labels: c-gateway, m-breaking change, t-fix, t-refactor

#1951 fix(gateway): make close messages bypass the command ratelimiter
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-fix

#1952 refactor(gateway)!: defer establishing a websocket connection to `Shard::next_message`
  README.md
  book/src/chapter_1_crates/section_3_gateway.md
  book/src/chapter_1_crates/section_4_cache_inmemory.md
  book/src/chapter_1_crates/section_7_first_party/section_3_lavalink.md
  book/src/overview.md
  examples/gateway-intents.rs
  examples/gateway-metrics.rs
  examples/gateway-request-members.rs
  examples/gateway-shard.rs
  examples/lavalink-basic-bot.rs
  twilight-cache-inmemory/README.md
  twilight-gateway/README.md
  twilight-gateway/src/config.rs
  twilight-gateway/src/connection.rs
  twilight-gateway/src/error.rs
  twilight-gateway/src/shard.rs
  twilight-gateway/src/stream.rs
  twilight-gateway/src/tls.rs
  twilight-lavalink/README.md
  twilight-standby/README.md
Labels: c-cache, c-gateway, m-breaking change, c-lavalink, c-standby, c-all, t-refactor, c-book

#1846 feat(http,model)!: auto moderation http methods and mention spam
  twilight-http-ratelimiting/src/request.rs
  twilight-http/src/client/mod.rs
  twilight-http/src/request/audit_reason.rs
  twilight-http/src/request/guild/auto_moderation/create_auto_moderation_rule.rs
  twilight-http/src/request/guild/auto_moderation/delete_auto_moderation_rule.rs
  twilight-http/src/request/guild/auto_moderation/get_auto_moderation_rule.rs
  twilight-http/src/request/guild/auto_moderation/get_guild_auto_moderation_rules.rs
  twilight-http/src/request/guild/auto_moderation/mod.rs
  twilight-http/src/request/guild/auto_moderation/update_auto_moderation_rule.rs
  twilight-http/src/request/guild/mod.rs
  twilight-http/src/request/try_into_request.rs
  twilight-http/src/routing.rs
  twilight-model/src/guild/auto_moderation/trigger_type.rs
  twilight-validate/src/request.rs
Labels: t-feature, c-http, c-model, m-breaking change, c-http-ratelimiting, c-validate

#1864 feat(http,model): forum channels
  twilight-cache-inmemory/src/event/guild.rs
  twilight-cache-inmemory/src/permission.rs
  twilight-cache-inmemory/src/test.rs
  twilight-http/src/client/mod.rs
  twilight-http/src/request/channel/thread/create_forum_thread/message.rs
  twilight-http/src/request/channel/thread/create_forum_thread/mod.rs
  twilight-http/src/request/channel/thread/create_thread_from_message.rs
  twilight-http/src/request/channel/thread/mod.rs
  twilight-http/src/request/channel/thread/update_thread.rs
  twilight-http/src/request/channel/update_channel.rs
  twilight-http/src/request/guild/create_guild_channel.rs
  twilight-http/src/request/try_into_request.rs
  twilight-http/src/routing.rs
  twilight-model/src/channel/flags.rs
  twilight-model/src/channel/forum.rs
  twilight-model/src/channel/message/mod.rs
  twilight-model/src/channel/mod.rs
  twilight-model/src/guild/permissions.rs
  twilight-model/src/id/marker.rs
  twilight-model/src/template/mod.rs
  twilight-validate/src/channel.rs
Labels: t-feature, c-http, c-cache, c-model, c-validate

#1962 fix(http)!: require privacy_level in `CreateGuildScheduledEvent`
  twilight-http/src/client/mod.rs
  twilight-http/src/request/scheduled_event/create_guild_scheduled_event/mod.rs
Labels: c-http, m-breaking change, t-fix

#1950 docs(gateway): resharding example
  examples/Cargo.toml
  examples/gateway-reshard.rs
Labels: t-docs

#1963 docs(gateway): remove unused imports in examples
  twilight-gateway/src/message.rs
  twilight-gateway/src/shard.rs
Labels: t-docs, c-gateway

#1964 fix(gateway): don't panic on zombied connection
  twilight-gateway/src/latency.rs
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-fix

#1965 build: remove keys with default value
  book/tests/Cargo.toml
  twilight-cache-inmemory/Cargo.toml
  twilight-gateway-queue/Cargo.toml
  twilight-gateway/Cargo.toml
  twilight-http-ratelimiting/Cargo.toml
  twilight-http/Cargo.toml
  twilight-lavalink/Cargo.toml
  twilight-mention/Cargo.toml
  twilight-model/Cargo.toml
  twilight-standby/Cargo.toml
  twilight-util/Cargo.toml
  twilight-validate/Cargo.toml
  twilight/Cargo.toml
Labels: c-http, c-cache, c-model, c-gateway, c-lavalink, c-standby, c-mention, c-gateway-queue, c-util, c-http-ratelimiting, c-validate, t-build, c-book

#1966 feat(gateway): `Latency::recent` filter zero
  twilight-gateway/src/latency.rs
Labels: t-feature, c-gateway

#1967 docs(gateway): ratelimiter hygiene & don't mention internals
  twilight-gateway/src/ratelimiter.rs
  twilight-gateway/src/shard.rs
Labels: t-docs, c-gateway

#1969 fix(gateway): catch unrequested heartbeat acks
  twilight-gateway/src/latency.rs
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-fix

#1968 fix(gateway): respond to `Heartbeat` with stored sequence
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-fix

#1973 fix(gateway): defer resuming to Hello
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-fix
