Repository twilight-rs/twilight, pull requests merged in 2022-02, with the labels that each got.

#1504 feat(validate): validate embed length
  validate/src/embed.rs
  validate/src/message.rs
Labels: t-feature, m-breaking change, t-refactor, c-validate

#1506 fix(cache-inmemory): Proper handling and cleanup on UnavailableGuild
  cache/in-memory/src/event/guild.rs
  cache/in-memory/src/event/mod.rs
Labels: c-cache, t-fix

#1429 docs: capitalization and format of `Discord` docs links
  cache/in-memory/src/model/member.rs
  examples/model-webhook-slash.rs
  gateway/README.md
  gateway/src/lib.rs
  http/src/client/interaction.rs
  http/src/client/mod.rs
  http/src/request/application/command/create_global_command/chat_input.rs
  http/src/request/application/command/create_global_command/message.rs
  http/src/request/application/command/create_global_command/mod.rs
  http/src/request/application/command/create_global_command/user.rs
  http/src/request/application/command/create_guild_command/chat_input.rs
  http/src/request/application/command/create_guild_command/message.rs
  http/src/request/application/command/create_guild_command/mod.rs
  http/src/request/application/command/create_guild_command/user.rs
  http/src/request/application/command/update_global_command.rs
  http/src/request/application/command/update_guild_command.rs
  http/src/request/application/interaction/update_followup_message.rs
  http/src/request/application/interaction/update_original_response.rs
  http/src/request/channel/invite/create_invite.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/delete_messages.rs
  http/src/request/channel/thread/update_thread.rs
  http/src/request/channel/update_channel.rs
  http/src/request/channel/webhook/create_webhook.rs
  http/src/request/channel/webhook/update_webhook.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/request/channel/webhook/update_webhook_with_token.rs
  http/src/request/guild/create_guild/mod.rs
  http/src/request/guild/create_guild_channel.rs
  http/src/request/guild/create_guild_prune.rs
  http/src/request/guild/emoji/create_emoji.rs
  http/src/request/guild/get_guild_widget.rs
  http/src/request/guild/member/add_guild_member.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/guild/update_guild.rs
  http/src/request/scheduled_event/create_guild_scheduled_event/mod.rs
  http/src/request/scheduled_event/get_guild_scheduled_event_users.rs
  http/src/request/template/create_guild_from_template.rs
  http/src/request/user/get_current_user_guilds.rs
  http/src/request/user/update_current_user.rs
  model/src/application/callback/mod.rs
  model/src/application/command/mod.rs
  model/src/application/command/option.rs
  model/src/application/component/button.rs
  model/src/application/component/kind.rs
  model/src/application/interaction/application_command/data/mod.rs
  model/src/application/interaction/interaction_type.rs
  model/src/application/interaction/message_component/data.rs
  model/src/application/interaction/message_component/mod.rs
  model/src/application/interaction/mod.rs
  model/src/channel/message/sticker/mod.rs
  model/src/gateway/intents.rs
  model/src/user/current_user.rs
  model/src/user/current_user_guild.rs
  validate/src/embed.rs
Labels: t-docs, c-http, c-cache, c-model, c-gateway, c-validate

#1433 refactor(http)!: refactor interaction client
  http/src/client/interaction.rs
  http/src/client/mod.rs
  http/src/request/application/interaction/create_followup.rs
  http/src/request/application/interaction/create_response.rs
  http/src/request/application/interaction/delete_followup.rs
  http/src/request/application/interaction/delete_response.rs
  http/src/request/application/interaction/get_followup.rs
  http/src/request/application/interaction/get_response.rs
  http/src/request/application/interaction/mod.rs
  http/src/request/application/interaction/update_followup.rs
  http/src/request/application/interaction/update_response.rs
  http/src/request/try_into_request.rs
Labels: c-http, m-breaking change, t-refactor

#1354 refactor(http)!: make sending messages consistent across methods
  examples/http-allowed-mentions.rs
  http/src/client/interaction.rs
  http/src/client/mod.rs
  http/src/request/application/interaction/create_followup.rs
  http/src/request/application/interaction/update_followup.rs
  http/src/request/application/interaction/update_response.rs
  http/src/request/attachment.rs
  http/src/request/audit_reason.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/execute_webhook_and_wait.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/request/guild/sticker/create_guild_sticker.rs
  http/src/request/mod.rs
  http/src/request/multipart.rs
  validate/src/message.rs
Labels: c-http, m-breaking change, d-api, t-refactor, c-validate

#1501 feat(gateway)!: Allow disabling payload ratelimiting
  gateway/src/cluster/builder.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/config.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/session.rs
Labels: t-feature, c-gateway, m-breaking change

#1519 ci: add build label to labeler
  .github/labeler.yml
Labels: t-ci

#1516 docs(http,model): fix broken associated builder links
  http/src/client/interaction.rs
  http/src/request/application/command/set_global_commands.rs
  http/src/request/application/command/set_guild_commands.rs
  model/src/application/callback/callback_data.rs
  model/src/application/command/mod.rs
Labels: t-docs, c-http, c-model

#1520 refactor(gateway,model)!: rename `GUILD_EMOJIS` intent and make corresponding changes
  cache/in-memory/src/lib.rs
  examples/gateway-metrics.rs
  gateway/src/cluster/mod.rs
  gateway/src/event.rs
  model/src/gateway/event/kind.rs
  model/src/gateway/event/mod.rs
  model/src/gateway/intents.rs
  standby/src/event.rs
Labels: t-feature, c-cache, c-model, c-gateway, m-breaking change, c-standby, t-refactor

#1436 perf(model/gateway)!: Optimize `Event` size
  cache/in-memory/src/event/channel.rs
  cache/in-memory/src/lib.rs
  model/src/gateway/event/dispatch.rs
  model/src/gateway/event/mod.rs
  standby/src/lib.rs
Labels: c-cache, c-model, m-breaking change, c-standby, t-perf

#1526 feat(model): bring `MessageFlags` up to date
  model/src/channel/message/flags.rs
Labels: t-feature, c-model

#1529 docs(http): welcome screen permissions note
  http/src/client/mod.rs
  http/src/request/guild/get_guild_welcome_screen.rs
Labels: t-docs, c-http

#1532 feat(model): add `MessageInteraction::member`
  model/src/channel/message/interaction.rs
Labels: t-feature, c-model

#1533 docs(http): note about timing out administrator
  http/src/request/guild/member/update_guild_member.rs
Labels: t-docs, c-http

#1449 refactor(cache, model)!: make channel a struct
  cache/in-memory/src/event/channel.rs
  cache/in-memory/src/event/guild.rs
  cache/in-memory/src/event/thread.rs
  cache/in-memory/src/iter.rs
  cache/in-memory/src/lib.rs
  cache/in-memory/src/permission.rs
  cache/in-memory/src/stats.rs
  cache/in-memory/src/test.rs
  http/src/client/mod.rs
  http/src/request/channel/invite/get_channel_invites.rs
  http/src/request/guild/create_guild_channel.rs
  http/src/request/guild/get_guild_channels.rs
  http/src/request/user/create_private_channel.rs
  mention/src/fmt.rs
  model/src/channel/category_channel.rs
  model/src/channel/channel_type.rs
  model/src/channel/group.rs
  model/src/channel/mod.rs
  model/src/channel/private_channel.rs
  model/src/channel/text_channel.rs
  model/src/channel/thread/mod.rs
  model/src/channel/thread/news.rs
  model/src/channel/thread/private.rs
  model/src/channel/thread/public.rs
  model/src/channel/voice_channel.rs
  model/src/guild/audit_log/event_type.rs
  model/src/guild/audit_log/mod.rs
  model/src/guild/mod.rs
  model/src/id/marker.rs
  model/src/template/guild.rs
  model/src/template/mod.rs
  standby/src/event.rs
Labels: c-http, c-cache, c-model, m-breaking change, c-standby, c-mention, t-refactor

#1535 test(model): add `MessageInteraction` test
  model/src/channel/message/interaction.rs
Labels: c-model, t-test

#1524 docs(validate): fix some small typos
  validate/src/request.rs
Labels: t-docs, c-validate

#1525 feat(http,model): scheduled event cover images
  http/src/request/scheduled_event/create_guild_scheduled_event/external.rs
  http/src/request/scheduled_event/create_guild_scheduled_event/mod.rs
  http/src/request/scheduled_event/create_guild_scheduled_event/stage_instance.rs
  http/src/request/scheduled_event/create_guild_scheduled_event/voice.rs
  http/src/request/scheduled_event/update_guild_scheduled_event.rs
  model/src/scheduled_event/mod.rs
Labels: t-feature, c-http, c-model

#1503 refactor(cache)!: Remove `Option` around known voice fields
  cache/in-memory/src/event/voice_state.rs
  cache/in-memory/src/model/voice_state.rs
Labels: t-feature, c-cache, m-breaking change, t-refactor

#1530 feat(http,validate)!: validate attachment filenames
  http/src/request/application/interaction/create_followup.rs
  http/src/request/application/interaction/update_followup.rs
  http/src/request/application/interaction/update_response.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  validate/src/message.rs
Labels: t-feature, c-http, m-breaking change, c-validate

#1509 feat(http): use form for attachments in `CreateResponse`
  http/src/request/application/interaction/create_response.rs
Labels: t-feature, c-http

#1537 feat(model): New command option: Attachment
  cache/in-memory/src/event/interaction.rs
  model/src/application/command/option.rs
  model/src/application/interaction/application_command/data/mod.rs
  model/src/application/interaction/application_command/data/resolved.rs
  model/src/application/interaction/mod.rs
  validate/src/command.rs
Labels: t-feature, c-cache, c-model, c-validate

#1541 refactor(model): restructure application_command module
  model/src/application/interaction/application_command/data.rs
  model/src/application/interaction/application_command/mod.rs
  model/src/application/interaction/application_command/option.rs
  model/src/application/interaction/application_command/resolved.rs
Labels: c-model, t-refactor

#1542 fix(model)!: add separate autocomplete type
  model/src/application/interaction/application_command_autocomplete/data.rs
  model/src/application/interaction/application_command_autocomplete/mod.rs
  model/src/application/interaction/application_command_autocomplete/option.rs
  model/src/application/interaction/mod.rs
Labels: c-model, m-breaking change, t-fix

#1545 feat(util): add attachment command builder
  util/src/builder/command.rs
Labels: t-feature, c-util

#1547 fix(model): add scheduled event action types
  model/src/guild/audit_log/event_type.rs
Labels: c-model, t-fix

#1505 refactor(http)!: reduce api integer sizes
  http/src/client/mod.rs
  http/src/request/channel/invite/create_invite.rs
  http/src/request/channel/message/get_channel_messages.rs
  http/src/request/channel/message/get_channel_messages_configured.rs
  http/src/request/channel/reaction/get_reactions.rs
  http/src/request/channel/thread/update_thread.rs
  http/src/request/channel/update_channel.rs
  http/src/request/guild/ban/create_ban.rs
  http/src/request/guild/create_guild/builder.rs
  http/src/request/guild/create_guild/mod.rs
  http/src/request/guild/create_guild_channel.rs
  http/src/request/guild/create_guild_prune.rs
  http/src/request/guild/get_audit_log.rs
  http/src/request/guild/get_guild_prune_count.rs
  http/src/request/guild/member/get_guild_members.rs
  http/src/request/guild/member/search_guild_members.rs
  http/src/request/scheduled_event/get_guild_scheduled_event_users.rs
  http/src/request/user/get_current_user_guilds.rs
  http/src/routing.rs
  validate/src/channel.rs
  validate/src/request.rs
Labels: c-http, m-breaking change, t-refactor, c-validate

#1538 feat(http)!: support setting `MessageFlags` on applicable methods
  http/src/request/application/interaction/create_followup.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/webhook/execute_webhook.rs
Labels: t-feature, c-http, m-breaking change
