Repository twilight-rs/twilight, pull requests merged in 2022-07, with the labels that each got.

#1806 refactor(model): clippy 1.62
  model/src/channel/message/sticker/format_type.rs
  model/src/channel/message/sticker/kind.rs
Labels: c-model, t-refactor

#1803 feat(model)!: add `GuildFeature`
  cache/in-memory/src/model/guild.rs
  model/src/guild/feature.rs
  model/src/guild/mod.rs
  model/src/guild/partial_guild.rs
Labels: t-feature, c-cache, c-model, m-breaking change

#1795 refactor(model): add `#[non_exhaustive]` to c-style enums
  http/src/response/status_code.rs
  model/src/application/command/command_type.rs
  model/src/application/command/option.rs
  model/src/application/command/permissions.rs
  model/src/application/component/button.rs
  model/src/application/component/kind.rs
  model/src/application/component/text_input.rs
  model/src/application/interaction/application_command_autocomplete/option.rs
  model/src/application/interaction/interaction_type.rs
  model/src/channel/channel_type.rs
  model/src/channel/message/activity_type.rs
  model/src/channel/message/kind.rs
  model/src/channel/message/sticker/format_type.rs
  model/src/channel/message/sticker/kind.rs
  model/src/channel/permission_overwrite.rs
  model/src/channel/stage_instance/privacy_level.rs
  model/src/channel/video_quality_mode.rs
  model/src/channel/webhook/kind.rs
  model/src/gateway/close_code.rs
  model/src/gateway/opcode.rs
  model/src/gateway/presence/activity_type.rs
  model/src/guild/default_message_notification_level.rs
  model/src/guild/explicit_content_filter.rs
  model/src/guild/integration_expire_behavior.rs
  model/src/guild/mfa_level.rs
  model/src/guild/nsfw_level.rs
  model/src/guild/premium_tier.rs
  model/src/guild/verification_level.rs
  model/src/http/interaction.rs
  model/src/http/permission_overwrite.rs
  model/src/invite/target_type.rs
  model/src/oauth/team/membership_state.rs
  model/src/scheduled_event/mod.rs
  model/src/user/connection_visibility.rs
  model/src/user/premium_type.rs
  model/src/voice/close_code.rs
  model/src/voice/opcode.rs
  util/src/permission_calculator/mod.rs
  validate/src/command.rs
  validate/src/component.rs
Labels: c-http, c-model, c-util, t-refactor, c-validate

#1805 Add the app_permissions field on interactions
  cache/in-memory/src/event/interaction.rs
  model/src/application/interaction/application_command/mod.rs
  model/src/application/interaction/application_command_autocomplete/mod.rs
  model/src/application/interaction/message_component/mod.rs
  model/src/application/interaction/mod.rs
  model/src/application/interaction/modal/mod.rs
  standby/src/lib.rs
Labels: c-cache, c-model, c-standby

#1812 fix(cache): compare reaction emojis by resource instead of object
  cache/in-memory/src/event/reaction.rs
  cache/in-memory/src/test.rs
Labels: c-cache, t-fix

#1815 build: release automation
  .github/workflows/check.yml
  .github/workflows/deploy-lib.yml
  CONTRIBUTING.md
  book/tests/Cargo.toml
  cache/in-memory/Cargo.toml
  cliff.toml
  embed-builder/Cargo.toml
  gateway-queue/Cargo.toml
  gateway/Cargo.toml
  gen-changelogs.sh
  http/Cargo.toml
  lavalink/Cargo.toml
  mention/Cargo.toml
  release.sh
  release.toml
  standby/Cargo.toml
  twilight/Cargo.toml
  util/Cargo.toml
  validate/Cargo.toml
Labels: c-http, c-cache, c-gateway, c-lavalink, t-ci, c-standby, c-mention, c-all, c-embed-builder, c-gateway-queue, c-util, c-validate, t-build, c-book

#1818 fix(gateway): Add missing received events per intent
  gateway/src/event.rs
  model/src/gateway/intents.rs
Labels: c-model, c-gateway, t-fix

#1813 refactor(model)!: make interaction a struct
  cache/in-memory/src/event/interaction.rs
  cache/in-memory/src/lib.rs
  examples/model-webhook-slash.rs
  model/src/application/interaction/application_command/data.rs
  model/src/application/interaction/application_command/mod.rs
  model/src/application/interaction/application_command/option.rs
  model/src/application/interaction/application_command/resolved.rs
  model/src/application/interaction/interaction_type.rs
  model/src/application/interaction/message_component.rs
  model/src/application/interaction/message_component/mod.rs
  model/src/application/interaction/mod.rs
  model/src/application/interaction/modal.rs
  model/src/application/interaction/modal/mod.rs
  model/src/application/interaction/ping.rs
  model/src/gateway/event/dispatch.rs
  model/src/gateway/event/mod.rs
  standby/src/event.rs
  standby/src/future.rs
  standby/src/lib.rs
Labels: c-cache, c-model, m-breaking change, c-standby, t-refactor

#1807 refactor(util)!: remove `EmbedAuthorBuilder::name`
  util/src/builder/embed/author.rs
Labels: m-breaking change, c-util, t-refactor

#1822 fix(model): fix thread max message count
  model/src/channel/mod.rs
Labels: c-model, t-fix

#1829 build(gateway,http): support `simd-json` 0.6
  gateway/Cargo.toml
  http/Cargo.toml
Labels: c-http, c-gateway, t-build

#1830 build(gateway): support `metrics` 0.19
  gateway/Cargo.toml
Labels: c-gateway, t-build

#1835 feat(model): add `Deref` for `VoiceStateUpdate`
  lavalink/src/client.rs
  model/src/gateway/payload/incoming/voice_state_update.rs
Labels: t-feature, c-model, c-lavalink

#1838 fix(model): signed thread member update count
  model/src/gateway/payload/incoming/thread_members_update.rs
Labels: c-model, m-breaking change, d-api, t-fix

#1550 feat(model): initial pass at dealing with unknown enum variants
  http/src/request/guild/get_audit_log.rs
  model/src/application/command/command_type.rs
  model/src/application/component/button.rs
  model/src/application/component/kind.rs
  model/src/application/component/mod.rs
  model/src/application/interaction/application_command/option.rs
  model/src/application/interaction/message_component.rs
  model/src/application/interaction/modal.rs
  model/src/channel/channel_type.rs
  model/src/channel/message/activity_type.rs
  model/src/channel/message/kind.rs
  model/src/channel/message/sticker/format_type.rs
  model/src/channel/message/sticker/kind.rs
  model/src/channel/message/sticker/message.rs
  model/src/channel/message/sticker/mod.rs
  model/src/channel/mod.rs
  model/src/channel/permission_overwrite.rs
  model/src/channel/video_quality_mode.rs
  model/src/channel/webhook/kind.rs
  model/src/gateway/presence/activity_button.rs
  model/src/gateway/presence/activity_type.rs
  model/src/guild/audit_log/entry.rs
  model/src/guild/audit_log/event_type.rs
  model/src/guild/default_message_notification_level.rs
  model/src/guild/explicit_content_filter.rs
  model/src/guild/integration_expire_behavior.rs
  model/src/guild/mfa_level.rs
  model/src/guild/nsfw_level.rs
  model/src/guild/premium_tier.rs
  model/src/guild/verification_level.rs
  model/src/invite/target_type.rs
  model/src/oauth/team/membership_state.rs
  model/src/scheduled_event/mod.rs
  model/src/user/connection_visibility.rs
  util/src/permission_calculator/mod.rs
  validate/src/command.rs
  validate/src/component.rs
Labels: t-feature, c-http, c-model, m-breaking change, c-util, c-validate

#1826 feat(model): backport #1825 - `CommandOption` max and min length
  model/src/application/command/option.rs
  util/src/builder/command.rs
Labels: t-feature, c-model, d-api, c-util

#1796 feat(model): auto moderation models
  cache/in-memory/src/lib.rs
  gateway/src/event.rs
  model/src/channel/message/kind.rs
  model/src/gateway/event/dispatch.rs
  model/src/gateway/event/kind.rs
  model/src/gateway/event/mod.rs
  model/src/gateway/intents.rs
  model/src/gateway/payload/incoming/auto_moderation_action_execution.rs
  model/src/gateway/payload/incoming/auto_moderation_rule_create.rs
  model/src/gateway/payload/incoming/auto_moderation_rule_delete.rs
  model/src/gateway/payload/incoming/auto_moderation_rule_update.rs
  model/src/gateway/payload/incoming/mod.rs
  model/src/guild/audit_log/event_type.rs
  model/src/guild/audit_log/mod.rs
  model/src/guild/auto_moderation/action.rs
  model/src/guild/auto_moderation/event_type.rs
  model/src/guild/auto_moderation/mod.rs
  model/src/guild/auto_moderation/preset_type.rs
  model/src/guild/auto_moderation/trigger_metadata.rs
  model/src/guild/auto_moderation/trigger_type.rs
  model/src/guild/mod.rs
  model/src/id/marker.rs
  standby/src/event.rs
Labels: t-feature, c-cache, c-model, c-gateway, c-standby

#1774 feat(util)!: builders use `Into<String>` and `IntoIterator` everywhere
  book/src/chapter_1_crates/section_7_first_party/section_4_util.md
  model/src/guild/audit_log/event_type.rs
  util/src/builder/command.rs
  util/src/builder/embed/author.rs
  util/src/builder/embed/mod.rs
  util/src/builder/interaction_response_data.rs
Labels: t-feature, c-model, m-breaking change, c-util, c-book

#1836 refactor(lavalink)!: remove obsolete `Num-Shards` header
  lavalink/src/client.rs
  lavalink/src/node.rs
Labels: m-breaking change, c-lavalink, t-refactor

#1834 ci(deploy): render doc cfg for cache & lavalink
  .github/workflows/check.yml
  .github/workflows/deploy-lib.yml
  twilight-cache-inmemory/src/lib.rs
  twilight-lavalink/Cargo.toml
  twilight-lavalink/src/lib.rs
Labels: c-cache, c-lavalink, t-ci

#1840 fix(model): bump user_limit from u8 to u32
  twilight-model/src/channel/mod.rs
  twilight-model/src/template/mod.rs
Labels: c-model, t-fix

#1849 docs(http): fix create_private_channel description
  twilight-http/src/client/mod.rs
  twilight-http/src/request/user/create_private_channel.rs
Labels: t-docs, c-http

#1847 docs: format doc examples
  twilight-cache-inmemory/src/iter.rs
  twilight-cache-inmemory/src/lib.rs
  twilight-cache-inmemory/src/permission.rs
  twilight-http-ratelimiting/src/request.rs
  twilight-http/src/client/mod.rs
  twilight-http/src/request/application/interaction/delete_response.rs
  twilight-http/src/request/application/interaction/get_followup.rs
  twilight-http/src/request/application/interaction/get_response.rs
  twilight-http/src/request/application/interaction/update_followup.rs
  twilight-http/src/request/application/interaction/update_response.rs
  twilight-http/src/request/base.rs
  twilight-http/src/request/channel/invite/create_invite.rs
  twilight-http/src/request/channel/invite/get_invite.rs
  twilight-http/src/request/channel/message/update_message.rs
  twilight-http/src/request/channel/reaction/create_reaction.rs
  twilight-http/src/request/channel/reaction/mod.rs
  twilight-http/src/request/channel/update_channel_permission.rs
  twilight-http/src/request/channel/webhook/execute_webhook.rs
  twilight-http/src/request/channel/webhook/update_webhook_message.rs
  twilight-http/src/request/guild/ban/create_ban.rs
  twilight-http/src/request/guild/ban/get_bans.rs
  twilight-http/src/request/guild/create_guild/mod.rs
  twilight-http/src/request/guild/get_audit_log.rs
  twilight-http/src/request/guild/member/add_role_to_member.rs
  twilight-http/src/request/guild/member/search_guild_members.rs
  twilight-http/src/request/guild/role/create_role.rs
  twilight-http/src/request/guild/sticker/create_guild_sticker.rs
  twilight-http/src/request/scheduled_event/create_guild_scheduled_event/mod.rs
  twilight-http/src/request/try_into_request.rs
  twilight-http/src/request/user/get_current_user_guilds.rs
  twilight-http/src/response/future.rs
  twilight-http/src/response/mod.rs
  twilight-http/src/routing.rs
  twilight-lavalink/src/player.rs
  twilight-mention/src/parse/impl.rs
  twilight-mention/src/parse/mod.rs
  twilight-mention/src/timestamp.rs
  twilight-model/src/application/component/mod.rs
  twilight-model/src/gateway/payload/outgoing/request_guild_members.rs
  twilight-model/src/gateway/presence/activity_button.rs
  twilight-model/src/guild/audit_log/change.rs
  twilight-model/src/guild/role.rs
  twilight-model/src/http/attachment.rs
  twilight-model/src/id/mod.rs
  twilight-standby/src/lib.rs
  twilight-util/src/builder/command.rs
  twilight-util/src/builder/embed/footer.rs
  twilight-util/src/builder/embed/mod.rs
  twilight-util/src/builder/interaction_response_data.rs
  twilight-util/src/permission_calculator/mod.rs
  twilight-util/src/snowflake.rs
  twilight-validate/src/request.rs
Labels: t-docs, c-http, c-cache, c-model, c-lavalink, c-standby, c-mention, c-util, c-http-ratelimiting, c-validate

#1828 refactor(gateway): move bitflag constants into macro
  twilight-gateway/src/event.rs
Labels: c-gateway, t-refactor

#1841 ci(book): use camelCase for workingDirectory
  .github/workflows/book.yml
Labels: t-ci

#1824 fix(util): member overwrites take precedence over roles
  twilight-util/src/permission_calculator/mod.rs
Labels: t-fix, c-util

#1817 refactor(model)!: remove `Number`
  twilight-model/src/application/command/mod.rs
  twilight-model/src/application/command/option.rs
  twilight-model/src/application/interaction/application_command/mod.rs
  twilight-model/src/application/interaction/application_command/option.rs
  twilight-model/src/application/interaction/mod.rs
  twilight-model/src/gateway/event/dispatch.rs
  twilight-model/src/gateway/event/mod.rs
  twilight-model/src/gateway/payload/incoming/interaction_create.rs
  twilight-model/src/http/interaction.rs
  twilight-util/src/builder/command.rs
Labels: c-model, m-breaking change, c-util, t-refactor

#1837 refactor(model)!: update `VoiceServerUpdate`
  twilight-lavalink/src/client.rs
  twilight-lavalink/src/model.rs
  twilight-model/src/gateway/payload/incoming/voice_server_update.rs
  twilight-standby/src/event.rs
Labels: c-model, m-breaking change, c-lavalink, c-standby, t-refactor

#1856 ci: use `dtolnay/rust-toolchain` over `actions-rs`
  .github/workflows/check.yml
  .github/workflows/deploy-lib.yml
Labels: t-ci

#1850 feat(http): add `UpdateGuildMfa`
  twilight-http-ratelimiting/src/request.rs
  twilight-http/src/client/mod.rs
  twilight-http/src/request/guild/mod.rs
  twilight-http/src/request/guild/update_guild_mfa.rs
  twilight-http/src/request/try_into_request.rs
  twilight-http/src/routing.rs
Labels: t-feature, c-http, c-http-ratelimiting

#1851 feat(http): add `ExecuteWebhook::thread_name`
  twilight-http/src/request/channel/webhook/execute_webhook.rs
Labels: t-feature, c-http

#1852 refactor(model): command field changes
  twilight-model/src/application/command/mod.rs
Labels: c-model, t-refactor

#1854 feat(http): create/update channel updates
  twilight-http/src/request/channel/update_channel.rs
  twilight-http/src/request/guild/create_guild_channel.rs
Labels: t-feature, c-http

#1855 refactor(http)! bitrate validation
  twilight-http/src/request/channel/update_channel.rs
  twilight-http/src/request/guild/create_guild_channel.rs
  twilight-validate/src/channel.rs
Labels: c-http, c-validate
