Repository twilight-rs/twilight, pull requests merged in 2022-03, with the labels that each got.

#1300 feat(model,validate): modals
  examples/model-webhook-slash.rs
  model/src/application/component/action_row.rs
  model/src/application/component/button.rs
  model/src/application/component/kind.rs
  model/src/application/component/mod.rs
  model/src/application/component/select_menu.rs
  model/src/application/component/text_input.rs
  model/src/application/interaction/interaction_type.rs
  model/src/application/interaction/mod.rs
  model/src/application/interaction/modal/data.rs
  model/src/application/interaction/modal/mod.rs
  model/src/http/interaction.rs
  model/src/lib.rs
  util/src/builder/interaction_response_data.rs
  validate/src/component.rs
Labels: t-feature, c-model, d-api, c-util, c-validate

#1392 feat(http): Don't force depend on tls
  http/README.md
  http/src/client/builder.rs
  http/src/client/connector.rs
  http/src/client/mod.rs
  http/src/lib.rs
Labels: t-feature, c-http

#1551 build(gateway, lavalink): Update to tokio-tungstenite 0.17
  gateway/Cargo.toml
  gateway/src/shard/processor/impl.rs
  lavalink/Cargo.toml
Labels: c-gateway, c-lavalink, t-build

#1566 fix(validate): `SelectMenu::placeholder`'s max length is 150
  validate/src/component.rs
Labels: t-fix, c-validate

#1556 feat(http): impl `Default` on `InteractionResponseData`
  examples/model-webhook-slash.rs
  model/src/http/interaction.rs
Labels: t-feature, c-model

#1567 feat(model,cache/in-memory): add `StageInstance::guild_scheduled_event_id`
  cache/in-memory/src/event/stage_instance.rs
  model/src/channel/stage_instance/mod.rs
Labels: t-feature, c-cache, c-model

#1565 feat(http): Create/UpdateStageInstance returns a StageInstance
  http/src/request/channel/stage/create_stage_instance.rs
  http/src/request/channel/stage/update_stage_instance.rs
Labels: t-feature, c-http

#1568 refactor(model)!: rename `Permissions::START_EMBEDDED_ACTIVITIES` to `USE_EMBEDDED_ACTIVITIES`
  model/src/guild/permissions.rs
Labels: c-model, m-breaking change, t-refactor

#1569 refactor(model)!: remove `Invite::stage_instance` & `InviteStageInstance`
  model/src/invite/mod.rs
  model/src/invite/stage_instance.rs
Labels: c-model, m-breaking change, t-refactor

#1571 docs(model): Correct `AutoArchiveDuration::number()` time unit
  model/src/channel/thread/auto_archive_duration.rs
Labels: t-docs, c-model

#1572 fix(model)! Remove suspicious `Ord` implementations
  model/src/application/command/command_type.rs
  model/src/application/command/option.rs
  model/src/application/component/kind.rs
  model/src/application/interaction/application_command_autocomplete/option.rs
  model/src/application/interaction/interaction_type.rs
  model/src/channel/channel_type.rs
  model/src/channel/message/activity_type.rs
  model/src/channel/message/kind.rs
  model/src/channel/message/sticker/format_type.rs
  model/src/channel/message/sticker/kind.rs
  model/src/channel/webhook/kind.rs
  model/src/gateway/presence/activity_type.rs
  model/src/gateway/presence/status.rs
  model/src/guild/audit_log/event_type.rs
  model/src/http/interaction.rs
  model/src/invite/target_type.rs
  model/src/user/premium_type.rs
Labels: c-model, m-breaking change, t-fix

#1539 refactor(util): move embed-builder to util
  embed-builder/src/lib.rs
  http/Cargo.toml
  http/src/request/application/interaction/update_followup.rs
  http/src/request/application/interaction/update_response.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  util/Cargo.toml
  util/src/builder/embed/author.rs
  util/src/builder/embed/field.rs
  util/src/builder/embed/footer.rs
  util/src/builder/embed/image_source.rs
  util/src/builder/embed/mod.rs
  util/src/builder/mod.rs
  validate/src/embed.rs
Labels: c-http, c-embed-builder, c-util, t-refactor, c-validate

#1579 docs(http,util): document suppress embeds flag allowed
  http/src/request/application/interaction/create_followup.rs
  util/src/builder/interaction_response_data.rs
Labels: t-docs, t-feature, c-http, c-util

#1580 perf(cache): remove iters, allocation when caching stickers
  cache/in-memory/src/event/sticker.rs
  cache/in-memory/src/test.rs
Labels: c-cache, t-perf

#1583 feat(cache): add missing cached model fields
  cache/in-memory/src/event/emoji.rs
  cache/in-memory/src/event/guild.rs
  cache/in-memory/src/event/member.rs
  cache/in-memory/src/event/presence.rs
  cache/in-memory/src/event/sticker.rs
  cache/in-memory/src/event/voice_state.rs
  cache/in-memory/src/model/emoji.rs
  cache/in-memory/src/model/guild.rs
  cache/in-memory/src/model/member.rs
  cache/in-memory/src/model/message.rs
  cache/in-memory/src/model/mod.rs
  cache/in-memory/src/model/presence.rs
  cache/in-memory/src/model/sticker.rs
  cache/in-memory/src/model/voice_state.rs
Labels: t-feature, c-cache

#1574 feat(cache,gateway,model,standby)!: support guild scheduled events gateway events
  cache/in-memory/src/lib.rs
  gateway/src/event.rs
  model/src/gateway/event/dispatch.rs
  model/src/gateway/event/kind.rs
  model/src/gateway/event/mod.rs
  model/src/gateway/intents.rs
  model/src/gateway/payload/incoming/guild_scheduled_event_create.rs
  model/src/gateway/payload/incoming/guild_scheduled_event_delete.rs
  model/src/gateway/payload/incoming/guild_scheduled_event_update.rs
  model/src/gateway/payload/incoming/guild_scheduled_event_user_add.rs
  model/src/gateway/payload/incoming/guild_scheduled_event_user_remove.rs
  model/src/gateway/payload/incoming/mod.rs
  standby/src/event.rs
Labels: t-feature, c-cache, c-model, c-gateway, m-breaking change, c-standby

#1582 refactor(model)!: presence updates are presences
  cache/in-memory/src/event/presence.rs
  model/src/gateway/payload/incoming/presence_update.rs
  standby/src/event.rs
Labels: c-cache, c-model, m-breaking change, c-standby, t-refactor

#1578 docs(model): document `ApplicationFlags`
  model/src/oauth/current_application_info/flags.rs
Labels: t-docs, c-model

#1587 refactor(cache,model): sort `Channel` and its constructions
  cache/in-memory/src/event/guild.rs
  cache/in-memory/src/permission.rs
  cache/in-memory/src/test.rs
  model/src/channel/mod.rs
  model/src/template/mod.rs
Labels: c-cache, c-model, t-refactor

#1544 Fix documentation language
  http/src/client/mod.rs
Labels: c-http

#1591 feat(validate): button styles and required fields
  validate/src/component.rs
Labels: t-feature, c-validate

#1577 fix(gateway)!: deduplicate `EventTypeFlags`
  gateway/src/event.rs
Labels: c-gateway, m-breaking change, t-fix

#1592 feat(validate): individual component validators
  validate/src/component.rs
Labels: t-feature, c-validate

#1606 ci: move deny warnings to only ci
  .github/workflows/check-lib.yml
  cache/in-memory/src/lib.rs
  command-parser/src/lib.rs
  embed-builder/src/lib.rs
  gateway/src/lib.rs
  http-ratelimiting/src/lib.rs
  http/src/lib.rs
  lavalink/src/lib.rs
  mention/src/lib.rs
  model/src/lib.rs
  standby/src/lib.rs
  util/src/lib.rs
  validate/src/lib.rs
Labels: c-http, c-cache, c-model, c-gateway, c-command-parser, c-lavalink, t-ci, c-standby, c-mention, c-embed-builder, c-util, c-http-ratelimiting, c-validate

#1612 fix(http): communication_disabled_util => communication_disabled_until
  http/src/request/guild/member/update_guild_member.rs
Labels: t-feature, c-http, t-fix

#1613 feat(model): add missing fields to `ModalSubmitInteraction`
  model/src/application/interaction/mod.rs
  model/src/application/interaction/modal/mod.rs
  model/src/http/interaction.rs
Labels: t-feature, c-model

#1615 docs(util): fix `InteractionResponseDataBuilder` example
  util/src/builder/interaction_response_data.rs
Labels: t-docs, t-fix, c-util

#1609 refactor(model)!: remove `IdentifyProperties` referrer
  gateway/src/cluster/builder.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/processor/impl.rs
  model/src/gateway/payload/outgoing/identify.rs
Labels: c-model, c-gateway, m-breaking change, t-refactor

#1618 refactor(http)!: make Image Data to take a &'a [u8]
  http/src/client/mod.rs
  http/src/request/channel/webhook/create_webhook.rs
  http/src/request/channel/webhook/update_webhook.rs
  http/src/request/channel/webhook/update_webhook_with_token.rs
  http/src/request/guild/create_guild/mod.rs
  http/src/request/guild/emoji/create_emoji.rs
  http/src/request/guild/update_guild.rs
  http/src/request/template/create_guild_from_template.rs
  http/src/request/user/update_current_user.rs
Labels: c-http, m-breaking change, t-refactor

#1610 ci: use a custom cache key per job
  .github/workflows/check-lib.yml
Labels: t-ci

#1619 feat(model): add `#[repr(transparent)]` to `Id`
  model/src/id/mod.rs
Labels: t-feature, c-model

#1608 ci: use nextest
  .github/workflows/check-lib.yml
  nextest.toml
Labels: t-ci, c-all

#1617 refactor(model)!: Drop unneeded marker trait impls
  model/src/id/marker.rs
  model/src/id/mod.rs
Labels: c-model, m-breaking change, t-refactor

#1631 feat(model): add `image_hash` audit log change key
  model/src/guild/audit_log/change.rs
  model/src/guild/audit_log/change_key.rs
Labels: t-feature, c-model

#1633 fix(validate): text input label min length is 1 and max is 45
  validate/src/component.rs
Labels: t-fix, c-validate
