Repository twilight-rs/twilight, pull requests merged in 2022-06, with the labels that each got.

#1759 refactor(cache/in-memory): `Reference::new` ignore `clippy::missing_const_for_fn`
  cache/in-memory/src/lib.rs
Labels: c-cache, t-refactor

#1738 docs: use anyhow on public errorable examples
  README.md
  examples/Cargo.toml
  examples/gateway-cluster.rs
  examples/gateway-intents.rs
  examples/gateway-metrics.rs
  examples/gateway-request-members.rs
  examples/gateway-shard.rs
  examples/http-allowed-mentions.rs
  examples/http-get-message.rs
  examples/http-proxy.rs
  examples/lavalink-basic-bot.rs
  examples/model-webhook-slash.rs
  gateway/Cargo.toml
  gateway/src/cluster/mod.rs
  http-ratelimiting/src/headers.rs
  lavalink/Cargo.toml
  lavalink/README.md
  mention/src/parse/mod.rs
  standby/Cargo.toml
  standby/README.md
  twilight/Cargo.toml
Labels: t-docs, c-gateway, c-lavalink, c-standby, c-mention, c-all, c-http-ratelimiting

#1761 refactor: `#[must_use]` on builders, not methods
  gateway/src/cluster/builder.rs
  gateway/src/shard/builder.rs
  http/src/client/builder.rs
  http/src/request/base.rs
  http/src/request/multipart.rs
  model/src/channel/message/allowed_mentions/builder.rs
Labels: c-http, c-model, c-gateway, t-refactor

#1762 Use zlib-ng directly instead of through zlib-sys
  gateway/Cargo.toml
  gateway/README.md
Labels: c-gateway

#1764 ci: standardize job steps order and actions
  .github/workflows/check-lib.yml
Labels: t-ci

#1765 ci: check spelling and code format parallel to msrv
  .github/workflows/check-lib.yml
Labels: t-ci

#1763 refactor(gateway)!: use hardcoded gateway url
  gateway/src/cluster/builder.rs
  gateway/src/cluster/impl.rs
  gateway/src/lib.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/config.rs
  gateway/src/shard/impl.rs
Labels: c-gateway, m-breaking change, t-refactor

#1777 refactor(cache): standardize clippy lints
  cache/in-memory/src/builder.rs
  cache/in-memory/src/event/emoji.rs
  cache/in-memory/src/event/guild.rs
  cache/in-memory/src/event/interaction.rs
  cache/in-memory/src/event/message.rs
  cache/in-memory/src/event/role.rs
  cache/in-memory/src/event/voice_state.rs
  cache/in-memory/src/lib.rs
  cache/in-memory/src/model/emoji.rs
  cache/in-memory/src/model/member.rs
  cache/in-memory/src/model/voice_state.rs
  cache/in-memory/src/permission.rs
  cache/in-memory/src/test.rs
Labels: c-cache, t-refactor

#1779 refactor(gateway-queue): standardize clippy lints
  gateway-queue/src/large_bot_queue.rs
  gateway-queue/src/lib.rs
Labels: c-gateway-queue, t-refactor

#1782 refactor(http-ratelimiting): standardize clippy lints
  http-ratelimiting/src/lib.rs
Labels: t-refactor, c-http-ratelimiting

#1785 refactor(standby): standardize clippy lints
  standby/src/event.rs
  standby/src/lib.rs
Labels: c-standby, t-refactor

#1786 refactor(util): standardize clippy lints
  util/src/lib.rs
  util/src/snowflake.rs
Labels: c-util, t-refactor

#1788 refactor(validate): standardize clippy lints
  validate/src/lib.rs
Labels: t-refactor, c-validate

#1790 deps(http): upgrade `hyper-trust-dns`
  http/Cargo.toml
  http/src/client/connector.rs
Labels: c-http

#1793 Fix the large bot sharding hyperlink
  gateway-queue/README.md
Labels: t-docs, c-gateway-queue

#1778 refactor(cache): cleanup test imports
  cache/in-memory/src/event/channel.rs
  cache/in-memory/src/event/emoji.rs
  cache/in-memory/src/event/guild.rs
  cache/in-memory/src/event/interaction.rs
  cache/in-memory/src/event/member.rs
  cache/in-memory/src/event/message.rs
  cache/in-memory/src/event/mod.rs
  cache/in-memory/src/event/presence.rs
  cache/in-memory/src/event/reaction.rs
  cache/in-memory/src/event/role.rs
  cache/in-memory/src/event/stage_instance.rs
  cache/in-memory/src/event/voice_state.rs
  cache/in-memory/src/model/mod.rs
  cache/in-memory/src/stats.rs
Labels: c-cache, t-refactor

#1783 refactor(lavalink): standardize clippy lints
  lavalink/src/client.rs
  lavalink/src/http.rs
  lavalink/src/lib.rs
  lavalink/src/model.rs
  lavalink/src/node.rs
  lavalink/src/player.rs
Labels: c-lavalink, t-refactor

#1710 feat(model): Add AutoModerationAction (24) message type
  model/src/channel/message/kind.rs
Labels: t-feature, c-model, d-api

#1797 chore(model): remove rename for fields in identify properties
  model/src/gateway/payload/outgoing/identify.rs
Labels: c-model

#1776 refactor(gateway)!: Don't validate tokens in ShardBuilder
  cache/in-memory/README.md
  examples/gateway-intents.rs
  examples/gateway-request-members.rs
  examples/gateway-shard.rs
  examples/lavalink-basic-bot.rs
  gateway/src/cluster/builder.rs
  gateway/src/cluster/impl.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/config.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/mod.rs
  gateway/tests/test_shard_command_ratelimit.rs
  gateway/tests/test_shard_state_events.rs
  lavalink/README.md
  standby/README.md
Labels: c-cache, c-gateway, m-breaking change, c-lavalink, c-standby, t-refactor

#1800 docs(model): fix command type typo
  model/src/application/command/command_type.rs
Labels: t-docs, c-model

#1799 fix(model): button component serialization length
  model/src/application/component/mod.rs
Labels: c-model, t-fix

#1798 feat: inline book into repo
  .github/labeler.yml
  .github/workflows/book.yml
  .github/workflows/check.yml
  .github/workflows/deploy-lib.yml
  .gitignore
  Cargo.toml
  book/LICENSE.md
  book/README.md
  book/book.toml
  book/src/SUMMARY.md
  book/src/chapter_1_crates/section_1_model.md
  book/src/chapter_1_crates/section_2_http.md
  book/src/chapter_1_crates/section_3_gateway.md
  book/src/chapter_1_crates/section_4_cache_inmemory.md
  book/src/chapter_1_crates/section_6_standby.md
  book/src/chapter_1_crates/section_7_first_party/section_2_mention.md
  book/src/chapter_1_crates/section_7_first_party/section_3_lavalink.md
  book/src/chapter_1_crates/section_7_first_party/section_4_util.md
  book/src/chapter_1_crates/section_7_first_party/section_5_gateway_queue.md
  book/src/chapter_1_crates/section_7_first_party/summary.md
  book/src/chapter_1_crates/section_8_third_party.md
  book/src/chapter_1_crates/summary.md
  book/src/chapter_2_multi-serviced_approach.md
  book/src/chapter_3_bots_using_twilight.md
  book/src/chapter_4_changelogs.md
  book/src/overview.md
  book/src/support.md
  book/tests/Cargo.toml
  book/tests/build.rs
  book/tests/src/lib.rs
Labels: t-feature, t-ci, c-all, c-book

#1801 ci(deploy): add missing workspace flag
  .github/workflows/deploy-lib.yml
Labels: t-ci

#1773 fix: Properly initialize the tungstenite request via IntoClientRequest
  lavalink/src/node.rs
Labels: t-fix, c-lavalink

#1781 docs(http): remove more incorrect documentation
  http/src/client/mod.rs
  http/src/request/channel/thread/create_thread_from_message.rs
  http/src/request/channel/thread/update_thread.rs
Labels: t-docs, c-http

#1743 refactor(model): rework optional member deserialization
  model/src/channel/reaction.rs
  model/src/gateway/payload/incoming/thread_members_update.rs
  model/src/gateway/payload/incoming/typing_start.rs
  model/src/guild/member.rs
  model/src/voice/voice_state.rs
Labels: c-model, t-refactor

#1769 refactor(gateway-queue)!: drop TLS features
  gateway-queue/Cargo.toml
  gateway-queue/src/lib.rs
  gateway/Cargo.toml
  twilight/Cargo.toml
Labels: c-gateway, m-breaking change, c-gateway-queue, t-refactor

#1802 feat: set `#[track_caller]` on public panicable functions
  gateway/src/cluster/builder.rs
  gateway/src/shard/builder.rs
  model/src/id/mod.rs
Labels: t-feature, c-model, c-gateway

#1770 feat(cache)!: expose `VecDequeue` from `channel_messages`
  cache/in-memory/src/event/message.rs
  cache/in-memory/src/iter.rs
  cache/in-memory/src/lib.rs
Labels: t-feature, c-cache, m-breaking change

#1775 refactor(model)!: reduce channel integer sizes
  model/src/channel/mod.rs
  model/src/template/mod.rs
Labels: c-model, m-breaking change, t-refactor

#1728 refactor(http-ratelimiting)!: rework `RatelimitHeaders`
  http-ratelimiting/src/headers.rs
  http-ratelimiting/src/in_memory/bucket.rs
Labels: m-breaking change, t-refactor, c-http-ratelimiting

#1780 refactor(http): standardize clippy lints
  http/src/client/interaction.rs
  http/src/client/mod.rs
  http/src/lib.rs
  http/src/request/application/command/create_global_command/chat_input.rs
  http/src/request/application/command/create_global_command/message.rs
  http/src/request/application/command/create_global_command/user.rs
  http/src/request/application/command/create_guild_command/chat_input.rs
  http/src/request/application/command/create_guild_command/message.rs
  http/src/request/application/command/create_guild_command/user.rs
  http/src/request/application/interaction/create_followup.rs
  http/src/request/application/interaction/update_followup.rs
  http/src/request/application/interaction/update_response.rs
  http/src/request/attachment.rs
  http/src/request/audit_reason.rs
  http/src/request/channel/invite/create_invite.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/stage/update_stage_instance.rs
  http/src/request/channel/thread/create_thread_from_message.rs
  http/src/request/channel/thread/update_thread.rs
  http/src/request/channel/update_channel.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/request/guild/ban/get_bans.rs
  http/src/request/guild/sticker/update_guild_sticker.rs
  http/src/response/future.rs
  http/src/routing.rs
Labels: c-http, t-refactor

#1787 refactor(lavalink): replace an unwrap with expect
  lavalink/src/http.rs
Labels: c-lavalink, t-refactor
