Repository twilight-rs/twilight, pull requests merged in 2022-05, with the labels that each got.

#1702 fix: pin dashmap version
  cache/in-memory/Cargo.toml
  lavalink/Cargo.toml
  standby/Cargo.toml
Labels: c-cache, t-fix, c-lavalink, c-standby

#1697 docs(model): modal submits valid for `DeferredUpdateMessage` and `UpdateMessage`
  model/src/http/interaction.rs
Labels: t-docs, c-model

#1703 fix(cache): correct `channel_messages` max len
  cache/in-memory/src/event/message.rs
Labels: c-cache, t-fix

#1705 fix(model): `ModalSubmitInteraction` `message` gets orphaned and not nulled
  model/src/application/interaction/modal/mod.rs
Labels: c-model, t-fix

#1599 refactor(gateway)!: Panic instead of error on builder
  gateway/src/cluster/builder.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/mod.rs
Labels: c-gateway, m-breaking change, t-refactor

#1695 refactor(model)!: make accent_color to u32 as well as color in embed
  model/src/gateway/event/mod.rs
  model/src/user/current_user.rs
  model/src/user/mod.rs
  model/src/user/profile.rs
Labels: c-model, m-breaking change, t-refactor

#1707 fix(http)!: `CreateMessage` take a boolean option for `fail_if_not_exists`
  http/src/request/channel/message/create_message.rs
Labels: c-http, m-breaking change, t-fix

#1603 refactor(gateway): inline `Config` in builders
  gateway/src/cluster/builder.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/config.rs
Labels: c-gateway, t-refactor

#1600 refactor(gateway)!: remove `ShardScheme::Auto`
  README.md
  examples/gateway-cluster.rs
  gateway/src/cluster/builder.rs
  gateway/src/cluster/impl.rs
  gateway/src/cluster/scheme.rs
  twilight/src/lib.rs
Labels: c-gateway, m-breaking change, c-all, t-refactor

#1586 feat(http,validate)!: username/webhook name validation
  http/src/client/mod.rs
  http/src/request/channel/webhook/create_webhook.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/update_webhook.rs
  http/src/request/channel/webhook/update_webhook_with_token.rs
  validate/src/message.rs
  validate/src/request.rs
Labels: t-feature, c-http, m-breaking change, c-validate

#1601 refactor(gateway)!: remove option around gateway_url
  cache/in-memory/README.md
  cache/in-memory/src/lib.rs
  examples/gateway-intents.rs
  examples/gateway-request-members.rs
  examples/gateway-shard.rs
  examples/lavalink-basic-bot.rs
  gateway/src/cluster/builder.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/config.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/mod.rs
  gateway/src/shard/processor/impl.rs
  gateway/tests/test_shard_command_ratelimit.rs
  gateway/tests/test_shard_state_events.rs
  lavalink/README.md
  lavalink/src/lib.rs
  standby/README.md
  standby/src/lib.rs
Labels: c-cache, c-gateway, m-breaking change, c-lavalink, c-standby, c-all, t-refactor

#1708 feat(http,model)!: command permissions v2
  cache/in-memory/src/lib.rs
  gateway/src/event.rs
  http/src/request/application/command/create_global_command/chat_input.rs
  http/src/request/application/command/create_global_command/message.rs
  http/src/request/application/command/create_global_command/user.rs
  http/src/request/application/command/create_guild_command/chat_input.rs
  http/src/request/application/command/create_guild_command/message.rs
  http/src/request/application/command/create_guild_command/user.rs
  http/src/request/application/command/mod.rs
  model/src/application/command/mod.rs
  model/src/application/command/option.rs
  model/src/application/command/permissions.rs
  model/src/gateway/event/dispatch.rs
  model/src/gateway/event/kind.rs
  model/src/gateway/event/mod.rs
  model/src/gateway/payload/incoming/command_permissions_update.rs
  model/src/gateway/payload/incoming/mod.rs
  model/src/guild/audit_log/change.rs
  model/src/guild/audit_log/change_key.rs
  model/src/guild/audit_log/event_type.rs
  standby/src/event.rs
  util/src/builder/command.rs
  validate/src/command.rs
Labels: t-feature, c-http, c-cache, c-model, c-gateway, m-breaking change, c-standby, c-util, c-validate

#1706 refactor(http)!: remove set_command_permissions endpoint
  http/Cargo.toml
  http/benches/application_command_permissions.rs
  http/src/client/interaction.rs
  http/src/request/application/command/mod.rs
  http/src/request/application/command/set_command_permissions.rs
  http/src/request/try_into_request.rs
  http/src/routing.rs
Labels: c-http, m-breaking change, t-refactor

#1718 fix(gateway)!: remove duplicate `EventTypeFlags` value
  gateway/src/event.rs
Labels: c-gateway, m-breaking change, t-fix

#1698 Add method to retrieve token of interaction
  model/src/application/interaction/mod.rs
Labels: c-model

#1719 feat(http): print API 8 error messages
  http/src/error.rs
Labels: t-feature, c-http

#1700 ci: add dependabot monitoring of github-actions
  .github/dependabot.yml
Labels: t-ci

#1699 Update dashmap to 5.3
  cache/in-memory/Cargo.toml
  lavalink/Cargo.toml
  standby/Cargo.toml
Labels: c-cache, c-lavalink, c-standby

#1684 refactor!: make tracing required
  gateway-queue/Cargo.toml
  gateway-queue/README.md
  gateway-queue/src/day_limiter.rs
  gateway-queue/src/large_bot_queue.rs
  gateway-queue/src/lib.rs
  gateway/Cargo.toml
  gateway/README.md
  gateway/src/lib.rs
  gateway/src/shard/emitter.rs
  gateway/src/shard/impl.rs
  gateway/src/shard/json.rs
  gateway/src/shard/processor/compression/inflater.rs
  gateway/src/shard/processor/heartbeat.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/session.rs
  gateway/src/shard/processor/socket_forwarder.rs
  http-ratelimiting/Cargo.toml
  http-ratelimiting/README.md
  http-ratelimiting/src/in_memory/bucket.rs
  http-ratelimiting/src/in_memory/mod.rs
  http-ratelimiting/src/lib.rs
  http/Cargo.toml
  http/README.md
  http/src/client/mod.rs
  http/src/lib.rs
  http/src/response/future.rs
  lavalink/Cargo.toml
  lavalink/README.md
  lavalink/src/client.rs
  lavalink/src/lib.rs
  lavalink/src/node.rs
  lavalink/src/player.rs
  model/Cargo.toml
  model/README.md
  model/src/application/command/option.rs
  model/src/application/command/permissions.rs
  model/src/application/component/mod.rs
  model/src/application/interaction/application_command/option.rs
  model/src/application/interaction/mod.rs
  model/src/channel/reaction.rs
  model/src/gateway/event/gateway.rs
  model/src/gateway/payload/incoming/member_chunk.rs
  model/src/gateway/payload/incoming/typing_start.rs
  model/src/gateway/presence/activity_button.rs
  model/src/guild/mod.rs
  model/src/lib.rs
  model/src/voice/voice_state.rs
  standby/Cargo.toml
  standby/README.md
  standby/src/lib.rs
Labels: c-http, c-model, c-gateway, m-breaking change, c-lavalink, t-ci, c-standby, c-all, c-gateway-queue, t-refactor, c-http-ratelimiting

#1724 refactor(http-ratelimiting): catch erroneous bool headers
  http-ratelimiting/src/headers.rs
Labels: t-refactor, c-http-ratelimiting

#1720 refactor(http-ratelimiting): cleanup `InMemory::entry`
  http-ratelimiting/src/in_memory/mod.rs
Labels: t-refactor, c-http-ratelimiting

#1483 feat(gateway): Support non tls connections
  gateway/src/cluster/builder.rs
  gateway/src/lib.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/config.rs
  gateway/src/shard/mod.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/tls.rs
Labels: t-feature, c-gateway

#1689 refactor: Use identifier in format
  README.md
  cache/in-memory/src/iter.rs
  cache/in-memory/src/lib.rs
  cache/in-memory/src/permission.rs
  embed-builder/src/image_source.rs
  examples/gateway-cluster.rs
  examples/gateway-intents.rs
  examples/gateway-shard.rs
  examples/http-allowed-mentions.rs
  examples/http-get-message.rs
  examples/http-proxy.rs
  examples/lavalink-basic-bot.rs
  examples/model-webhook-slash.rs
  gateway-queue/src/day_limiter.rs
  gateway-queue/src/large_bot_queue.rs
  gateway-queue/src/lib.rs
  gateway/src/cluster/impl.rs
  gateway/src/cluster/mod.rs
  gateway/src/shard/builder.rs
  gateway/src/shard/processor/heartbeat.rs
  gateway/src/shard/processor/impl.rs
  gateway/src/shard/processor/session.rs
  gateway/src/shard/processor/socket_forwarder.rs
  http-ratelimiting/src/in_memory/bucket.rs
  http-ratelimiting/src/in_memory/mod.rs
  http/src/client/mod.rs
  http/src/request/attachment.rs
  http/src/request/guild/get_audit_log.rs
  http/src/request/guild/sticker/create_guild_sticker.rs
  http/src/request/guild/sticker/get_guild_sticker.rs
  http/src/request/guild/sticker/update_guild_sticker.rs
  http/src/request/multipart.rs
  http/src/response/future.rs
  http/src/response/mod.rs
  http/src/routing.rs
  lavalink/src/client.rs
  lavalink/src/http.rs
  lavalink/src/node.rs
  lavalink/src/player.rs
  mention/benches/fmt.rs
  model/src/application/command/option.rs
  model/src/application/component/mod.rs
  model/src/application/interaction/application_command/option.rs
  model/src/application/interaction/mod.rs
  model/src/channel/reaction.rs
  model/src/gateway/event/gateway.rs
  model/src/gateway/payload/incoming/member_chunk.rs
  model/src/gateway/payload/incoming/typing_start.rs
  model/src/gateway/presence/activity_button.rs
  model/src/guild/mod.rs
  model/src/id/mod.rs
  model/src/user/mod.rs
  model/src/voice/voice_state.rs
  twilight/src/lib.rs
  util/src/builder/embed/image_source.rs
  validate/src/request.rs
Labels: c-http, c-cache, c-model, c-gateway, c-lavalink, c-mention, c-all, c-embed-builder, c-gateway-queue, c-util, t-refactor, c-http-ratelimiting, c-validate

#1701 feat(model, http)!: slash command localization
  http/src/request/application/command/create_global_command/chat_input.rs
  http/src/request/application/command/create_global_command/message.rs
  http/src/request/application/command/create_global_command/user.rs
  http/src/request/application/command/create_guild_command/chat_input.rs
  http/src/request/application/command/create_guild_command/message.rs
  http/src/request/application/command/create_guild_command/user.rs
  http/src/request/application/command/get_global_commands.rs
  http/src/request/application/command/get_guild_commands.rs
  http/src/request/application/command/mod.rs
  http/src/routing.rs
  model/src/application/command/mod.rs
  model/src/application/command/option.rs
  model/src/http/interaction.rs
  util/src/builder/command.rs
  validate/src/command.rs
Labels: t-feature, c-http, c-model, m-breaking change, c-util, c-validate

#1727 docs(gateway): mention that TLS is optional
  gateway/README.md
  gateway/src/lib.rs
Labels: t-docs, c-gateway

#1735 refactor(http): replace self deconstruction with shorthand
  http/src/response/future.rs
Labels: c-http, t-refactor

#1732 docs(cache): remove broken crate level anchor
  cache/in-memory/README.md
  cache/in-memory/src/lib.rs
Labels: t-docs, c-cache

#1731 refactor(gateway): use timeout over sleep
  gateway/src/shard/processor/socket_forwarder.rs
Labels: c-gateway, t-refactor

#1730 fix: tracing feature remnants
  gateway-queue/src/day_limiter.rs
  http/src/response/future.rs
  model/src/application/command/permissions.rs
  standby/src/lib.rs
Labels: c-http, c-model, t-fix, c-standby, c-gateway-queue

#1729 refactor(http-ratelimiting)!: rename method to be idiomatic
  http-ratelimiting/src/in_memory/mod.rs
  http-ratelimiting/src/lib.rs
Labels: m-breaking change, t-refactor, c-http-ratelimiting

#1741 docs(gateway-queue): fix the sharding for very large bots hyperlink
  gateway-queue/README.md
  gateway-queue/src/lib.rs
Labels: t-docs, c-gateway-queue

#1484 ci: check all feature combinations
  .github/workflows/check-lib.yml
  gateway-queue/src/lib.rs
  gateway/src/cluster/builder.rs
Labels: c-gateway, t-ci, c-gateway-queue

#1736 refactor(http-ratelimiting): use `instrument` for spans
  http-ratelimiting/Cargo.toml
  http-ratelimiting/src/in_memory/bucket.rs
Labels: t-refactor, c-http-ratelimiting

#1750 refactor(http): nits in the `request` module
  http/src/request/guild/update_guild_welcome_screen.rs
  http/src/request/mod.rs
Labels: c-http, t-refactor

#1744 fix(http)!: imaga Data URIs need to be a string
  http/src/client/mod.rs
  http/src/request/channel/webhook/create_webhook.rs
  http/src/request/channel/webhook/update_webhook.rs
  http/src/request/channel/webhook/update_webhook_with_token.rs
  http/src/request/guild/create_guild/mod.rs
  http/src/request/guild/emoji/create_emoji.rs
  http/src/request/guild/update_guild.rs
  http/src/request/scheduled_event/create_guild_scheduled_event/external.rs
  http/src/request/scheduled_event/create_guild_scheduled_event/mod.rs
  http/src/request/scheduled_event/create_guild_scheduled_event/stage_instance.rs
  http/src/request/scheduled_event/create_guild_scheduled_event/voice.rs
  http/src/request/scheduled_event/update_guild_scheduled_event.rs
  http/src/request/template/create_guild_from_template.rs
  http/src/request/user/update_current_user.rs
Labels: c-http, m-breaking change, t-fix

#1749 fix(http): skip icon if null on `CreateGuildFromTemplate`
  http/src/request/template/create_guild_from_template.rs
Labels: c-http, t-fix

#1748 fix(http)!: webhook names aren't allowed to be `null`
  http/src/request/channel/webhook/update_webhook.rs
  http/src/request/channel/webhook/update_webhook_with_token.rs
Labels: c-http, m-breaking change, t-fix

#1745 refactor(gateway): allow `ptr_arg` lint on conditional
  gateway/src/shard/processor/compression/mod.rs
Labels: c-gateway, t-refactor

#1751 refactor: remove `Cargo.toml` from include list
  cache/in-memory/Cargo.toml
  embed-builder/Cargo.toml
  gateway-queue/Cargo.toml
  gateway/Cargo.toml
  http-ratelimiting/Cargo.toml
  http/Cargo.toml
  lavalink/Cargo.toml
  mention/Cargo.toml
  model/Cargo.toml
  standby/Cargo.toml
  twilight/Cargo.toml
  util/Cargo.toml
  validate/Cargo.toml
Labels: c-http, c-cache, c-model, c-gateway, c-lavalink, c-standby, c-mention, c-embed-builder, c-gateway-queue, c-util, t-refactor, c-http-ratelimiting, c-validate

#1746 feat!(model): `integration::enabled` is optional
  model/src/guild/integration.rs
Labels: c-model

#1747 docs(http, model): auto archives not boost locked
  http/src/request/channel/thread/create_thread.rs
  http/src/request/channel/thread/create_thread_from_message.rs
  model/src/channel/mod.rs
  model/src/channel/thread/metadata.rs
Labels: t-docs, c-http, c-model

#1605 ci: sync readme by `include_str!()`
  .github/workflows/check-lib.yml
  README.md
  cache/in-memory/Cargo.toml
  cache/in-memory/README.md
  cache/in-memory/src/lib.rs
  gateway-queue/Cargo.toml
  gateway-queue/README.md
  gateway-queue/src/lib.rs
  gateway/Cargo.toml
  gateway/README.md
  gateway/src/lib.rs
  http-ratelimiting/Cargo.toml
  http-ratelimiting/README.md
  http-ratelimiting/src/lib.rs
  http/Cargo.toml
  http/README.md
  http/src/lib.rs
  lavalink/Cargo.toml
  lavalink/README.md
  lavalink/src/lib.rs
  mention/README.md
  mention/src/lib.rs
  model/Cargo.toml
  model/README.md
  model/src/lib.rs
  standby/Cargo.toml
  standby/README.md
  standby/src/lib.rs
  twilight/Cargo.toml
  twilight/src/lib.rs
  util/Cargo.toml
  util/README.md
  util/src/lib.rs
  validate/Cargo.toml
  validate/README.md
  validate/src/lib.rs
Labels: c-http, c-cache, c-model, c-gateway, c-command-parser, c-lavalink, t-ci, c-standby, c-mention, c-all, c-gateway-queue, c-util, c-http-ratelimiting, c-validate

#1754 fix(http): backport #1744 string image serializers
  http/src/request/channel/webhook/create_webhook.rs
  http/src/request/channel/webhook/update_webhook.rs
  http/src/request/channel/webhook/update_webhook_with_token.rs
  http/src/request/guild/create_guild/mod.rs
  http/src/request/guild/emoji/create_emoji.rs
  http/src/request/guild/update_guild.rs
  http/src/request/mod.rs
  http/src/request/scheduled_event/create_guild_scheduled_event/mod.rs
  http/src/request/scheduled_event/update_guild_scheduled_event.rs
  http/src/request/template/create_guild_from_template.rs
  http/src/request/user/update_current_user.rs
Labels: c-http, d-api, t-fix

#1756 refactor(http): rename `NullableField` to `Nullable`
  http/src/request/application/interaction/create_followup.rs
  http/src/request/application/interaction/update_followup.rs
  http/src/request/application/interaction/update_response.rs
  http/src/request/channel/message/create_message.rs
  http/src/request/channel/message/update_message.rs
  http/src/request/channel/update_channel.rs
  http/src/request/channel/webhook/execute_webhook.rs
  http/src/request/channel/webhook/update_webhook.rs
  http/src/request/channel/webhook/update_webhook_message.rs
  http/src/request/channel/webhook/update_webhook_with_token.rs
  http/src/request/guild/member/update_guild_member.rs
  http/src/request/guild/role/update_role.rs
  http/src/request/guild/update_guild.rs
  http/src/request/guild/update_guild_widget.rs
  http/src/request/guild/user/update_current_user_voice_state.rs
  http/src/request/mod.rs
  http/src/request/scheduled_event/update_guild_scheduled_event.rs
  http/src/request/user/update_current_user.rs
Labels: c-http, t-refactor

#1742 refactor(http): simplify `client.try_request`
  http/src/client/mod.rs
  http/src/request/multipart.rs
  http/src/response/future.rs
Labels: c-http, t-refactor

#1739 docs(model): expand `Attachment` documentation
  model/src/http/attachment.rs
Labels: t-docs, c-model

#1758 feat(http): implement clone on request
  http/src/request/base.rs
  http/src/request/multipart.rs
Labels: t-feature, c-http

#1755 feat(model): add command data guild_id field
  cache/in-memory/src/event/interaction.rs
  model/src/application/interaction/application_command/data.rs
  model/src/application/interaction/application_command/mod.rs
  model/src/application/interaction/application_command/option.rs
  model/src/application/interaction/mod.rs
Labels: t-feature, c-cache, c-model, d-api
