Repository twilight-rs/twilight, pull requests merged in 2022-11, with the labels that each got.

#1978 fix(model)!: flatten `DefaultReaction` and `ForumTag`
  twilight-model/src/channel/forum.rs
Labels: c-model, m-breaking change, d-api, t-fix

#1980 docs(lavalink): minor fix in example
  examples/lavalink-basic-bot.rs
Labels: t-docs

#1985 fix: Clippy 1.65 lints
  twilight-gateway/src/shard/processor/compression/mod.rs
  twilight-http/src/request/application/command/create_global_command/chat_input.rs
  twilight-http/src/request/application/command/create_guild_command/chat_input.rs
  twilight-http/src/request/channel/message/create_message.rs
  twilight-model/src/id/mod.rs
  twilight-standby/src/future.rs
  twilight-util/src/builder/command.rs
  twilight-util/src/builder/embed/image_source.rs
  twilight-util/src/builder/mod.rs
  twilight-util/src/link/webhook.rs
Labels: c-http, c-model, c-gateway, t-fix, c-standby, c-util

#1991 fix: clippy 1.65 lints round 2
  twilight-cache-inmemory/src/event/voice_state.rs
  twilight-http/src/request/guild/create_guild/builder.rs
  twilight-http/src/request/guild/get_guild_prune_count.rs
Labels: c-http, c-cache, t-fix

#1992 docs: fix dead link in the book
  book/src/chapter_1_crates/summary.md
Labels: t-docs, c-book

#1994 docs: add `Intents::MESSAGE_CONTENT` to examples
  README.md
  book/src/overview.md
Labels: c-all, c-book

#1996 fix(model)!: add a unknown variant to `PremiumType`
  twilight-model/src/user/premium_type.rs
Labels: c-model, m-breaking change, t-fix

#1943 feat(gateway): instrument and extend `Shard` logging
  twilight-gateway/src/compression/inflater.rs
  twilight-gateway/src/connection.rs
  twilight-gateway/src/shard.rs
Labels: t-feature, c-gateway

#1976 refactor(model): remove deprecated `Id` type aliases
  twilight-http/src/response/future.rs
  twilight-model/src/id/mod.rs
  twilight-model/src/id/type.rs
Labels: c-http, c-model, t-refactor

#1974 fix(gateway): reset `heartbeat_interval` on disconnect
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-fix

#1975 fix(gateway): reset ratelimiter on disconnect
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-fix

#1981 docs(gateway)!: touch up `stream` and rename `start_` fns -> `create_`
  examples/gateway-reshard.rs
  twilight-gateway/README.md
  twilight-gateway/src/config.rs
  twilight-gateway/src/stream.rs
Labels: t-docs, c-gateway, m-breaking change

#1997 fix(gateway): zombied detection accept any event
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-fix
