Repository twilight-rs/twilight, pull requests merged in 2022-04, with the labels that each got.

#1624 fix(http,model)!: properly serialize attachments in `CreateResponse`
  http/src/request/attachment.rs
  model/src/http/attachment.rs
  model/src/http/interaction.rs
Labels: c-http, c-model, m-breaking change, t-fix

#1641 refactor(http): rename interaction field structs
  http/src/request/application/interaction/create_followup.rs
  http/src/request/application/interaction/update_followup.rs
  http/src/request/application/interaction/update_response.rs
Labels: c-http, t-refactor

#1607 docs(cache): `ResourceType::GUILD` required for permissions
  cache/in-memory/src/permission.rs
Labels: t-docs, c-cache

#1653 feat(http): stage instance everyone notification
  http/src/request/channel/stage/create_stage_instance.rs
Labels: t-feature, c-http

#1655 feat(model): add guild directory channel type
  model/src/channel/channel_type.rs
Labels: t-feature, c-model, d-api

#1658 docs(model): tweak hypesquad user flag docs
  model/src/user/flags.rs
Labels: t-docs, c-model

#1661 feat(model): add invite guild premium subscription count
  model/src/invite/guild.rs
  model/src/invite/mod.rs
Labels: t-feature, c-model

#1663 docs(http): update guild community feature notice
  http/src/request/guild/update_guild.rs
Labels: t-docs, c-http, d-api

#1595 refactor(model,util)!: remove store channel type
  model/src/channel/channel_type.rs
  model/src/channel/mod.rs
  util/src/permission_calculator/mod.rs
Labels: c-model, m-breaking change, d-api, c-util, t-refactor, d-breaking

#1650 refactor(mention)!: remove nickname mention support
  mention/src/parse/error.rs
  mention/src/parse/impl.rs
  mention/src/parse/iter.rs
  mention/src/parse/mod.rs
Labels: m-breaking change, c-mention, t-refactor

#1659 refactor(model)!: remove remaining summary fields
  model/src/guild/integration.rs
  model/src/guild/integration_application.rs
Labels: c-model, m-breaking change, d-api, t-refactor

#1652 docs: add missing tracing crate links
  README.md
  gateway-queue/README.md
  gateway-queue/src/lib.rs
  http-ratelimiting/README.md
  http-ratelimiting/src/lib.rs
  lavalink/README.md
  lavalink/src/lib.rs
  twilight/src/lib.rs
Labels: t-docs, c-lavalink, c-all, c-gateway-queue, c-http-ratelimiting

#1648 refactor(model): make application info generalized
  http/src/request/get_user_application.rs
  model/src/gateway/payload/incoming/ready.rs
  model/src/id/marker.rs
  model/src/oauth/application.rs
  model/src/oauth/application_flags.rs
  model/src/oauth/mod.rs
  model/src/oauth/partial_application.rs
  standby/src/lib.rs
Labels: c-http, c-model, c-standby, t-refactor

#1671 refactor(model)!: application owner is optional
  model/src/oauth/application.rs
Labels: c-model, m-breaking change, d-api, t-refactor

#1674 ci: revert custom cache key
  .github/workflows/check-lib.yml
Labels: t-ci

#1672 refactor(http): rename statuscode::raw to get
  http/src/response/status_code.rs
Labels: c-http, t-refactor

#1646 refactor(cache): update permission error display implementations to current idiom
  cache/in-memory/src/permission.rs
Labels: c-cache, t-refactor

#1638 refactor(model): Rename `make_unexpected` to `as_unexpected`
  model/src/application/interaction/application_command/option.rs
Labels: c-model, t-refactor

#1645 fix(cache): rework `parent_overwrites`
  cache/in-memory/src/permission.rs
Labels: c-cache, t-fix

#1666 fix(lavalink): include `Sec-WebSocket-Key` header
  lavalink/src/node.rs
Labels: t-fix, c-lavalink

#1681 refactor(command-parser): archive library
  .github/labeler.yml
  .github/workflows/check-lib.yml
  .github/workflows/deploy-lib.yml
  Cargo.toml
  command-parser/CHANGELOG.md
  command-parser/Cargo.toml
  command-parser/LICENSE.md
  command-parser/README.md
  command-parser/benches/commands.rs
  command-parser/benches/prefix.rs
  command-parser/src/arguments.rs
  command-parser/src/casing.rs
  command-parser/src/config.rs
  command-parser/src/lib.rs
  command-parser/src/parser.rs
Labels: c-command-parser, t-ci, c-all, t-refactor

#1682 feat(model): add `ChannelType::GuildForum`
  model/src/channel/channel_type.rs
Labels: t-feature, c-model

#1673 refactor: use `if let` on matches over options and results
  cache/in-memory/src/event/emoji.rs
  cache/in-memory/src/event/member.rs
  cache/in-memory/src/event/mod.rs
  cache/in-memory/src/event/reaction.rs
  cache/in-memory/src/event/sticker.rs
  cache/in-memory/src/event/voice_state.rs
  cache/in-memory/src/lib.rs
  gateway/src/shard/impl.rs
  http-ratelimiting/src/in_memory/bucket.rs
  http/src/request/mod.rs
  lavalink/src/node.rs
  mention/src/parse/iter.rs
Labels: c-http, c-cache, c-gateway, c-lavalink, c-mention, t-refactor, c-http-ratelimiting

#1679 docs(cache/in-memory): stats in crate-level docs
  cache/in-memory/README.md
  cache/in-memory/src/lib.rs
  cache/in-memory/src/stats.rs
Labels: t-docs, c-cache

#1680 docs(cache/in-memory): fix typos in stats docs
  cache/in-memory/src/stats.rs
Labels: t-docs, c-cache

#1687 docs(model): Note expected type of `InteractionType`
  model/src/application/interaction/application_command/mod.rs
  model/src/application/interaction/application_command_autocomplete/mod.rs
  model/src/application/interaction/message_component/mod.rs
  model/src/application/interaction/mod.rs
  model/src/application/interaction/modal/mod.rs
  model/src/application/interaction/ping.rs
Labels: t-docs, c-model

#1686 build!: bump msrv to 1.60
  .clippy.toml
  .github/workflows/check-lib.yml
  README.md
  cache/in-memory/Cargo.toml
  cache/in-memory/README.md
  cache/in-memory/src/lib.rs
  embed-builder/Cargo.toml
  embed-builder/README.md
  embed-builder/src/lib.rs
  gateway-queue/Cargo.toml
  gateway/Cargo.toml
  gateway/README.md
  gateway/src/lib.rs
  http-ratelimiting/Cargo.toml
  http/CHANGELOG.md
  http/Cargo.toml
  http/README.md
  http/src/lib.rs
  lavalink/Cargo.toml
  lavalink/README.md
  lavalink/src/lib.rs
  mention/Cargo.toml
  mention/README.md
  mention/src/lib.rs
  model/CHANGELOG.md
  model/Cargo.toml
  model/README.md
  model/src/lib.rs
  standby/Cargo.toml
  standby/README.md
  standby/src/lib.rs
  twilight/Cargo.toml
  twilight/src/lib.rs
  util/Cargo.toml
  util/README.md
  util/src/lib.rs
  validate/Cargo.toml
  validate/README.md
  validate/src/lib.rs
Labels: c-http, c-cache, c-model, c-gateway, m-breaking change, c-lavalink, c-standby, c-mention, c-all, c-embed-builder, c-gateway-queue, c-util, c-http-ratelimiting, c-validate, t-build

#1688 build(gateway,http): revert #1596
  gateway/Cargo.toml
  gateway/src/lib.rs
  http/Cargo.toml
  http/src/lib.rs
Labels: c-http, c-gateway, t-build

#1543 docs: update `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: t-docs, c-all

#1692 refactor(http)!: simplify scheduled event routing
  http/src/routing.rs
Labels: c-http, m-breaking change, t-refactor

#1694 feat(model): add `USE_EXTERNAL_STICKERS` permission flag
  model/src/guild/permissions.rs
Labels: t-feature, c-model

#1677 docs(cache, model): message content intent caveats
  cache/in-memory/src/model/message.rs
  model/src/channel/message/mod.rs
  model/src/gateway/payload/incoming/message_update.rs
Labels: t-docs, c-cache, c-model

#1657 feat(http): support get guild bans pagination
  http/src/request/guild/ban/get_bans.rs
  http/src/routing.rs
  validate/src/request.rs
Labels: t-feature, c-http, d-api, c-validate

#1693 feat(model): add `MANAGE_EVENTS` permission flag
  model/src/guild/permissions.rs
Labels: t-feature, c-model

#1690 feat!: Hide optional deps feature from selection
  cache/in-memory/Cargo.toml
  gateway-queue/Cargo.toml
  gateway/Cargo.toml
  http/Cargo.toml
  http/src/client/connector.rs
  lavalink/Cargo.toml
  util/Cargo.toml
Labels: t-feature, c-http, c-cache, c-gateway, m-breaking change, c-lavalink, c-gateway-queue, c-util

#1678 docs(gateway): prominently show member chunking
  gateway/src/shard/impl.rs
  gateway/src/shard/mod.rs
Labels: t-docs, c-gateway
