Repository twilight-rs/twilight, pull requests merged in 2023-01, with the labels that each got.

#2031 feat(http): support after parameter for GetAuditLog
  twilight-http/src/request/guild/get_audit_log.rs
  twilight-http/src/routing.rs
Labels: t-feature, c-http, d-api

#2032 refactor(model): abstract null boolean visitor
  twilight-model/src/guild/role_tags.rs
  twilight-model/src/visitor.rs
Labels: c-model, t-refactor

#2033 test(model): add real-world role tag tests
  twilight-model/src/guild/role_tags.rs
Labels: c-model, t-test

#2035 feat(model): add nitro basic user premium type
  twilight-model/src/user/premium_type.rs
Labels: t-feature, c-model, d-api

#2036 feat(model): add dev support server guild feature
  twilight-model/src/guild/feature.rs
Labels: t-feature, c-model

#2037 docs(model): update voice state suppress field
  twilight-model/src/voice/voice_state.rs
Labels: t-docs, c-model

#2038 feat(http, model): default forum sort orders
  twilight-cache-inmemory/src/event/guild.rs
  twilight-cache-inmemory/src/permission.rs
  twilight-cache-inmemory/src/test.rs
  twilight-http/src/request/channel/update_channel.rs
  twilight-http/src/request/guild/create_guild_channel.rs
  twilight-model/src/channel/forum.rs
  twilight-model/src/channel/mod.rs
  twilight-model/src/guild/template/mod.rs
Labels: t-feature, c-http, c-cache, c-model, d-api

#1869 refactor(model)!: clean up `AllowedMentions`
  examples/http-allowed-mentions.rs
  twilight-http/src/client/builder.rs
  twilight-http/src/client/mod.rs
  twilight-model/src/channel/message/allowed_mentions.rs
  twilight-model/src/channel/message/allowed_mentions/builder.rs
  twilight-model/src/channel/message/mod.rs
  twilight-util/src/builder/interaction_response_data.rs
Labels: c-http, c-model, m-breaking change, c-util, t-refactor

#1922 feat(cache,http,model)!: add `AfkTimeout` for `Guild::afk_timeout`
  twilight-cache-inmemory/src/event/guild.rs
  twilight-cache-inmemory/src/model/guild.rs
  twilight-cache-inmemory/src/permission.rs
  twilight-cache-inmemory/src/test.rs
  twilight-http/src/request/guild/create_guild/mod.rs
  twilight-model/src/guild/afk_timeout.rs
  twilight-model/src/guild/mod.rs
  twilight-model/src/guild/partial_guild.rs
  twilight-model/src/guild/template/guild.rs
  twilight-model/src/guild/template/mod.rs
Labels: t-feature, c-http, c-cache, c-model, m-breaking change, t-ci, c-all

#1999 feat(gateway): make `Shard*Stream` `Send`
  examples/Cargo.toml
  examples/gateway-parallel.rs
  twilight-gateway/README.md
  twilight-gateway/src/stream.rs
Labels: t-docs, t-feature, c-gateway

#2003 feat(gateway): notify on disconnect
  twilight-gateway/src/error.rs
  twilight-gateway/src/future.rs
  twilight-gateway/src/shard.rs
Labels: t-feature, c-gateway

#2023 reafactor(model)!: unify event deserialization into one type
  twilight-gateway/src/json.rs
  twilight-gateway/src/shard.rs
  twilight-model/src/gateway/event/gateway.rs
  twilight-model/src/gateway/event/mod.rs
Labels: c-model, c-gateway, m-breaking change, t-refactor

#2030 feat!(model): make integration type an enum
  twilight-model/src/guild/integration.rs
  twilight-model/src/guild/integration_type.rs
  twilight-model/src/guild/mod.rs
Labels: t-feature, c-model, m-breaking change

#2028 feat(model): message type deletable check methods
  twilight-model/src/channel/message/kind.rs
Labels: t-feature, c-model

#2018 feat(model): constants for scope values
  twilight-model/src/guild/integration.rs
  twilight-model/src/oauth/install_params.rs
  twilight-model/src/oauth/mod.rs
  twilight-model/src/oauth/scope.rs
Labels: t-feature, c-model

#2040 feat(model): add new message types for premium
  twilight-model/src/channel/message/kind.rs
Labels: t-feature, c-model

#2042 feat(gateway): add `is_identified` helper method
  examples/gateway-reshard.rs
  twilight-gateway/src/shard.rs
Labels: t-feature, c-gateway

#2043 fix!(model): use typed features for guild invite
  twilight-model/src/guild/invite/guild.rs
  twilight-model/src/guild/invite/mod.rs
Labels: c-model, m-breaking change, t-fix

#2044 feat(gateway)!: add `Event::GatewayClose` variant
  examples/gateway-parallel.rs
  twilight-cache-inmemory/src/lib.rs
  twilight-gateway/src/event.rs
  twilight-gateway/src/lib.rs
  twilight-gateway/src/message.rs
  twilight-gateway/src/shard.rs
  twilight-model/src/gateway/event/kind.rs
  twilight-model/src/gateway/event/mod.rs
  twilight-model/src/gateway/frame.rs
  twilight-model/src/gateway/mod.rs
Labels: t-feature, c-cache, c-model, c-gateway, m-breaking change

#2046 docs(gateway): don't build all features on docs.rs
  twilight-gateway/Cargo.toml
Labels: t-docs, c-gateway

#2048 perf(gateway): defer creating `Deserializer` until checking event is wanted
  twilight-gateway/src/json.rs
Labels: c-gateway, t-perf

#2050 feat(gateway): expose `json::parse`
  twilight-gateway/src/json.rs
  twilight-gateway/src/lib.rs
  twilight-gateway/src/shard.rs
Labels: t-feature, c-gateway

#2034 feat(http, model, util): add role subscriptions
  twilight-cache-inmemory/src/event/interaction.rs
  twilight-cache-inmemory/src/event/message.rs
  twilight-cache-inmemory/src/model/message.rs
  twilight-cache-inmemory/src/test.rs
  twilight-http/src/request/guild/integration/get_guild_integrations.rs
  twilight-model/src/application/interaction/application_command/resolved.rs
  twilight-model/src/channel/message/kind.rs
  twilight-model/src/channel/message/mod.rs
  twilight-model/src/channel/message/role_subscription_data.rs
  twilight-model/src/guild/feature.rs
  twilight-model/src/guild/role_tags.rs
  twilight-model/src/guild/system_channel_flags.rs
  twilight-model/src/id/marker.rs
  twilight-model/src/id/mod.rs
  twilight-standby/src/lib.rs
  twilight-util/src/snowflake.rs
Labels: t-feature, c-http, c-cache, c-model, d-api, c-standby, c-util

#2054 fix(http): return `Message` from `UpdateWebhookMessage`
  twilight-http/src/request/channel/webhook/update_webhook_message.rs
Labels: c-http, d-api, t-fix

#2063 feat(model): add `guild_connections` attribute
  twilight-model/src/guild/role_tags.rs
Labels: t-feature, c-model

#2049 feat(http, model): get current authorization route
  twilight-http-ratelimiting/src/request.rs
  twilight-http/src/client/mod.rs
  twilight-http/src/request/get_current_authorization_information.rs
  twilight-http/src/request/mod.rs
  twilight-http/src/request/try_into_request.rs
  twilight-http/src/routing.rs
  twilight-model/src/oauth/current_authorization_information.rs
  twilight-model/src/oauth/mod.rs
Labels: t-feature, c-http, c-model, d-api, c-http-ratelimiting

#2064 feat(model): gif sticker format type
  twilight-model/src/channel/message/sticker/format_type.rs
Labels: t-feature, c-model, d-api

#2065 feat(cache, model): guild public updates channel id
  twilight-cache-inmemory/src/event/guild.rs
  twilight-cache-inmemory/src/model/guild.rs
  twilight-cache-inmemory/src/permission.rs
  twilight-cache-inmemory/src/test.rs
  twilight-model/src/guild/mod.rs
  twilight-model/src/guild/partial_guild.rs
Labels: t-feature, c-cache, c-model

#2070 refactor(http): human legible error debug bodies
  twilight-http/src/error.rs
Labels: c-http, t-refactor

#1920 feat(validate): add total command char validation
  twilight-validate/src/command.rs
Labels: t-feature, c-validate

#2069 fix(validate): properly validate context menu commands
  twilight-validate/src/command.rs
Labels: t-fix, c-validate

#2075 docs(model): activity timestamp integer values
  twilight-model/src/gateway/presence/activity.rs
  twilight-model/src/gateway/presence/activity_timestamps.rs
Labels: t-docs, c-model

#2076 docs(http): updating command perms requires oauth
  twilight-http/src/client/interaction.rs
  twilight-http/src/request/application/command/update_command_permissions.rs
Labels: t-docs, c-http

#2079 fix(model): signed channel member counts
  twilight-model/src/channel/mod.rs
Labels: c-model, m-breaking change, t-fix

#2073 fix(validate): check for option name uniqueness
  twilight-validate/src/command.rs
Labels: t-fix, c-validate

#2067 feat!(model, gateway): Support the GUILD_AUDIT_LOG_ENTRY_CREATE gateway event
  examples/gateway-metrics.rs
  examples/gateway-shard.rs
  twilight-cache-inmemory/src/lib.rs
  twilight-gateway/src/cluster/mod.rs
  twilight-gateway/src/event.rs
  twilight-model/src/gateway/event/dispatch.rs
  twilight-model/src/gateway/event/kind.rs
  twilight-model/src/gateway/event/mod.rs
  twilight-model/src/gateway/intents.rs
  twilight-model/src/gateway/payload/incoming/guild_audit_log_entry_create.rs
  twilight-model/src/gateway/payload/incoming/mod.rs
  twilight-model/src/guild/audit_log/entry.rs
Labels: t-feature, c-cache, c-model, c-gateway, d-api

#2091 fix(http): resolve new clippy lints
  twilight-http/src/routing.rs
Labels: c-http, t-fix

#2086 feat(model): add `Member::flags`
  twilight-cache-inmemory/src/event/interaction.rs
  twilight-cache-inmemory/src/event/message.rs
  twilight-cache-inmemory/src/event/voice_state.rs
  twilight-cache-inmemory/src/lib.rs
  twilight-cache-inmemory/src/model/member.rs
  twilight-cache-inmemory/src/test.rs
  twilight-model/src/application/interaction/application_command/resolved.rs
  twilight-model/src/application/interaction/mod.rs
  twilight-model/src/channel/message/interaction.rs
  twilight-model/src/channel/message/mention.rs
  twilight-model/src/channel/message/mod.rs
  twilight-model/src/gateway/payload/incoming/member_add.rs
  twilight-model/src/gateway/payload/incoming/member_chunk.rs
  twilight-model/src/gateway/payload/incoming/thread_members_update.rs
  twilight-model/src/gateway/payload/incoming/typing_start.rs
  twilight-model/src/gateway/payload/incoming/voice_state_update.rs
  twilight-model/src/gateway/reaction.rs
  twilight-model/src/guild/member.rs
  twilight-model/src/guild/member_flags.rs
  twilight-model/src/guild/mod.rs
  twilight-model/src/guild/partial_member.rs
  twilight-model/src/voice/voice_state.rs
Labels: t-feature, c-cache, c-model, d-api

#2093 fix(http): create auto moderation type field name
  twilight-http/src/request/guild/auto_moderation/create_auto_moderation_rule.rs
Labels: c-http, t-fix

#2002 fix(gateway)!: only poll `MessageSender` when identified
  twilight-gateway/src/channel.rs
  twilight-gateway/src/command.rs
  twilight-gateway/src/future.rs
  twilight-gateway/src/shard.rs
Labels: c-gateway, m-breaking change, t-fix, t-refactor

#2053 docs(gateway): use `while let Some` in stream examples
  twilight-gateway/README.md
  twilight-gateway/src/stream.rs
Labels: t-docs, c-gateway

#2061 refactor(gateway)!: touch up `Latency`
  twilight-gateway/src/latency.rs
  twilight-gateway/src/shard.rs
Labels: c-gateway, m-breaking change, t-refactor

#2062 docs(gateway): fix `EventTypeFlags` links
  twilight-gateway/src/event.rs
Labels: t-docs, c-gateway

#2077 feat(http, validate)!: channel user limits
  twilight-http/src/request/channel/update_channel.rs
  twilight-validate/src/channel.rs
Labels: t-feature, c-http, m-breaking change, c-validate

#2078 feat(http, validate)!: bulk delete message count
  twilight-http/src/client/mod.rs
  twilight-http/src/request/channel/message/delete_messages.rs
  twilight-validate/src/channel.rs
Labels: t-feature, c-http, m-breaking change, c-validate
