Repository twilight-rs/twilight, pull requests merged in 2023-04, with the labels that each got.

#2186 perf(gateway): speed up spurious ratelimiter poll
  twilight-gateway/src/ratelimiter.rs
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-perf

#2184 feat(model): add mention_total_limit, regex_patterns to automod
  twilight-model/src/guild/auto_moderation/mod.rs
  twilight-model/src/guild/auto_moderation/trigger_metadata.rs
Labels: t-feature, c-model

#2188 fix(http): update current member nullable nick
  twilight-http/src/request/guild/update_current_member.rs
Labels: c-http, t-fix

#2180 feat(model): Add new `USE_SOUNDBOARD`, `MANAGE_GUILD_EXPRESSIONS` and `VIEW_CREATOR_MONETIZATION_ANALYTICS` permissions
  twilight-model/src/guild/permissions.rs
  twilight-util/src/permission_calculator/mod.rs
  twilight-util/src/permission_calculator/preset.rs
Labels: t-feature, c-model, d-api, c-util

#2197 Add merge_group to the triggers
  .github/workflows/check.yml
Labels: t-ci

#2183 release: 2023-03-28
  book/src/SUMMARY.md
  book/src/versions/0.15/2023-03-28.md
  book/src/versions/summary.md
Labels: c-book

#2198 fix(gw-queue, http, model): Fix clippy up to 1.69.0
  twilight-gateway-queue/src/large_bot_queue.rs
  twilight-gateway-queue/src/lib.rs
  twilight-http/src/request/application/command/mod.rs
  twilight-model/src/id/mod.rs
Labels: c-http, c-model, t-fix, c-gateway-queue

#2191 feat(model, cache): add `channel` field to `Interaction`
  twilight-cache-inmemory/src/event/interaction.rs
  twilight-model/src/application/interaction/mod.rs
  twilight-standby/src/lib.rs
Labels: t-feature, c-cache, c-model, c-standby

#2190 fix(model): Don't deserialize option values as `Id`'s if option type is `String`
  twilight-model/src/application/interaction/application_command/option.rs
  twilight-model/src/application/interaction/mod.rs
Labels: c-model, t-fix

#2196 feat(model, cache): add support for voice messages
  twilight-cache-inmemory/src/model/message.rs
  twilight-model/src/application/interaction/application_command/resolved.rs
  twilight-model/src/channel/attachment.rs
  twilight-model/src/channel/message/flags.rs
  twilight-model/src/channel/message/mod.rs
  twilight-model/src/gateway/payload/incoming/message_create.rs
  twilight-model/src/gateway/payload/incoming/message_update.rs
  twilight-model/src/guild/permissions.rs
Labels: t-feature, c-cache, c-model

#2199 refactor(model, cache, gateway)!: update bitflags crate to v2
  twilight-cache-inmemory/Cargo.toml
  twilight-cache-inmemory/src/config.rs
  twilight-gateway/Cargo.toml
  twilight-gateway/src/event.rs
  twilight-model/Cargo.toml
  twilight-model/src/channel/flags.rs
  twilight-model/src/channel/message/flags.rs
  twilight-model/src/gateway/intents.rs
  twilight-model/src/gateway/presence/activity_flags.rs
  twilight-model/src/guild/member_flags.rs
  twilight-model/src/guild/permissions.rs
  twilight-model/src/guild/system_channel_flags.rs
  twilight-model/src/oauth/application_flags.rs
  twilight-model/src/user/flags.rs
Labels: c-cache, c-model, c-gateway, m-breaking change, t-refactor

#2202 build(gateway, http): Allow simd-json 0.8 and 0.9
  twilight-gateway/Cargo.toml
  twilight-http/Cargo.toml
Labels: c-http, c-gateway, t-build

#2200 release: 2023-04-27
  book/src/versions/0.15/2023-04-27.md
  book/src/versions/summary.md
Labels: m-release, c-book
