Repository twilight-rs/twilight, pull requests merged in 2023-07, with the labels that each got.

#2219 feat(twilight-model)!: Implement additional select menu types
  twilight-cache-inmemory/src/event/interaction.rs
  twilight-cache-inmemory/src/event/member.rs
  twilight-cache-inmemory/src/model/member.rs
  twilight-model/src/application/interaction/application_command/mod.rs
  twilight-model/src/application/interaction/message_component.rs
  twilight-model/src/application/interaction/mod.rs
  twilight-model/src/application/interaction/resolved.rs
  twilight-model/src/channel/message/component/kind.rs
  twilight-model/src/channel/message/component/mod.rs
  twilight-model/src/channel/message/component/select_menu.rs
  twilight-standby/src/lib.rs
  twilight-validate/src/component.rs
Labels: t-feature, c-cache, c-model, m-breaking change, d-api, c-standby, d-breaking, c-validate

#2233 refactor: reformat code with rustfmt 1.6.0
  twilight-gateway/src/json.rs
  twilight-mention/src/parse/iter.rs
Labels: c-gateway, c-mention, t-refactor

#2232 refactor(gateway): remove ratelimiter sleep from new
  twilight-gateway/src/ratelimiter.rs
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-refactor

#2236 feat(model): include guild_id in ThreadMemberUpdate
  twilight-model/src/gateway/event/mod.rs
  twilight-model/src/gateway/payload/incoming/thread_member_update.rs
Labels: t-feature, c-model

#2130 feat(model, http): Add support for guild onboarding
  twilight-http-ratelimiting/src/request.rs
  twilight-http/src/client/mod.rs
  twilight-http/src/request/guild/get_guild_onboarding.rs
  twilight-http/src/request/guild/mod.rs
  twilight-http/src/request/try_into_request.rs
  twilight-http/src/routing.rs
  twilight-model/src/guild/mod.rs
  twilight-model/src/guild/onboarding/mod.rs
  twilight-model/src/guild/onboarding/option.rs
  twilight-model/src/guild/onboarding/prompt.rs
  twilight-model/src/guild/onboarding/prompt_type.rs
  twilight-model/src/id/marker.rs
Labels: t-feature, c-http, c-model, d-api, c-http-ratelimiting

#2226 refactor(gateway): inline `future` into `shard`
  twilight-gateway/src/future.rs
  twilight-gateway/src/lib.rs
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-refactor

#2231 feat(model, cache): Support new username system
  twilight-cache-inmemory/src/event/interaction.rs
  twilight-cache-inmemory/src/event/message.rs
  twilight-cache-inmemory/src/event/voice_state.rs
  twilight-cache-inmemory/src/model/member.rs
  twilight-cache-inmemory/src/model/sticker.rs
  twilight-cache-inmemory/src/test.rs
  twilight-model/src/application/interaction/application_command/resolved.rs
  twilight-model/src/application/interaction/mod.rs
  twilight-model/src/channel/message/interaction.rs
  twilight-model/src/channel/message/mod.rs
  twilight-model/src/channel/message/sticker/mod.rs
  twilight-model/src/channel/webhook/mod.rs
  twilight-model/src/gateway/event/mod.rs
  twilight-model/src/gateway/payload/incoming/member_add.rs
  twilight-model/src/gateway/payload/incoming/member_chunk.rs
  twilight-model/src/gateway/payload/incoming/member_update.rs
  twilight-model/src/gateway/payload/incoming/thread_members_update.rs
  twilight-model/src/gateway/payload/incoming/typing_start.rs
  twilight-model/src/gateway/payload/incoming/voice_state_update.rs
  twilight-model/src/gateway/reaction.rs
  twilight-model/src/guild/ban.rs
  twilight-model/src/guild/emoji.rs
  twilight-model/src/guild/integration.rs
  twilight-model/src/guild/integration_application.rs
  twilight-model/src/guild/invite/mod.rs
  twilight-model/src/guild/member.rs
  twilight-model/src/guild/template/mod.rs
  twilight-model/src/oauth/application.rs
  twilight-model/src/oauth/team/member.rs
  twilight-model/src/user/mod.rs
  twilight-model/src/voice/voice_state.rs
  twilight-standby/src/lib.rs
Labels: t-feature, c-cache, c-model, c-standby

#2245 feat(http): add `default_forum_layout` option for channel creation
  twilight-http/src/request/guild/create_guild_channel.rs
Labels: t-feature, c-http

#2244 feat(model, gateway): add `message_author_id` for reaction add events
  twilight-cache-inmemory/src/event/reaction.rs
  twilight-cache-inmemory/src/test.rs
  twilight-model/src/gateway/reaction.rs
  twilight-standby/src/lib.rs
Labels: t-feature, c-cache, c-model, c-standby

#2243 feat(model): add audit log monetization event types
  twilight-model/src/guild/audit_log/event_type.rs
Labels: t-feature, c-model

#2242 feat(model) add support for avatar decorations
  twilight-cache-inmemory/src/event/interaction.rs
  twilight-cache-inmemory/src/event/message.rs
  twilight-cache-inmemory/src/event/voice_state.rs
  twilight-cache-inmemory/src/model/member.rs
  twilight-cache-inmemory/src/model/sticker.rs
  twilight-cache-inmemory/src/test.rs
  twilight-model/src/application/interaction/application_command/resolved.rs
  twilight-model/src/application/interaction/mod.rs
  twilight-model/src/channel/message/interaction.rs
  twilight-model/src/channel/message/mod.rs
  twilight-model/src/channel/message/sticker/mod.rs
  twilight-model/src/channel/webhook/mod.rs
  twilight-model/src/gateway/event/mod.rs
  twilight-model/src/gateway/payload/incoming/member_add.rs
  twilight-model/src/gateway/payload/incoming/member_chunk.rs
  twilight-model/src/gateway/payload/incoming/member_update.rs
  twilight-model/src/gateway/payload/incoming/thread_members_update.rs
  twilight-model/src/gateway/payload/incoming/typing_start.rs
  twilight-model/src/gateway/payload/incoming/voice_state_update.rs
  twilight-model/src/gateway/reaction.rs
  twilight-model/src/guild/ban.rs
  twilight-model/src/guild/emoji.rs
  twilight-model/src/guild/integration.rs
  twilight-model/src/guild/integration_application.rs
  twilight-model/src/guild/invite/mod.rs
  twilight-model/src/guild/member.rs
  twilight-model/src/guild/template/mod.rs
  twilight-model/src/oauth/application.rs
  twilight-model/src/oauth/team/member.rs
  twilight-model/src/test.rs
  twilight-model/src/user/mod.rs
  twilight-model/src/voice/voice_state.rs
  twilight-standby/src/lib.rs
Labels: c-cache, c-model, c-standby

#2189 feat(validate, http)!: add `regex_patterns` and `allow_list`
  twilight-http/src/client/mod.rs
  twilight-http/src/request/guild/auto_moderation/create_auto_moderation_rule.rs
  twilight-validate/src/request.rs
Labels: t-feature, c-http, m-breaking change, c-validate

#2241 feat(model): add support for attachment flags
  twilight-model/src/application/interaction/application_command/resolved.rs
  twilight-model/src/channel/attachment.rs
  twilight-model/src/channel/attachment_flags.rs
  twilight-model/src/channel/mod.rs
Labels: t-feature, c-model

#2240 feat(model): add support for role flags
  twilight-cache-inmemory/src/event/interaction.rs
  twilight-cache-inmemory/src/lib.rs
  twilight-cache-inmemory/src/test.rs
  twilight-model/src/application/interaction/application_command/resolved.rs
  twilight-model/src/gateway/event/gateway.rs
  twilight-model/src/gateway/payload/incoming/role_update.rs
  twilight-model/src/guild/mod.rs
  twilight-model/src/guild/role.rs
  twilight-model/src/guild/role_flags.rs
Labels: t-feature, c-cache, c-model

#2246 fix(ci): Target haswell for docs deploy
  .github/workflows/deploy-lib.yml
Labels: t-fix, t-ci

#2247 fix(gateway): don't swallow events on send error
  twilight-gateway/src/error.rs
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-fix

#2223 docs(gateway): cleanup parallel example
  examples/gateway-parallel.rs
Labels: t-docs

#2238 feat(model): remove `tracing`
  twilight-model/Cargo.toml
  twilight-model/src/application/command/permissions.rs
  twilight-model/src/application/interaction/application_command/option.rs
  twilight-model/src/application/interaction/mod.rs
  twilight-model/src/channel/message/component/mod.rs
  twilight-model/src/gateway/event/gateway.rs
  twilight-model/src/gateway/payload/incoming/member_chunk.rs
  twilight-model/src/gateway/presence/activity_button.rs
  twilight-model/src/guild/mod.rs
Labels: t-feature, c-model

#2248 feat(gateway): impl `From<Config>` for ConfigBuilder
  twilight-gateway/src/config.rs
  twilight-gateway/src/stream.rs
Labels: t-feature, c-gateway
