Repository twilight-rs/twilight, pull requests merged in 2023-12, with the labels that each got.

#2249 feat(gateway)!: turn `Queue` into a generic type
  examples/gateway-queue-http.rs
  twilight-gateway-queue/src/lib.rs
  twilight-gateway/src/config.rs
  twilight-gateway/src/shard.rs
  twilight-gateway/src/stream.rs
Labels: t-feature, c-gateway, m-breaking change, c-gateway-queue

#2224 docs(gateway): cleanup reshard example
  examples/gateway-reshard.rs
Labels: t-docs

#2304 ci: Don't include book in MSRV check
  .github/workflows/check.yml
Labels: t-ci

#2305 fix(lavalink): clippy 1.75 lints
  twilight-lavalink/src/node.rs
Labels: t-fix, c-lavalink, t-ci
