Repository twilight-rs/twilight, pull requests merged in 2023-02, with the labels that each got.

#2116 refactor(gateway)!: reuse queue by default in `create_*` functions
  examples/gateway-parallel.rs
  examples/gateway-reshard.rs
  twilight-gateway/README.md
  twilight-gateway/src/config.rs
  twilight-gateway/src/stream.rs
Labels: c-gateway, m-breaking change, t-refactor

#2109 docs(gateway): add helpful details for new users
  twilight-gateway/README.md
  twilight-gateway/src/config.rs
  twilight-gateway/src/connection.rs
  twilight-gateway/src/shard.rs
  twilight-gateway/src/stream.rs
Labels: t-docs, c-gateway

#2136 docs(gateway): correct zlib-simd feature flag name
  twilight-gateway/README.md
Labels: t-docs, c-gateway

#2129 feat(model): add `MessageFlags::SUPPRESS_NOTIFICATIONS`
  twilight-http/src/request/channel/message/create_message.rs
  twilight-http/src/request/channel/thread/create_forum_thread/message.rs
  twilight-model/src/channel/message/flags.rs
Labels: t-feature, c-http, c-model, d-api

#2126 docs(gateway): remove stale resume_gateway_url notice
  twilight-gateway/src/shard.rs
Labels: t-docs, c-gateway

#2150 docs(gateway): resume behavior of presences
  twilight-gateway/src/config.rs
Labels: t-docs, c-gateway

#2149 docs(gateway): all event types can be excluded
  twilight-gateway/src/event.rs
Labels: t-docs, c-gateway

#2147 feat(cache, model): stage channel message types
  twilight-model/src/channel/message/kind.rs
Labels: t-feature, c-model, d-api

#2148 feat(model, cache): add `managed` field to `Channel`
  twilight-cache-inmemory/src/event/guild.rs
  twilight-cache-inmemory/src/permission.rs
  twilight-cache-inmemory/src/test.rs
  twilight-model/src/channel/mod.rs
  twilight-model/src/guild/template/mod.rs
Labels: t-feature, c-cache, c-model

#2145 ci: speedup & reduce cache storage
  .github/workflows/check.yml
Labels: t-ci

#2144 refactor: change deny lints to warn
  book/tests/src/lib.rs
  twilight-cache-inmemory/src/lib.rs
  twilight-gateway-queue/src/lib.rs
  twilight-gateway/src/lib.rs
  twilight-http-ratelimiting/src/lib.rs
  twilight-http/src/lib.rs
  twilight-lavalink/src/lib.rs
  twilight-mention/src/lib.rs
  twilight-model/src/channel/message/mod.rs
  twilight-model/src/guild/auto_moderation/mod.rs
  twilight-model/src/lib.rs
  twilight-model/src/util/datetime/mod.rs
  twilight-model/src/voice/mod.rs
  twilight-standby/src/lib.rs
  twilight-util/src/lib.rs
  twilight-validate/src/lib.rs
Labels: c-http, c-cache, c-model, c-gateway, c-lavalink, c-standby, c-mention, c-gateway-queue, c-util, t-refactor, c-http-ratelimiting, c-validate, c-book

#2127 docs(gateway): remove simple examples
  examples/Cargo.toml
  examples/gateway-intents.rs
  examples/gateway-shard.rs
Labels: t-docs

#2118 ci: bump book-test checkout workflow version
  .github/workflows/check.yml
Labels: t-ci

#2124 feat(model): gateway OpCode sent/received categorization
  twilight-model/src/gateway/opcode.rs
Labels: t-feature, c-model

#2153 docs(model): formatting of discriminator field
  twilight-model/src/user/current_user.rs
  twilight-model/src/user/mod.rs
  twilight-model/src/user/profile.rs
Labels: t-docs, c-model

#2155 docs(model): clarify reaction type unicode values
  twilight-model/src/channel/message/reaction.rs
Labels: t-docs, c-model

#2158 refactor(model): simplify closecode::can_reconnect
  twilight-model/src/gateway/close_code.rs
Labels: c-model, t-refactor

#2157 test(model): tests for gateway clode codes
  twilight-model/src/gateway/close_code.rs
Labels: c-model, t-test

#2154 fix(gateway): ignore unknown event errors
  twilight-gateway/src/json.rs
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-fix

#2123 feat(validate): command option choice `name`, `name_localizations` and `value` validation
  twilight-validate/src/command.rs
Labels: t-feature, c-validate

#2140 docs(gateway): `next_event` close variant
  twilight-gateway/src/shard.rs
  twilight-model/src/gateway/event/mod.rs
Labels: t-docs, c-model, c-gateway, t-refactor

#2161 feat(http, model, validate): add support for auto mod custom messages
  twilight-http/src/request/guild/auto_moderation/create_auto_moderation_rule.rs
  twilight-model/src/guild/auto_moderation/action.rs
  twilight-model/src/guild/auto_moderation/mod.rs
  twilight-validate/src/request.rs
Labels: t-feature, c-http, c-model, c-validate

#2160 2023-02-26 updates
  book/src/SUMMARY.md
  book/src/versions/0.15/2023-02-26.md
  book/src/versions/summary.md
Labels: c-book

#2164 perf(cache): replace hashmap .iter().find() with .get()
  twilight-cache-inmemory/src/event/interaction.rs
Labels: c-cache, t-refactor, t-perf
