Repository twilight-rs/twilight, pull requests merged in 2023-11, with the labels that each got.

#2290 feat(mention): add mention for commands
  twilight-mention/src/fmt.rs
  twilight-mention/src/parse/error.rs
  twilight-mention/src/parse/impl.rs
Labels: t-feature, c-mention

#2295 fix(ci, http): fix docs deploy
  twilight-http/src/json.rs
Labels: c-http, t-fix

#2281 feat(twilight-model,twilight-validate)!: Implement select menu default values
  twilight-model/src/channel/message/component/mod.rs
  twilight-model/src/channel/message/component/select_menu.rs
  twilight-validate/src/component.rs
Labels: t-feature, c-model, m-breaking change, c-validate

#2294 refactor(http): remove unnecessary conversion
  twilight-http/src/response/mod.rs
Labels: c-http, t-refactor

#2297 Fix for new clippy lint
  twilight-gateway/src/config.rs
  twilight-http/src/request/channel/message/update_message.rs
  twilight-http/src/request/channel/webhook/update_webhook.rs
  twilight-http/src/request/channel/webhook/update_webhook_with_token.rs
  twilight-http/src/request/user/update_current_user.rs
  twilight-model/src/id/mod.rs
  twilight-validate/src/request.rs
Labels: c-http, c-model, c-gateway, c-validate

#2289 build(gateway, http): Allow simd-json 0.11, 0.12 and 0.13
  twilight-gateway/Cargo.toml
  twilight-http/Cargo.toml
Labels: c-http, c-gateway, t-build

#2283 feat(http): add `guild_scheduled_event_id` to `create_stage_instance`
  twilight-http/src/request/channel/stage/create_stage_instance.rs
Labels: t-feature, c-http

#2298 perf(http): use optimized `slice::to_vec()`
  twilight-http/src/response/mod.rs
Labels: c-http, t-perf

#2299 refactor(http)!: avoid copying the reponse body on utf8 error
  twilight-http/src/response/mod.rs
Labels: c-http, m-breaking change, t-refactor
