Repository twilight-rs/twilight, pull requests merged in 2023-03, with the labels that each got.

#2173 docs(model): fix event integration variant docs
  twilight-model/src/gateway/event/mod.rs
Labels: t-docs, c-model

#2163 feat(http-ratelimiting)!: hide `http` dependency
  twilight-http-ratelimiting/Cargo.toml
  twilight-http-ratelimiting/src/request.rs
  twilight-http/src/client/mod.rs
Labels: t-feature, c-http, m-breaking change, c-http-ratelimiting

#2168 feat(model)!: reduce size of gateway REST API models
  book/src/chapter_1_crates/section_7_first_party/section_3_lavalink.md
  examples/lavalink-basic-bot.rs
  twilight-gateway-queue/src/day_limiter.rs
  twilight-gateway-queue/src/large_bot_queue.rs
  twilight-gateway-queue/src/lib.rs
  twilight-gateway/src/stream.rs
  twilight-lavalink/README.md
  twilight-lavalink/src/client.rs
  twilight-model/src/gateway/connection_info/bot_connection_info.rs
  twilight-model/src/gateway/id.rs
  twilight-model/src/gateway/payload/incoming/ready.rs
  twilight-model/src/gateway/session_start_limit.rs
Labels: t-feature, c-model, c-gateway, m-breaking change, c-lavalink, c-gateway-queue, c-book

#2175 fix(gateway-queue): correctly update DayLimiter's next_reset field
  twilight-gateway-queue/src/day_limiter.rs
Labels: t-fix, c-gateway-queue

#2174 docs(standby): timeout example
  twilight-standby/README.md
  twilight-standby/src/lib.rs
Labels: t-docs, c-standby

#2143 perf(gateway): speed up ratelimiter
  twilight-gateway/src/ratelimiter.rs
Labels: c-gateway, t-perf

#2181 fix(http): use reason in update guild sticker
  twilight-http/src/request/guild/sticker/update_guild_sticker.rs
Labels: c-http, t-fix

#2131 refactor(model)!: remove user profile
  twilight-model/src/user/mod.rs
  twilight-model/src/user/profile.rs
Labels: c-model, m-breaking change, t-refactor

#2139 perf(model): improve image hash parsing
  twilight-model/benches/image_hash.rs
  twilight-model/src/util/image_hash.rs
Labels: c-model, t-perf

#2182 fix(model): handle clyde ai hash
  twilight-model/src/util/image_hash.rs
Labels: c-model, t-fix
