Repository twilight-rs/twilight, pull requests merged in 2023-06, with the labels that each got.

#2201 build(gateway, http, lavalink): Dependency updates for rustls 0.21
  twilight-gateway/Cargo.toml
  twilight-gateway/src/tls.rs
  twilight-http/Cargo.toml
  twilight-lavalink/Cargo.toml
Labels: c-http, c-gateway, c-lavalink, t-build

#2214 fix(http)!: fix `UpdateFollowup` falsely returning an `EmptyBody` (#2203)
  twilight-http/src/request/application/interaction/update_followup.rs
Labels: c-http, m-breaking change, d-api, t-fix

#2220 docs(validate): Fix broken intra-doc links
  twilight-validate/src/command.rs
Labels: t-docs, t-fix, c-validate

#2204 feat(model, cache): add support for join raid and mention raid protection
  twilight-cache-inmemory/src/event/guild.rs
  twilight-cache-inmemory/src/model/guild.rs
  twilight-cache-inmemory/src/permission.rs
  twilight-cache-inmemory/src/test.rs
  twilight-model/src/guild/auto_moderation/mod.rs
  twilight-model/src/guild/auto_moderation/trigger_metadata.rs
  twilight-model/src/guild/feature.rs
  twilight-model/src/guild/mod.rs
Labels: t-feature, c-cache, c-model

#2185 test(gateway): assert spurious ratelimiter poll doesn't reset deadline
  twilight-gateway/src/ratelimiter.rs
Labels: c-gateway, t-test

#2212 perf(gateway): reuse ratelimiter's cleanup instant
  twilight-gateway/src/future.rs
  twilight-gateway/src/ratelimiter.rs
Labels: c-gateway, t-perf
