Repository twilight-rs/twilight, pull requests merged in 2023-08, with the labels that each got.

#2261 ci: use stable for min-vers
  .github/workflows/check.yml
Labels: t-ci

#2225 refactor(gateway): cleanup dispatch sequence handling
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-refactor

#2260 Resume pending identify requests
  twilight-gateway/Cargo.toml
  twilight-gateway/src/shard.rs
Labels: c-gateway

#2268 fix(model): clippy 1.72 lints
  book/tests/src/lib.rs
  examples/model-webhook-slash.rs
  twilight-cache-inmemory/src/lib.rs
  twilight-gateway-queue/src/large_bot_queue.rs
  twilight-lavalink/src/client.rs
  twilight-lavalink/src/http.rs
  twilight-model/benches/deserialization.rs
  twilight-model/src/id/anonymizable.rs
  twilight-model/src/id/mod.rs
  twilight-standby/src/lib.rs
  twilight-validate/src/component.rs
Labels: c-cache, c-model, t-fix, c-lavalink, c-standby, c-gateway-queue, c-validate, c-book

#2237 refactor(model)!: remove undocumented gateway events
  twilight-cache-inmemory/src/lib.rs
  twilight-gateway/src/event.rs
  twilight-gateway/src/shard.rs
  twilight-model/src/gateway/event/dispatch.rs
  twilight-model/src/gateway/event/kind.rs
  twilight-model/src/gateway/event/mod.rs
  twilight-standby/src/lib.rs
Labels: c-cache, c-model, c-gateway, m-breaking change, c-standby, t-refactor
