Repository twilight-rs/twilight, pull requests merged in 2023-10, with the labels that each got.

#2285 fix: new rust CI errors
  examples/gateway-reshard.rs
  twilight-cache-inmemory/src/lib.rs
  twilight-gateway/src/config.rs
  twilight-http/CHANGELOG.md
  twilight-mention/src/timestamp.rs
  twilight-model/src/id/mod.rs
  twilight-standby/src/lib.rs
Labels: c-http, c-cache, c-model, c-gateway, t-fix, c-standby, c-mention

#2275 feat(model, cache): add support for super reactions
  twilight-cache-inmemory/src/event/reaction.rs
  twilight-model/src/channel/message/mod.rs
  twilight-model/src/channel/message/reaction.rs
  twilight-model/src/util/hex_color.rs
  twilight-model/src/util/mod.rs
Labels: t-feature, c-cache, c-model

#2274 feat(http): support default thread timeout for channel creation
  twilight-http/src/request/guild/create_guild_channel.rs
Labels: t-feature, c-http

#2286 fix(model): bump `SessionStartLimit` field sizes
  twilight-gateway-queue/src/in_memory.rs
  twilight-model/src/gateway/connection_info/bot_connection_info.rs
  twilight-model/src/gateway/session_start_limit.rs
Labels: c-model, t-fix, c-gateway-queue

#2287 build(http)!: Update trust-dns (now hickory)
  twilight-http/Cargo.toml
  twilight-http/README.md
  twilight-http/src/client/connector.rs
Labels: c-http, m-breaking change, t-build

#2288 fix(cache, model): `Member#joined_at` can sometimes be null
  twilight-cache-inmemory/src/event/interaction.rs
  twilight-cache-inmemory/src/event/message.rs
  twilight-cache-inmemory/src/event/voice_state.rs
  twilight-cache-inmemory/src/lib.rs
  twilight-cache-inmemory/src/model/member.rs
  twilight-cache-inmemory/src/permission.rs
  twilight-cache-inmemory/src/test.rs
  twilight-model/src/application/interaction/application_command/resolved.rs
  twilight-model/src/application/interaction/mod.rs
  twilight-model/src/channel/message/interaction.rs
  twilight-model/src/channel/message/mention.rs
  twilight-model/src/channel/message/mod.rs
  twilight-model/src/gateway/payload/incoming/member_add.rs
  twilight-model/src/gateway/payload/incoming/member_chunk.rs
  twilight-model/src/gateway/payload/incoming/member_update.rs
  twilight-model/src/gateway/payload/incoming/thread_members_update.rs
  twilight-model/src/gateway/payload/incoming/typing_start.rs
  twilight-model/src/gateway/payload/incoming/voice_state_update.rs
  twilight-model/src/gateway/reaction.rs
  twilight-model/src/guild/member.rs
  twilight-model/src/guild/mod.rs
  twilight-model/src/guild/partial_member.rs
  twilight-model/src/voice/voice_state.rs
Labels: c-cache, c-model, t-fix

#2291 feat(http, model): add new onboarding mode and support for modifying onboarding
  twilight-http/src/client/mod.rs
  twilight-http/src/request/audit_reason.rs
  twilight-http/src/request/guild/mod.rs
  twilight-http/src/request/guild/update_guild_onboarding.rs
  twilight-http/src/request/try_into_request.rs
  twilight-http/src/routing.rs
  twilight-model/src/guild/onboarding/mod.rs
  twilight-model/src/guild/onboarding/mode.rs
  twilight-model/src/guild/onboarding/option.rs
  twilight-model/src/guild/onboarding/prompt.rs
  twilight-model/src/guild/onboarding/prompt_type.rs
Labels: t-feature, c-http, c-model
