Repository twilight-rs/twilight, pull requests merged in 2023-09, with the labels that each got.

#2269 fix(validate): improve validation of command option descriptions
  twilight-validate/src/command.rs
  twilight-validate/src/request.rs
Labels: t-fix, c-validate

#2266 feat(model): add `integration_type` to audit log entries
  twilight-model/src/guild/audit_log/optional_entry_info.rs
  twilight-model/src/guild/integration_type.rs
Labels: t-feature, c-model

#2264 fix(gateway): defer queued commands until sent `Resume`
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-fix

#2254 docs(http): add limit to guild members request
  twilight-http/src/client/mod.rs
  twilight-http/src/request/guild/member/get_guild_members.rs
Labels: t-docs, c-http

#2252 docs(http): fix `Client::delete_messages`
  twilight-http/src/client/mod.rs
Labels: t-docs, c-http

#2257 fix(models): add VanityUrl uses
  twilight-model/src/guild/vanity_url.rs
Labels: c-model, t-fix

#2256 fix(http): fix get invite query params
  twilight-http/src/routing.rs
Labels: c-http, t-fix

#2273 release: 2023-09-10
  book/src/SUMMARY.md
  book/src/versions/0.15/2023-09-10.md
  book/src/versions/summary.md
Labels: m-release, c-book

#2228 refactor(gateway-queue)!: rewrite crate
  book/src/chapter_2_multi-serviced_approach.md
  examples/Cargo.toml
  examples/gateway-queue-http.rs
  twilight-gateway-queue/Cargo.toml
  twilight-gateway-queue/README.md
  twilight-gateway-queue/src/day_limiter.rs
  twilight-gateway-queue/src/in_memory.rs
  twilight-gateway-queue/src/large_bot_queue.rs
  twilight-gateway-queue/src/lib.rs
  twilight-gateway-queue/tests/common/mod.rs
  twilight-gateway-queue/tests/in_memory.rs
  twilight-gateway/src/config.rs
  twilight-gateway/src/shard.rs
  twilight-gateway/src/stream.rs
Labels: t-docs, t-feature, c-gateway, m-breaking change, t-fix, c-gateway-queue, t-refactor, c-book

#2277 build(examples): Update ed25519-dalek
  examples/Cargo.toml
  examples/model-webhook-slash.rs
Labels: t-build

#2239 refactor(gateway, http, lavalink): Switch to tokio-websockets
  twilight-gateway/Cargo.toml
  twilight-gateway/src/config.rs
  twilight-gateway/src/connection.rs
  twilight-gateway/src/lib.rs
  twilight-gateway/src/message.rs
  twilight-gateway/src/shard.rs
  twilight-gateway/src/tls.rs
  twilight-http/Cargo.toml
  twilight-http/src/request/multipart.rs
  twilight-lavalink/Cargo.toml
  twilight-lavalink/README.md
  twilight-lavalink/src/node.rs
Labels: c-http, c-gateway, c-lavalink, c-all, t-refactor, t-build

#2280 fix(http): Use `default_message_seconds` as a json field for `create_ban`
  twilight-http/src/request/guild/ban/create_ban.rs
  twilight-http/src/routing.rs
Labels: c-http, t-fix

#2222 feat(model): Add support for guild media channels
  twilight-model/src/channel/channel_type.rs
Labels: t-feature, c-model
