Repository twilight-rs/twilight, pull requests merged in 2024-11, with the labels that each got.

#2386 feat(util): add contexts and integration types to command builder
  twilight-util/src/builder/command.rs
Labels: t-feature, c-util

#2265 fix(models): add "flags" field to MemberUpdate payload
  twilight-cache-inmemory/src/permission.rs
  twilight-model/src/gateway/payload/incoming/member_update.rs
Labels: c-cache, c-model, d-api, t-fix

#2383 feat(model): Add guild field to interaction.
  twilight-cache-inmemory/src/event/interaction.rs
  twilight-model/src/application/interaction/mod.rs
  twilight-standby/src/lib.rs
Labels: t-feature, c-cache, c-model, c-standby

#2384 feat(model): Add new fields to interaction metadata
  twilight-model/src/application/interaction/metadata.rs
Labels: t-feature, c-model

#2377 fix(model, cache): unavailable is optional and false and none equal
  examples/cache-optimization/models/guild.rs
  twilight-cache-inmemory/src/event/guild.rs
  twilight-cache-inmemory/src/model/guild.rs
  twilight-cache-inmemory/src/permission.rs
  twilight-cache-inmemory/src/test.rs
  twilight-cache-inmemory/src/traits.rs
  twilight-model/src/gateway/payload/incoming/guild_delete.rs
  twilight-model/src/guild/mod.rs
Labels: c-cache, c-model, t-fix

#2388 fix(http): update role icon and unicode_emoji using nullable strings
  twilight-http/src/request/guild/role/update_role.rs
Labels: c-http, t-fix

#2387 refactor(model, cache): a full message object for `MessageUpdate` event
  examples/cache-optimization/models/message.rs
  twilight-cache-inmemory/src/event/message.rs
  twilight-cache-inmemory/src/model/message.rs
  twilight-cache-inmemory/src/traits.rs
  twilight-model/src/gateway/event/mod.rs
  twilight-model/src/gateway/payload/incoming/message_update.rs
Labels: c-cache, c-model, t-refactor

#2389 feat(http): Add Discord defined status codes as constants
  twilight-http/src/response/status_code.rs
Labels: t-feature, c-http

#2391 chore(clippy, minvers): resolve rust 1.83 issues
  .github/workflows/check.yml
  twilight-cache-inmemory/src/lib.rs
  twilight-gateway/src/stream.rs
  twilight-http/src/routing.rs
  twilight-lavalink/src/lib.rs
  twilight-mention/src/parse/iter.rs
  twilight-model/src/gateway/event/dispatch.rs
  twilight-model/src/guild/permissions.rs
  twilight-model/src/lib.rs
  twilight-model/src/user/mod.rs
  twilight-model/src/util/hex_color.rs
  twilight-model/src/util/mustbe.rs
  twilight-model/src/visitor.rs
  twilight-util/src/lib.rs
  twilight-validate/src/command.rs
Labels: c-http, c-cache, c-model, c-gateway, c-lavalink, t-ci, c-mention, c-util, c-validate

#2390 perf(gateway): lazily allocate errors
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-perf
