Repository twilight-rs/twilight, pull requests merged in 2024-09, with the labels that each got.

#2368 fix(http, model): Fix nightly compiler and rustdoc warnings
  twilight-http/src/client/mod.rs
  twilight-model/src/id/marker.rs
Labels: c-http, c-model, t-fix

#2369 ci: Don't downgrade tokio
  .github/workflows/check.yml
Labels: t-ci

#2194 ci: switch API docs to modern GH Pages action
  .github/workflows/deploy-lib.yml
Labels: t-ci, w-do-not-merge

#2364 feat(http): Add support for application emojis
  twilight-http-ratelimiting/src/request.rs
  twilight-http/src/client/mod.rs
  twilight-http/src/request/application/emoji/add_emoji.rs
  twilight-http/src/request/application/emoji/delete_emoji.rs
  twilight-http/src/request/application/emoji/list_emojis.rs
  twilight-http/src/request/application/emoji/mod.rs
  twilight-http/src/request/application/emoji/update_emoji.rs
  twilight-http/src/request/application/mod.rs
  twilight-http/src/request/try_into_request.rs
  twilight-http/src/routing.rs
Labels: t-feature, c-http, t-ci, c-http-ratelimiting

#2370 build(gateway, http): Update simd-json to 0.14.0-rc.3
  twilight-gateway/Cargo.toml
  twilight-http/Cargo.toml
Labels: c-http, c-gateway, t-build

#2361 fix(model): Unavailable guild must always have unavailable as true
  twilight-model/src/gateway/payload/incoming/guild_create.rs
  twilight-model/src/guild/unavailable_guild.rs
  twilight-model/src/util/mod.rs
  twilight-model/src/util/mustbe.rs
Labels: c-model, t-fix

#2371 feat(model): add guild_scheduled_events to guild struct
  examples/cache-optimization/models/guild_scheduled_events.rs
  examples/cache-optimization/models/mod.rs
  twilight-cache-inmemory/src/config.rs
  twilight-cache-inmemory/src/event/guild.rs
  twilight-cache-inmemory/src/event/guild_scheduled_events.rs
  twilight-cache-inmemory/src/event/mod.rs
  twilight-cache-inmemory/src/lib.rs
  twilight-cache-inmemory/src/model/guild.rs
  twilight-cache-inmemory/src/permission.rs
  twilight-cache-inmemory/src/test.rs
  twilight-cache-inmemory/src/traits.rs
  twilight-model/src/guild/mod.rs
Labels: t-feature, c-cache, c-model

#2152 feat(cache, model): add max_stage_video_channel_users
  twilight-cache-inmemory/src/event/guild.rs
  twilight-cache-inmemory/src/model/guild.rs
  twilight-cache-inmemory/src/permission.rs
  twilight-cache-inmemory/src/test.rs
  twilight-model/src/guild/mod.rs
Labels: t-feature, c-cache, c-model, d-api

#2367 build(gateway,http,lavalink): Update to rustls 0.23
  twilight-gateway/Cargo.toml
  twilight-gateway/README.md
  twilight-gateway/src/shard.rs
  twilight-http/Cargo.toml
  twilight-http/README.md
  twilight-http/src/client/connector.rs
  twilight-lavalink/Cargo.toml
  twilight-lavalink/README.md
Labels: c-http, c-gateway, c-lavalink, c-all, t-build
