Repository twilight-rs/twilight, pull requests merged in 2024-12, with the labels that each got.

#2393 refactor(gateway): reuse 'now' instant for `poll_acquire`
  twilight-gateway/src/ratelimiter.rs
Labels: c-gateway, t-refactor

#2394 feat(http): add get guild role endpoint
  twilight-http/src/client/mod.rs
  twilight-http/src/request/guild/role/get_role.rs
  twilight-http/src/request/guild/role/mod.rs
  twilight-http/src/request/try_into_request.rs
  twilight-http/src/routing.rs
Labels: t-feature, c-http

#2397 refactor(gateway): split sending into a separate method
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-refactor

#2396 refactor(gateway): avoid recent latencies rotate
  twilight-gateway/src/latency.rs
Labels: c-gateway, t-refactor

#2399 fix(gateway): don't swallow close frames
  twilight-gateway/src/message.rs
Labels: c-gateway, t-fix

#2395 perf(gateway): optimize `CommandRatelimiter` size
  twilight-gateway/src/ratelimiter.rs
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-perf
