Repository twilight-rs/twilight, pull requests merged in 2024-01, with the labels that each got.

#2307 perf(model): Remove sequence from GatewayEventVisitor
  twilight-model/src/gateway/event/gateway.rs
Labels: c-model, t-perf

#2302 build(http, gateway, lavalink): Update to rustls 0.22, hyper 1.0, tokio-websockets 0.5
  examples/Cargo.toml
  examples/gateway-queue-http.rs
  examples/lavalink-basic-bot.rs
  examples/model-webhook-slash.rs
  twilight-gateway/Cargo.toml
  twilight-gateway/src/connection.rs
  twilight-http-ratelimiting/Cargo.toml
  twilight-http/Cargo.toml
  twilight-http/src/client/builder.rs
  twilight-http/src/client/connector.rs
  twilight-http/src/client/mod.rs
  twilight-http/src/error.rs
  twilight-http/src/request/base.rs
  twilight-http/src/request/guild/ban/create_ban.rs
  twilight-http/src/request/mod.rs
  twilight-http/src/response/future.rs
  twilight-http/src/response/mod.rs
  twilight-lavalink/Cargo.toml
  twilight-lavalink/src/node.rs
Labels: c-http, c-gateway, c-lavalink, c-all, c-http-ratelimiting, t-build

#2308 build(gateway, http, lavalink)!: Rename native feature to native-tls
  book/src/chapter_1_crates/section_2_http.md
  book/src/chapter_1_crates/section_3_gateway.md
  book/src/chapter_1_crates/section_7_first_party/section_3_lavalink.md
  twilight-gateway/Cargo.toml
  twilight-gateway/README.md
  twilight-gateway/src/shard.rs
  twilight-http/Cargo.toml
  twilight-http/README.md
  twilight-http/src/client/connector.rs
  twilight-lavalink/Cargo.toml
  twilight-lavalink/README.md
Labels: c-http, c-gateway, m-breaking change, c-lavalink, t-build, c-book

#2309 feat(gateway)!: impl Stream for Shard
  README.md
  book/src/chapter_1_crates/section_3_gateway.md
  book/src/chapter_1_crates/section_4_cache_inmemory.md
  book/src/chapter_1_crates/section_7_first_party/section_3_lavalink.md
  book/src/overview.md
  book/tests/Cargo.toml
  book/tests/build.rs
  examples/Cargo.toml
  examples/gateway-parallel.rs
  examples/gateway-queue-http.rs
  examples/gateway-request-members.rs
  examples/gateway-reshard.rs
  examples/lavalink-basic-bot.rs
  twilight-cache-inmemory/Cargo.toml
  twilight-cache-inmemory/README.md
  twilight-gateway/Cargo.toml
  twilight-gateway/README.md
  twilight-gateway/src/channel.rs
  twilight-gateway/src/command.rs
  twilight-gateway/src/config.rs
  twilight-gateway/src/connection.rs
  twilight-gateway/src/error.rs
  twilight-gateway/src/event.rs
  twilight-gateway/src/json.rs
  twilight-gateway/src/lib.rs
  twilight-gateway/src/message.rs
  twilight-gateway/src/ratelimiter.rs
  twilight-gateway/src/shard.rs
  twilight-gateway/src/stream.rs
  twilight-http-ratelimiting/Cargo.toml
  twilight-http-ratelimiting/src/in_memory/mod.rs
  twilight-http-ratelimiting/src/lib.rs
  twilight-lavalink/README.md
  twilight-standby/Cargo.toml
  twilight-standby/README.md
  twilight-standby/src/future.rs
  twilight-standby/src/lib.rs
  twilight/Cargo.toml
Labels: t-feature, c-cache, c-gateway, m-breaking change, c-lavalink, c-standby, c-all, c-http-ratelimiting, c-book
