Repository twilight-rs/twilight, pull requests merged in 2024-07, with the labels that each got.

#2343 feat(model): add avatar decoration data
  twilight-cache-inmemory/src/event/interaction.rs
  twilight-cache-inmemory/src/event/message.rs
  twilight-cache-inmemory/src/event/voice_state.rs
  twilight-cache-inmemory/src/model/member.rs
  twilight-cache-inmemory/src/model/sticker.rs
  twilight-cache-inmemory/src/test.rs
  twilight-model/src/application/interaction/mod.rs
  twilight-model/src/application/interaction/resolved.rs
  twilight-model/src/channel/message/interaction.rs
  twilight-model/src/channel/message/mod.rs
  twilight-model/src/channel/message/sticker/mod.rs
  twilight-model/src/channel/webhook/mod.rs
  twilight-model/src/gateway/event/dispatch.rs
  twilight-model/src/gateway/event/mod.rs
  twilight-model/src/gateway/payload/incoming/member_add.rs
  twilight-model/src/gateway/payload/incoming/member_chunk.rs
  twilight-model/src/gateway/payload/incoming/member_update.rs
  twilight-model/src/gateway/payload/incoming/thread_members_update.rs
  twilight-model/src/gateway/payload/incoming/typing_start.rs
  twilight-model/src/gateway/payload/incoming/voice_state_update.rs
  twilight-model/src/gateway/reaction.rs
  twilight-model/src/guild/ban.rs
  twilight-model/src/guild/emoji.rs
  twilight-model/src/guild/integration.rs
  twilight-model/src/guild/integration_application.rs
  twilight-model/src/guild/invite/mod.rs
  twilight-model/src/guild/member.rs
  twilight-model/src/guild/template/mod.rs
  twilight-model/src/id/marker.rs
  twilight-model/src/oauth/application.rs
  twilight-model/src/oauth/team/member.rs
  twilight-model/src/user/avatar_decoration_data.rs
  twilight-model/src/user/mod.rs
  twilight-model/src/voice/voice_state.rs
  twilight-standby/src/lib.rs
Labels: t-feature, c-cache, c-model, c-standby

#2342 fix(model, http)!: fix role position update payload and allow audit log reason
  twilight-http/src/client/mod.rs
  twilight-http/src/request/audit_reason.rs
  twilight-http/src/request/guild/role/update_role_positions.rs
  twilight-model/src/guild/mod.rs
  twilight-model/src/guild/role_position.rs
Labels: c-http, c-model, m-breaking change, t-fix

#2347 feat(model, http)!: Add support for super reaction types
  twilight-cache-inmemory/src/event/reaction.rs
  twilight-cache-inmemory/src/test.rs
  twilight-http/src/request/channel/reaction/get_reactions.rs
  twilight-http/src/routing.rs
  twilight-model/src/channel/message/component/button.rs
  twilight-model/src/channel/message/component/mod.rs
  twilight-model/src/channel/message/component/select_menu.rs
  twilight-model/src/channel/message/mod.rs
  twilight-model/src/channel/message/reaction.rs
  twilight-model/src/channel/message/reaction_type.rs
  twilight-model/src/gateway/payload/incoming/reaction_remove_emoji.rs
  twilight-model/src/gateway/reaction.rs
  twilight-model/src/util/hex_color.rs
  twilight-standby/src/lib.rs
  twilight-validate/src/component.rs
Labels: t-feature, c-http, c-cache, c-model, m-breaking change, c-standby, c-validate

#2341 feat(model, cache, http): add support for polls
  twilight-cache-inmemory/src/event/interaction.rs
  twilight-cache-inmemory/src/event/message.rs
  twilight-cache-inmemory/src/lib.rs
  twilight-cache-inmemory/src/model/message.rs
  twilight-cache-inmemory/src/test.rs
  twilight-gateway/src/event.rs
  twilight-http-ratelimiting/src/request.rs
  twilight-http/src/client/mod.rs
  twilight-http/src/request/channel/message/create_message.rs
  twilight-http/src/request/mod.rs
  twilight-http/src/request/poll/end_poll.rs
  twilight-http/src/request/poll/get_answer_voters.rs
  twilight-http/src/request/poll/mod.rs
  twilight-http/src/request/try_into_request.rs
  twilight-http/src/routing.rs
  twilight-model/src/application/interaction/resolved.rs
  twilight-model/src/channel/message/mod.rs
  twilight-model/src/gateway/event/dispatch.rs
  twilight-model/src/gateway/event/kind.rs
  twilight-model/src/gateway/event/mod.rs
  twilight-model/src/gateway/intents.rs
  twilight-model/src/gateway/payload/incoming/message_poll_vote_add.rs
  twilight-model/src/gateway/payload/incoming/message_poll_vote_remove.rs
  twilight-model/src/gateway/payload/incoming/mod.rs
  twilight-model/src/guild/permissions.rs
  twilight-model/src/lib.rs
  twilight-model/src/poll/answer.rs
  twilight-model/src/poll/answer_count.rs
  twilight-model/src/poll/layout_type.rs
  twilight-model/src/poll/media.rs
  twilight-model/src/poll/mod.rs
  twilight-model/src/poll/results.rs
  twilight-standby/src/lib.rs
Labels: t-feature, c-http, c-cache, c-model, c-gateway, c-standby, c-http-ratelimiting

#2362 feat(model): add attachment titles
  twilight-model/src/application/interaction/resolved.rs
  twilight-model/src/channel/attachment.rs
Labels: t-feature, c-model

#2344 feat(model): add call field to messages
  twilight-cache-inmemory/src/event/interaction.rs
  twilight-cache-inmemory/src/event/message.rs
  twilight-cache-inmemory/src/model/message.rs
  twilight-cache-inmemory/src/test.rs
  twilight-model/src/application/interaction/resolved.rs
  twilight-model/src/channel/message/call.rs
  twilight-model/src/channel/message/mod.rs
  twilight-standby/src/lib.rs
Labels: t-feature, c-cache, c-model, c-standby

#2359 fix(model): Entitlements would only deserialize it was before data
  twilight-model/src/application/interaction/mod.rs
Labels: c-model, t-fix

#2340 feat(model, http): Add support for message forwarding
  twilight-cache-inmemory/src/event/interaction.rs
  twilight-cache-inmemory/src/event/message.rs
  twilight-cache-inmemory/src/model/message.rs
  twilight-cache-inmemory/src/test.rs
  twilight-http/src/request/channel/message/create_message.rs
  twilight-model/src/application/interaction/resolved.rs
  twilight-model/src/channel/message/mod.rs
  twilight-model/src/channel/message/reference.rs
  twilight-model/src/channel/message/reference_type.rs
  twilight-model/src/channel/message/snapshot.rs
  twilight-standby/src/lib.rs
Labels: t-feature, c-http, c-cache, c-model, c-standby

#2360 feat(gateway)!: swallow WebSocket errors
  twilight-gateway/README.md
  twilight-gateway/src/error.rs
  twilight-gateway/src/message.rs
  twilight-gateway/src/shard.rs
Labels: t-feature, c-gateway, m-breaking change
