Repository twilight-rs/twilight, pull requests merged in 2024-05, with the labels that each got.

#2336 fix: clippy 1.78 lints
  clippy.toml
  examples/cache-optimization/models/member.rs
  examples/cache-optimization/models/message.rs
  twilight-cache-inmemory/src/model/guild.rs
  twilight-cache-inmemory/src/model/member.rs
  twilight-cache-inmemory/src/model/message.rs
  twilight-http/src/client/interaction.rs
  twilight-http/src/client/mod.rs
  twilight-http/src/request/application/command/update_command_permissions.rs
  twilight-http/src/request/attachment.rs
  twilight-http/src/request/get_current_authorization_information.rs
  twilight-http/src/request/guild/create_guild/builder.rs
  twilight-http/src/routing.rs
  twilight-model/src/channel/message/reaction.rs
  twilight-model/src/gateway/id.rs
  twilight-model/src/gateway/payload/incoming/thread_members_update.rs
  twilight-model/src/guild/audit_log/event_type.rs
  twilight-model/src/http/attachment.rs
  twilight-model/src/oauth/current_authorization_information.rs
  twilight-model/src/oauth/scope.rs
Labels: c-http, c-cache, c-model, t-fix, c-all

#2337 build(http): Update to brotli-decompressor 4.0
  twilight-http/Cargo.toml
  twilight-http/src/response/mod.rs
Labels: c-http, t-build

#2339 feat(book): Remove skeptic as it is no longer works
  .github/workflows/check.yml
  Cargo.toml
  book/tests/Cargo.toml
  book/tests/build.rs
  book/tests/src/lib.rs
Labels: t-feature, t-ci, c-all, c-book

#2328 feat(model, http): Make positions possible to create
  twilight-http/src/client/mod.rs
  twilight-http/src/request/guild/update_guild_channel_positions.rs
  twilight-model/src/http/channel_position.rs
  twilight-model/src/http/mod.rs
Labels: t-feature, c-http, c-model

#2330 fix(model): Deserialize unavailable guilds in GUILD_CREATE.
  examples/gateway-request-members.rs
  twilight-cache-inmemory/src/event/guild.rs
  twilight-cache-inmemory/src/permission.rs
  twilight-model/src/gateway/event/mod.rs
  twilight-model/src/gateway/payload/incoming/guild_create.rs
Labels: c-cache, c-model, t-fix

#2345 feat(http): allow editing app banner
  twilight-http/src/request/user/update_current_user.rs
Labels: t-feature, c-http

#2282 feat(http, gateway, model, validate): Add support for premium apps
  twilight-cache-inmemory/src/event/interaction.rs
  twilight-cache-inmemory/src/lib.rs
  twilight-gateway/src/event.rs
  twilight-http-ratelimiting/src/request.rs
  twilight-http/src/client/mod.rs
  twilight-http/src/request/application/mod.rs
  twilight-http/src/request/application/monetization/create_test_entitlement.rs
  twilight-http/src/request/application/monetization/delete_test_entitlement.rs
  twilight-http/src/request/application/monetization/get_entitlements.rs
  twilight-http/src/request/application/monetization/get_skus.rs
  twilight-http/src/request/application/monetization/mod.rs
  twilight-http/src/request/try_into_request.rs
  twilight-http/src/routing.rs
  twilight-model/src/application/interaction/mod.rs
  twilight-model/src/application/mod.rs
  twilight-model/src/application/monetization/entitlement.rs
  twilight-model/src/application/monetization/entitlement_type.rs
  twilight-model/src/application/monetization/mod.rs
  twilight-model/src/application/monetization/sku.rs
  twilight-model/src/application/monetization/sku_flags.rs
  twilight-model/src/application/monetization/sku_type.rs
  twilight-model/src/gateway/event/dispatch.rs
  twilight-model/src/gateway/event/kind.rs
  twilight-model/src/gateway/event/mod.rs
  twilight-model/src/gateway/payload/incoming/entitlement_create.rs
  twilight-model/src/gateway/payload/incoming/entitlement_delete.rs
  twilight-model/src/gateway/payload/incoming/entitlement_update.rs
  twilight-model/src/gateway/payload/incoming/mod.rs
  twilight-model/src/http/interaction.rs
  twilight-model/src/id/marker.rs
  twilight-model/src/id/mod.rs
  twilight-standby/src/lib.rs
  twilight-validate/src/request.rs
Labels: t-feature, c-http, c-cache, c-model, c-gateway, c-standby, c-http-ratelimiting, c-validate

#2348 refactor(http): Use query string helper
  CODE_OF_CONDUCT.md
  twilight-http/src/lib.rs
  twilight-http/src/query_formatter.rs
  twilight-http/src/routing.rs
Labels: c-http, c-all, t-refactor
