Repository twilight-rs/twilight, pull requests merged in 2024-02, with the labels that each got.

#2179 feat(cache_in_memory)!: In-memory cache with generic types
  README.md
  book/src/chapter_1_crates/section_4_cache_inmemory.md
  book/src/overview.md
  examples/Cargo.toml
  examples/cache-optimization/main.rs
  examples/cache-optimization/models/channel.rs
  examples/cache-optimization/models/current_user.rs
  examples/cache-optimization/models/emoji.rs
  examples/cache-optimization/models/guild.rs
  examples/cache-optimization/models/guild_integration.rs
  examples/cache-optimization/models/member.rs
  examples/cache-optimization/models/message.rs
  examples/cache-optimization/models/mod.rs
  examples/cache-optimization/models/presence.rs
  examples/cache-optimization/models/role.rs
  examples/cache-optimization/models/stage_instance.rs
  examples/cache-optimization/models/sticker.rs
  examples/cache-optimization/models/user.rs
  examples/cache-optimization/models/voice_state.rs
  twilight-cache-inmemory/README.md
  twilight-cache-inmemory/src/builder.rs
  twilight-cache-inmemory/src/event/channel.rs
  twilight-cache-inmemory/src/event/emoji.rs
  twilight-cache-inmemory/src/event/guild.rs
  twilight-cache-inmemory/src/event/integration.rs
  twilight-cache-inmemory/src/event/interaction.rs
  twilight-cache-inmemory/src/event/member.rs
  twilight-cache-inmemory/src/event/message.rs
  twilight-cache-inmemory/src/event/mod.rs
  twilight-cache-inmemory/src/event/presence.rs
  twilight-cache-inmemory/src/event/reaction.rs
  twilight-cache-inmemory/src/event/role.rs
  twilight-cache-inmemory/src/event/stage_instance.rs
  twilight-cache-inmemory/src/event/sticker.rs
  twilight-cache-inmemory/src/event/thread.rs
  twilight-cache-inmemory/src/event/voice_state.rs
  twilight-cache-inmemory/src/iter.rs
  twilight-cache-inmemory/src/lib.rs
  twilight-cache-inmemory/src/model/emoji.rs
  twilight-cache-inmemory/src/model/guild.rs
  twilight-cache-inmemory/src/model/member.rs
  twilight-cache-inmemory/src/model/message.rs
  twilight-cache-inmemory/src/model/mod.rs
  twilight-cache-inmemory/src/model/presence.rs
  twilight-cache-inmemory/src/model/sticker.rs
  twilight-cache-inmemory/src/model/voice_state.rs
  twilight-cache-inmemory/src/permission.rs
  twilight-cache-inmemory/src/stats.rs
  twilight-cache-inmemory/src/test.rs
  twilight-cache-inmemory/src/traits.rs
Labels: t-feature, c-cache, m-breaking change, c-all, t-perf, c-book

#2315 fix(gateway-queue): don't panic after rebalancing
  twilight-gateway-queue/src/in_memory.rs
Labels: t-fix, c-gateway-queue

#2318 build(gateway, lavalink): Update to tokio-websockets 0.7
  book/src/versions/0.16/summary.md
  twilight-gateway/Cargo.toml
  twilight-lavalink/Cargo.toml
Labels: c-gateway, c-lavalink, t-build, c-book
