Repository twilight-rs/twilight, pull requests merged in 2024-10, with the labels that each got.

#2375 build(cache, lavalink, standby): update dashmap to 6.0
  twilight-cache-inmemory/Cargo.toml
  twilight-lavalink/Cargo.toml
  twilight-standby/Cargo.toml
Labels: c-cache, c-lavalink, c-standby, t-build

#2376 fix(http): List application emojis does not return a raw list
  twilight-http/src/request/application/emoji/list_emojis.rs
  twilight-model/src/application/emoji.rs
  twilight-model/src/application/mod.rs
Labels: c-http, c-model, t-fix

#2378 fix(model): consumed is optional
  twilight-model/src/application/interaction/mod.rs
  twilight-model/src/application/monetization/entitlement.rs
Labels: c-model, t-fix

#2323 feat(model): Implement user applications
  twilight-cache-inmemory/src/event/interaction.rs
  twilight-cache-inmemory/src/event/message.rs
  twilight-cache-inmemory/src/model/message.rs
  twilight-cache-inmemory/src/test.rs
  twilight-http/src/request/application/command/mod.rs
  twilight-http/src/request/update_user_application.rs
  twilight-model/benches/deserialization.rs
  twilight-model/src/application/command/mod.rs
  twilight-model/src/application/interaction/context_type.rs
  twilight-model/src/application/interaction/metadata.rs
  twilight-model/src/application/interaction/mod.rs
  twilight-model/src/application/interaction/resolved.rs
  twilight-model/src/channel/message/mod.rs
  twilight-model/src/guild/permissions.rs
  twilight-model/src/oauth/application.rs
  twilight-model/src/oauth/application_integration_type.rs
  twilight-model/src/oauth/current_authorization_information.rs
  twilight-model/src/oauth/mod.rs
  twilight-standby/src/lib.rs
  twilight-util/src/builder/command.rs
  twilight-validate/src/command.rs
Labels: t-feature, c-http, c-cache, c-model, c-standby, c-util, c-validate

#2379 refactor(model): simplify auto_archive_duration de/serialize
  twilight-model/src/channel/thread/auto_archive_duration.rs
  twilight-model/src/visitor.rs
Labels: c-model, t-refactor
