Repository twilight-rs/twilight, pull requests merged in 2024-06, with the labels that each got.

#2351 fix(model): Derive Copy on PermissionOverwrite
  twilight-model/src/channel/permission_overwrite.rs
Labels: c-model, t-fix

#2355 fix: clippy 1.79 lints
  twilight-http-ratelimiting/src/in_memory/bucket.rs
  twilight-http/src/request/guild/get_guild_prune_count.rs
Labels: c-http, t-fix, c-http-ratelimiting

#2353 feat(model): add use external apps permission
  twilight-model/src/guild/permissions.rs
Labels: t-feature, c-model

#2352 feat(model): add new automod message incident types
  twilight-model/src/channel/message/kind.rs
Labels: t-feature, c-model

#2349 feat(model): Add support for automod member profile words and member interactions
  twilight-model/src/guild/auto_moderation/action.rs
  twilight-model/src/guild/auto_moderation/event_type.rs
  twilight-model/src/guild/auto_moderation/trigger_type.rs
Labels: t-feature, c-model

#2354 build: Update criterion to version 0.5
  twilight-http-ratelimiting/Cargo.toml
  twilight-mention/Cargo.toml
  twilight-model/Cargo.toml
Labels: c-model, c-mention, c-http-ratelimiting, t-build

#2356 fix(http-ratelimiting): Add missing automoderation paths.
  twilight-http-ratelimiting/src/request.rs
Labels: t-fix, c-http-ratelimiting

#2357 fix(http): Add missing @ symbol in REST path
  twilight-http-ratelimiting/src/request.rs
Labels: t-fix, c-http-ratelimiting
