Repository twilight-rs/twilight, pull requests merged in 2024-04, with the labels that each got.

#2329 fix(validate): Misleading error message validating commands.
  twilight-validate/src/command.rs
Labels: t-fix, c-validate

#2331 fix(cache,ratelimiting): Resolved some warnings when building docs.
  twilight-cache-inmemory/src/permission.rs
  twilight-http-ratelimiting/src/in_memory/bucket.rs
Labels: c-cache, t-fix, c-http-ratelimiting

#2332 fix(gateway): Add missing flag to `EventTypeFlags::GUILD_MESSAGES`
  twilight-gateway/src/event.rs
Labels: c-gateway, t-fix
