Repository twilight-rs/twilight, pull requests merged in 2025-08, with the labels that each got.

#2424 feat(http)!: rewrite ResponseFuture to retry on 429
  twilight-http/Cargo.toml
  twilight-http/src/client/mod.rs
  twilight-http/src/error.rs
  twilight-http/src/response/future.rs
Labels: t-feature, c-http, m-breaking change

#2443 thumbnail descriptions are nullable (V2 Components)
  twilight-model/src/channel/message/component/mod.rs
  twilight-model/src/channel/message/component/thumbnail.rs
  twilight-util/src/builder/message/thumbnail.rs
  twilight-validate/src/component/component_v2.rs
Labels: c-model, c-util, c-validate

#2447 docs(http): fix entitlements doc examples
  twilight-http/src/client/mod.rs
Labels: t-docs, c-http
