Repository twilight-rs/twilight, pull requests merged in 2025-01, with the labels that each got.

#2404 chore(gateway, lavalink): Update tokio-websockets to 0.11
  twilight-gateway/Cargo.toml
  twilight-lavalink/Cargo.toml
  twilight-lavalink/src/node.rs
Labels: c-gateway, c-lavalink

#2398 feat(http): add get voice state endpoints
  twilight-http/src/client/mod.rs
  twilight-http/src/request/guild/user/get_current_user_voice_state.rs
  twilight-http/src/request/guild/user/get_user_voice_state.rs
  twilight-http/src/request/guild/user/mod.rs
  twilight-http/src/request/try_into_request.rs
  twilight-http/src/routing.rs
Labels: t-feature, c-http

#2409 chore(cache, examples, gateway, mention, standby): Fix clippy 1.84 lints
  examples/cache-optimization/models/member.rs
  examples/cache-optimization/models/voice_state.rs
  twilight-cache-inmemory/src/model/message.rs
  twilight-gateway/src/shard.rs
  twilight-mention/src/parse/impl.rs
  twilight-standby/src/lib.rs
Labels: c-cache, c-gateway, c-standby, c-mention

#2408 chore(msrv): Clarify that MSRV may change in semver-compatible releases
  README.md
Labels: c-all

#2405 chore(all): Update changelogs
  book/src/versions/0.16/summary.md
  gen-changelogs.sh
  twilight-cache-inmemory/CHANGELOG.md
  twilight-gateway-queue/CHANGELOG.md
  twilight-gateway/CHANGELOG.md
  twilight-http-ratelimiting/CHANGELOG.md
  twilight-http/CHANGELOG.md
  twilight-lavalink/CHANGELOG.md
  twilight-mention/CHANGELOG.md
  twilight-model/CHANGELOG.md
  twilight-standby/CHANGELOG.md
  twilight-util/CHANGELOG.md
  twilight-validate/CHANGELOG.md
Labels: c-http, c-cache, c-model, c-gateway, c-lavalink, c-standby, c-mention, c-all, c-gateway-queue, c-util, c-http-ratelimiting, c-validate, c-book

#2414 fix(book): small typo
  book/src/versions/0.15/2023-09-10.md
Labels: t-fix, c-book
