Repository twilight-rs/twilight, pull requests merged in 2025-02, with the labels that each got.

#2412 fix(model): Add global_name to CurrentUser
  twilight-cache-inmemory/src/test.rs
  twilight-model/src/gateway/payload/incoming/ready.rs
  twilight-model/src/user/current_user.rs
  twilight-model/src/user/mod.rs
  twilight-standby/src/lib.rs
Labels: c-cache, c-model, t-fix, c-standby

#2417 fix(cache): update `User` on `MemberUpdate`
  twilight-cache-inmemory/src/event/member.rs
Labels: c-cache, t-fix

#2401 refactor(gateway): remove instrument from shard::poll_next
  examples/Cargo.toml
  examples/gateway-reshard.rs
  twilight-gateway/Cargo.toml
  twilight-gateway/README.md
  twilight-gateway/src/shard.rs
Labels: c-gateway, t-refactor

#2415 feat(model): Add associated types to CommandOption(Value).
  twilight-model/src/application/command/option.rs
Labels: t-feature, c-model

#2413 feat(model): Add various From implementations for CommandOptionValue
  twilight-model/src/application/interaction/application_command/option.rs
Labels: t-feature, c-model

#2400 feat(gateway): support `zstd-stream`
  book/src/chapter_1_crates/section_3_gateway.md
  twilight-gateway/Cargo.toml
  twilight-gateway/README.md
  twilight-gateway/src/compression.rs
  twilight-gateway/src/error.rs
  twilight-gateway/src/inflater.rs
  twilight-gateway/src/lib.rs
  twilight-gateway/src/shard.rs
Labels: t-feature, c-gateway, m-breaking change, c-book

#2420 fix(model)!: incoming heartbeat has null data
  twilight-cache-inmemory/src/lib.rs
  twilight-model/src/gateway/event/gateway.rs
  twilight-model/src/gateway/event/mod.rs
Labels: c-cache, c-model, m-breaking change, t-fix

#2421 fix ci
  .github/workflows/check.yml
Labels: t-ci
