Repository twilight-rs/twilight, pull requests merged in 2025-09, with the labels that each got.

#2449 feat(model): add pin messages permission
  twilight-model/src/guild/permissions.rs
Labels: t-feature, c-model

#2451 feat(model) Add missing fields to message_snapshots
  twilight-model/src/channel/message/snapshot.rs
Labels: c-model

#2453 feat(http-ratelimiting)!: support unknown paths
  twilight-http-ratelimiting/src/actor.rs
  twilight-http-ratelimiting/src/lib.rs
  twilight-http-ratelimiting/src/request.rs
  twilight-http-ratelimiting/tests/bucket.rs
  twilight-http-ratelimiting/tests/global.rs
  twilight-http/src/client/mod.rs
  twilight-http/src/request/application/interaction/create_followup.rs
  twilight-http/src/request/application/interaction/create_response.rs
  twilight-http/src/request/application/interaction/create_response_with_response.rs
  twilight-http/src/request/application/interaction/delete_response.rs
  twilight-http/src/request/application/interaction/get_followup.rs
  twilight-http/src/request/application/interaction/get_response.rs
  twilight-http/src/request/application/interaction/update_followup.rs
  twilight-http/src/request/application/interaction/update_response.rs
  twilight-http/src/request/base.rs
  twilight-http/src/request/channel/thread/update_thread.rs
  twilight-http/src/request/get_current_authorization_information.rs
  twilight-http/src/response/future.rs
  twilight-http/src/routing.rs
Labels: t-feature, c-http, m-breaking change, c-http-ratelimiting

#2455 refactor(http)!: remove retry delay logic
  twilight-http-ratelimiting/src/lib.rs
  twilight-http/src/response/future.rs
Labels: c-http, m-breaking change, t-refactor, c-http-ratelimiting
